
#BG_top {
	position:relative;
	background-image:url('https://community.fastly.steamstatic.com/public/images/skin_1/bg_top.gif');
	background-repeat:no-repeat;
	width:958px;
	height:98px;
	text-align: left;
	margin: 0 auto;
}
#BG_bottom {
	background-image:url('https://community.fastly.steamstatic.com/public/images/skin_1/bg_bottom.gif');
	background-repeat:repeat-y;
	width:958px;
	text-align:left;
	margin: 0 auto;
}
#BG_top h2 {
	font-weight:normal;
	margin:0;
	padding:0;
	padding-top:21px;
	font-size: 26px;
	color: #898989;
	padding-left:17px;
}
#BG_top h1 {
	font-weight:normal;
	font-size: 26px;
	color: #e1e1e1;
	margin:0;
	padding:0;
	padding-top:0px;
	padding-bottom:5px;
	padding-left:17px;
}
#mainContents {
	max-width:936px;
	margin:0;
	padding:0;
	text-align:left;
	padding-left:17px;
	padding-top:10px;
}

.gameListLogo {
	float:left;
	margin-right:16px;
}

h4 {
	padding:0;
	margin:0;
	padding-top:10px;
	padding-bottom:2px;
	color:#bebebe;
	font-weight:normal;
	font-size: 12px;
}

h5 {
	padding:0;
	margin:0;
	padding-top:2px;
	padding-bottom:2px;
	color:#56707f;
	font-weight:normal;
	font-size: 12px;
}

h6 {
	color:#56707f;
	font-weight:normal;
	font-size:12px;
	margin:0;
	padding:0;
	padding-bottom:15px;
}

.gameLogoHolder_default .gameLogo {
	background: transparent;
}

#BG_bottom {
	position: relative;
}

#mainContents {
	padding: 0;
}
