.w5rs5VUtqFs- {
  margin-top: var(--spacing-0);
  margin-right: var(--spacing-0);
  margin-bottom: var(--spacing-0);
  margin-left: var(--spacing-0);
}
.g4GlqMn58vY- {
  margin-top: var(--spacing-1);
  margin-right: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  margin-left: var(--spacing-1);
}
.RNzX415MY5w- {
  margin-top: var(--spacing-2);
  margin-right: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  margin-left: var(--spacing-2);
}
.T3wV4ZF6a-8- {
  margin-top: var(--spacing-3);
  margin-right: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  margin-left: var(--spacing-3);
}
.C-qRvgvhL88- {
  margin-top: var(--spacing-4);
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-4);
  margin-left: var(--spacing-4);
}
.CECtQVs0hmk- {
  margin-top: var(--spacing-5);
  margin-right: var(--spacing-5);
  margin-bottom: var(--spacing-5);
  margin-left: var(--spacing-5);
}
.VA3jqF97G1I- {
  margin-top: var(--spacing-6);
  margin-right: var(--spacing-6);
  margin-bottom: var(--spacing-6);
  margin-left: var(--spacing-6);
}
.eOHhF9JEaqw- {
  margin-top: var(--spacing-7);
  margin-right: var(--spacing-7);
  margin-bottom: var(--spacing-7);
  margin-left: var(--spacing-7);
}
.fbxSlkkAKmo- {
  margin-top: var(--spacing-8);
  margin-right: var(--spacing-8);
  margin-bottom: var(--spacing-8);
  margin-left: var(--spacing-8);
}
.QTi2dgftDb4- {
  margin-top: var(--spacing-9);
  margin-right: var(--spacing-9);
  margin-bottom: var(--spacing-9);
  margin-left: var(--spacing-9);
}
.BCxX4tRR9r8- {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
}
.z5X-uRo7RYk- {
  margin-left: var(--spacing-1);
  margin-right: var(--spacing-1);
}
.mZv3sW5BcQU- {
  margin-left: var(--spacing-2);
  margin-right: var(--spacing-2);
}
.qNfZ-pXziDU- {
  margin-left: var(--spacing-3);
  margin-right: var(--spacing-3);
}
.MUBXBrhzmYo- {
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
}
.kltjXWxkqmk- {
  margin-left: var(--spacing-5);
  margin-right: var(--spacing-5);
}
.g5QMfwuDJbs- {
  margin-left: var(--spacing-6);
  margin-right: var(--spacing-6);
}
.W7WH3WvdMIQ- {
  margin-left: var(--spacing-7);
  margin-right: var(--spacing-7);
}
.WjyIDDcwaEs- {
  margin-left: var(--spacing-8);
  margin-right: var(--spacing-8);
}
.NTncKR3C-nw- {
  margin-left: var(--spacing-9);
  margin-right: var(--spacing-9);
}
.aIEPjFKYU7Q- {
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-0);
}
.XjYOfDgYiDI- {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
.-WLDzX6sZ1c- {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
.KzG785u-MVA- {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
.zcy-nu5Y7oY- {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
._23A1JqJkZ80- {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}
.ZuBL31T8uos- {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}
.HJrs-xcybNI- {
  margin-top: var(--spacing-7);
  margin-bottom: var(--spacing-7);
}
.QB8mQAFkHP4- {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}
.gm7sdRBqn3I- {
  margin-top: var(--spacing-9);
  margin-bottom: var(--spacing-9);
}
.tt3dIRigf34- {
  margin-top: var(--spacing-0);
}
.TT8QgCjIXLo- {
  margin-top: var(--spacing-1);
}
.AShqAv8lMaM- {
  margin-top: var(--spacing-2);
}
.KHOD4K-lWWs- {
  margin-top: var(--spacing-3);
}
._8-2r7X-9hnE- {
  margin-top: var(--spacing-4);
}
.L2Knd-UCOjk- {
  margin-top: var(--spacing-5);
}
.M-j4g1Xmya4- {
  margin-top: var(--spacing-6);
}
.XreHVHL4zXQ- {
  margin-top: var(--spacing-7);
}
.qq3Eu69u9WE- {
  margin-top: var(--spacing-8);
}
.I1bipZ6b-4k- {
  margin-top: var(--spacing-9);
}
.lsqT91cdaCw- {
  margin-right: var(--spacing-0);
}
.DyPZltyVrD4- {
  margin-right: var(--spacing-1);
}
.SouQdhH0fRU- {
  margin-right: var(--spacing-2);
}
._0NepstgWiQY- {
  margin-right: var(--spacing-3);
}
.SVu3xoHRe-Y- {
  margin-right: var(--spacing-4);
}
.JNPCPeTNFV8- {
  margin-right: var(--spacing-5);
}
.Yfif-cx8UbE- {
  margin-right: var(--spacing-6);
}
._0HdSntLV510- {
  margin-right: var(--spacing-7);
}
.kvV2CYYt8bM- {
  margin-right: var(--spacing-8);
}
.j50Upa6nlqc- {
  margin-right: var(--spacing-9);
}
.mbVjuhovBZI- {
  margin-bottom: var(--spacing-0);
}
.qRCv3UXpHJY- {
  margin-bottom: var(--spacing-1);
}
.rFurYHdyDxI- {
  margin-bottom: var(--spacing-2);
}
.Oju0VmCZMsM- {
  margin-bottom: var(--spacing-3);
}
.HCeCAFFa1q4- {
  margin-bottom: var(--spacing-4);
}
.gF6WAclx2OU- {
  margin-bottom: var(--spacing-5);
}
.rS274Gvanvg- {
  margin-bottom: var(--spacing-6);
}
.vy0J0s5Lg8Y- {
  margin-bottom: var(--spacing-7);
}
.Bg8uIbKEp8Q- {
  margin-bottom: var(--spacing-8);
}
.X1rwlfepcLg- {
  margin-bottom: var(--spacing-9);
}
._2zMyZE3ZmjY- {
  margin-left: var(--spacing-0);
}
._4-tbrlayusY- {
  margin-left: var(--spacing-1);
}
.MkRCnp5Xbck- {
  margin-left: var(--spacing-2);
}
.heqfukxif1M- {
  margin-left: var(--spacing-3);
}
.LB7rgg0M8CU- {
  margin-left: var(--spacing-4);
}
.T5cYKgCZ-Mg- {
  margin-left: var(--spacing-5);
}
.JRS1VdJsMK8- {
  margin-left: var(--spacing-6);
}
.t8UtAI4kjpk- {
  margin-left: var(--spacing-7);
}
.DUN0iJECdTA- {
  margin-left: var(--spacing-8);
}
._9Dd8ZB24xlo- {
  margin-left: var(--spacing-9);
}
._5UYjkiyqSmo- {
  margin-inline-start: var(--spacing-0);
}
.yqht9s9HtRY- {
  margin-inline-start: var(--spacing-1);
}
.hAMV-Q2rsIk- {
  margin-inline-start: var(--spacing-2);
}
.rwibIp0bzlw- {
  margin-inline-start: var(--spacing-3);
}
.gLIriR1ZwJ8- {
  margin-inline-start: var(--spacing-4);
}
.QwiBfjR-QQQ- {
  margin-inline-start: var(--spacing-5);
}
.AkcucKz6oYU- {
  margin-inline-start: var(--spacing-6);
}
.LNOc2K-RNWk- {
  margin-inline-start: var(--spacing-7);
}
.D9ISJ-ArsJA- {
  margin-inline-start: var(--spacing-8);
}
.yCM1UgcTF-c- {
  margin-inline-start: var(--spacing-9);
}
.jLpkzkqlYPA- {
  margin-inline-end: var(--spacing-0);
}
.nKRRwdISCYw- {
  margin-inline-end: var(--spacing-1);
}
.Mmkh0xAV8wo- {
  margin-inline-end: var(--spacing-2);
}
.LsiF1k1YPw4- {
  margin-inline-end: var(--spacing-3);
}
.syM4yD7IgAI- {
  margin-inline-end: var(--spacing-4);
}
.FEnh-W-YS9M- {
  margin-inline-end: var(--spacing-5);
}
.aQ9Tq3IOyIM- {
  margin-inline-end: var(--spacing-6);
}
.n8Akps2WSMc- {
  margin-inline-end: var(--spacing-7);
}
._337UeLDmO0U- {
  margin-inline-end: var(--spacing-8);
}
.K9afDZN3DqY- {
  margin-inline-end: var(--spacing-9);
}
.Uqx7bMoc86I- {
  padding-top: var(--spacing-0);
  padding-right: var(--spacing-0);
  padding-bottom: var(--spacing-0);
  padding-left: var(--spacing-0);
}
.HGQJU2trIjI- {
  padding-top: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
}
._6a7OqoYm0ek- {
  padding-top: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-2);
}
.BPTxiJF58z0- {
  padding-top: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  padding-left: var(--spacing-3);
}
.kuTJDaZGbhc- {
  padding-top: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
}
.ekE5QEU9qis- {
  padding-top: var(--spacing-5);
  padding-right: var(--spacing-5);
  padding-bottom: var(--spacing-5);
  padding-left: var(--spacing-5);
}
.W5cnM6YiuGg- {
  padding-top: var(--spacing-6);
  padding-right: var(--spacing-6);
  padding-bottom: var(--spacing-6);
  padding-left: var(--spacing-6);
}
._36eiL2GCxdc- {
  padding-top: var(--spacing-7);
  padding-right: var(--spacing-7);
  padding-bottom: var(--spacing-7);
  padding-left: var(--spacing-7);
}
.bg2aWTDQjjE- {
  padding-top: var(--spacing-8);
  padding-right: var(--spacing-8);
  padding-bottom: var(--spacing-8);
  padding-left: var(--spacing-8);
}
.rtaLNEkGVUc- {
  padding-top: var(--spacing-9);
  padding-right: var(--spacing-9);
  padding-bottom: var(--spacing-9);
  padding-left: var(--spacing-9);
}
.rGUMt0olzxA- {
  padding-left: var(--spacing-0);
  padding-right: var(--spacing-0);
}
.Xz4pvEOFh0o- {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}
.p9g1PKkM3Ww- {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}
.QFIvh9bCMN0- {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}
.O6W7VFmW1Gk- {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}
.CDvHbFA-ong- {
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
}
.QpfmwtZflNM- {
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}
.ukxUdF8EyFk- {
  padding-left: var(--spacing-7);
  padding-right: var(--spacing-7);
}
.mlzVPT0aTpY- {
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}
._5yyf7qQU2EA- {
  padding-left: var(--spacing-9);
  padding-right: var(--spacing-9);
}
.puTmakBZfLc- {
  padding-top: var(--spacing-0);
  padding-bottom: var(--spacing-0);
}
.l8VUJcr5dTA- {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}
.iOFry8XK9Bk- {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
.RZnhXOOlOQo- {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}
.hQRIBSbzp-8- {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}
._7nBh3BZ8VvY- {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}
.I4rQY8f-GIw- {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}
.eer95TRaYk4- {
  padding-top: var(--spacing-7);
  padding-bottom: var(--spacing-7);
}
.FDrdQF3KM-U- {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}
.pRA8Q7qGzTY- {
  padding-top: var(--spacing-9);
  padding-bottom: var(--spacing-9);
}
.FFBr0ByyARU- {
  padding-top: var(--spacing-0);
}
.J21MfjeVMC8- {
  padding-top: var(--spacing-1);
}
.QIsWaCMFXmc- {
  padding-top: var(--spacing-2);
}
.b26A0qH-t1k- {
  padding-top: var(--spacing-3);
}
._4Z5STus6z18- {
  padding-top: var(--spacing-4);
}
.TsJuUJvIPNE- {
  padding-top: var(--spacing-5);
}
.UuWQgm9mEt8- {
  padding-top: var(--spacing-6);
}
._9zwRENgMM7U- {
  padding-top: var(--spacing-7);
}
.ZwKtYczJCNk- {
  padding-top: var(--spacing-8);
}
.Kpfuq2Gl7Xs- {
  padding-top: var(--spacing-9);
}
.Hrw1ft6vTkI- {
  padding-right: var(--spacing-0);
}
.NoAm1DVKxEk- {
  padding-right: var(--spacing-1);
}
.VcioKyIycu0- {
  padding-right: var(--spacing-2);
}
.IjYixBsfu2Y- {
  padding-right: var(--spacing-3);
}
.Nn2r0kiUlfE- {
  padding-right: var(--spacing-4);
}
.uxvF0PjRd-Y- {
  padding-right: var(--spacing-5);
}
.J5qFoqtoxro- {
  padding-right: var(--spacing-6);
}
.nrUcorXVvEM- {
  padding-right: var(--spacing-7);
}
.ks6z1ep2Y44- {
  padding-right: var(--spacing-8);
}
.JT1KIcEr8Kk- {
  padding-right: var(--spacing-9);
}
._8tpU-abEyso- {
  padding-bottom: var(--spacing-0);
}
.X5qiaGoP3kY- {
  padding-bottom: var(--spacing-1);
}
.OyasUwc2EeY- {
  padding-bottom: var(--spacing-2);
}
.wxJDuaKleHc- {
  padding-bottom: var(--spacing-3);
}
.oVW63SwGfjs- {
  padding-bottom: var(--spacing-4);
}
.r3Usx8aC7Xk- {
  padding-bottom: var(--spacing-5);
}
.i5Jcp8GZSNo- {
  padding-bottom: var(--spacing-6);
}
.VZJqberXdMM- {
  padding-bottom: var(--spacing-7);
}
.upTGPf2KqZ4- {
  padding-bottom: var(--spacing-8);
}
.MPozSm4qVFY- {
  padding-bottom: var(--spacing-9);
}
.-Y-DxD6M4sA- {
  padding-left: var(--spacing-0);
}
.qrMutaq-kis- {
  padding-left: var(--spacing-1);
}
.wqHfbc-N9jI- {
  padding-left: var(--spacing-2);
}
.XOapdyqqFZY- {
  padding-left: var(--spacing-3);
}
.FWMUiZAggPQ- {
  padding-left: var(--spacing-4);
}
.bY9YWc9yXb0- {
  padding-left: var(--spacing-5);
}
.akDBluC2fQ8- {
  padding-left: var(--spacing-6);
}
.AgRNCaRK1xA- {
  padding-left: var(--spacing-7);
}
.Vrhv3jy8mr0- {
  padding-left: var(--spacing-8);
}
.Vv8wFNJlNHU- {
  padding-left: var(--spacing-9);
}
.X63rlWc9H5w- {
  padding-inline-start: var(--spacing-0);
}
.CoNPpz6bZDE- {
  padding-inline-start: var(--spacing-1);
}
._3d-Fo75Eam4- {
  padding-inline-start: var(--spacing-2);
}
._7TqbpiMDshY- {
  padding-inline-start: var(--spacing-3);
}
.IKIhkIfeBkM- {
  padding-inline-start: var(--spacing-4);
}
.F820uu3Xk-k- {
  padding-inline-start: var(--spacing-5);
}
.bsyWV8OPlCw- {
  padding-inline-start: var(--spacing-6);
}
.psGnn3Whm8A- {
  padding-inline-start: var(--spacing-7);
}
.TzV5RPJetTM- {
  padding-inline-start: var(--spacing-8);
}
._6InTmlPK4R8- {
  padding-inline-start: var(--spacing-9);
}
.DmFGApvpeAk- {
  padding-inline-end: var(--spacing-0);
}
.PoAm6tiL5gs- {
  padding-inline-end: var(--spacing-1);
}
.UsFYDKAV0RE- {
  padding-inline-end: var(--spacing-2);
}
.L-MPaemnE2g- {
  padding-inline-end: var(--spacing-3);
}
.KNaLQ4ZSYMw- {
  padding-inline-end: var(--spacing-4);
}
.Ya3tAxiRhCE- {
  padding-inline-end: var(--spacing-5);
}
.XZ-mGQrOcFo- {
  padding-inline-end: var(--spacing-6);
}
.aYaz0ArE0Hs- {
  padding-inline-end: var(--spacing-7);
}
.atzaOLKehM4- {
  padding-inline-end: var(--spacing-8);
}
.ixS9WWgw-6s- {
  padding-inline-end: var(--spacing-9);
}
.qQUo7p9Yflo- {
  width: var(--width);
}
._8JrgJ7Yp4GE- {
  max-width: var(--max-width);
}
.PwGZnF9BFA8- {
  min-width: var(--min-width);
}
._8nvwc5hEUQ8- {
  height: var(--height);
}
.MLQK2SbHPJw- {
  max-height: var(--max-height);
}
.JC93XoyfrHk- {
  min-height: var(--min-height);
}
.tNCLz4rNyo4- {
  flex-basis: var(--flex-basis);
}
._1WHxiF6PoO0- {
  flex-grow: var(--flex-grow);
}
.RUtZWmuOvVA- {
  flex-shrink: var(--flex-shrink);
}
.Hno88hYynSk- {
  border-radius: var(--radius-none);
}
._-1PRvvg35hk- {
  border-radius: var(--radius-sm);
}
.fkygYJ-STNo- {
  border-radius: var(--radius-md);
}
.l14cTwBB-3M- {
  border-radius: var(--radius-lg);
}
.JYcrgOODCYo- {
  border-radius: var(--radius-full);
}
.SxMdVrGe9aY- {
  cursor: var(--cursor);
}
.ehjQMAdlrkI- {
  position: var(--position);
}
.Lv9Zktkdcxg- {
  inset: var(--inset);
}
.JMTVGyCiKUY- {
  grid-column: var(--grid-column);
}
.hR7hXQL-vkk- {
  grid-column-start: var(--grid-column-start);
}
.wfXyPs34OqM- {
  grid-column-end: var(--grid-column-end);
}
.gjB5zsAeX0w- {
  grid-row: var(--grid-row);
}
.xhDerqZH7yo- {
  grid-row-start: var(--grid-row-start);
}
.xmiMYHV3x2I- {
  grid-row-end: var(--grid-row-end);
}
.ymRf7JUr0CQ- {
  grid-area: var(--grid-area);
}
.P5l1h4VfEfg- {
  background: var(--background);
}
.YXPNY9nRMaY- {
  overflow: var(--overflow);
}
.bNjs5-MBo98- {
  z-index: var(--z-index);
}
.GbL3w9xoEuc- {
  display: var(--display);
}
.kw4TEGGRPr0-[data-elevation="-1"] {
  box-shadow: var(--box-shadow-elevation--1);
}
.kw4TEGGRPr0-[data-elevation="0"] {
  box-shadow: var(--box-shadow-elevation-0);
}
.kw4TEGGRPr0-[data-elevation="1"] {
  box-shadow: var(--box-shadow-elevation-1);
}
.kw4TEGGRPr0-[data-elevation="2"] {
  box-shadow: var(--box-shadow-elevation-2);
}
:where(.ra3wrgNPAes-) {
  border: var(--border, var(--border-color-border));
}
:where(.CKA4hzEc1lY-) {
  --border-color-border: 1px solid;
  border-color: var(--border-color);
}
:where(.p9br-GQWd0U-) {
  outline: 1px solid var(--outline-color);
}
:where(.FXoyqcp7Qdg-) {
  align-self: var(--align-self);
}
:where(.yw3rQRXDBL8-) {
  justify-self: var(--justify-self);
}
:where(.pOfXBkpqEd0-) {
  text-align: var(--text-align);
}
:where(.u9pg7wFmf8I-) {
  aspect-ratio: var(--aspect-ratio);
}
