.vI9JDUrbmSU- {
  flex-direction: row;
  align-items: center;
  gap: 4px;
  height: 20px;
  display: flex;
}
.vI9JDUrbmSU- .R5Jb0IlbetM- {
  display: flex;
}
.vI9JDUrbmSU- .R5Jb0IlbetM- > svg {
  fill: #fff;
  color: #fff;
  width: 20px;
  height: 20px;
}
.vI9JDUrbmSU- .R5Jb0IlbetM-.es-3FGamrow- > svg {
  width: 15px;
  height: 15px;
}
.vI9JDUrbmSU- .R5Jb0IlbetM-.JEDpX9NbvmM- > svg {
  width: 16px;
  height: 16px;
}
.vI9JDUrbmSU- .R5Jb0IlbetM-._2k25eC4H5MM- > svg {
  width: 16px;
  height: 16px;
  margin-top: -2px;
}
._7c-IpMOKAoo- {
  flex-direction: row;
  align-items: center;
  height: 20px;
  display: flex;
}
._7c-IpMOKAoo-.PqJlVo8CHzI- {
  height: 100%;
  overflow: hidden;
}
.aJ0mAEYj91c-,
.D7-K68hqk48- {
  display: flex;
}
.PqJlVo8CHzI- .aJ0mAEYj91c-,
.PqJlVo8CHzI- .D7-K68hqk48- {
  height: 100%;
  width: unset;
  aspect-ratio: 1;
  overflow: hidden;
}
.aJ0mAEYj91c- > svg,
.D7-K68hqk48- > svg {
  width: 20px;
  height: 20px;
}
.PqJlVo8CHzI- .aJ0mAEYj91c- > svg,
.PqJlVo8CHzI- .D7-K68hqk48- > svg {
  width: 100%;
  height: 100%;
}
.o9rl338G88w- {
  color: #59bf40;
}
._3ASSYwh7pMs- {
  color: #ffc82c;
}
.SJrRDIc567c-,
.U7don-2qb0s- {
  color: #dcdedf;
}
.ptG8Gun0kOU- {
  color: #199fff;
}
