@keyframes BQB-4QNfHfk- {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
.iMOHrxHp0U8- > path {
  animation: 0.6s infinite both BQB-4QNfHfk-;
}
.iMOHrxHp0U8- > path:first-child {
  animation-delay: -0.925s;
}
.iMOHrxHp0U8- > path:nth-child(2) {
  animation-delay: -0.85s;
}
.iMOHrxHp0U8- > path:nth-child(3) {
  animation-delay: -0.775s;
}
.iMOHrxHp0U8- > path:nth-child(4) {
  animation-delay: -0.7s;
}
.iMOHrxHp0U8- > path:nth-child(5) {
  animation-delay: -0.625s;
}
.iMOHrxHp0U8- > path:nth-child(6) {
  animation-delay: -0.55s;
}
.iMOHrxHp0U8- > path:nth-child(7) {
  animation-delay: -0.475s;
}
.iMOHrxHp0U8- > path:nth-child(8) {
  animation-delay: -0.4s;
}
.GfZB3I7wdcQ- > * {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.GfZB3I7wdcQ- .STL-HNZvwoE- {
  animation-name: AFQVx2nozdg-;
}
.GfZB3I7wdcQ- .Bl3OkA9i-js- {
  animation-name: kYcOdm959o8-;
}
.GfZB3I7wdcQ- .U0TjsApi2eY- {
  animation-name: fjznm-m0GUQ-;
}
@keyframes AFQVx2nozdg- {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  to {
    opacity: 0.67;
  }
}
@keyframes kYcOdm959o8- {
  0% {
    opacity: 0.25;
  }
  33% {
    opacity: 0.25;
  }
  67% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes fjznm-m0GUQ- {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.25;
  }
  67% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
.ZWXgmvu7pRA- > path {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.ZWXgmvu7pRA- .CR5pkYOIbfY- {
  animation-name: smJTjGjQknE-;
}
.ZWXgmvu7pRA- .xBgxQn7YL-o- {
  animation-name: qCJjt-Vn2Mw-;
}
.ZWXgmvu7pRA- .ITXXmuOMHUc- {
  animation-name: TcOOXf7uLD8-;
}
.ZWXgmvu7pRA- .trw9x5eoH3Y- {
  animation-name: _6x8-iFgCLlU-;
}
@keyframes smJTjGjQknE- {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes qCJjt-Vn2Mw- {
  0% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes TcOOXf7uLD8- {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes _6x8-iFgCLlU- {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
.wfUfQRY-dRc- {
  fill: #4897d2;
}
.XS2si0hAvP8- {
  fill: #0000;
}
.vOTIe53eB2M- {
  animation-name: vOTIe53eB2M-;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes vOTIe53eB2M- {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
._27KMPG3P-v8- {
  animation-name: _27KMPG3P-v8-;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes _27KMPG3P-v8- {
  0% {
    transform: translate(0);
  }
  13% {
    transform: translate(-15px);
  }
  25% {
    transform: translate(-30px);
  }
  38% {
    transform: translate(-15px, -5px);
  }
  50% {
    transform: translateY(-10px);
  }
  63% {
    transform: translate(20px, -25px);
  }
  75% {
    transform: translate(25px, -15px);
  }
  88% {
    transform: translate(30px, -5px);
  }
  to {
    transform: translate(0);
  }
}
._5bohmpXB6Vo- {
  animation-name: ac2k8-UqYXE-;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes -eP3wbllzUw- {
  0% {
    offset-distance: 0%;
  }
  50% {
    offset-distance: 100%;
  }
  to {
    offset-distance: 0%;
  }
}
@keyframes ac2k8-UqYXE- {
  0% {
    transform: translate(-40px);
  }
  13% {
    transform: translate(-55px);
  }
  25% {
    transform: translate(-70px);
  }
  38% {
    transform: translate(-55px, -5px);
  }
  50% {
    transform: translate(-40px, -10px);
  }
  63% {
    transform: translate(-10px, -25px);
  }
  75% {
    transform: translate(-15px, -15px);
  }
  88% {
    transform: translate(-10px, -5px);
  }
  to {
    transform: translate(-40px);
  }
}
.LXPM0p0-b-U- {
  animation-name: LXPM0p0-b-U-;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes LXPM0p0-b-U- {
  0% {
    fill: #0000;
    stroke: #fff;
    transform: translateY(0);
  }
  90% {
    fill: #0000;
    stroke: #fff;
    transform: translateY(0);
  }
  94% {
    fill: #1a9fff;
    stroke: #1a9fff;
    stroke-width: 16px;
    transform: translateY(5px);
  }
  96% {
    fill: #0000;
    transform: translateY(0);
  }
  98% {
    fill: #1a9fff;
    stroke: #1a9fff;
    stroke-width: 16px;
    transform: translateY(5px);
  }
  to {
    fill: #0000;
    stroke: #fff;
    stroke-width: 8px;
    transform: translateY(0);
  }
}
.h-bhsSER-hs- {
  animation-name: h-bhsSER-hs-;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes h-bhsSER-hs- {
  0% {
    opacity: 0;
    r: 25;
  }
  90% {
    opacity: 0;
    r: 25;
  }
  94% {
    opacity: 1;
    r: 100;
  }
  96% {
    opacity: 0;
    r: 25;
  }
  98% {
    opacity: 1;
    r: 100;
  }
  to {
    opacity: 0;
    r: 25;
  }
}
.sSBXsDejUS8-.rSEElLczBMQ- {
  min-width: 34px;
  height: 24px;
  display: flex;
}
.Pn2TcvHvAtE-:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  scale: -1 1;
}
._-2sdBEYQO-E- {
  opacity: 1;
  transition: opacity 0.15s ease-out 0.125s;
}
._-2sdBEYQO-E-.NSadLTb9A6o- {
  opacity: 0.1;
  transition-delay: 0s;
}
.u1e7q7W98D4- {
  fill: #0e141b;
  transition-property: fill;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}
.u1e7q7W98D4-.-cvCEKE4CCM- {
  fill: #1a9fff;
}
.E79TsdE5bRM- {
  stroke: #0e141b;
  transition-property: stroke;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}
.E79TsdE5bRM-.-cvCEKE4CCM- {
  stroke: #1a9fff;
}
.I5uen1DeamQ- {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}
.I5uen1DeamQ-.-cvCEKE4CCM- {
  opacity: 1;
}
.zuyEj1SwUHs-.EP9KFa9DM3c- .wnCBPB-q7lc-,
.zuyEj1SwUHs-.EP9KFa9DM3c- ._83Yfip9KfZw-,
.zuyEj1SwUHs-.EP9KFa9DM3c- .oajtLSdE-Wc-,
.zuyEj1SwUHs-.EP9KFa9DM3c- ._46p5l-7F6GM-,
.zuyEj1SwUHs-.EP9KFa9DM3c- .vI7Atlcex7s-,
.zuyEj1SwUHs-.AyRgqw2YiYM- ._83Yfip9KfZw-,
.zuyEj1SwUHs-.AyRgqw2YiYM- .oajtLSdE-Wc-,
.zuyEj1SwUHs-.KFITcBuSuhA- .oajtLSdE-Wc- {
  opacity: 0.45;
}
.zuyEj1SwUHs-.ZUjMgtg1r6M- ._46p5l-7F6GM-,
.zuyEj1SwUHs-.ZUjMgtg1r6M- .wnCBPB-q7lc-,
.zuyEj1SwUHs-.ZUjMgtg1r6M- ._83Yfip9KfZw-,
.zuyEj1SwUHs-.ZUjMgtg1r6M- .oajtLSdE-Wc- {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.zuyEj1SwUHs-.ZUjMgtg1r6M- ._46p5l-7F6GM- {
  animation-name: kBORQUyWWZ0-;
}
.zuyEj1SwUHs-.ZUjMgtg1r6M- .wnCBPB-q7lc- {
  animation-name: NsozkGOKHVA-;
}
.zuyEj1SwUHs-.ZUjMgtg1r6M- ._83Yfip9KfZw- {
  animation-name: uVgI061OOqs-;
}
.zuyEj1SwUHs-.ZUjMgtg1r6M- .oajtLSdE-Wc- {
  animation-name: BCIBLEBSjM0-;
}
@keyframes kBORQUyWWZ0- {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes NsozkGOKHVA- {
  0% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes uVgI061OOqs- {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes BCIBLEBSjM0- {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
