@keyframes rTgemk59--I- {
  0% {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes MvJL4gokFfg- {
  0% {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes _1PkIqn528tQ- {
  0% {
    color: #8b929a;
    background: #3d4450;
  }
  to {
    color: #fff;
    background: #23262e;
  }
}
@keyframes OXAcQQ-leCc- {
  0% {
    color: #8b929a;
    background: #23262e;
  }
  to {
    color: #fff;
    background: #383a41;
  }
}
@keyframes OhT91vUlfc8- {
  0% {
    color: #8b929a;
    background: #ffffff40;
  }
  to {
    color: #fff;
    background: #ffffff26;
  }
}
@keyframes ki7-ARg-c0A- {
  0% {
    color: #fff;
    background: #8b929a;
  }
  to {
    color: #fff;
    background: #67707b;
  }
}
@keyframes W-2avlqXgQk- {
  0% {
    color: #fff;
    background: #ffffff4d;
  }
  to {
    color: #fff;
    background: #ffffff1a;
  }
}
@keyframes _5qgtdPSPyuM- {
  0% {
    color: #fff;
    background: #ffffff80;
  }
  to {
    color: #fff;
    background: #fff3;
  }
}
@keyframes _8TEgWozT-EQ- {
  0% {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes whXDdOPOvGw- {
  0% {
    color: #8b929a;
    background: #c9ffc9;
  }
  to {
    color: #fff;
    background: #59bf40;
  }
}
@keyframes eb-j2Lge7VE- {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  to {
    opacity: 0.8;
    background-position: -180% 0;
  }
}
@keyframes HAWse0WnJbk- {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 50% 0;
  }
}
.BasicUI .salepg_storenav {
  z-index: 5;
}
@media screen and (width <= 1100px) {
  .sale_page_n_section .responsive_page_frame {
    width: auto;
    position: relative;
  }
}
html.responsive.touch .ContentHubSalePage {
  width: auto;
  position: relative;
}
@media screen and (width <= 910px) {
  html.responsive .ContentHubSalePage {
    width: auto;
    position: relative;
  }
}
.BasicUI .SaleSectionCtn.animated .-Zy1ltcQDkE-.ITm551-Itv0- .SliderBody ul {
  gap: 12px;
}
._6jskhb6YeSo- {
  padding-top: 20px;
}
._6jskhb6YeSo-.aRydKdstJes- {
  padding-top: unset;
}
@media screen and (width <= 1200px) {
  ._6jskhb6YeSo-.sale_item_browser .-Zy1ltcQDkE- {
    max-width: 96vw;
  }
}
._6jskhb6YeSo-.sale_item_browser .-Zy1ltcQDkE- {
  max-width: 1200px;
}
@media screen and (width <= 940px) {
  ._6jskhb6YeSo-.text_section .-Zy1ltcQDkE- {
    padding: 16px;
  }
}
.xFBIotXKgPo- {
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
}
@media screen and (width <= 1200px) {
  .xFBIotXKgPo- {
    flex-direction: column-reverse;
  }
}
.-Zy1ltcQDkE- {
  box-sizing: border-box;
  z-index: 2;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  position: relative;
}
html.responsive.touch:not(.GamepadMode) .-Zy1ltcQDkE- {
  scrollbar-color: #ffffff59 #0000;
}
@media screen and (width <= 910px) {
  html.responsive:not(.GamepadMode) .-Zy1ltcQDkE- {
    scrollbar-color: #ffffff59 #0000;
  }
}
@media screen and (width >= 940px) {
  .-Zy1ltcQDkE-.jfWdGAgh7Cw- {
    padding-left: 0;
    padding-right: 0;
  }
}
.-Zy1ltcQDkE-.jfWdGAgh7Cw- .CarouselBtnLeft {
  transform: translate(16px);
}
.-Zy1ltcQDkE-.jfWdGAgh7Cw- .CarouselBtnRight {
  transform: translate(-16px);
}
.-Zy1ltcQDkE-:not(.dMS6MDahfdY-):not(.SaleSchedCtn) {
  max-width: 1200px;
}
@media screen and (width <= 851px) {
  .SteamChartsShell .-Zy1ltcQDkE-:not(.dMS6MDahfdY-):not(.SaleSchedCtn) {
    width: calc(100% - 14px);
  }
}
@media screen and (width <= 1330px) {
  .-Zy1ltcQDkE-:not(.dMS6MDahfdY-):not(.SaleSchedCtn) {
    max-width: calc(100vw - 118px);
  }
}
@media screen and (width <= 940px) {
  .-Zy1ltcQDkE-:not(.dMS6MDahfdY-):not(.SaleSchedCtn) {
    max-width: 98vw;
  }
}
.BasicUI .-Zy1ltcQDkE-:not(.dMS6MDahfdY-):not(.SaleSchedCtn) {
  max-width: unset;
  background-size: cover;
}
.BasicUI .-Zy1ltcQDkE-.ITm551-Itv0- .carousel__slider {
  overflow: visible;
}
.BasicUI .-Zy1ltcQDkE-.ITm551-Itv0- .carousel__slider-tray-wrapper {
  scroll-snap-type: x mandatory;
  margin: 0px calc(0px - var(--gpSpace-Gutter));
  padding: 4px var(--gpSpace-Gutter) 8px;
  scroll-padding: var(--gpSpace-Gutter);
  overflow: scroll hidden;
}
.BasicUI .-Zy1ltcQDkE-.ITm551-Itv0- .carousel__slider-tray-wrapper > * li {
  scroll-snap-align: start;
}
.BasicUI .-Zy1ltcQDkE-.ITm551-Itv0- .carousel__slider-tray:after {
  content: " ";
  min-width: 24px;
}
@media screen and (width <= 620px) {
  .-Zy1ltcQDkE- {
    padding: 16px 4px;
  }
}
.BasicUI .-Zy1ltcQDkE- {
  padding: 16px var(--gpSpace-Gutter);
  max-width: 100%;
}
.-Zy1ltcQDkE- .ag84bi7bqd8- {
  justify-content: flex-end;
  padding-top: 5px;
  display: flex;
}
.INaSASY-n6Y- {
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 36px 64px;
  font-size: 20px;
  display: flex;
}
.INaSASY-n6Y- .rd5CN9V8cCs- {
  text-transform: uppercase;
  cursor: pointer;
  color: #285b9a;
  background: #67c1f5e6;
  border: none;
  border-radius: 2px;
  margin: 16px;
  padding: 10px 30px;
  display: inline-block;
}
.INaSASY-n6Y- .rd5CN9V8cCs-:hover {
  color: #fff;
  background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
}
.GsKGB2AMpCo- {
  scroll-margin-top: 100px;
  position: relative;
}
.GsKGB2AMpCo-.ZghzLtML6gI-:before {
  content: "";
  pointer-events: none;
  border: 4px solid #ffff007f;
  position: absolute;
  inset: -4px 0;
}
.GsKGB2AMpCo-._4XfV-vRVpXQ- {
  animation: 2s ease-out ADv233Yuxvo-;
}
@keyframes ADv233Yuxvo- {
  0% {
    background-color: #fff;
  }
  to {
    background-color: #ff00;
  }
}
.GsKGB2AMpCo- .xHyewv1cFDQ- {
  cursor: pointer;
  background: #fff9;
  border: none;
  border-radius: 3px;
  margin-left: 4px;
  padding: 3px;
  font-size: 0.9em;
  position: absolute;
  overflow: hidden;
}
.GsKGB2AMpCo- .xHyewv1cFDQ-:hover {
  background: #fff;
}
.GsKGB2AMpCo- .xHyewv1cFDQ- svg {
  fill: #000;
  width: 24px;
  height: 24px;
}
.WViSHv787CM- {
  justify-content: flex-start;
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
@media screen and (width <= 920px) {
  .WViSHv787CM- {
    justify-content: center;
  }
}
.vEPpcBFMdNY- {
  max-width: 100vw;
  margin-top: 20px;
}
@media screen and (width <= 920px) {
  .vEPpcBFMdNY- {
    margin-top: 12vw;
  }
}
.ScrollSnapCarousel .qsHRF3jjmFk- {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 80vw;
  min-width: 0;
  padding: 0 0 8px;
}
.ScrollSnapCarousel .qsHRF3jjmFk-:not(:last-child) {
  margin-right: 16px;
}
.ScrollSnapCarousel > ._3eHSKyP5TA8- {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  min-width: 0;
  padding: 0 0 8px;
}
.ScrollSnapCarousel > ._3eHSKyP5TA8-:not(:last-child) {
  margin-right: 16px;
}
.Fsjh8xcc4nM- {
  flex-grow: 2;
  flex-basis: 0;
  padding: 8px 0;
}
.BasicUI .Fsjh8xcc4nM- {
  flex-grow: 0;
  padding: 0;
}
.carousel .Fsjh8xcc4nM- {
  height: 100%;
}
._5-G1qgRPcWw- {
  width: 100%;
}
.ScrollSnapCarousel ._5-G1qgRPcWw- {
  min-width: 258px;
}
.ItemCount_4 ._5-G1qgRPcWw-,
.items_in_row_5 ._5-G1qgRPcWw-,
.ItemCount_5 ._5-G1qgRPcWw- {
  min-width: unset !important;
}
.ScrollSnapCarousel ._5-G1qgRPcWw- {
  flex-shrink: 0;
  width: 258px;
  min-width: 0;
}
.t3zlb7Lbrro- {
  z-index: 4;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.BasicUI .t3zlb7Lbrro- {
  display: none;
}
._09PTYRlPtZw- {
  margin-top: 54vw;
}
.eQlp4xOz-ds- {
  flex-direction: column;
  display: flex;
}
.BasicUI .SaleBackgroundCtn:not(.ContentHubSalePage) .eQlp4xOz-ds- {
  padding: 0;
}
@media screen and (width <= 1110px) {
  .eQlp4xOz-ds-.GHZVn8ub92w- {
    margin-top: 36vw !important;
  }
}
.ContentHubSalePage .eQlp4xOz-ds- {
  margin-top: 100px;
}
@media screen and (width <= 1000px) {
  .ContentHubSalePage .eQlp4xOz-ds- {
    padding: 0 10px;
  }
}
@media screen and (width <= 910px) {
  .ContentHubSalePage .eQlp4xOz-ds- {
    margin-top: 40px;
  }
}
.BasicUI .eQlp4xOz-ds- {
  padding: 0px 0px var(--gpSpace-Gutter) 0px;
  margin-top: 20px;
}
@media screen and (width <= 1100px) {
  .eQlp4xOz-ds-.BUqnLcVWA-0-:not(.y0spD3kNo3Y-) {
    margin-top: 54vw !important;
  }
}
.tkhpJZaNQME- {
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}
@media screen and (width <= 1110px) {
  .tkhpJZaNQME-.GHZVn8ub92w- {
    background-size: 230vw;
  }
}
@media screen and (width <= 768px) {
  .tkhpJZaNQME-.GHZVn8ub92w- {
    background-size: 230vw;
  }
}
@media screen and (width <= 1100px) {
  .tkhpJZaNQME- {
    background-size: var(--background-scale, 166%);
  }
}
.Z73hKboggMI- {
  flex-direction: row;
  align-items: center;
  display: flex;
  position: relative;
}
.Z73hKboggMI- .Wv8qMEsrmW0- {
  opacity: 0.7;
  background: #fff3;
  border-radius: 2px;
  height: -moz-fit-content;
  margin: 5px 8px;
  padding: 2px 6px;
  font-size: 11px;
}
.Z73hKboggMI- .Wv8qMEsrmW0-:hover {
  background: #fff;
}
.Z73hKboggMI- .Wv8qMEsrmW0-:hover a {
  color: #000;
}
.Z73hKboggMI- .Wv8qMEsrmW0- a {
  text-decoration: none;
}
.rbLMLmnSGGg- {
  grid-gap: 16px;
  padding: 0 8px 14px;
  display: grid;
}
.compactlist .rbLMLmnSGGg- {
  padding-bottom: 2px;
}
.BasicUI .rbLMLmnSGGg- {
  grid-gap: 12px;
  padding-bottom: 12px;
}
span.vY5XhaS3Ygk-,
span.mGmbnTrWldU- {
  vertical-align: top;
  margin-left: 4px;
  font-size: 11px;
  line-height: 21px;
}
.iQZmg-3HqBg- {
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background: #0000004d;
  width: 100%;
  padding: 30px;
  font-size: 16px;
}
.SaleSectionCarousel .bGfjSCk2dUc- {
  padding-bottom: 10px;
  display: block;
}
.SaleSectionCarousel.ScrollSnapCarousel .bGfjSCk2dUc- {
  min-width: 200px;
}
.U-S8wbW2QPc- {
  z-index: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.BGRkx7hPtdo- {
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  margin-left: 50%;
  display: flex;
  position: absolute;
  top: 0;
  transform: translate(-50%);
}
@media screen and (width <= 1100px) {
  .BGRkx7hPtdo- {
    display: none;
  }
}
.lDfz79FqpSQ- {
  align-items: center;
  padding: 12px;
  display: flex;
}
.lDfz79FqpSQ- .YVLROge2PeI- {
  cursor: pointer;
  height: 100px;
}
.lDfz79FqpSQ- .YVLROge2PeI-:hover {
  box-shadow: 0 0 10px 5px #ffffff80;
}
.lDfz79FqpSQ- .-vIjiep6nfo- {
  cursor: pointer;
  padding: 12px;
  font-size: 20px;
}
.lDfz79FqpSQ- .-vIjiep6nfo-:hover {
  text-decoration: underline;
}
.aQhyXEXouGQ- {
  position: relative;
}
.BXoC-ltwYZI- {
  z-index: 99;
  color: #fff;
  opacity: 0;
  background-color: #000000b3;
  align-items: center;
  width: 100%;
  transition: opacity 0.3s linear;
  display: none;
  position: fixed;
  top: 62px;
  left: 0;
  right: 0;
}
.BXoC-ltwYZI-._3SrnRwlpwgo- {
  opacity: 1;
}
.BXoC-ltwYZI- .nYD6DMqC7qM- {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  padding-left: 20px;
  display: flex;
}
.BXoC-ltwYZI- .nYD6DMqC7qM- .DialogDropDown {
  background-color: #0000;
  width: 100%;
  font-weight: 700;
}
.BXoC-ltwYZI- .nYD6DMqC7qM- .DialogDropDown_Arrow {
  display: none;
}
.BXoC-ltwYZI- .G-OnHgVMKqk- {
  white-space: nowrap;
  pointer-events: none;
  position: absolute;
  right: 16px;
}
.BasicUI .BXoC-ltwYZI- {
  display: none !important;
}
@media screen and (width <= 1100px) {
  .tkhpJZaNQME- .dMS6MDahfdY-._7I7sI68LmoI- {
    display: flex;
  }
  .BXoC-ltwYZI- {
    display: none;
  }
}
.RSIUm0Uc-Xo- ._DialogInputContainer {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #000000b3;
  margin-top: 0;
  padding: 0;
}
.RSIUm0Uc-Xo- ._DialogInputContainer ._8wuiTMgpKUY- {
  font-weight: 700;
}
.RSIUm0Uc-Xo- ._DialogInputContainer ._8wuiTMgpKUY-:hover {
  color: #000;
  background-color: #e8e8e8;
}
._2ldq6lCnNnw- {
  flex-flow: column;
  display: flex;
}
.xOxOv-hs36s- {
  cursor: grabbing !important;
}
.jKxgeZt65lQ- {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.fXts2vWkOIU- {
  flex-shrink: 0;
  min-width: 0;
}
.BasicUI .fXts2vWkOIU- {
  min-width: unset;
}
.ScrollSnapCarousel .fXts2vWkOIU- {
  display: flex;
}
._1NBbE2OfC-4- {
  flex-flow: wrap;
  margin: 0 -10px;
  display: flex;
}
._1NBbE2OfC-4- .Bp-h0y9U-0g- {
  cursor: pointer;
  background: linear-gradient(#28384b 0%, #221f2a 100%);
  border-radius: 3px;
  flex-grow: 1;
  justify-content: center;
  min-width: 100px;
  max-width: 220px;
  margin: 10px;
  padding: 20px 40px;
  display: flex;
  box-shadow: 2px 2px 10px #0009;
}
._1NBbE2OfC-4- .Bp-h0y9U-0g-:hover {
  text-shadow: 1px 1px 4px #0006;
  background: linear-gradient(#435a49 0%, #526e5c 100%);
}
._1NBbE2OfC-4- .Bp-h0y9U-0g- .EAsD2M4HZUc- {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (width <= 620px) {
  ._8kJ9MPlskMM- {
    display: none;
  }
}
.LXHxxWUC-1g- {
  display: flex;
}
.LXHxxWUC-1g- .DialogButton.Small {
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
}
.BasicUI .LXHxxWUC-1g- .DialogButton.Small {
  font: var(--gpText-BodyMedium);
  margin-bottom: 8px;
  padding: 8px 20px;
}
.LXHxxWUC-1g- .DialogButton.Small.gpfocus {
  color: #000;
  background-color: #fff;
  border-radius: 0;
}
.iafTQzuTC4A- {
  position: relative;
}
