._2oQB5BDiIHE- {
  position: relative;
}
._8OIq-O1HNVY- {
  overflow-x: hidden;
}
.dptNgjXd-pQ- {
  overflow-y: hidden;
}
._8OIq-O1HNVY-,
.BasicUI .DialogContent_InnerWidth > ._8OIq-O1HNVY-,
.eoMaLPlEw68-,
.BasicUI .DialogContent_InnerWidth > .eoMaLPlEw68- {
  scroll-padding-top: 20px;
  scroll-padding-bottom: 20px;
  overflow-y: auto;
}
.dptNgjXd-pQ-,
.BasicUI .DialogContent_InnerWidth > .dptNgjXd-pQ-,
.eoMaLPlEw68-,
.BasicUI .DialogContent_InnerWidth > .eoMaLPlEw68- {
  scroll-padding-left: 20px;
  scroll-padding-right: 20px;
  overflow-x: auto;
}
