.Cj7J5QHbL-0- {
  background: #344654;
  display: flex;
}
.Cj7J5QHbL-0-.jipuO2-HQM8- {
  background: 0 0;
}
.Cj7J5QHbL-0-._3BsNYqJmlVM- {
  --original-price-font-size: 11px;
  --original-price-color: #738895;
  --final-price-font-size: 15px;
  --final-price-color: #fff;
  min-height: 36px;
}
.Cj7J5QHbL-0-.tlSMj6Uqveg- {
  --original-price-color: #7193a6;
  --final-price-color: #def3ff;
  gap: 3px;
}
.rsMD9WnTopA- {
  color: #beee11;
  background: #4c6b2280;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.rsMD9WnTopA-.OaA5Hz-VGBw- {
  background: #4c6b22;
}
.rsMD9WnTopA-.OaA5Hz-VGBw- > svg {
  width: 30px;
  height: 30px;
  margin: 0 3px;
}
.rsMD9WnTopA- .hPiY1A-1izA- {
  font-weight: 500;
}
._3BsNYqJmlVM- .rsMD9WnTopA- .hPiY1A-1izA- {
  padding: 0 5px;
  font-size: 26px;
  line-height: 34px;
}
.tlSMj6Uqveg- .rsMD9WnTopA- .hPiY1A-1izA- {
  padding: 0 5px;
  font-size: 12px;
  line-height: 19px;
}
.-OkCLv-56oQ- {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
._3BsNYqJmlVM- .-OkCLv-56oQ- {
  padding: 0 8px;
}
.tlSMj6Uqveg- .-OkCLv-56oQ- {
  flex-direction: row;
  gap: 3px;
}
.-OkCLv-56oQ-.T6YQ-V5Z-WM- {
  justify-content: end;
}
.-OkCLv-56oQ- ._9Rf9BwU0xAQ- {
  font-size: var(--original-price-font-size, inherit);
  color: var(--original-price-color, inherit);
  position: relative;
}
.-OkCLv-56oQ- ._9Rf9BwU0xAQ-:before {
  content: "";
  border-bottom: 1.5px solid #738895;
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
  transform: skewY(-8deg);
  box-shadow: 0 0 2px #000;
}
.-OkCLv-56oQ- .-HQzBzl6lqI- {
  font-size: var(--final-price-font-size, inherit);
  color: var(--final-price-color, inherit);
}
