.AUn7u3S-f-k- {
  cursor: pointer;
  background: 0 0;
  border: none;
}
.AguQewhSY4Q- td {
  padding-right: 1em;
}
.AguQewhSY4Q- tr td:first-child:not(:last-child) {
  text-align: right;
}
.Weh-SAYUjT4- {
  color: #fff;
  opacity: 1;
  z-index: 1000;
  overscroll-behavior: contain;
  background-color: #000;
  border: none;
  width: 100vw;
  position: fixed;
  inset: 0;
  overflow: auto;
}
.Weh-SAYUjT4- a {
  color: #fff;
}
.zrir6TAG8K8- {
  color: #fff;
  background: 0 0;
  border: none;
  font-size: 2rem;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
}
.dYrT4jS3kRg- {
  gap: 1em;
  display: inline-flex;
}
.QW43vcC07sI- {
  gap: 1em;
  display: flex;
}
.Ofk1Oh3xZkM- {
  flex-wrap: wrap;
  gap: 0.5em 1em;
  margin: 0.25em 0 0.5em;
  display: flex;
}
.Q1AbsABBBAY- {
  color: #6c6;
}
.HgPib-BMss8- {
  color: #e66;
  font-weight: 700;
}
.S4mf0p4RAw4- {
  flex-direction: column;
  max-width: 900px;
  display: flex;
}
.wZlcZNNdFbw- {
  max-height: 40vh;
}
.N65O1UUvsi0- {
  width: 100%;
}
.N65O1UUvsi0- tr {
  box-sizing: border-box;
}
.N65O1UUvsi0- .Sg-lcGtVuvI- {
  position: relative;
}
.N65O1UUvsi0- .Sg-lcGtVuvI- svg {
  height: 20px;
}
.N65O1UUvsi0- tr td {
  vertical-align: middle;
  border: 1px solid #0000;
  padding: 2px;
}
.N65O1UUvsi0- .PfY5xsgOc8s- {
  text-overflow: ellipsis;
  max-width: 640px;
  overflow: hidden;
}
.N65O1UUvsi0- ._00Px71t64UY- td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.N65O1UUvsi0- ._00Px71t64UY- td:first-child {
  border-left: 1px solid #fff;
}
.N65O1UUvsi0- ._00Px71t64UY- td:last-child {
  border-right: 1px solid #fff;
}
