._1mCWTI0JoiDqCmO8bDDES5 {
  background: radial-gradient(70% 100vh at 50% 50%, #0f1924 30%, #642452 77%);
}
._2sI9nEpezKWeRW_uX3zDe9 {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #03090e 0%,
    #1b5276 52.6%
  );
}
._2sI9nEpezKWeRW_uX3zDe9 ._1KFiu2aZBbuwvWHItKoR7- {
  background: linear-gradient(135deg, #642452 0%, #06123d 100%);
}
.ZbHrxezu8VrBxMPSTh9z3 {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #0578a2 0%,
    #449963 52.6%,
    #104a4a
  );
}
._14BklrGtK29m79DW3nqHWV {
  background-color: #fff;
}
._3bCDTuFBTstThIkVu8rZAK {
  background-image:
    radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #0578a2 0%,
      #449963 52.6%,
      #104a4a
    ),
    url("/public/images/yearinreview/streak_bg_large.webp");
}
._2RZyYiWAwDAPtAyy1l4EhC.ActiveTab {
  background-color: rgba(103, 193, 245, 0.34);
}
._3ZGQww28rxBs_rNFt4A-Z {
  color: #1a9ffe;
}
._2QHBE_5MFY0OIfAJK-6KPs {
  color: #1a9ffe;
}
._3JsZSm646Y5ZkGhpSOODAW._2DHea-Spjx2dRqPQcVfpqw {
  background: radial-gradient(140% 150% at 70% 100%, #782370 10%, #0f1924 70%);
}
._3JsZSm646Y5ZkGhpSOODAW._2Sd0qjwv69VPg701ROB46l {
  background: radial-gradient(140% 150% at 70% 100%, #782370 10%, #0f1924 70%);
}
._3JsZSm646Y5ZkGhpSOODAW._2KTGrVdH4bYO-rOyHaGaXe {
  background: radial-gradient(140% 150% at 70% 100%, #782370 10%, #0f1924 70%);
}
._3JsZSm646Y5ZkGhpSOODAW._33YJLXitiubERYxUXrbecK {
  background: radial-gradient(140% 150% at 70% 100%, #782370 10%, #0f1924 70%);
}
._3eIkBGJSxL654zOmmOBOz7:nth-child(4) ._3JsZSm646Y5ZkGhpSOODAW,
._3eIkBGJSxL654zOmmOBOz7:nth-child(5) ._3JsZSm646Y5ZkGhpSOODAW,
._3eIkBGJSxL654zOmmOBOz7:nth-child(6) ._3JsZSm646Y5ZkGhpSOODAW {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #2389d1 10%,
    #782370 70%,
    #0f1924 120%
  );
}
._3eIkBGJSxL654zOmmOBOz7:nth-child(4)
  ._3JsZSm646Y5ZkGhpSOODAW
  ._36jZ71s237_s23yxdQgPFO,
._3eIkBGJSxL654zOmmOBOz7:nth-child(5)
  ._3JsZSm646Y5ZkGhpSOODAW
  ._36jZ71s237_s23yxdQgPFO,
._3eIkBGJSxL654zOmmOBOz7:nth-child(6)
  ._3JsZSm646Y5ZkGhpSOODAW
  ._36jZ71s237_s23yxdQgPFO {
  mix-blend-mode: unset;
  opacity: 0.8;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 30%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 30%, rgba(0, 0, 0, 0) 75%);
}
._2l4E7GqLFXFY_rYWRbFOIt {
  background: linear-gradient(147.86deg, #782370 25.78%, #05113c 101.81%);
}
._24OE-kMDyDQ0Ci29zIPqdq {
  background: radial-gradient(
    101.49% 84.96% at 18% -1.96%,
    #8876cf 0%,
    #423a5a 100%
  );
}
._3L0BnaPXE2Nuz3x60nrf8 ._1h36ybUWs1ZX5telCOk0XC,
._26pjxsotAYqvNMpivHzvaw ._1h36ybUWs1ZX5telCOk0XC {
  background: linear-gradient(147.86deg, #782370 25.78%, #05113c 101.81%);
}
._1mZ6NQJ_g6wG-NdlN86ksm {
  background: linear-gradient(
    14deg,
    rgba(22, 41, 100, 0.8784313725),
    rgba(16, 86, 98, 0.7215686275)
  );
}
._36knYDLxQo9AaZviPf_cnn._1mrNpFA8PEjfLYXmvbboJl {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #0d5e1b 0%,
    #1f4e5c 52.6%,
    #0e1014
  );
}
._36knYDLxQo9AaZviPf_cnn.uGK9CVVk1pMAHGs62QINl {
  background: radial-gradient(
    94.31% 143.89% at 49.99% -21.75%,
    #642452 0%,
    #06123d 52.6%,
    #0e1014
  );
}
._2pfc8dJefQjNg6UM3yLz9q ._36knYDLxQo9AaZviPf_cnn {
  background: radial-gradient(
    51.31% 143.89% at 49.99% -21.75%,
    #642452 0%,
    #06123d 52.6%
  );
}
._1TBDwSyyCkodf5oKezdape .vqmq5_0SK8i0bpeppqxnx {
  background: linear-gradient(
    45deg,
    rgba(11, 112, 89, 0.5411764706) 15%,
    rgba(0, 85, 128, 0.8509803922) 55%,
    rgba(148, 26, 115, 0.7411764706)
  );
}
._2PR724R2IuabDLtoLxWpfk {
  background: radial-gradient(#17333a, #0a0d0d);
}
._2IjTrxdj_wI9Gh7_aMbZTM path {
  fill: #01a4f6;
}
._1pYbm7SYRqjtbSjm99vybx path {
  fill: #10ca70;
}
._3wrtHF8HGJ6k-7gSKy9tHu path {
  fill: #bd97ff;
}
.tiuwqat5VX9DqGp1wTasT ._2TAF9zz_FTeA_XA7NabVmT._2Jn-XMt83DMEbyRglDjPZ- {
  background: linear-gradient(to right, #10cb6e 0%, #00a2ff 50%, #8a48f5 90%);
}
.tiuwqat5VX9DqGp1wTasT ._2S-kJn2DuxoMMQRJoCDp5K div:nth-of-type(1) {
  background-color: #3cdf6a;
}
.tiuwqat5VX9DqGp1wTasT ._2S-kJn2DuxoMMQRJoCDp5K div:nth-of-type(2) {
  background-color: #4df;
}
.tiuwqat5VX9DqGp1wTasT ._2S-kJn2DuxoMMQRJoCDp5K div:nth-of-type(3) {
  background-color: #e496ff;
}
.tiuwqat5VX9DqGp1wTasT
  ._3nz5W7FAYvN2-2n0MuWlwo
  ._1EoUlR9aVJ5EMp7C5CYdlJ.DxFS4y1E5x3-FXRmvNTjr,
.tiuwqat5VX9DqGp1wTasT
  ._3nz5W7FAYvN2-2n0MuWlwo
  .mjYOxpO92Sjjaq1vI0nPa._1TC4ZL8Igk0UZwM5n37MPP.DxFS4y1E5x3-FXRmvNTjr {
  background-color: #3cdf6a;
}
.tiuwqat5VX9DqGp1wTasT
  ._3nz5W7FAYvN2-2n0MuWlwo
  ._1muEXi8fQZowcGSWQIP5EF._1TC4ZL8Igk0UZwM5n37MPP._3APY0jBERnHXknBhjYaKzK {
  border: 4px dotted #3cdf6a;
}
.tiuwqat5VX9DqGp1wTasT
  ._3nz5W7FAYvN2-2n0MuWlwo
  ._1muEXi8fQZowcGSWQIP5EF._1TC4ZL8Igk0UZwM5n37MPP
  .grEIxWPqvyXbDSONzpGyk._1jd63YNjr7wMQzLdB_QziW,
.tiuwqat5VX9DqGp1wTasT
  ._3nz5W7FAYvN2-2n0MuWlwo
  ._1muEXi8fQZowcGSWQIP5EF._1TC4ZL8Igk0UZwM5n37MPP
  .etu3gC0CbXo-55a8VnGLb._1jd63YNjr7wMQzLdB_QziW {
  color: #3cdf6a;
}
.tiuwqat5VX9DqGp1wTasT
  ._3cggzJW9YF-UN83xHTZQ8v
  ._1EoUlR9aVJ5EMp7C5CYdlJ.DxFS4y1E5x3-FXRmvNTjr,
.tiuwqat5VX9DqGp1wTasT
  ._3cggzJW9YF-UN83xHTZQ8v
  .mjYOxpO92Sjjaq1vI0nPa._1TC4ZL8Igk0UZwM5n37MPP.DxFS4y1E5x3-FXRmvNTjr {
  background-color: #4df;
}
.tiuwqat5VX9DqGp1wTasT
  ._3cggzJW9YF-UN83xHTZQ8v
  ._1muEXi8fQZowcGSWQIP5EF._1TC4ZL8Igk0UZwM5n37MPP._3APY0jBERnHXknBhjYaKzK {
  border: 4px dotted #4df;
}
.tiuwqat5VX9DqGp1wTasT
  ._3cggzJW9YF-UN83xHTZQ8v
  ._1muEXi8fQZowcGSWQIP5EF._1TC4ZL8Igk0UZwM5n37MPP
  .grEIxWPqvyXbDSONzpGyk._1jd63YNjr7wMQzLdB_QziW,
.tiuwqat5VX9DqGp1wTasT
  ._3cggzJW9YF-UN83xHTZQ8v
  ._1muEXi8fQZowcGSWQIP5EF._1TC4ZL8Igk0UZwM5n37MPP
  .etu3gC0CbXo-55a8VnGLb._1jd63YNjr7wMQzLdB_QziW {
  color: #4df;
}
.tiuwqat5VX9DqGp1wTasT
  ._2e8Hfol5roqPlMlmMEe4jK
  ._1EoUlR9aVJ5EMp7C5CYdlJ.DxFS4y1E5x3-FXRmvNTjr,
.tiuwqat5VX9DqGp1wTasT
  ._2e8Hfol5roqPlMlmMEe4jK
  .mjYOxpO92Sjjaq1vI0nPa._1TC4ZL8Igk0UZwM5n37MPP.DxFS4y1E5x3-FXRmvNTjr {
  background-color: #e496ff;
}
.tiuwqat5VX9DqGp1wTasT
  ._2e8Hfol5roqPlMlmMEe4jK
  ._1muEXi8fQZowcGSWQIP5EF._1TC4ZL8Igk0UZwM5n37MPP._3APY0jBERnHXknBhjYaKzK {
  border: 4px dotted #e496ff;
}
.tiuwqat5VX9DqGp1wTasT
  ._2e8Hfol5roqPlMlmMEe4jK
  ._1muEXi8fQZowcGSWQIP5EF._1TC4ZL8Igk0UZwM5n37MPP
  .grEIxWPqvyXbDSONzpGyk._1jd63YNjr7wMQzLdB_QziW,
.tiuwqat5VX9DqGp1wTasT
  ._2e8Hfol5roqPlMlmMEe4jK
  ._1muEXi8fQZowcGSWQIP5EF._1TC4ZL8Igk0UZwM5n37MPP
  .etu3gC0CbXo-55a8VnGLb._1jd63YNjr7wMQzLdB_QziW {
  color: #e496ff;
}
._3ugWpF65a-Hzz9zZbMdFei {
  background-image:
    radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      rgba(2, 187, 255, 0.2039215686) 0%,
      rgba(255, 3, 179, 0.2274509804) 52.6%,
      rgba(106, 255, 0, 0.137254902)
    ),
    url("/public/images/yearinreview/steam_logo_offset.png");
}
._25JDT1O9te5Afb7dDcz4ry {
  background: #2d73ff;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
._25JDT1O9te5Afb7dDcz4ry:hover {
  filter: brightness(110%);
  color: #fff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ {
  background: radial-gradient(
    136.99% 78.49% at 53.43% 10.55%,
    #642452 0%,
    #06123d 100%
  );
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ ._1wRDr7Zzwg-daOQ9jG5qY5 {
  color: #fff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ .yqOBUuUlT4ChD5MB4Gfmb {
  color: #4ad4ff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ ._1Dj2Lm_eGilmq2aTCNLmKz {
  color: #fff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ ._1boFekf-O9JBLOKZNRGpGL {
  fill: #4ad4ff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ .rUjuX2Th6QbH4f1-l8H3c {
  color: #4ad4ff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ ._3TIPQVu2JQ0Pp0s4DBxqdN {
  border-color: #4ad4ff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ ._2ZVTo1HmTUnFF3TNZBarJ3 {
  color: #fff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ
  ._2ZVTo1HmTUnFF3TNZBarJ3
  ._1n5x7nxPhP-Sq0AhY5ssVm,
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ
  ._2ZVTo1HmTUnFF3TNZBarJ3
  ._1t179jT3miESogxBPLvKso {
  color: #4ad4ff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ .jIjgB6ZoOX1pa2GftI1RS {
  background: linear-gradient(270.05deg, #1babd8 0.05%, #4ad4ff 99.24%);
  color: #fff;
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ .jIjgB6ZoOX1pa2GftI1RS:hover {
  box-shadow: 2px 2px 10px #000;
  background: linear-gradient(270.05deg, #56bfdf 0.05%, #74dcfc 99.24%);
}
._34F3ONj5DcTlh_joG-sHu5._3410LOeYZJjY6R_H4U0YuQ ._1vouHy7Qkdo_QusE7gHag1 {
  color: rgba(229, 229, 229, 0.75);
}
._1i52pDXbOiguTescoinJBz {
  background: #2d73ff;
}
._1i52pDXbOiguTescoinJBz:hover {
  background: #fff;
  color: #222;
}
@keyframes _1WW8z64-BrcfAZZpgbuRTM {
  to {
    background-size: 120%;
  }
}
._10kzTTAtqaz13b6p7OjG8S {
  background: radial-gradient(70% 100vh at 50% 50%, #0f1924 30%, #925801 77%);
  background-size: 100%;
  animation: _1WW8z64-BrcfAZZpgbuRTM forwards;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
._2Pj3-6RWhMQHDGPtVx1ftl {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #925801 0%,
    #2c0050 52.6%
  );
}
._2Pj3-6RWhMQHDGPtVx1ftl .RdmGip0ngXjp9kSzfsMuc {
  background: linear-gradient(135deg, #925801 0%, #2c0050 100%);
}
._1ihw3wAprvhicFWLMrq7hf {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #925801 0%,
    #2c0050 52.6%,
    #022216
  );
}
._3s6e74lp5bDTtWMnpcnBbA {
  background-color: #fff;
}
._1GiTU8n2lD-sPz0sCR0Xhj {
  background-image:
    radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #925801 0%,
      #2c0050 52.6%,
      #022216
    ),
    url("/public/images/yearinreview/streak_bg_large.webp");
}
._25kqUwukU9GN1Ef9tihV6L.ActiveTab {
  background-color: rgba(190, 240, 51, 0.34);
}
._1eLSYaRNKbAsXOhQTsmW1V {
  color: #c48100;
}
._3Xy9Cx3rQeyhPKSjwGEfl6 {
  color: #c48100;
}
._3xyYnoaptMoTZ1HqL_koRs._1M433GBUUxgHItBhMw0U94 {
  background: radial-gradient(140% 150% at 70% 100%, #c48100 10%, #0f1924 70%);
}
._3xyYnoaptMoTZ1HqL_koRs._2X6mwNm61FuayA-l1afHjg {
  background: radial-gradient(140% 150% at 70% 100%, #c48100 10%, #0f1924 70%);
}
._3xyYnoaptMoTZ1HqL_koRs.GImwL8nsYgPpolltUalGf {
  background: radial-gradient(140% 150% at 70% 100%, #c48100 10%, #0f1924 70%);
}
._3xyYnoaptMoTZ1HqL_koRs._2s1BbZknfTzGiX0KPWI6sQ {
  background: radial-gradient(140% 150% at 70% 100%, #c48100 10%, #0f1924 70%);
}
._18moaZsJq2bOBUKUFkgZXW:nth-child(4) ._3xyYnoaptMoTZ1HqL_koRs,
._18moaZsJq2bOBUKUFkgZXW:nth-child(5) ._3xyYnoaptMoTZ1HqL_koRs,
._18moaZsJq2bOBUKUFkgZXW:nth-child(6) ._3xyYnoaptMoTZ1HqL_koRs {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #925801 10%,
    #022216 70%,
    #0f1924 120%
  );
}
._18moaZsJq2bOBUKUFkgZXW:nth-child(4)
  ._3xyYnoaptMoTZ1HqL_koRs
  ._1LIoXPNaAmjCNg--cqeYNJ,
._18moaZsJq2bOBUKUFkgZXW:nth-child(5)
  ._3xyYnoaptMoTZ1HqL_koRs
  ._1LIoXPNaAmjCNg--cqeYNJ,
._18moaZsJq2bOBUKUFkgZXW:nth-child(6)
  ._3xyYnoaptMoTZ1HqL_koRs
  ._1LIoXPNaAmjCNg--cqeYNJ {
  mix-blend-mode: unset;
  opacity: 0.8;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 30%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 30%, rgba(0, 0, 0, 0) 75%);
}
._2iEZg9UeJZPaXWH8DEQgAY {
  background: conic-gradient(
    from 160deg at 113% -17%,
    #925801 30deg,
    #0a6040 71deg,
    #2c0050 125deg
  );
}
._3pGXxrtry6vbrbKN05WUO6 {
  background: conic-gradient(
    from 360deg at -8% 50%,
    rgba(146, 88, 1, 0.3) 33deg,
    #2c0050 66deg,
    #022216 145deg
  );
}
._2W45uTzo4s5qj5DLPHUt2f {
  background: #48067f;
}
._36jqv5rato1nA9_Fm4TgqO._2humxv5J-6yJS4voPPdZ2t {
  background:
    conic-gradient(
      from 87deg at -8.32% 0%,
      rgba(105, 63, 0, 0.3019607843) 7.2531156242deg,
      rgba(0, 71, 44, 0.56) 42.3303329945deg,
      #33005c 96.4028513432deg
    ),
    #000;
}
._36jqv5rato1nA9_Fm4TgqO._2Ri1edchogFKwyEY3XKJiq {
  background:
    conic-gradient(
      from -90deg at 108.32% 100%,
      rgba(105, 63, 0, 0.29) 7.2531156242deg,
      rgba(0, 71, 44, 0.56) 24.2867588997deg,
      #33005c 62.7407902479deg
    ),
    #000;
}
._3AeiaW8hpnC1ONnWJUXAj5 ._36jqv5rato1nA9_Fm4TgqO {
  background: radial-gradient(
    51.31% 143.89% at 49.99% -21.75%,
    #925801 10%,
    #2c0050 52.6%
  );
}
.il8qj5ZbFvylAOOLUaNtV {
  background: #2c0050;
}
@keyframes DcluJQjgDbSdO-U954rux {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
._1VlT4dTCqBdYP-i3bxLhyJ {
  background: radial-gradient(#925801 0%, #150025 40%);
  background-size: 200% 200%;
  background-position: 0% 0%;
  animation: DcluJQjgDbSdO-U954rux 15s ease infinite;
}
._1dt08I2SCDobYoSlg6xjqf path {
  fill: #008352;
}
._3Zy7ueS4aunldSTv-YA2GT path {
  fill: #008352;
}
._22reoVLCzn-Fuh73p1pXr5 path {
  fill: #008352;
}
._1U1ZuwB1L9K4CPqioL0e5s ._3NgeYY9GD7yBtWM_upyPTT._2WMTIhxpdYdVPW8qMMaMIR {
  background: linear-gradient(to right, #008352 0%, #6a00df 50%, #925801 90%);
}
._1U1ZuwB1L9K4CPqioL0e5s ._3kzRWYdjSiT3NFAj2oVTVY div:nth-of-type(1) {
  background-color: #d67070;
}
._1U1ZuwB1L9K4CPqioL0e5s ._3kzRWYdjSiT3NFAj2oVTVY div:nth-of-type(2) {
  background-color: #683db4;
}
._1U1ZuwB1L9K4CPqioL0e5s ._3kzRWYdjSiT3NFAj2oVTVY div:nth-of-type(3) {
  background-color: #3898b0;
}
._1U1ZuwB1L9K4CPqioL0e5s
  ._3YOjggFXHQrDGODGISowUn
  ._2V5vsfJLUUAm8Dkwco2jw9._1P7u77iRdWEMNFa_uDOAgx,
._1U1ZuwB1L9K4CPqioL0e5s
  ._3YOjggFXHQrDGODGISowUn
  .sT4Y_Mssd38IykTqpNttI.sw8ZdGxYqpVlDpQ-O0ymi._1P7u77iRdWEMNFa_uDOAgx {
  background-color: #d67070;
}
._1U1ZuwB1L9K4CPqioL0e5s
  ._3YOjggFXHQrDGODGISowUn
  ._3QBOqe7aPF_N0gIqkC9fmI.sw8ZdGxYqpVlDpQ-O0ymi._1LJoYGt4cvMN5B1_sAJP8f {
  border: 4px dotted #d67070;
}
._1U1ZuwB1L9K4CPqioL0e5s
  ._3YOjggFXHQrDGODGISowUn
  ._3QBOqe7aPF_N0gIqkC9fmI.sw8ZdGxYqpVlDpQ-O0ymi
  ._6GBP_G16XsdGbYC8NTZh6._5AuLAC-w6VzF8QR5dj5Xt,
._1U1ZuwB1L9K4CPqioL0e5s
  ._3YOjggFXHQrDGODGISowUn
  ._3QBOqe7aPF_N0gIqkC9fmI.sw8ZdGxYqpVlDpQ-O0ymi
  .SsulucKQh-HigrEyVzMIg._5AuLAC-w6VzF8QR5dj5Xt {
  color: #d67070;
}
._1U1ZuwB1L9K4CPqioL0e5s
  ._3kPVLKj0dwg8U5A6Fg7ISA
  ._2V5vsfJLUUAm8Dkwco2jw9._1P7u77iRdWEMNFa_uDOAgx,
._1U1ZuwB1L9K4CPqioL0e5s
  ._3kPVLKj0dwg8U5A6Fg7ISA
  .sT4Y_Mssd38IykTqpNttI.sw8ZdGxYqpVlDpQ-O0ymi._1P7u77iRdWEMNFa_uDOAgx {
  background-color: #683db4;
}
._1U1ZuwB1L9K4CPqioL0e5s
  ._3kPVLKj0dwg8U5A6Fg7ISA
  ._3QBOqe7aPF_N0gIqkC9fmI.sw8ZdGxYqpVlDpQ-O0ymi._1LJoYGt4cvMN5B1_sAJP8f {
  border: 4px dotted #683db4;
}
._1U1ZuwB1L9K4CPqioL0e5s
  ._3kPVLKj0dwg8U5A6Fg7ISA
  ._3QBOqe7aPF_N0gIqkC9fmI.sw8ZdGxYqpVlDpQ-O0ymi
  ._6GBP_G16XsdGbYC8NTZh6._5AuLAC-w6VzF8QR5dj5Xt,
._1U1ZuwB1L9K4CPqioL0e5s
  ._3kPVLKj0dwg8U5A6Fg7ISA
  ._3QBOqe7aPF_N0gIqkC9fmI.sw8ZdGxYqpVlDpQ-O0ymi
  .SsulucKQh-HigrEyVzMIg._5AuLAC-w6VzF8QR5dj5Xt {
  color: #683db4;
}
._1U1ZuwB1L9K4CPqioL0e5s
  ._3n3sqX8WsGOyPAMMvYy_O-
  ._2V5vsfJLUUAm8Dkwco2jw9._1P7u77iRdWEMNFa_uDOAgx,
._1U1ZuwB1L9K4CPqioL0e5s
  ._3n3sqX8WsGOyPAMMvYy_O-
  .sT4Y_Mssd38IykTqpNttI.sw8ZdGxYqpVlDpQ-O0ymi._1P7u77iRdWEMNFa_uDOAgx {
  background-color: #3898b0;
}
._1U1ZuwB1L9K4CPqioL0e5s
  ._3n3sqX8WsGOyPAMMvYy_O-
  ._3QBOqe7aPF_N0gIqkC9fmI.sw8ZdGxYqpVlDpQ-O0ymi._1LJoYGt4cvMN5B1_sAJP8f {
  border: 4px dotted #3898b0;
}
._1U1ZuwB1L9K4CPqioL0e5s
  ._3n3sqX8WsGOyPAMMvYy_O-
  ._3QBOqe7aPF_N0gIqkC9fmI.sw8ZdGxYqpVlDpQ-O0ymi
  ._6GBP_G16XsdGbYC8NTZh6._5AuLAC-w6VzF8QR5dj5Xt,
._1U1ZuwB1L9K4CPqioL0e5s
  ._3n3sqX8WsGOyPAMMvYy_O-
  ._3QBOqe7aPF_N0gIqkC9fmI.sw8ZdGxYqpVlDpQ-O0ymi
  .SsulucKQh-HigrEyVzMIg._5AuLAC-w6VzF8QR5dj5Xt {
  color: #3898b0;
}
.Da4bxMaQBEGNrVrq5DpDH {
  background-image:
    radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      rgba(211, 217, 32, 0.2274509804) 0%,
      rgba(211, 217, 32, 0.2274509804) 52.6%,
      rgba(211, 217, 32, 0.2274509804)
    ),
    url("/public/images/yearinreview/steam_logo_offset.png");
}
._288f6z1gFOsYlF9sPrQjGL {
  background: #925801;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
._288f6z1gFOsYlF9sPrQjGL:hover {
  filter: brightness(110%);
  color: #fff;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce {
  background: radial-gradient(
    98.31% 133.89% at 12.99% 12.25%,
    #925801 10%,
    #2c0050 62.6%,
    #022216 90%
  );
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce ._2a2ceVKfNdvTRhuk5GSdns {
  color: #c48100;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce ._2p3PzXE3K1nmqcMQq3_IfL {
  color: #c48100;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce ._3LKGj8E0hxcbos8M02X8Z5 {
  color: #c48100;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce .QA6ZiaAVMlmpcQ76Vh1ai {
  fill: #c48100;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce .u0AZ32D3fSCUz7g34qqez {
  color: #c48100;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce ._1YfBn_vDDQheFIvB_NS8jT {
  border-color: #c48100;
  border-radius: 2px;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce ._2k0fIZXO_T84nzNLVPk3_8 {
  color: #f1f1f1;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce
  ._2k0fIZXO_T84nzNLVPk3_8
  .cUavdbPuv_0xdR4Dn9zos {
  color: #c48100;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce
  ._2k0fIZXO_T84nzNLVPk3_8
  ._17c5leGvLNSi5Ww9tu6KYI {
  color: #f1f1f1;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce .AwTMLvj9vwwJanUhUW0md {
  background: linear-gradient(135deg, #c48100 0%, #925801 100%);
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 1px;
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce .AwTMLvj9vwwJanUhUW0md:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #c48100 0%, #925801 100%);
}
._2uL2aC9JTgz2OiBYlYh0OV._3r4GfYoEmqFKtRaTHW4kce ._L5X9igrHe9C6CwhZe_ny {
  color: #f1f1f1;
  opacity: 0.7;
}
._1fHTilDQDzxqV57h1u1xHI {
  background: #925801;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
._1fHTilDQDzxqV57h1u1xHI:hover {
  filter: brightness(110%);
  color: #fff;
}
@keyframes _1iXipF4ysagEImD280CprP {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes _1rmm8RPOlAxQMFUAP8bygH {
  from {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes _3Ws16JxP5tjYQMyhOCZPyl {
  from {
    background: #3d4450;
    color: #8b929a;
  }
  to {
    background: #23262e;
    color: #fff;
  }
}
@keyframes _1U1iTefDLSbKqIp4V19WVn {
  from {
    background: #23262e;
    color: #8b929a;
  }
  to {
    background: #383a41;
    color: #fff;
  }
}
@keyframes _1Z34B8hAZCLKdCS-fIrGZl {
  from {
    background: hsla(0, 0%, 100%, 0.25);
    color: #8b929a;
  }
  to {
    background: hsla(0, 0%, 100%, 0.15);
    color: #fff;
  }
}
@keyframes _25oYhp1kwf6zZ5vtnsQBgc {
  from {
    background: #8b929a;
    color: #fff;
  }
  to {
    background: #67707b;
    color: #fff;
  }
}
@keyframes _12q-BgpP8S8I4o8Y7tVgP5 {
  from {
    background: hsla(0, 0%, 100%, 0.3);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.1);
    color: #fff;
  }
}
@keyframes LBhH9gPpgXf2pY0_Lc3Al {
  from {
    background: hsla(0, 0%, 100%, 0.5);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
}
@keyframes _3V_jsm1ATEfbvpDr6TIw3R {
  from {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes _1CWlcSJ0K4nB9z9UY1GJO7 {
  from {
    background: #c9ffc9;
    color: #8b929a;
  }
  to {
    background: #59bf40;
    color: #fff;
  }
}
@keyframes xxHDLCKk6ZGZZcwkKMJ_o {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }
  100% {
    background-position: -180% 0%;
    opacity: 0.8;
  }
}
@keyframes _1JpeZ-3CBjNXMpN8RezwCI {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes _3JN7ZUgVCUsaPMpmqP7TwR {
  to {
    background-size: 120%;
  }
}
._3OQ6rgJBkGnH9Bf6r2e3HL {
  background: radial-gradient(70% 100vh at 50% 50%, #0f1924 30%, #01787f 77%);
  background-size: 100%;
  animation: _3JN7ZUgVCUsaPMpmqP7TwR forwards;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
._1HbdEudMGphunPB0JEXg7i {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #01a2ab 0%,
    #bf404c 52.6%
  );
}
._1HbdEudMGphunPB0JEXg7i ._1gfY6mgm47-kMTUtqR0-Ou {
  background: linear-gradient(135deg, #01a2ab 0%, #bf404c 100%);
}
.tRbx_6RHxbCDIMagDBI8p {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #01a2ab 0%,
    #0f1924 52.6%,
    #01787f
  );
}
.tRbx_6RHxbCDIMagDBI8p ._1MVdzFDJOXawdsqr3Yhqsw {
  background-image: url("/public/images/yearinreview/streak_bg_large.webp");
  opacity: 0.1;
}
._36N_E04MlrcS-OcKDAtap2 {
  background-color: #fff;
}
._1KD4j_7fmsom6XcRjCdT0Q.ActiveTab {
  background-color: rgba(190, 240, 51, 0.34);
}
.WSDA_clh_9sxDy4zdmbjD {
  color: #15c6cf;
}
._1gHhZmVSITXh31m_yruKhR {
  color: #15c6cf;
}
._2-LqaFKV7kacR8awEnhfJX:nth-child(1) ._3OZGvnLThiIYbr4Ouh2bxp {
  background: radial-gradient(140% 150% at 70% 100%, #01787f 10%, #602026 70%);
}
._2-LqaFKV7kacR8awEnhfJX:nth-child(2) ._3OZGvnLThiIYbr4Ouh2bxp {
  background: radial-gradient(140% 150% at 70% 100%, #01a2ab 10%, #0f1924 70%);
}
._2-LqaFKV7kacR8awEnhfJX:nth-child(3) ._3OZGvnLThiIYbr4Ouh2bxp {
  background: radial-gradient(140% 150% at 70% 100%, #01a2ab 10%, #0f1924 70%);
}
._2-LqaFKV7kacR8awEnhfJX:nth-child(4) ._3OZGvnLThiIYbr4Ouh2bxp,
._2-LqaFKV7kacR8awEnhfJX:nth-child(5) ._3OZGvnLThiIYbr4Ouh2bxp,
._2-LqaFKV7kacR8awEnhfJX:nth-child(6) ._3OZGvnLThiIYbr4Ouh2bxp {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #602026 10%,
    #005155 70%,
    #0f1924 120%
  );
}
._2-LqaFKV7kacR8awEnhfJX:nth-child(4)
  ._3OZGvnLThiIYbr4Ouh2bxp
  ._2aMzl_Delss7H1rWla6XDB,
._2-LqaFKV7kacR8awEnhfJX:nth-child(5)
  ._3OZGvnLThiIYbr4Ouh2bxp
  ._2aMzl_Delss7H1rWla6XDB,
._2-LqaFKV7kacR8awEnhfJX:nth-child(6)
  ._3OZGvnLThiIYbr4Ouh2bxp
  ._2aMzl_Delss7H1rWla6XDB {
  mix-blend-mode: unset;
  opacity: 0.8;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 30%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 30%, rgba(0, 0, 0, 0) 75%);
}
._1_-90oN_7p0LZPblYQBANu {
  background: #cc6670;
}
._1Y5fJhtMjArQRouT4r3-C7 ._3MOFeHUyOuqaV0X3Yr3VNf {
  display: block;
  filter: blur(160px);
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0.6;
}
._1Y5fJhtMjArQRouT4r3-C7._3ZMWDI255mEZaJyC56j0wL {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    #003a3d 10%,
    #01787f 30%,
    black 120%
  );
}
._1Y5fJhtMjArQRouT4r3-C7.Juac3ZakPmb2mXfPy5vYL {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    #003a3d 10%,
    #01787f 30%,
    black 120%
  );
}
._1hCC5kg_wi3ka5DgsPuQSB ._1Y5fJhtMjArQRouT4r3-C7 {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    #003a3d 10%,
    #01787f 30%,
    black 120%
  );
}
._3rUVGxkgXErfzS1dUw-09d {
  background: #bf404c;
}
@keyframes _3Z_LYJhCqdb8ZUUwCdpQgr {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
._37_pY_aEthje0YSZyP7Cs3 {
  background: radial-gradient(#01a2ab 0%, #00191a 40%);
  background-size: 300% 200%;
  background-position: 0% 0%;
  animation: _3Z_LYJhCqdb8ZUUwCdpQgr 15s ease infinite;
}
._1JuNaCUGgdEe4Kg1wwxKiC {
  background: radial-gradient(
    125% 125% at -8% 50%,
    #01a2ab 10%,
    #003a3d 50%,
    #01787f 100%
  );
}
._1JuNaCUGgdEe4Kg1wwxKiC .frtdAP-rVslnmtiDFU5hj span {
  color: #cc6670;
}
._1blrLRqm7dIEf-KlyXeucX path {
  fill: #01a2ab;
}
._3mFHXBXxcqOg-QN0otvPIV path {
  fill: #01a2ab;
}
._1BAN0pj-aWkXRxswwHZqJ6 path {
  fill: #01a2ab;
}
._3K-BxOFebKlIgA3KHN3fRd ._149r1AuXIu7SWFlKGFPK2g._1dBow-Dbmq4zxmKY1jgQAn {
  background: linear-gradient(to right, #602026 0%, #cc6670 50%, #01a2ab 90%);
}
._3K-BxOFebKlIgA3KHN3fRd ._3yTxsy6ozFIGQBi_USS7Wq div:nth-of-type(1) {
  background-color: #34f3fe;
}
._3K-BxOFebKlIgA3KHN3fRd ._3yTxsy6ozFIGQBi_USS7Wq div:nth-of-type(2) {
  background-color: #cc6670;
}
._3K-BxOFebKlIgA3KHN3fRd ._3yTxsy6ozFIGQBi_USS7Wq div:nth-of-type(3) {
  background-color: #f4d760;
}
._3K-BxOFebKlIgA3KHN3fRd
  ._3Q-lCYrQuOslt990fq-rr6
  ._1op5IwtjH5Lq0XP38WK3LT._2j3GatBNdCKuNabv1m37Yq,
._3K-BxOFebKlIgA3KHN3fRd
  ._3Q-lCYrQuOslt990fq-rr6
  ._3m-Ki0zq5OMIcIZ41vG6wU.ezwPo6nwskfStGExxxe2._2j3GatBNdCKuNabv1m37Yq {
  background-color: #34f3fe;
}
._3K-BxOFebKlIgA3KHN3fRd
  ._3Q-lCYrQuOslt990fq-rr6
  ._3ki5fNFYPN-mUpMWp_7yBc.ezwPo6nwskfStGExxxe2._3OeymkaW96P8-ADBuNVDju {
  border: 4px dotted #34f3fe;
}
._3K-BxOFebKlIgA3KHN3fRd
  ._3Q-lCYrQuOslt990fq-rr6
  ._3ki5fNFYPN-mUpMWp_7yBc.ezwPo6nwskfStGExxxe2
  ._3JxJmNw4L3TNLr0RgUvc-J.GDFSAsxyT5cjNE1qUDVjI,
._3K-BxOFebKlIgA3KHN3fRd
  ._3Q-lCYrQuOslt990fq-rr6
  ._3ki5fNFYPN-mUpMWp_7yBc.ezwPo6nwskfStGExxxe2
  .LkZ04ZMADGM3ycZyxP335.GDFSAsxyT5cjNE1qUDVjI {
  color: #34f3fe;
}
._3K-BxOFebKlIgA3KHN3fRd
  ._1GIOMMTrITyIDVa9Vjc6JE
  ._1op5IwtjH5Lq0XP38WK3LT._2j3GatBNdCKuNabv1m37Yq,
._3K-BxOFebKlIgA3KHN3fRd
  ._1GIOMMTrITyIDVa9Vjc6JE
  ._3m-Ki0zq5OMIcIZ41vG6wU.ezwPo6nwskfStGExxxe2._2j3GatBNdCKuNabv1m37Yq {
  background-color: #cc6670;
}
._3K-BxOFebKlIgA3KHN3fRd
  ._1GIOMMTrITyIDVa9Vjc6JE
  ._3ki5fNFYPN-mUpMWp_7yBc.ezwPo6nwskfStGExxxe2._3OeymkaW96P8-ADBuNVDju {
  border: 4px dotted #cc6670;
}
._3K-BxOFebKlIgA3KHN3fRd
  ._1GIOMMTrITyIDVa9Vjc6JE
  ._3ki5fNFYPN-mUpMWp_7yBc.ezwPo6nwskfStGExxxe2
  ._3JxJmNw4L3TNLr0RgUvc-J.GDFSAsxyT5cjNE1qUDVjI,
._3K-BxOFebKlIgA3KHN3fRd
  ._1GIOMMTrITyIDVa9Vjc6JE
  ._3ki5fNFYPN-mUpMWp_7yBc.ezwPo6nwskfStGExxxe2
  .LkZ04ZMADGM3ycZyxP335.GDFSAsxyT5cjNE1qUDVjI {
  color: #cc6670;
}
._3K-BxOFebKlIgA3KHN3fRd
  ._3U-IfPH0I8djRe2moFvzuF
  ._1op5IwtjH5Lq0XP38WK3LT._2j3GatBNdCKuNabv1m37Yq,
._3K-BxOFebKlIgA3KHN3fRd
  ._3U-IfPH0I8djRe2moFvzuF
  ._3m-Ki0zq5OMIcIZ41vG6wU.ezwPo6nwskfStGExxxe2._2j3GatBNdCKuNabv1m37Yq {
  background-color: #f4d760;
}
._3K-BxOFebKlIgA3KHN3fRd
  ._3U-IfPH0I8djRe2moFvzuF
  ._3ki5fNFYPN-mUpMWp_7yBc.ezwPo6nwskfStGExxxe2._3OeymkaW96P8-ADBuNVDju {
  border: 4px dotted #f4d760;
}
._3K-BxOFebKlIgA3KHN3fRd
  ._3U-IfPH0I8djRe2moFvzuF
  ._3ki5fNFYPN-mUpMWp_7yBc.ezwPo6nwskfStGExxxe2
  ._3JxJmNw4L3TNLr0RgUvc-J.GDFSAsxyT5cjNE1qUDVjI,
._3K-BxOFebKlIgA3KHN3fRd
  ._3U-IfPH0I8djRe2moFvzuF
  ._3ki5fNFYPN-mUpMWp_7yBc.ezwPo6nwskfStGExxxe2
  .LkZ04ZMADGM3ycZyxP335.GDFSAsxyT5cjNE1qUDVjI {
  color: #f4d760;
}
._1yRd48MGRuylzC44_4Dmgb {
  background-image:
    radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      rgba(211, 217, 32, 0.2274509804) 0%,
      rgba(211, 217, 32, 0.2274509804) 52.6%,
      rgba(211, 217, 32, 0.2274509804)
    ),
    url("/public/images/yearinreview/steam_logo_offset.png");
}
.mf6UTLxYSeiKkvIhlAodx {
  background: #01a2ab;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
.mf6UTLxYSeiKkvIhlAodx:hover {
  filter: brightness(110%);
  color: #fff;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT {
  background: linear-gradient(-23deg, black 0%, #003a3d 70%, #01787f 98%);
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT ._3gOcUL_xfcBkYU0g20TaXb {
  color: #01a2ab;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT ._3UwJLn8p1rV25mjYmzwrVA {
  color: #01a2ab;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT ._221R7vRZej1-5Itjx416tA {
  color: #01a2ab;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT ._18J6u_1IgoXwwOwNs17yBg {
  fill: #01a2ab;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT ._3bTOGmEBF0FW3IZn63KpR7 {
  color: #01a2ab;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT ._2zdVUZKCn5qRHBOk2Wvvhh {
  border-color: #01a2ab;
  border-radius: 2px;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT .Cop9oURErdKz-xnG00D19 {
  color: #f1f1f1;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT
  .Cop9oURErdKz-xnG00D19
  ._1yc5XlMVWWlXCsludrsGM8 {
  color: #cc6670;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT ._8vh-tS_EH62zvZbZzF6Bq {
  background: linear-gradient(135deg, #01a2ab 0%, #01a2ab 100%);
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 1px;
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT ._8vh-tS_EH62zvZbZzF6Bq:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #01a2ab 0%, #01a2ab 100%);
}
._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT ._1ImcGBhCVlOyWddPGdtGz9 {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  color: #f1f1f1;
  margin-bottom: 30px;
}
.BasicUI
  ._2vqAzxON4lE_16iKxhv8qT._2HmEzExHY4aeyBFI6MUXmT
  ._1ImcGBhCVlOyWddPGdtGz9 {
  font-size: 20px;
}
._3LrPDKdIcbQ34J2OlNHDXh {
  background: #01a2ab;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
._3LrPDKdIcbQ34J2OlNHDXh:hover {
  filter: brightness(110%);
  color: #fff;
}
@keyframes pim2eKmSTb2NQIYFR8-kO {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes _34ksdmLRP6M-DL55A02DbT {
  from {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes _1rk5lOTR37WlC5N5CRPD_3 {
  from {
    background: #3d4450;
    color: #8b929a;
  }
  to {
    background: #23262e;
    color: #fff;
  }
}
@keyframes _3fTyTKz8tIlcCsQ-iKdny7 {
  from {
    background: #23262e;
    color: #8b929a;
  }
  to {
    background: #383a41;
    color: #fff;
  }
}
@keyframes _1hxhmw8W2ifnYr2qLY4uPy {
  from {
    background: hsla(0, 0%, 100%, 0.25);
    color: #8b929a;
  }
  to {
    background: hsla(0, 0%, 100%, 0.15);
    color: #fff;
  }
}
@keyframes _3O7xVUyXHUO3jznnaVQkCj {
  from {
    background: #8b929a;
    color: #fff;
  }
  to {
    background: #67707b;
    color: #fff;
  }
}
@keyframes _3cPKti68OjsijubFhK8nJh {
  from {
    background: hsla(0, 0%, 100%, 0.3);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.1);
    color: #fff;
  }
}
@keyframes _2WYaf97De-ZJ0mFANrqtDV {
  from {
    background: hsla(0, 0%, 100%, 0.5);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
}
@keyframes _2WH9L3RX3P6NaqBc2WQPlc {
  from {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes _3YKGX14tVZ6u6O9dDCD9Sb {
  from {
    background: #c9ffc9;
    color: #8b929a;
  }
  to {
    background: #59bf40;
    color: #fff;
  }
}
@keyframes _16qKuIfVUjk7_3Q-w67mSd {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }
  100% {
    background-position: -180% 0%;
    opacity: 0.8;
  }
}
@keyframes _2uOutcDfkb2CPTKk4_5i7l {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}
._2s7mIvwS-3CubLZ0qh2JUW {
  background: radial-gradient(70% 100vh at 50% 50%, #0f1924 30%, #4e0020 77%);
  background-size: 100%;
  animation: _26thFVUdrVT5cwl3ZNo621 forwards;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Oi2hkZjaYSLMdFBa10fFW {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #a62858 0%,
    #8fb100 52.6%
  );
}
.Oi2hkZjaYSLMdFBa10fFW ._4dii7ZD-CzK6Hdr_1zFfz {
  background: linear-gradient(135deg, #a62858 0%, #8fb100 100%);
}
._1boQl7oW6GufFP0tCEqgPg {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #a62858 0%,
    #0f1924 52.6%,
    #887176
  );
}
._1boQl7oW6GufFP0tCEqgPg .Rb3f3N7xL755z9IQo1z3a {
  background-image: url("/public/images/yearinreview/streak_bg_large.webp");
  opacity: 0.1;
}
._3232l-2EN_vmaNNFhu8wYg {
  background-color: #fff;
}
._2oU8grgLlvrP-1kypqcmjG.ActiveTab {
  background-color: rgba(190, 240, 51, 0.34);
}
._3tdBf9Fq7kubW0eXl3uhhM {
  color: #e23477;
}
._1fViacRZXSttKAoUhRITId {
  color: #ceff00;
}
._2BWKGdK_xOyg1l3a2AgT4Z:nth-child(1) ._1NKomKIPmTDGyDrAtz-2d4 {
  background: radial-gradient(140% 150% at 70% 100%, #0f1924 10%, #4e0020 70%);
}
._2BWKGdK_xOyg1l3a2AgT4Z:nth-child(2) ._1NKomKIPmTDGyDrAtz-2d4 {
  background: radial-gradient(140% 150% at 70% 100%, #511f34 10%, #0f1924 70%);
}
._2BWKGdK_xOyg1l3a2AgT4Z:nth-child(3) ._1NKomKIPmTDGyDrAtz-2d4 {
  background: radial-gradient(140% 150% at 70% 100%, #511f34 10%, #0f1924 70%);
}
._2BWKGdK_xOyg1l3a2AgT4Z:nth-child(4) ._1NKomKIPmTDGyDrAtz-2d4,
._2BWKGdK_xOyg1l3a2AgT4Z:nth-child(5) ._1NKomKIPmTDGyDrAtz-2d4,
._2BWKGdK_xOyg1l3a2AgT4Z:nth-child(6) ._1NKomKIPmTDGyDrAtz-2d4 {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #a62858 10%,
    #887176 70%,
    #0f1924 120%
  );
}
._2BWKGdK_xOyg1l3a2AgT4Z:nth-child(4)
  ._1NKomKIPmTDGyDrAtz-2d4
  ._3wN5uwJqxQEIAmXkzKmCFm,
._2BWKGdK_xOyg1l3a2AgT4Z:nth-child(5)
  ._1NKomKIPmTDGyDrAtz-2d4
  ._3wN5uwJqxQEIAmXkzKmCFm,
._2BWKGdK_xOyg1l3a2AgT4Z:nth-child(6)
  ._1NKomKIPmTDGyDrAtz-2d4
  ._3wN5uwJqxQEIAmXkzKmCFm {
  mix-blend-mode: unset;
  opacity: 0.8;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 30%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 30%, rgba(0, 0, 0, 0) 75%);
}
._64HO5Fgwc4BRCG8pcDvno {
  background: #a62858;
}
.DFb2vstqM2m5UIqllW6-z ._2BWkMEocB_PWAlCNnvwkpW {
  display: block;
  filter: blur(160px);
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0.6;
}
.DFb2vstqM2m5UIqllW6-z._31GzI9SB2Wj87sB13c7XHz {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    black 10%,
    #0f1924 120%
  );
}
.DFb2vstqM2m5UIqllW6-z._283mQrlso9fruh_DtsBP18 {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    black 10%,
    #0f1924 120%
  );
}
._2PmC6qr8RF22oGrrTwa-Ai .DFb2vstqM2m5UIqllW6-z {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    black 10%,
    #0f1924 120%
  );
}
._3gAeRCR1lnQimVrfYKP6JD {
  background: #8fb100;
}
@keyframes _2kZoREa11DQ2pGPkasd9xs {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.TSAyulrl5QSSKjK1gTZdg {
  background: radial-gradient(#a62858 0%, #0f1924 40%);
  background-size: 300% 200%;
  background-position: 0% 0%;
  animation: _2kZoREa11DQ2pGPkasd9xs 15s ease infinite;
}
._3vxAkxTbGM_XzgF_jQu8MR {
  background: radial-gradient(
    125% 125% at -8% 50%,
    #a62858 10%,
    #1d000c 50%,
    #4e0020 100%
  );
}
._3vxAkxTbGM_XzgF_jQu8MR .CJ9awmTLX6bSz36NY4HT4 span {
  color: #ceff00;
}
._2vdLENzDQtBQjyAkyv9S_w path {
  fill: #a62858;
}
._3iBplwgmTqlW65lS36SzT2 path {
  fill: #a62858;
}
._3muGaWbeottcWdmhZBqB53 path {
  fill: #a62858;
}
._3g2ea3qJY6j67_cFF5Mgsq ._1LQbY-wdcf-dh-t3dkucGC._3aihmNXrhiBM33b7t7UKFC {
  background: linear-gradient(to right, #8fb100 0%, #a62858 90%);
}
._3g2ea3qJY6j67_cFF5Mgsq ._39lOiSYRWalnWaZ5SX3zhx div:nth-of-type(1) {
  background-color: #34f3fe;
}
._3g2ea3qJY6j67_cFF5Mgsq ._39lOiSYRWalnWaZ5SX3zhx div:nth-of-type(2) {
  background-color: #cc6670;
}
._3g2ea3qJY6j67_cFF5Mgsq ._39lOiSYRWalnWaZ5SX3zhx div:nth-of-type(3) {
  background-color: #f4d760;
}
._3g2ea3qJY6j67_cFF5Mgsq
  ._1sdItmmpaYbqIRLLUtrDrG
  ._3ajjJPkrXfayfPA3Vivx-8.A6FIZiuS0_nAypC7LbvhE,
._3g2ea3qJY6j67_cFF5Mgsq
  ._1sdItmmpaYbqIRLLUtrDrG
  ._1KHyWCx0wbs471k7TSRMAs._2c-eiPgDpepgIpD_jtHUzC.A6FIZiuS0_nAypC7LbvhE {
  background-color: #34f3fe;
}
._3g2ea3qJY6j67_cFF5Mgsq
  ._1sdItmmpaYbqIRLLUtrDrG
  ._1yhuxYer1QE_Vm8FfAmsIa._2c-eiPgDpepgIpD_jtHUzC._1SA7sXKMgETCa_JaP3B6C4 {
  border: 4px dotted #34f3fe;
}
._3g2ea3qJY6j67_cFF5Mgsq
  ._1sdItmmpaYbqIRLLUtrDrG
  ._1yhuxYer1QE_Vm8FfAmsIa._2c-eiPgDpepgIpD_jtHUzC
  ._1c_OSzoiESQi8VycwjySgq._2dH3sotPVHLbsosd0aSRFe,
._3g2ea3qJY6j67_cFF5Mgsq
  ._1sdItmmpaYbqIRLLUtrDrG
  ._1yhuxYer1QE_Vm8FfAmsIa._2c-eiPgDpepgIpD_jtHUzC
  .-_6lWC6tfX-A_YFsFXfOv._2dH3sotPVHLbsosd0aSRFe {
  color: #34f3fe;
}
._3g2ea3qJY6j67_cFF5Mgsq
  ._3or6GTplqe7LbAyXhO8n4E
  ._3ajjJPkrXfayfPA3Vivx-8.A6FIZiuS0_nAypC7LbvhE,
._3g2ea3qJY6j67_cFF5Mgsq
  ._3or6GTplqe7LbAyXhO8n4E
  ._1KHyWCx0wbs471k7TSRMAs._2c-eiPgDpepgIpD_jtHUzC.A6FIZiuS0_nAypC7LbvhE {
  background-color: #cc6670;
}
._3g2ea3qJY6j67_cFF5Mgsq
  ._3or6GTplqe7LbAyXhO8n4E
  ._1yhuxYer1QE_Vm8FfAmsIa._2c-eiPgDpepgIpD_jtHUzC._1SA7sXKMgETCa_JaP3B6C4 {
  border: 4px dotted #cc6670;
}
._3g2ea3qJY6j67_cFF5Mgsq
  ._3or6GTplqe7LbAyXhO8n4E
  ._1yhuxYer1QE_Vm8FfAmsIa._2c-eiPgDpepgIpD_jtHUzC
  ._1c_OSzoiESQi8VycwjySgq._2dH3sotPVHLbsosd0aSRFe,
._3g2ea3qJY6j67_cFF5Mgsq
  ._3or6GTplqe7LbAyXhO8n4E
  ._1yhuxYer1QE_Vm8FfAmsIa._2c-eiPgDpepgIpD_jtHUzC
  .-_6lWC6tfX-A_YFsFXfOv._2dH3sotPVHLbsosd0aSRFe {
  color: #cc6670;
}
._3g2ea3qJY6j67_cFF5Mgsq
  ._19DsdrAsV7SPTJTtHyxbx9
  ._3ajjJPkrXfayfPA3Vivx-8.A6FIZiuS0_nAypC7LbvhE,
._3g2ea3qJY6j67_cFF5Mgsq
  ._19DsdrAsV7SPTJTtHyxbx9
  ._1KHyWCx0wbs471k7TSRMAs._2c-eiPgDpepgIpD_jtHUzC.A6FIZiuS0_nAypC7LbvhE {
  background-color: #f4d760;
}
._3g2ea3qJY6j67_cFF5Mgsq
  ._19DsdrAsV7SPTJTtHyxbx9
  ._1yhuxYer1QE_Vm8FfAmsIa._2c-eiPgDpepgIpD_jtHUzC._1SA7sXKMgETCa_JaP3B6C4 {
  border: 4px dotted #f4d760;
}
._3g2ea3qJY6j67_cFF5Mgsq
  ._19DsdrAsV7SPTJTtHyxbx9
  ._1yhuxYer1QE_Vm8FfAmsIa._2c-eiPgDpepgIpD_jtHUzC
  ._1c_OSzoiESQi8VycwjySgq._2dH3sotPVHLbsosd0aSRFe,
._3g2ea3qJY6j67_cFF5Mgsq
  ._19DsdrAsV7SPTJTtHyxbx9
  ._1yhuxYer1QE_Vm8FfAmsIa._2c-eiPgDpepgIpD_jtHUzC
  .-_6lWC6tfX-A_YFsFXfOv._2dH3sotPVHLbsosd0aSRFe {
  color: #f4d760;
}
._2OdQZo0IGLXzoR4AUydRp3 {
  background-image:
    radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #e23477 0%,
      rgba(211, 217, 32, 0.2274509804) 52.6%,
      #8fb100
    ),
    url("/public/images/yearinreview/steam_logo_offset.png");
  background-blend-mode: multiply;
}
._1V87Pd_xyPBUjoW6T3yIYp {
  background: #a62858;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
  margin: 0 auto;
}
._1V87Pd_xyPBUjoW6T3yIYp:hover {
  filter: brightness(110%);
  color: #fff;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 {
  background: linear-gradient(-23deg, black 0%, #4e0020 70%, #71002f 98%);
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 ._2Mb9gJJAqkyW-uwgteM7bR {
  color: #e23477;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 ._2JtAZbKQCRYsuq8Grhj9D_ {
  color: #fff;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 .mpZwdryoa_9MxYXp1Qr8Q {
  color: #fff;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 ._3TL2UyEq_QwjQ1KvR0c_LW {
  fill: #e23477;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 ._2vAhvd0pJ4Bjao8aEg0lk0 {
  color: #8fb100;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 ._1zOzJvJn7vryT-8zfXh6h4 {
  border-color: #511f34;
  border-radius: 2px;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 ._3AqjU369Dul6eM24tTW4Ro {
  color: #f1f1f1;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13
  ._3AqjU369Dul6eM24tTW4Ro
  ._3C6Kgz1wyud6uRK9iRRtnZ {
  color: #ceff00;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 .g4FuYY6kNOhx6ps41n66o {
  background: linear-gradient(135deg, #511f34 0%, #a62858 100%);
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 1px;
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 .g4FuYY6kNOhx6ps41n66o:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #511f34 0%, #a62858 100%);
}
._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13 ._3ZFqletUdCzkvW-BpBfk0 {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  color: #f1f1f1;
  margin-bottom: 30px;
}
.BasicUI
  ._1rm7lp0POJnMfv_wJCmj51._3dXsGCw_Hqvycqp0ierI13
  ._3ZFqletUdCzkvW-BpBfk0 {
  font-size: 20px;
}
._3_I-YXo6WE2pSgpSqOe90G {
  background: #a62858;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
._3_I-YXo6WE2pSgpSqOe90G:hover {
  filter: brightness(110%);
  color: #fff;
}
