.JlFZxFyO0IOSiYmJt-NlE {
  margin-top: 42px;
  max-width: 688px;
}
._1SBP3NCWhesT_T7Zncoe_x {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px 6px;
}
._1SBP3NCWhesT_T7Zncoe_x a {
  cursor: pointer;
}
._1SBP3NCWhesT_T7Zncoe_x a:hover ._2p4QK5FnPikdfXUGvhz-rj {
  opacity: 1;
}
._1SBP3NCWhesT_T7Zncoe_x a .tool-tip-source {
  cursor: pointer;
}
._1SBP3NCWhesT_T7Zncoe_x ._2p4QK5FnPikdfXUGvhz-rj {
  width: 24px;
  height: auto;
  opacity: 0.6;
  fill: #fff;
}
._1pCGa1Dqa9xwEjXFCTbeaB {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
._1pCGa1Dqa9xwEjXFCTbeaB .V88BDse5RqlvrzYpxlgFS {
  position: relative;
  background: hsla(0, 0%, 100%, 0.3);
  color: #fff;
  border-radius: 3px;
  padding: 1px 6px;
  margin-bottom: 5px;
}
._1pCGa1Dqa9xwEjXFCTbeaB .V88BDse5RqlvrzYpxlgFS:after {
  right: 100%;
  top: 50%;
  border: solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: hsla(0, 0%, 100%, 0.3);
  border-width: 6px;
  margin-top: -6px;
}
._2ZSkHhlXwxpsIInroemxBn {
  margin-bottom: unset;
  margin-top: unset;
}
