.buttonBack___1mlaL,
.buttonFirst___2rhFr,
.buttonLast___2yuh0,
.buttonNext___2mOCa,
.buttonNext___3Lm3s,
.dot___3c3SI {
  cursor: pointer;
}
.image___xtQGH {
  display: block;
  width: 100%;
  height: 100%;
}
.spinner___27VUp {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  animation-name: spin___S3UuE;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: 4px solid #a9a9a9;
  border-top-color: #000;
  border-radius: 30px;
}
@keyframes spin___S3UuE {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.container___2O72F {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.overlay___IV4qY {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  cursor: zoom-in;
  transition:
    opacity 0.3s,
    transform 0.3s;
}
.hover___MYy31,
.loading___1pvNI,
.zoom___3kqYk {
  opacity: 1;
}
.imageLoadingSpinnerContainer___3UIPD {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
}
.slide___3-Nqo {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 0;
  margin: 0;
  list-style-type: none;
}
.slide___3-Nqo:focus {
  outline: none !important;
}
.slideHorizontal___1NzNV {
  float: left;
}
[dir="rtl"] .slideHorizontal___1NzNV {
  direction: rtl;
  transform: scaleX(-1);
}
.slideInner___2mfX9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.focusRing___1airF {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  pointer-events: none;
  outline-width: 5px;
  outline-style: solid;
  outline-color: Highlight;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  .focusRing___1airF {
    outline-style: auto;
    outline-color: -webkit-focus-ring-color;
  }
}
.horizontalSlider___281Ls {
  position: relative;
  overflow: hidden;
}
.horizontalSlider___281Ls:not(.touchDisabled___2qs4y) {
  touch-action: pan-y pinch-zoom;
}
[dir="rtl"] .horizontalSlider___281Ls {
  direction: ltr;
  transform: scaleX(-1);
}
.horizontalSliderTray___1L-0W {
  overflow: hidden;
  width: 100%;
}
.verticalSlider___34ZFD {
  position: relative;
  overflow: hidden;
}
.verticalSliderTray___267D8 {
  overflow: hidden;
}
.verticalTray___12Key {
  float: left;
}
.verticalSlideTrayWrap___2nO7o {
  overflow: hidden;
}
.sliderTray___-vHFQ {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sliderAnimation___300FY {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
}
.masterSpinnerContainer___1Z6hB {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
}
._1ot7iONiZzKf4TAHgPi3qY {
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
}
@media screen and (max-width: 1000px) {
  ._1ot7iONiZzKf4TAHgPi3qY {
    flex-direction: column;
    flex-grow: 1;
  }
}
._1ot7iONiZzKf4TAHgPi3qY.XXYx3DB0gLYbEuuCX_8Q7 {
  opacity: 0.4;
}
._1ot7iONiZzKf4TAHgPi3qY._13IEBrvx5g_lHE4QFLKYgW {
  visibility: hidden;
}
._1ot7iONiZzKf4TAHgPi3qY ._2jjPGobp_uYqLu7LCVWXx8 {
  font-size: 12px;
}
._1ot7iONiZzKf4TAHgPi3qY ._3ew7tsjPX6rYyFcWm_Ohz8 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6) var(--auto-advance-ratio),
    rgba(217, 217, 217, 0.0980392157) var(--auto-advance-ratio)
  );
  width: var(--auto-advance-bar-width, 300px);
  height: 3px;
  margin: 0 8px;
}
@media screen and (max-width: 1000px) {
  ._1ot7iONiZzKf4TAHgPi3qY ._3ew7tsjPX6rYyFcWm_Ohz8 {
    max-width: 300px;
    width: 100%;
  }
}
._1YFnAY801Coag4pbippyH6 {
  margin: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
._1YFnAY801Coag4pbippyH6 .DialogCheckbox_Container {
  margin-bottom: unset;
}
.Fy_-Cbz1CV38fntOKZ5Qo {
  opacity: 0.5;
}
.Fy_-Cbz1CV38fntOKZ5Qo:hover {
  opacity: 1;
}
@keyframes _25VCY5c_WxOmDf5rM9ytzl {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes _3Wd6R5ArXmgfz1dMwANtD7 {
  from {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes _2mepLvzcUGS8PS7_cO5A4C {
  from {
    background: #3d4450;
    color: #8b929a;
  }
  to {
    background: #23262e;
    color: #fff;
  }
}
@keyframes KiXqOP4sNGGqLzPFjAa3D {
  from {
    background: #23262e;
    color: #8b929a;
  }
  to {
    background: #383a41;
    color: #fff;
  }
}
@keyframes _3NRkgxBrOQc_fQX1HvTkk3 {
  from {
    background: hsla(0, 0%, 100%, 0.25);
    color: #8b929a;
  }
  to {
    background: hsla(0, 0%, 100%, 0.15);
    color: #fff;
  }
}
@keyframes SAxIC6YdDjzPzIqw_aS4s {
  from {
    background: #8b929a;
    color: #fff;
  }
  to {
    background: #67707b;
    color: #fff;
  }
}
@keyframes _-1Vlo_3w2uf9fF1-AU1F4 {
  from {
    background: hsla(0, 0%, 100%, 0.3);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.1);
    color: #fff;
  }
}
@keyframes _7B6-9HPzoer1QOmgjEAWS {
  from {
    background: hsla(0, 0%, 100%, 0.5);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
}
@keyframes GRKCpstf6SP8ly-oMKYX3 {
  from {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes _2cBvKmN3c2ILRdjHTpBZUQ {
  from {
    background: #c9ffc9;
    color: #8b929a;
  }
  to {
    background: #59bf40;
    color: #fff;
  }
}
@keyframes _3eJJYrpdNOdlU26_C9wlMp {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }
  100% {
    background-position: -180% 0%;
    opacity: 0.8;
  }
}
@keyframes BiWwdgbiMRC3pAc-R3rqS {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}
._13rGo4vexAbY9-CP7FsLOg {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none !important;
  display: flex;
  cursor: pointer;
  padding: 0px;
}
._13rGo4vexAbY9-CP7FsLOg:hover svg {
  opacity: 1;
}
._13rGo4vexAbY9-CP7FsLOg:disabled svg {
  opacity: 0.1;
  filter: none;
}
._13rGo4vexAbY9-CP7FsLOg svg {
  opacity: 0.7;
  transition:
    opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}
._3zfZ9tkIrSDZdSTv8mvZ3- {
  display: flex;
  z-index: 1;
  align-items: center;
  position: absolute;
  padding: 0px;
  width: 50px;
  top: 0px;
  bottom: 0px;
}
._3zfZ9tkIrSDZdSTv8mvZ3-.S8IHdovT5T2iEVg_97xve {
  inset-inline-start: -68px;
}
._3zfZ9tkIrSDZdSTv8mvZ3-.Cq59o5WQ49zTvvFY56QYS {
  inset-inline-end: -68px;
}
._3zfZ9tkIrSDZdSTv8mvZ3- svg {
  width: 50px;
  height: 50px;
}
.BasicUI ._3zfZ9tkIrSDZdSTv8mvZ3- {
  display: none;
}
._3a31O8XB_8lD-yov8FB9-9 {
  display: flex;
  flex-direction: column;
  position: relative;
}
._2M3SnYGvMvplWUC8yGhowo {
  position: relative;
}
.SaleSectionCarousel .carousel__slider {
  padding: 10px 0px;
  margin: -10px -7px 0px -7px;
}
html.responsive.touch .SaleSectionCarousel .carousel__slider {
  margin: 0;
}
@media screen and (max-width: 910px) {
  html.responsive .SaleSectionCarousel .carousel__slider {
    margin: 0;
  }
}
.BasicUI .SaleSectionCarousel .carousel__slider {
  padding: unset;
}
.BasicUI ._2VUpHDtxN8lR1LDahY_cI2 {
  column-gap: 12px;
  transform: none !important;
}
.fiveElementEightGap ._2VUpHDtxN8lR1LDahY_cI2 > * {
  margin-right: 8px;
}
.fiveElementEightGap ._2VUpHDtxN8lR1LDahY_cI2 > *:nth-child(5n + 1) {
  margin-right: 0px;
}
html.responsive.touch .fiveElementEightGap {
  gap: 4px;
}
@media screen and (max-width: 910px) {
  html.responsive .fiveElementEightGap {
    gap: 4px;
  }
}
._3HjnEmKg66o82ah74EIvmq {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 2px;
}
._3M0zxbf96I8oQlbNsHboy4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  min-height: 16px;
  --auto-advance-bar-width: 120px;
  background: rgba(0, 0, 0, 0.5);
}
.BasicUI ._3M0zxbf96I8oQlbNsHboy4 {
  display: none;
}
._3dMffY_iRZXHjZmXN9aLej {
  position: absolute;
  bottom: 39px;
  left: 0;
  width: 100%;
  max-height: 39px;
  margin-top: 0;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  z-index: 5;
}
._3dMffY_iRZXHjZmXN9aLej ._3Byg6Wc4TX36gkUptUIk72 {
  opacity: 1;
}
.LY1m24ODS7AFRuzclt0Sl {
  display: flex;
  flex-flow: row;
}
._3SyN-YtXsML6ado0q-Gdve {
  display: flex;
  flex-direction: row;
  height: 35px;
  margin: 2px 10px 0px 10px;
}
.BasicUI ._3SyN-YtXsML6ado0q-Gdve {
  display: none;
}
.contenthubmaincarousel ._3SyN-YtXsML6ado0q-Gdve {
  max-width: 940px;
  width: 100%;
  margin: 0px auto;
}
._3SyN-YtXsML6ado0q-Gdve .qE43Jfzl0qJX_a6XrMgSr {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
._3SyN-YtXsML6ado0q-Gdve .qE43Jfzl0qJX_a6XrMgSr.S8IHdovT5T2iEVg_97xve {
  padding-left: 0px;
  padding-right: 20px;
}
._3SyN-YtXsML6ado0q-Gdve .qE43Jfzl0qJX_a6XrMgSr svg {
  height: 30px;
}
._3SyN-YtXsML6ado0q-Gdve ._95I5gwXXMBghRg-4uNQLr {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
}
._3SyN-YtXsML6ado0q-Gdve ._95I5gwXXMBghRg-4uNQLr ._1cpdoEGU0uiIWbGIU_qMbZ {
  width: 100%;
  height: 100%;
}
._3SyN-YtXsML6ado0q-Gdve .EMd4F6A8qdMk-l6os415A {
  position: relative;
  flex-grow: 1;
  height: 100%;
}
._3SyN-YtXsML6ado0q-Gdve .EMd4F6A8qdMk-l6os415A .WUHeTNYGQDQQg_jQe-78W {
  position: absolute;
  left: 0px;
  top: 17px;
  bottom: 17px;
  right: 0px;
  background-color: hsla(0, 0%, 100%, 0.13);
  margin: auto 0;
}
._3SyN-YtXsML6ado0q-Gdve .EMd4F6A8qdMk-l6os415A .PQzkJfi8IxzjcFEDG-yv- {
  position: absolute;
  top: 16px;
  bottom: 16px;
  background-color: hsla(0, 0%, 100%, 0.35);
  transition: left right;
  transition-duration: 0.4s;
}
._3TKX37FakYHikXh3Wtg2BU {
  padding-top: 10px;
}
._3TKX37FakYHikXh3Wtg2BU ._3Byg6Wc4TX36gkUptUIk72 {
  width: 28px;
  height: 25px;
  position: relative;
}
._3TKX37FakYHikXh3Wtg2BU ._3Byg6Wc4TX36gkUptUIk72 ._1u4YJiW1cdufpC_wssM8Us {
  position: absolute;
  top: 3px;
  left: 0px;
  right: 0px;
  text-align: center;
}
._3Byg6Wc4TX36gkUptUIk72 {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none !important;
  cursor: pointer;
  width: 18px;
  height: 15px;
  opacity: 0.3;
  padding: 1px 2px;
  margin: 0px;
}
._3Byg6Wc4TX36gkUptUIk72 img {
  width: 100%;
  height: 100%;
}
._3Byg6Wc4TX36gkUptUIk72.carousel__dot--selected {
  opacity: 1;
}
._3Byg6Wc4TX36gkUptUIk72 {
  transition: opacity 0.2s;
}
._3Cc2bMRML2lEkSyi2IAZ9G .carousel__slide-focus-ring {
  outline: none;
}
._3J8-bW87K3pb8EpRNYq0JG {
  transition: none;
}
._1nUtBXgWizhgU1jv-8wVC7 {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}
._3LB60XV--dXt2yYQ6dF5aT {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
._3LB60XV--dXt2yYQ6dF5aT img {
  width: 20px;
  height: 20px;
}
._3LB60XV--dXt2yYQ6dF5aT._3NISN-t8MP65UYQ4p5bNgh {
  opacity: 1;
}
._2aMRbzoT83AkFGYSmCvnRe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  pointer-events: none;
  background: #000;
}
._2aMRbzoT83AkFGYSmCvnRe._23t3208XMavZer6IZIxzSb,
._2aMRbzoT83AkFGYSmCvnRe._2aYdrHuuHZHrhgAJh-eZX3 {
  transition: height 0.23s ease-in-out;
  height: auto;
  box-shadow:
    0 0 20px #000,
    0 0 20px #000;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
}
._2aMRbzoT83AkFGYSmCvnRe._2aYdrHuuHZHrhgAJh-eZX3 {
  width: calc(100% + 5px);
  left: -5px;
}
.lFDjxBzZuxTU3aIPVDTK5 {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
}
.lFDjxBzZuxTU3aIPVDTK5._1bvBq34Qcinx24SzYe-cEH {
  min-height: 700px;
}
@media screen and (max-width: 910px) {
  .lFDjxBzZuxTU3aIPVDTK5._1bvBq34Qcinx24SzYe-cEH {
    min-height: 300px;
  }
}
.GamepadMode .lFDjxBzZuxTU3aIPVDTK5._1bvBq34Qcinx24SzYe-cEH {
  min-height: 340px;
}
._3iF8zfmD6ZVhOc4gCHV7eD {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-bottom: 10px;
}
.PMgHw7SIUZWM8LLZTz-9k {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-family: "Motiva Sans", sans-serif;
  font-size: clamp(1rem, 1.75cqi, 1.5rem);
  font-weight: 600;
  color: #fff;
}
._2X_maIcXL1e31--7CCCsRO {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 910px) {
  ._2X_maIcXL1e31--7CCCsRO._2lv_iQqi0RKAjaIjB0AWtT {
    display: none;
  }
}
._2X_maIcXL1e31--7CCCsRO.hVyZPMMVUPDYy7m3l_xqD {
  display: none;
}
@media screen and (max-width: 910px) {
  ._2X_maIcXL1e31--7CCCsRO.hVyZPMMVUPDYy7m3l_xqD {
    display: flex;
  }
}
._2f_EIAuOVG5ZIzYb1sXJlw {
  display: inline-block;
  padding: 1px 16px;
  border-radius: 2px;
  background: #ccc;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}
._2f_EIAuOVG5ZIzYb1sXJlw:hover {
  background: #fff;
  color: #000;
}
@media screen and (max-width: 500px) {
  ._2f_EIAuOVG5ZIzYb1sXJlw {
    font-size: 12px;
  }
}
@media (forced-colors: active) {
  ._2f_EIAuOVG5ZIzYb1sXJlw {
    background: ButtonFace;
    border: 1px solid ButtonBorder;
  }
}
._3G4EMTjmvFRdxddZE0RnU_ {
  padding: 48px 21px;
  background: var(--multi-color-bg-gradient-2);
  text-align: center;
  font-size: 15px;
  color: #8f98a0;
}
.GamepadMode ._3G4EMTjmvFRdxddZE0RnU_ {
  background: none;
}
.h3XQjMcbeK9lnR6q53EsI .carousel__slider {
  background: var(--multi-color-bg-gradient-2);
}
.h3XQjMcbeK9lnR6q53EsI.WY4yR7C4Ba-5pFJSNEdUk {
  padding: 18px 21px;
  background: var(--multi-color-bg-gradient-2);
}
.h3XQjMcbeK9lnR6q53EsI.WY4yR7C4Ba-5pFJSNEdUk ._14LO-skSyf__YkJybhT_cx {
  flex: 0 0 auto;
  width: 225px;
  max-width: 225px;
  gap: 12px;
}
.GamepadMode .h3XQjMcbeK9lnR6q53EsI.WY4yR7C4Ba-5pFJSNEdUk {
  padding: 4px 0 0;
  background: none;
}
.GamepadMode
  .h3XQjMcbeK9lnR6q53EsI.WY4yR7C4Ba-5pFJSNEdUk
  ._14LO-skSyf__YkJybhT_cx {
  width: var(--gpWidth-3colcap);
  min-width: var(--gpWidth-3colcap);
  max-width: none;
  aspect-ratio: auto;
  height: calc(2 * var(--gpWidth-3colcap) * 0.4673913043 + 2 * 44px + 12px);
}
@media screen and (min-width: 1280px) {
  .GamepadMode
    .h3XQjMcbeK9lnR6q53EsI.WY4yR7C4Ba-5pFJSNEdUk
    ._14LO-skSyf__YkJybhT_cx {
    width: var(--gpWidth-4colcap);
    min-width: var(--gpWidth-4colcap);
    max-width: none;
    aspect-ratio: auto;
    height: calc(2 * var(--gpWidth-4colcap) * 0.4673913043 + 2 * 44px + 12px);
  }
}
@media screen and (min-width: 1920px) {
  .GamepadMode
    .h3XQjMcbeK9lnR6q53EsI.WY4yR7C4Ba-5pFJSNEdUk
    ._14LO-skSyf__YkJybhT_cx {
    width: var(--gpWidth-5colcap);
    min-width: var(--gpWidth-5colcap);
    max-width: none;
    aspect-ratio: auto;
    height: calc(2 * var(--gpWidth-5colcap) * 0.4673913043 + 2 * 44px + 12px);
  }
}
._3gVAXLzTzt5xCjFA1_c9rn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 18px 21px;
  transition: opacity 100ms;
}
@media screen and (max-width: 910px) {
  ._3gVAXLzTzt5xCjFA1_c9rn {
    grid-template-columns: repeat(3, minmax(0, 225px));
  }
}
._14LO-skSyf__YkJybhT_cx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5%;
  min-width: 0;
  min-height: 0;
  aspect-ratio: 0.7760180995;
}
._14LO-skSyf__YkJybhT_cx.G3-gajXyBqVPe_dLxcra1 {
  justify-content: stretch;
}
._1gsW0WuP7ZclL1_ScZlsvo {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  color: #fff;
}
._1gsW0WuP7ZclL1_ScZlsvo._1rLVMySkVo7KY7BspVQpxm {
  flex: 1 1 auto;
}
._1gsW0WuP7ZclL1_ScZlsvo._1rLVMySkVo7KY7BspVQpxm .euMu4YQ01S0SrXGZD3sSh {
  flex: 1 1 auto;
}
._1gsW0WuP7ZclL1_ScZlsvo._1rLVMySkVo7KY7BspVQpxm ._1-29ksrfQaORRCqN2AVf06 {
  flex: 0 0 auto;
}
._1gsW0WuP7ZclL1_ScZlsvo._2Krn_hSFPsQV65KD-NO15- .euMu4YQ01S0SrXGZD3sSh {
  aspect-ratio: 2.1395348837;
}
._1gsW0WuP7ZclL1_ScZlsvo._2j75F6fqx57q6RLx94e7KU .znNVIhFP6KdJlUS2p2B7q {
  background: var(--multi-color-bg-gradient-3);
}
._1gsW0WuP7ZclL1_ScZlsvo._32cspHTgNb5rYPZCHPVTXR {
  z-index: 3;
}
._1gsW0WuP7ZclL1_ScZlsvo._32cspHTgNb5rYPZCHPVTXR ._25rFony2doWngaEeNrbITF,
._1gsW0WuP7ZclL1_ScZlsvo._32cspHTgNb5rYPZCHPVTXR .znNVIhFP6KdJlUS2p2B7q {
  opacity: 0;
}
@media (forced-colors: active) {
  ._1gsW0WuP7ZclL1_ScZlsvo {
    background: Canvas;
    border: 1px solid ButtonBorder;
  }
}
._1gsW0WuP7ZclL1_ScZlsvo ._229f53fK_tl7R6wqc-g2bq {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}
._1gsW0WuP7ZclL1_ScZlsvo ._2V8zu-797jsZm1qtHNFXhS {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  color: inherit;
  text-decoration: none;
}
._1gsW0WuP7ZclL1_ScZlsvo .euMu4YQ01S0SrXGZD3sSh {
  position: relative;
  overflow: hidden;
  min-height: 0;
}
._1gsW0WuP7ZclL1_ScZlsvo ._25rFony2doWngaEeNrbITF {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}
._1gsW0WuP7ZclL1_ScZlsvo .znNVIhFP6KdJlUS2p2B7q {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  padding: 3px 8px;
  background: var(--multi-color-bg-gradient-5);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  font-size: clamp(11px, 1.2cqi, 14px);
  font-weight: 500;
  transition: opacity 0.6s;
}
._1gsW0WuP7ZclL1_ScZlsvo ._1-29ksrfQaORRCqN2AVf06 {
  display: flex;
  justify-content: flex-end;
  min-height: 36px;
  color: #99d4ff;
}
._1gsW0WuP7ZclL1_ScZlsvo ._2wlqkq-0fkggDE-Kll8Rwd {
  display: flex;
  align-items: center;
  padding: 0 5px;
  background: rgba(76, 107, 34, 0.5);
  color: #beee11;
  font-size: 26px;
  font-weight: 500;
  line-height: 34px;
}
._1gsW0WuP7ZclL1_ScZlsvo ._3KFNh7n6I49ARX6I0oXdel {
  display: flex;
  align-items: center;
  padding: 0 8px;
  color: #fff;
  font-size: 15px;
}
