._1DsumfIa3MlkzUV9EXY5W9 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  margin-inline-start: 4px;
  flex-shrink: 0;
}
._1DsumfIa3MlkzUV9EXY5W9 ._2n0EiKMGRP-r_BI5tDtttu {
  font-size: 6px;
}
.GamepadMode ._1DsumfIa3MlkzUV9EXY5W9 ._2n0EiKMGRP-r_BI5tDtttu {
  font-size: 8px;
  font-weight: bold;
}
._1DsumfIa3MlkzUV9EXY5W9 ._2n0EiKMGRP-r_BI5tDtttu {
  animation-name: T3Fb5KTXwIHM2B-ThTvEs;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
._1DsumfIa3MlkzUV9EXY5W9._1iYPlsChibPe7Ga9B3c5Wm ._2n0EiKMGRP-r_BI5tDtttu {
  font-size: 8px;
}
._1DsumfIa3MlkzUV9EXY5W9._3BESV4eFnr4EnaSaJSdk6T ._2n0EiKMGRP-r_BI5tDtttu {
  font-size: 14px;
  font-weight: 500;
  text-shadow:
    -1px -1px 4px #000,
    1px -1px 4px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000;
}
._1DsumfIa3MlkzUV9EXY5W9.rpZ9bKyFXYvNQvgtKn5GV ._2n0EiKMGRP-r_BI5tDtttu {
  filter: brightness(0.75);
}
._1DsumfIa3MlkzUV9EXY5W9 ._2hnF3M_l4xdIdQ4CkN7LYB {
  animation-delay: 0s;
  margin-top: 0px;
  z-index: 1;
}
._1DsumfIa3MlkzUV9EXY5W9 .VmQTOrz5MPOWte5C9K7YS {
  animation-delay: 0.2s;
  margin-top: 2px;
  z-index: 2;
}
._1DsumfIa3MlkzUV9EXY5W9 ._29mtadjX8N6pRn5TX1nA0o {
  animation-delay: 0.4s;
  margin-top: 4px;
  z-index: 3;
}
._1DsumfIa3MlkzUV9EXY5W9.online ._2n0EiKMGRP-r_BI5tDtttu {
  color: #4c91ac;
}
.GamepadMode ._1DsumfIa3MlkzUV9EXY5W9.online ._2n0EiKMGRP-r_BI5tDtttu {
  color: #4cb4ff;
}
._1DsumfIa3MlkzUV9EXY5W9.watchingbroadcast ._2n0EiKMGRP-r_BI5tDtttu {
  color: #c9bdf7;
}
.GamepadMode
  ._1DsumfIa3MlkzUV9EXY5W9.watchingbroadcast
  ._2n0EiKMGRP-r_BI5tDtttu {
  color: #5340a6;
}
._1DsumfIa3MlkzUV9EXY5W9.in-game ._2n0EiKMGRP-r_BI5tDtttu {
  color: #91c257;
}
.GamepadMode ._1DsumfIa3MlkzUV9EXY5W9.in-game ._2n0EiKMGRP-r_BI5tDtttu {
  color: #3e862d;
}
._1DsumfIa3MlkzUV9EXY5W9.online.rpZ9bKyFXYvNQvgtKn5GV ._2n0EiKMGRP-r_BI5tDtttu {
  color: #6dcff6;
}
.GamepadMode
  ._1DsumfIa3MlkzUV9EXY5W9.online.rpZ9bKyFXYvNQvgtKn5GV
  ._2n0EiKMGRP-r_BI5tDtttu {
  color: #4cb4ff;
}
._1DsumfIa3MlkzUV9EXY5W9.in-game.rpZ9bKyFXYvNQvgtKn5GV
  ._2n0EiKMGRP-r_BI5tDtttu {
  color: #a1f410;
}
.GamepadMode
  ._1DsumfIa3MlkzUV9EXY5W9.in-game.rpZ9bKyFXYvNQvgtKn5GV
  ._2n0EiKMGRP-r_BI5tDtttu {
  color: #3e862d;
}
.friend.gpfocus ._2n0EiKMGRP-r_BI5tDtttu,
._3-8cByP2koYzHwgZqjvFA.gpfocus ._2n0EiKMGRP-r_BI5tDtttu,
._1DsumfIa3MlkzUV9EXY5W9._2rXc7hLg6bohWZ-JpRcYEB ._2n0EiKMGRP-r_BI5tDtttu,
._3-8cByP2koYzHwgZqjvFA:hover * ._2n0EiKMGRP-r_BI5tDtttu {
  animation-name: _38wIVgo1WjvGqL5ZsmpmiX;
}
@keyframes _38wIVgo1WjvGqL5ZsmpmiX {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes _3EMAF_7GAyPW8G7OSt8s0z {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes _3fWOpZpfDmwOCKEdw8xcqf {
  from {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes _2Tvf1f8cUg1eYlQg027B3W {
  from {
    background: #3d4450;
    color: #8b929a;
  }
  to {
    background: #23262e;
    color: #fff;
  }
}
@keyframes _1tKhhjTYPWAz5_eQe91O1A {
  from {
    background: #23262e;
    color: #8b929a;
  }
  to {
    background: #383a41;
    color: #fff;
  }
}
@keyframes _1l7IyrCH5ez4PBO7R4h8RT {
  from {
    background: hsla(0, 0%, 100%, 0.25);
    color: #8b929a;
  }
  to {
    background: hsla(0, 0%, 100%, 0.15);
    color: #fff;
  }
}
@keyframes _3X7_M9NEYzjKEgQRMQevkQ {
  from {
    background: #8b929a;
    color: #fff;
  }
  to {
    background: #67707b;
    color: #fff;
  }
}
@keyframes _3YCxpOEfjLuLbB1hut87fZ {
  from {
    background: hsla(0, 0%, 100%, 0.3);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.1);
    color: #fff;
  }
}
@keyframes _2kvhksXgWA4vxGz5Oy1tV1 {
  from {
    background: hsla(0, 0%, 100%, 0.5);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
}
@keyframes _3N1wGZIJ5QySTBWgyBavuM {
  from {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes Vgab6fHUHvZ-iWKRJwy8h {
  from {
    background: #c9ffc9;
    color: #8b929a;
  }
  to {
    background: #59bf40;
    color: #fff;
  }
}
@keyframes GvE_FaPqTf1D0HASx1C_0 {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }
  100% {
    background-position: -180% 0%;
    opacity: 0.8;
  }
}
@keyframes _88lGefJsUDJUpRFJ3pUq7 {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.KxAI_M9gWx3OnKSshHOs6 {
  width: 16px;
  height: 16px;
  margin-top: -1px;
  margin-left: 2px;
}
.GamepadMode .KxAI_M9gWx3OnKSshHOs6 {
  margin-top: 0;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.KxAI_M9gWx3OnKSshHOs6._1iRFj5lJrMqMnRb3GZYPSw {
  margin-top: -2px;
  margin-left: -1px;
}
.GamepadMode .KxAI_M9gWx3OnKSshHOs6._1iRFj5lJrMqMnRb3GZYPSw {
  margin-top: -4px;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BasicUI .KxAI_M9gWx3OnKSshHOs6._1iRFj5lJrMqMnRb3GZYPSw {
  display: block;
}
.KxAI_M9gWx3OnKSshHOs6._2oLqcfqHHKKAK0WfzjXMg_ {
  margin-left: 4px;
}
.KxAI_M9gWx3OnKSshHOs6._368tz9TSOLGiG2mNMLScMz {
  margin-top: -1px;
}
.KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_SteamDeck path,
.KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_VRIcon path,
.KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_MobilePhone path,
.KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_BigPicture path {
  fill: #80aa4d;
}
.GamepadMode .KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_SteamDeck path,
.GamepadMode .KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_VRIcon path,
.GamepadMode .KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_MobilePhone path,
.GamepadMode .KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_BigPicture path {
  fill: #59bf40;
}
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_SteamDeck path,
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_VRIcon path,
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_MobilePhone path,
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_BigPicture path {
  fill: #4c91ac;
}
.GamepadMode .KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_SteamDeck path,
.GamepadMode .KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_VRIcon path,
.GamepadMode .KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_MobilePhone path,
.GamepadMode .KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_BigPicture path {
  fill: #4cb4ff;
}
@keyframes _2hlRK2hm0pHy1YSxwknFCj {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes _3Ye-Lgym31_-ibnmbFywrn {
  from {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes _1klcEk0V0JFATe7imIRZ1C {
  from {
    background: #3d4450;
    color: #8b929a;
  }
  to {
    background: #23262e;
    color: #fff;
  }
}
@keyframes _1o29CI_yDNVtgTV1cxDqGZ {
  from {
    background: #23262e;
    color: #8b929a;
  }
  to {
    background: #383a41;
    color: #fff;
  }
}
@keyframes _2BtPOA0wSbFULgc-Zh-0_x {
  from {
    background: hsla(0, 0%, 100%, 0.25);
    color: #8b929a;
  }
  to {
    background: hsla(0, 0%, 100%, 0.15);
    color: #fff;
  }
}
@keyframes _24LF-yODOtVFSuejuQ_xu2 {
  from {
    background: #8b929a;
    color: #fff;
  }
  to {
    background: #67707b;
    color: #fff;
  }
}
@keyframes uTNXVgYo8JPxZgJyTl9LQ {
  from {
    background: hsla(0, 0%, 100%, 0.3);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.1);
    color: #fff;
  }
}
@keyframes ItJlj151fY2eNJEBeWVOA {
  from {
    background: hsla(0, 0%, 100%, 0.5);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
}
@keyframes _2blFzc6unV1uJG63OhTkyP {
  from {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes _3CaU0PXdB2ThLG-Q0foVrK {
  from {
    background: #c9ffc9;
    color: #8b929a;
  }
  to {
    background: #59bf40;
    color: #fff;
  }
}
@keyframes _1EZdMwnQzoxjAOoFpXHuZ_ {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }
  100% {
    background-position: -180% 0%;
    opacity: 0.8;
  }
}
@keyframes kfeP_UGfxsZwzWvFD4ytm {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}
._4ZTzGZ5TTgFyfw1DcXLXS {
  display: flex;
}
._4ZTzGZ5TTgFyfw1DcXLXS._1oYSXGjBe7QctQ1ikLpCMm {
  margin-top: -2px;
}
.GamepadMode ._4ZTzGZ5TTgFyfw1DcXLXS {
  align-items: center;
}
.GamepadMode ._4ZTzGZ5TTgFyfw1DcXLXS._1oYSXGjBe7QctQ1ikLpCMm {
  margin-top: 0;
}
.VTxPkslK1CSpKNFMgKg7d ._2Ri005Wg_uXDTa71kdRbcN {
  color: rgba(195, 74, 72, 0.75);
}
.nOdcT-MoOaXGePXLyPe0H,
._2saJTAocZ9TnYXTGvnqUMC {
  flex: 1;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: 14px;
  transition: text-overflow 0s linear;
}
.GamepadMode .nOdcT-MoOaXGePXLyPe0H,
.GamepadMode ._2saJTAocZ9TnYXTGvnqUMC {
  font-family: "Motiva Sans", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-align: start;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  letter-spacing: 0px;
  color: #fff;
  font-size: 15px;
}
.BasicUI .nOdcT-MoOaXGePXLyPe0H,
.BasicUI ._2saJTAocZ9TnYXTGvnqUMC {
  text-overflow: ellipsis;
}
.nOdcT-MoOaXGePXLyPe0H._1valFgvEGxquAi_2IrAKqO,
._2saJTAocZ9TnYXTGvnqUMC._1valFgvEGxquAi_2IrAKqO {
  text-overflow: ellipsis;
}
._3oDmKGyTBBm7i4DULjwYcC .nOdcT-MoOaXGePXLyPe0H,
._3oDmKGyTBBm7i4DULjwYcC ._2saJTAocZ9TnYXTGvnqUMC {
  color: inherit;
}
.GamepadMode ._2saJTAocZ9TnYXTGvnqUMC {
  color: #67707b;
}
._2saJTAocZ9TnYXTGvnqUMC {
  padding-inline-start: 5px;
  color: #666;
}
._3oDmKGyTBBm7i4DULjwYcC ._2saJTAocZ9TnYXTGvnqUMC {
  color: inherit;
}
.nOdcT-MoOaXGePXLyPe0H {
  --mask-direction: right;
}
.nOdcT-MoOaXGePXLyPe0H:dir(rtl) {
  --mask-direction: left;
}
.nOdcT-MoOaXGePXLyPe0H {
  -webkit-mask: linear-gradient(
    to var(--mask-direction),
    rgb(0, 0, 0) calc(100% - 6px),
    rgba(0, 0, 0, 0.15) 100%
  );
  mask: linear-gradient(
    to to var(--mask-direction),
    rgb(0, 0, 0) calc(100% - 6px),
    rgba(0, 0, 0, 0.15) 100%
  );
  flex: initial;
  padding-inline-end: 6px;
  margin-inline-end: -6px;
}
.GamepadMode .nOdcT-MoOaXGePXLyPe0H {
  -webkit-mask: none;
  mask: none;
  padding-inline-end: 2px;
  margin-inline-end: 0px;
}
._3XEmWmfQy7gbYJ4KJ1N9tp {
  color: #999;
  font-size: 18px;
  display: inline-block;
  margin-inline-start: 1px;
  opacity: 0.5;
  line-height: 16px;
}
._3sxE7F1LV2IcSX68YsH9dI {
  display: flex;
  flex-direction: column;
}
.GamepadMode
  ._3sxE7F1LV2IcSX68YsH9dI
  ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN._1oYSXGjBe7QctQ1ikLpCMm {
  line-height: 15px;
  margin-top: -2px;
}
.FriendPicker_Suggestions ._3sxE7F1LV2IcSX68YsH9dI {
  display: none;
}
._2Ri005Wg_uXDTa71kdRbcN {
  display: flex;
  flex-direction: row;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  margin-top: -1px;
  --mask-direction: right;
}
._2Ri005Wg_uXDTa71kdRbcN:dir(rtl) {
  --mask-direction: left;
}
._2Ri005Wg_uXDTa71kdRbcN {
  -webkit-mask: linear-gradient(
    to to var(--mask-direction),
    rgb(0, 0, 0) calc(100% - 8px),
    rgba(0, 0, 0, 0.15) 100%
  );
  mask: linear-gradient(
    to to var(--mask-direction),
    rgb(0, 0, 0) calc(100% - 8px),
    rgba(0, 0, 0, 0.15) 100%
  );
  padding-inline-end: 24px;
}
._2Ri005Wg_uXDTa71kdRbcN._3tEPYJ6xjX0d6akU-hhrs4 {
  padding-inline-end: 0px;
}
.BasicUI ._2Ri005Wg_uXDTa71kdRbcN {
  display: block;
  text-overflow: ellipsis;
}
._2dAj6KfWRAxoYPr6tgXd6t ._2Ri005Wg_uXDTa71kdRbcN {
  -webkit-mask-image: none;
  mask-image: none;
}
._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
  line-height: 18px;
  font-size: 12px;
}
.GamepadMode ._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
  line-height: 15px;
  height: 20px;
}
.GamepadMode
  .RecentMessagesTabList.FriendsListTabPanel
  ._1BbOegz8bYL7iPzgYpOgQI
  ._4ZTzGZ5TTgFyfw1DcXLXS {
  align-items: center;
  margin-top: -2px;
  margin-bottom: 1px;
}
.GamepadMode
  .RecentMessagesTabList.FriendsListTabPanel
  ._1BbOegz8bYL7iPzgYpOgQI
  ._2Ri005Wg_uXDTa71kdRbcN {
  height: 25px;
}
._3IswZMeeD6ORStUjgv6Xh8 {
  width: 12px;
  height: 12px;
  margin-top: -3px;
  margin-inline-start: 3px;
}
._3BnDsXrefFJrt_8frF2wvB {
  font-weight: 800;
}
.ingame .nOdcT-MoOaXGePXLyPe0H {
  color: #e3ffc2;
}
.GamepadMode .ingame .nOdcT-MoOaXGePXLyPe0H {
  font-family: "Motiva Sans", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-align: start;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  letter-spacing: 0px;
  color: #fff;
  color: #c2ffb3;
  font-weight: 400;
}
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited,
.ingame._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
  color: #91c257;
}
.GamepadMode .ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN,
.GamepadMode .ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.GamepadMode .ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.GamepadMode .ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.GamepadMode .ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited,
.GamepadMode .ingame._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
  color: #59bf40;
}
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 12px;
}
.GamepadMode .ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
  font-family: "Motiva Sans", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-align: start;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  letter-spacing: 0px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  color: #59bf40;
}
.VoiceChannelParticipants .ingame .nOdcT-MoOaXGePXLyPe0H {
  font-size: 11px;
  margin-bottom: -2px;
  margin-top: -2px;
}
.VoiceChannelParticipants
  .ingame
  ._1BbOegz8bYL7iPzgYpOgQI
  .nOdcT-MoOaXGePXLyPe0H {
  font-size: 14px;
  margin-top: 0px;
}
.VoiceChannelParticipants .ingame ._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 10px;
  margin-top: -6px;
  margin-bottom: 3px;
}
.VoiceChannelParticipants
  .ingame
  ._1BbOegz8bYL7iPzgYpOgQI
  ._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 12px;
  margin-top: 0px;
}
.ingame.awayOrSnooze ._2Ri005Wg_uXDTa71kdRbcN,
.ingame ._2Ri005Wg_uXDTa71kdRbcN,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a:hover,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a:active,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a:visited {
  color: #62813b;
}
.GamepadMode .ingame.awayOrSnooze ._2Ri005Wg_uXDTa71kdRbcN,
.GamepadMode .ingame ._2Ri005Wg_uXDTa71kdRbcN,
.GamepadMode .ingame ._2Ri005Wg_uXDTa71kdRbcN a,
.GamepadMode .ingame ._2Ri005Wg_uXDTa71kdRbcN a:hover,
.GamepadMode .ingame ._2Ri005Wg_uXDTa71kdRbcN a:active,
.GamepadMode .ingame ._2Ri005Wg_uXDTa71kdRbcN a:visited {
  color: #3e862d;
}
.ingame .SVGIcon_DoNotDisturb circle,
.ingame .SVGIcon_DoNotDisturb line {
  stroke: #cf7f67;
}
.GamepadMode .friend.gpfocus .labelHolder .nOdcT-MoOaXGePXLyPe0H,
.GamepadMode .friend.gpfocus .labelHolder ._2Ri005Wg_uXDTa71kdRbcN,
.GamepadMode .favoriteElement.gpfocus .labelHolder .nOdcT-MoOaXGePXLyPe0H,
.GamepadMode .favoriteElement.gpfocus .labelHolder ._2Ri005Wg_uXDTa71kdRbcN {
  text-shadow: 1px 1px 0 #0e141b;
}
.GamepadMode .friend.gpfocus .labelHolder.offline ._2Ri005Wg_uXDTa71kdRbcN,
.GamepadMode
  .favoriteElement.gpfocus
  .labelHolder.offline
  ._2Ri005Wg_uXDTa71kdRbcN {
  color: #8b929a;
  text-shadow: 1px 1px 0 #0e141b;
}
.GamepadMode
  .friend.gpfocus
  .labelHolder.online.awayOrSnooze
  .nOdcT-MoOaXGePXLyPe0H,
.GamepadMode
  .friend.gpfocus
  .labelHolder.online.awayOrSnooze
  ._2Ri005Wg_uXDTa71kdRbcN,
.GamepadMode
  .favoriteElement.gpfocus
  .labelHolder.online.awayOrSnooze
  .nOdcT-MoOaXGePXLyPe0H,
.GamepadMode
  .favoriteElement.gpfocus
  .labelHolder.online.awayOrSnooze
  ._2Ri005Wg_uXDTa71kdRbcN {
  color: #4cb4ff;
  text-shadow: 1px 1px 0 #0e141b;
}
.GamepadMode
  .friend.gpfocus
  .labelHolder.ingame.awayOrSnooze
  .nOdcT-MoOaXGePXLyPe0H,
.GamepadMode .friend.gpfocus .labelHolder.ingame ._2Ri005Wg_uXDTa71kdRbcN,
.GamepadMode
  .favoriteElement.gpfocus
  .labelHolder.ingame.awayOrSnooze
  .nOdcT-MoOaXGePXLyPe0H,
.GamepadMode
  .favoriteElement.gpfocus
  .labelHolder.ingame
  ._2Ri005Wg_uXDTa71kdRbcN {
  color: #59bf40;
  text-shadow: 1px 1px 0 #0e141b;
}
.GamepadMode .awayOrSnooze .nOdcT-MoOaXGePXLyPe0H {
  color: #59bf40;
}
.watchingbroadcast .nOdcT-MoOaXGePXLyPe0H {
  color: #c9bdf7;
}
.watchingbroadcast ._2Ri005Wg_uXDTa71kdRbcN,
.watchingbroadcast ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.watchingbroadcast ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.watchingbroadcast ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.watchingbroadcast ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited {
  color: #8277b1;
}
.GamepadMode .awayOrSnooze.online .nOdcT-MoOaXGePXLyPe0H {
  color: #4cb4ff;
}
.GamepadMode .awayOrSnooze.online ._2Ri005Wg_uXDTa71kdRbcN,
.GamepadMode
  .awayOrSnooze.online
  ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN
  a,
.GamepadMode
  .awayOrSnooze.online
  ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN
  a:hover,
.GamepadMode
  .awayOrSnooze.online
  ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN
  a:active,
.GamepadMode
  .awayOrSnooze.online
  ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN
  a:visited {
  color: #4cb4ff;
}
.online .nOdcT-MoOaXGePXLyPe0H {
  color: #ccccd5;
  color: #6dcff6;
}
.GamepadMode .online .nOdcT-MoOaXGePXLyPe0H {
  color: #b3dfff;
}
.online ._2Ri005Wg_uXDTa71kdRbcN,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited {
  color: #4c91ac;
}
.GamepadMode .online ._2Ri005Wg_uXDTa71kdRbcN,
.GamepadMode .online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.GamepadMode .online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.GamepadMode .online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.GamepadMode
  .online
  ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN
  a:visited {
  color: #4cb4ff;
}
.online .SVGIcon_DoNotDisturb circle,
.online .SVGIcon_DoNotDisturb line {
  stroke: #a0545a;
}
.offline .nOdcT-MoOaXGePXLyPe0H {
  color: #a0a0a0;
}
.GamepadMode .offline .nOdcT-MoOaXGePXLyPe0H {
  color: #b8bcbf;
}
.offline ._2Ri005Wg_uXDTa71kdRbcN,
.offline ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.offline ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.offline ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.offline ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited {
  color: #6e6e6e;
}
.offline .SVGIcon_DoNotDisturb circle,
.offline .SVGIcon_DoNotDisturb line {
  stroke: #cf7f67;
}
.offline ._3IswZMeeD6ORStUjgv6Xh8 {
  display: none;
}
.FriendVoiceChatContainer .nOdcT-MoOaXGePXLyPe0H {
  font-size: 20px;
  line-height: 24px;
  width: 100%;
}
._3ZJkOzmqed_i-p74uF3hus ._4ZTzGZ5TTgFyfw1DcXLXS {
  height: 100%;
  align-items: center;
  margin-top: 0px;
}
._3bbRZyUiK-bfc5Qov6xukI._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 10px;
  margin-top: 1px;
}
._3bbRZyUiK-bfc5Qov6xukI ._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 10px;
  line-height: 11px;
}
._3bbRZyUiK-bfc5Qov6xukI
  .ingame
  ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 10px;
  line-height: 14px;
}
._3bbRZyUiK-bfc5Qov6xukI .speaking .nOdcT-MoOaXGePXLyPe0H {
  filter: brightness(1.5);
}
._3bbRZyUiK-bfc5Qov6xukI .nOdcT-MoOaXGePXLyPe0H,
._3bbRZyUiK-bfc5Qov6xukI ._2saJTAocZ9TnYXTGvnqUMC {
  margin-bottom: -6px;
  font-size: 12px;
}
._3bbRZyUiK-bfc5Qov6xukI ._1JE5G7_FNm2SRDEEnOWMVv .nOdcT-MoOaXGePXLyPe0H,
._3bbRZyUiK-bfc5Qov6xukI ._1JE5G7_FNm2SRDEEnOWMVv ._2saJTAocZ9TnYXTGvnqUMC {
  margin-bottom: -2px;
}
.currentUserContainer .nOdcT-MoOaXGePXLyPe0H {
  font-size: 16px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: color 0.94s ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}
.currentUserContainer ._4ZTzGZ5TTgFyfw1DcXLXS {
  display: flex;
  flex-direction: row;
  margin-bottom: -4px;
  -webkit-app-region: no-drag;
}
.currentUserContainer ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 13px;
}
.currentUserContainer ._2Ri005Wg_uXDTa71kdRbcN {
  -webkit-app-region: no-drag;
}
.currentUserContainer ._3sxE7F1LV2IcSX68YsH9dI {
  margin-top: 2px;
  align-self: stretch;
}
.currentUserContainer ._3bbRZyUiK-bfc5Qov6xukI .nOdcT-MoOaXGePXLyPe0H {
  font-size: 14px;
  margin-bottom: 0px;
}
.currentUserContainer ._3bbRZyUiK-bfc5Qov6xukI ._2Ri005Wg_uXDTa71kdRbcN {
  line-height: initial;
}
.currentUserContainer
  ._3bbRZyUiK-bfc5Qov6xukI
  ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 12px;
}
.ChatTabs ._3bbRZyUiK-bfc5Qov6xukI .nOdcT-MoOaXGePXLyPe0H,
.ChatTabs ._3bbRZyUiK-bfc5Qov6xukI ._2saJTAocZ9TnYXTGvnqUMC {
  font-size: 12px;
  margin-bottom: 0px;
  text-overflow: clip;
}
.ChatTabs ._3bbRZyUiK-bfc5Qov6xukI ._2saJTAocZ9TnYXTGvnqUMC {
  color: #a2a6ac;
}
.ChatTabs ._3bbRZyUiK-bfc5Qov6xukI ._2Ri005Wg_uXDTa71kdRbcN {
  line-height: 11px;
  font-size: 10px;
  margin-top: -1px;
}
.ChatTabs
  ._3bbRZyUiK-bfc5Qov6xukI:not(._1BbOegz8bYL7iPzgYpOgQI)
  ._2Ri005Wg_uXDTa71kdRbcN:not(._1cB0qtF0paHWWyj1XNcnbG) {
  display: none;
}
.ChatTabs ._3bbRZyUiK-bfc5Qov6xukI .offline ._4ZTzGZ5TTgFyfw1DcXLXS {
  color: #ccc;
}
.ChatTabs ._3bbRZyUiK-bfc5Qov6xukI .offline ._2Ri005Wg_uXDTa71kdRbcN {
  color: #888;
}
.titleBarContainer .currentUserContainer ._2Ri005Wg_uXDTa71kdRbcN {
  margin-top: -1px;
  margin-bottom: 1px;
  font-size: 12px;
  display: inline-block;
  transition: color 0.94s ease-in-out;
}
.titleBarContainer
  .currentUserContainer
  ._3bbRZyUiK-bfc5Qov6xukI
  ._2Ri005Wg_uXDTa71kdRbcN {
  margin-top: -4px;
  margin-bottom: -2px;
}
.titleBarContainer
  .currentUserContainer
  ._1BbOegz8bYL7iPzgYpOgQI
  ._2Ri005Wg_uXDTa71kdRbcN {
  margin-top: 0px;
}
.titleBarContainer
  .currentUserContainer
  ._3bbRZyUiK-bfc5Qov6xukI._1BbOegz8bYL7iPzgYpOgQI
  ._2Ri005Wg_uXDTa71kdRbcN {
  margin-top: -4px;
  margin-bottom: 0px;
}
.titleBarContainer
  .currentUserContainer
  ._2Ri005Wg_uXDTa71kdRbcN:not(._1cB0qtF0paHWWyj1XNcnbG) {
  font-size: 10px;
  margin-top: -1px;
  margin-bottom: 1px;
}
.titleBarContainer .currentUserContainer .ContextMenuButton {
  margin-top: -4px;
  margin-bottom: 4px;
}
.singlewindow .currentUserContainer ._4ZTzGZ5TTgFyfw1DcXLXS {
  margin-inline-end: 4px;
}
.singlewindow
  .currentUserContainer
  ._1BbOegz8bYL7iPzgYpOgQI
  ._4ZTzGZ5TTgFyfw1DcXLXS,
.singlewindow .currentUserContainer ._1BbOegz8bYL7iPzgYpOgQI {
  width: 100%;
}
.needsUpdate
  .currentUserContainer
  ._1BbOegz8bYL7iPzgYpOgQI
  ._4ZTzGZ5TTgFyfw1DcXLXS {
  margin-inline-end: 48px;
}
.friendRequests .bright .moMutualFriends .nOdcT-MoOaXGePXLyPe0H,
.friendRequests .nOdcT-MoOaXGePXLyPe0H {
  color: #fff;
  transition: color 0.2s ease-in-out;
}
.friendRequests .noMutualFriends .nOdcT-MoOaXGePXLyPe0H {
  color: #aaa;
  transition: color 0.2s ease-in-out;
}
.MemberListColumn ._4ZTzGZ5TTgFyfw1DcXLXS ._2Ri005Wg_uXDTa71kdRbcN,
.MemberListColumn ._4ZTzGZ5TTgFyfw1DcXLXS ._2saJTAocZ9TnYXTGvnqUMC,
.MemberListColumn ._4ZTzGZ5TTgFyfw1DcXLXS .nOdcT-MoOaXGePXLyPe0H {
  text-overflow: clip;
  transition-delay: 0.4s;
}
.MemberListColumn.MemberListViewCompact
  ._4ZTzGZ5TTgFyfw1DcXLXS
  ._2Ri005Wg_uXDTa71kdRbcN,
.MemberListColumn.MemberListViewCompact
  ._4ZTzGZ5TTgFyfw1DcXLXS
  ._2saJTAocZ9TnYXTGvnqUMC,
.MemberListColumn.MemberListViewCompact
  ._4ZTzGZ5TTgFyfw1DcXLXS
  .nOdcT-MoOaXGePXLyPe0H {
  text-overflow: clip;
  transition-delay: 0s;
}
.groupMemberList .nOdcT-MoOaXGePXLyPe0H,
.groupMemberList ._2saJTAocZ9TnYXTGvnqUMC {
  font-size: 13px;
}
.groupMemberList .ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 10px;
  margin-top: -3px;
  margin-bottom: -3px;
}
.groupMemberList
  .ingame._1BbOegz8bYL7iPzgYpOgQI
  ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 12px;
  margin-top: -1px;
}
.groupMemberList ._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
  font-size: 12px;
}
.groupMemberList ._2Ri005Wg_uXDTa71kdRbcN {
  line-height: 13px;
}
.Dialog_RemotePlay .awayOrSnooze ._4ZTzGZ5TTgFyfw1DcXLXS {
  margin-bottom: -10px;
}
.Dialog_RemotePlay .ingame .nOdcT-MoOaXGePXLyPe0H,
.Dialog_RemotePlay .ingame ._2saJTAocZ9TnYXTGvnqUMC {
  margin-top: 0px;
  width: 175px;
}
.Dialog_RemotePlay ._1BbOegz8bYL7iPzgYpOgQI {
  margin-top: -44px;
  width: 175px;
}
.Dialog_RemotePlay .ingame ._2Ri005Wg_uXDTa71kdRbcN {
  margin-top: -15px;
  width: 175px;
  visibility: collapse;
}
._2gBKQXiTBLjeVVaqvc5QVh {
  width: 28px;
  height: 20px;
  margin-top: -3px;
  margin-inline-start: 0px;
  display: inline-block;
}
._2gBKQXiTBLjeVVaqvc5QVh svg {
  width: 24px;
  height: 24px;
  margin-bottom: -8px;
}
._2gBKQXiTBLjeVVaqvc5QVh svg line,
._2gBKQXiTBLjeVVaqvc5QVh svg path {
  stroke: #6e8d50;
}
._2sxXnGfkPxNgR6Lk1-SmfQ {
  margin-top: -6px;
  margin-inline-start: 4px;
  display: inline-block;
}
._2sxXnGfkPxNgR6Lk1-SmfQ svg {
  height: 12px;
  width: 12px;
}
._1QwMyGKe9F8g1QnNoMz1JP ._3KXER7qT57ii-dLNJO926C {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.2);
}
.FQKvUJASJ1JVJ28HSbIt- {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
._1QwMyGKe9F8g1QnNoMz1JP .FQKvUJASJ1JVJ28HSbIt- {
  padding: 20px;
  align-items: end;
}
._2xYo3SIDAveAIlOqU6Tolu .FQKvUJASJ1JVJ28HSbIt- {
  flex-direction: column;
}
.FQKvUJASJ1JVJ28HSbIt- ._3VEmudDnkNmWv6uoQEicRy {
  display: flex;
  flex-direction: column;
  background: #000;
  padding: 6px 20px;
  width: 210px;
  font-size: 12px;
  text-align: center;
}
.FQKvUJASJ1JVJ28HSbIt- ._3VEmudDnkNmWv6uoQEicRy ._30CaMtSkoYlQf82iQSskB6 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  line-height: 36px;
}
._1QGGF04ktVe1bIIhdEtXaD {
  margin-top: 12px;
  font-weight: 500;
  color: #fff;
}
._3YLaBiVHp_mPV3f8YD9MrK {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  line-height: 18px;
  padding: 1px 3px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  margin-top: 2px;
}
._1LlRFhVuQF26o2UG7Vg5s3 {
  width: 50%;
  padding: 20px 20px 18px 20px;
  border: 1px solid #323a49;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: column;
}
._1LlRFhVuQF26o2UG7Vg5s3 ._1SPyq_BoQrA60DbjY_Eoke {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: 200;
  margin-right: 20px;
}
._1LlRFhVuQF26o2UG7Vg5s3 ._1G-k1HX2M60Sx-vP4SEe5k {
  color: orange;
}
._1LlRFhVuQF26o2UG7Vg5s3 ._23Ra5sX6-aVU2ayKSkIzE5 {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  gap: 6px;
}
.hWCs41T0tFwuGLTHxvthv {
  display: flex;
}
._1QwMyGKe9F8g1QnNoMz1JP .hWCs41T0tFwuGLTHxvthv {
  padding: 20px;
  flex-direction: row;
  border: 1px solid #424e61;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
._2xYo3SIDAveAIlOqU6Tolu .hWCs41T0tFwuGLTHxvthv {
  padding: 8px;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .hWCs41T0tFwuGLTHxvthv {
    flex-direction: column;
  }
}
._1QwMyGKe9F8g1QnNoMz1JP .hWCs41T0tFwuGLTHxvthv ._3L-uhfyc1hVkz4mrHwVm9x {
  margin-right: 20px;
  width: 50%;
  border-right: 1px solid #636e7e;
  padding-right: 20px;
}
._1QwMyGKe9F8g1QnNoMz1JP .hWCs41T0tFwuGLTHxvthv ._1yibDM6eeZtYQXEdjO_Scg {
  margin-right: 10px;
  width: 50%;
}
._3Jwi3DKhGEzxba2BP4X8wo {
  padding: 8px;
}
._3Jwi3DKhGEzxba2BP4X8wo ._1aIU0L2u2GWHUvc2oV1zyd {
  color: #d67f35;
  font-size: 13px;
}
._3Jwi3DKhGEzxba2BP4X8wo a {
  text-decoration: underline;
  line-height: 30px;
}
._11Z9Iz4InEbE8AVPdJ6iFY {
  display: none;
}
._2Zp-jzTV09Qjj3uTxcFLN3 {
  color: #666;
  padding-left: 8px;
}
._2Zp-jzTV09Qjj3uTxcFLN3 ._3YLaBiVHp_mPV3f8YD9MrK {
  display: none;
}
._2Zp-jzTV09Qjj3uTxcFLN3 ._11Z9Iz4InEbE8AVPdJ6iFY {
  display: block;
}
._9H6b5yfaxlmcnHvkqtwDK {
  margin-top: 8vw;
}
._9H6b5yfaxlmcnHvkqtwDK ._2qyLPxO8_nkczRvFiaju8N {
  width: 100%;
  height: auto;
  max-height: 197px;
  position: relative;
  overflow: hidden;
}
._16DzRvjcqFcYr0NYcWmTrg {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  align-items: stretch;
}
@media screen and (max-width: 910px) {
  ._16DzRvjcqFcYr0NYcWmTrg {
    min-width: 320px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
.GamepadMode ._16DzRvjcqFcYr0NYcWmTrg {
  min-width: unset;
  scroll-snap-align: unset;
  scroll-snap-stop: unset;
}
.center_row_trgt.ItemCount_1 ._16DzRvjcqFcYr0NYcWmTrg {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .center_row_trgt.ItemCount_1 ._16DzRvjcqFcYr0NYcWmTrg {
    width: 100%;
  }
}
._2JC5DEuXUeE50kjpb7Eeau {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  container-name: event-item;
  container-type: inline-size;
}
@media screen and (max-width: 768px) {
  ._16DzRvjcqFcYr0NYcWmTrg ._2JC5DEuXUeE50kjpb7Eeau:nth-child(n + 3) {
    display: none;
  }
}
._1MwNf8slOG9lOvAeOshmuu {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 8px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-width: 200px;
  min-height: 210px;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  text-decoration: none;
  transition: filter 0.2s ease-out;
}
._1MwNf8slOG9lOvAeOshmuu:not(:last-child) {
  margin-right: 8px;
}
.GamepadMode ._1MwNf8slOG9lOvAeOshmuu {
  margin: unset;
  border-radius: unset;
  box-shadow: var(--gpShadow-Medium);
}
@media screen and (max-width: 500px) {
  html.responsive.responsive ._1MwNf8slOG9lOvAeOshmuu {
    min-width: 160px;
  }
}
@container event-item (width > 500px) {
  ._1MwNf8slOG9lOvAeOshmuu {
    display: flex;
    flex-direction: row;
    min-height: 130px;
  }
  ._1MwNf8slOG9lOvAeOshmuu .ENbI1gFgvIca6HSKAbfiJ.RLbLb742gN095uDUITtIB {
    display: -webkit-box;
  }
  ._1MwNf8slOG9lOvAeOshmuu ._2GYp44BuZLfKRQdeILTDC3._3itHivPkrgI7TWENi1yxjI {
    display: none;
  }
  ._1MwNf8slOG9lOvAeOshmuu ._22jEpNTfml-w_aRJV-fKDm {
    display: flex;
    flex-direction: row;
  }
  ._1MwNf8slOG9lOvAeOshmuu ._2qyLPxO8_nkczRvFiaju8N {
    width: 50%;
    max-width: 300px;
  }
  ._3o6M87A6T172WsUE6MNvdW:hover._1MwNf8slOG9lOvAeOshmuu {
    filter: brightness(1.3);
  }
}
@container event-item (width < 500px) {
  ._1MwNf8slOG9lOvAeOshmuu .RLbLb742gN095uDUITtIB {
    display: none;
  }
  ._1MwNf8slOG9lOvAeOshmuu ._2jc1DpJ_WzFtigRh5qDWce {
    min-height: 2lh;
  }
  ._3o6M87A6T172WsUE6MNvdW:hover ._3_wKbXvT7_y5YkrtadL0I6,
  ._3o6M87A6T172WsUE6MNvdW:hover .bC2Zkx7FlANno4SW8FwB- {
    transform: scale(0.98);
    filter: blur(3px) brightness(0.7);
    z-index: 0;
  }
  ._3o6M87A6T172WsUE6MNvdW:hover ._2GYp44BuZLfKRQdeILTDC3 {
    background-color: rgba(21, 22, 25, 0.7);
  }
  ._3o6M87A6T172WsUE6MNvdW:hover
    ._2GYp44BuZLfKRQdeILTDC3
    .ENbI1gFgvIca6HSKAbfiJ {
    filter: blur(0);
    transform: scale(1);
    color: #fff;
  }
  ._3o6M87A6T172WsUE6MNvdW:hover
    ._2GYp44BuZLfKRQdeILTDC3
    ._11JXznGoylLSEmZXZbgcsq {
    filter: blur(0);
    color: #289cff;
    transform: scale(1);
  }
}
.SaleSectionCarouselPadding ._1MwNf8slOG9lOvAeOshmuu {
  margin: 0px 8px 0px 8px;
}
@media screen and (max-width: 910px) {
  .SaleSectionCarouselPadding ._1MwNf8slOG9lOvAeOshmuu {
    margin: 0px 16px 0px 0px;
  }
}
.GamepadMode .SaleSectionCarouselPadding ._1MwNf8slOG9lOvAeOshmuu {
  margin: unset;
}
._2pPj9UWoWM6h318uBN0-8X {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  filter: blur(10px) brightness(0.5);
}
.GamepadMode ._2pPj9UWoWM6h318uBN0-8X {
  filter: unset;
}
._2pPj9UWoWM6h318uBN0-8X::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
.GamepadMode ._2pPj9UWoWM6h318uBN0-8X::after {
  backdrop-filter: blur(32px);
}
._22jEpNTfml-w_aRJV-fKDm {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
._2qyLPxO8_nkczRvFiaju8N {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
._2qyLPxO8_nkczRvFiaju8N._1kFdtNfhXozP4yI_qOv2H- img,
._3o6M87A6T172WsUE6MNvdW:hover
  ._2qyLPxO8_nkczRvFiaju8N._1kFdtNfhXozP4yI_qOv2H-
  img {
  filter: blur(30px);
  clip-path: inset(0);
}
._3_wKbXvT7_y5YkrtadL0I6 {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  transition: transform 0.4s ease-out;
  top: 0px;
  display: block;
}
._3-EtNa1Nr_737K0kglkT9C {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  container-type: inline-size;
  bottom: 0px;
  padding: 12px 16px 12px 12px;
  text-align: left;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 13px;
}
._3-EtNa1Nr_737K0kglkT9C._3-EtNa1Nr_737K0kglkT9C {
  box-sizing: content-box;
}
._2jc1DpJ_WzFtigRh5qDWce {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: clamp(15px, 2.5cqi, 20px);
  line-height: 1.3;
  color: #fff;
  overflow: hidden;
}
.items_in_row_4 ._2jc1DpJ_WzFtigRh5qDWce {
  line-height: 16px;
  max-height: 2lh;
}
._2CXrGPtlQh-j3aSa6XsQDI {
  color: #07bfff;
}
._1Swox5XYdeesack-J7fNLH {
  font-size: 13px;
  max-height: 30px;
  overflow: hidden;
}
.items_in_row_4 ._1Swox5XYdeesack-J7fNLH {
  display: none;
}
@media screen and (max-width: 900px) {
  ._1Swox5XYdeesack-J7fNLH {
    display: none;
  }
}
._2GYp44BuZLfKRQdeILTDC3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 22, 25, 0);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.24s ease-in-out;
}
._2GYp44BuZLfKRQdeILTDC3 .ENbI1gFgvIca6HSKAbfiJ {
  margin: 10px 20px;
  color: hsla(0, 0%, 100%, 0);
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition:
    filter 0.24s ease-in-out,
    transform 0.24s ease-in-out,
    color 0.24s ease-in-out;
}
.items_in_row_4 ._2GYp44BuZLfKRQdeILTDC3 .ENbI1gFgvIca6HSKAbfiJ {
  line-height: 16px;
}
.ENbI1gFgvIca6HSKAbfiJ {
  font-size: clamp(13px, 2cqi, 15px);
  color: #fff;
  line-height: 1.3;
  font-weight: 300;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
._2BWwVF5N-3fDuJRblB6gHb,
._11JXznGoylLSEmZXZbgcsq {
  color: #289cff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
._11JXznGoylLSEmZXZbgcsq {
  margin: 20px 20px 0 20px;
  color: rgba(40, 156, 255, 0);
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition:
    filter 0.24s ease-in-out,
    transform 0.24s ease-in-out,
    color 0.24s ease-in-out;
}
._3OzV3h4jW1bkLmB6TqbYmo {
  width: 120px;
  height: auto;
}
._3OzV3h4jW1bkLmB6TqbYmo._2rjkJQtvus70aLmbfGoneD {
  box-shadow: 2px 2px 10px #000;
}
._16au-uWHggl6G731aw_eHt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
}
@media screen and (max-width: 910px) {
  html.responsive ._16au-uWHggl6G731aw_eHt {
    left: -8px;
  }
}
.GamepadMode ._16au-uWHggl6G731aw_eHt {
  left: -8px;
}
.IeC3X0McKdGC79BsC3VvM {
  flex-shrink: 0;
  margin-right: -2px;
  z-index: 1;
}
.GamepadMode .IeC3X0McKdGC79BsC3VvM {
  margin-right: unset;
}
.GamepadMode .IeC3X0McKdGC79BsC3VvM a {
  display: flex;
}
._2-l2M5GPuxKFwV8h1tc_fH {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  flex-shrink: 1;
}
._2-l2M5GPuxKFwV8h1tc_fH span {
  font-size: 12px;
  line-height: 17px;
  padding: 0px 8px;
  box-sizing: border-box;
  width: 100%;
}
._2-l2M5GPuxKFwV8h1tc_fH span:first-child {
  padding-top: 2px;
  padding-bottom: 2px;
}
.GamepadMode ._2-l2M5GPuxKFwV8h1tc_fH span:first-child {
  padding-top: unset;
  padding-left: 8px;
  padding-right: 8px;
}
._2-l2M5GPuxKFwV8h1tc_fH span:last-child {
  padding-bottom: 2px;
  padding-top: 2px;
}
.GamepadMode ._2-l2M5GPuxKFwV8h1tc_fH span:last-child {
  padding-bottom: unset;
  padding-left: 8px;
  padding-right: 8px;
}
@keyframes _2_vb1-Pr1-2Gblfyxj023k {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes op3gqmHyESfHpHgPheRVq {
  from {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes _12l58v9-cJk-169Qesl-e5 {
  from {
    background: #3d4450;
    color: #8b929a;
  }
  to {
    background: #23262e;
    color: #fff;
  }
}
@keyframes _2cAK7l3w0qC8uv5uzKjusc {
  from {
    background: #23262e;
    color: #8b929a;
  }
  to {
    background: #383a41;
    color: #fff;
  }
}
@keyframes _2uLjKVdzQQCodi_XH5ZPfi {
  from {
    background: hsla(0, 0%, 100%, 0.25);
    color: #8b929a;
  }
  to {
    background: hsla(0, 0%, 100%, 0.15);
    color: #fff;
  }
}
@keyframes _3Za5duiaOuAcNrQJeEpjxD {
  from {
    background: #8b929a;
    color: #fff;
  }
  to {
    background: #67707b;
    color: #fff;
  }
}
@keyframes _3wyVPtc4dD1Msi7wqRvJq3 {
  from {
    background: hsla(0, 0%, 100%, 0.3);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.1);
    color: #fff;
  }
}
@keyframes _2v6guEab39IMo3I1kfiwXc {
  from {
    background: hsla(0, 0%, 100%, 0.5);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
}
@keyframes _3SS0MMDROpRbR_hYLVjAcl {
  from {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes _3qjU-9ZS6bDpjjMAOYUhGm {
  from {
    background: #c9ffc9;
    color: #8b929a;
  }
  to {
    background: #59bf40;
    color: #fff;
  }
}
@keyframes _3-bYSIZZNIWgiOR__mB2jd {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }
  100% {
    background-position: -180% 0%;
    opacity: 0.8;
  }
}
@keyframes _39oPHCcA4NgTm53rnykAtP {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}
._49thIpYeG08pUfNc1x_w9 {
  display: flex;
  flex-direction: row;
}
._49thIpYeG08pUfNc1x_w9:hover {
  color: #fff;
}
._78Qv2C95AM2DNCuLD5o8U {
  width: calc((100% - 12px) / 2);
  position: relative;
  flex-shrink: 0;
}
@media screen and (max-width: 910px) {
  ._78Qv2C95AM2DNCuLD5o8U {
    width: 100%;
  }
}
._78Qv2C95AM2DNCuLD5o8U video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
._2qz5D65VkY796Xw-al9f_a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: hsla(0, 0%, 100%, 0.1);
  padding: 6px 12px;
}
._2qz5D65VkY796Xw-al9f_a ._2h0GKAYcXRP10ryZHFn79d {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 18px;
  font-weight: 400;
  background: rgba(103, 193, 245, 0.15);
  color: #67c1f5;
  width: fit-content;
  padding: 0 6px;
  border-radius: 3px;
  margin-bottom: 4px;
}
._2qz5D65VkY796Xw-al9f_a .wJ7ZiTc09km2kH4mSsZ9j {
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.4);
}
._2qz5D65VkY796Xw-al9f_a .SaleTagBlockCtn .TagBox {
  max-height: 38px;
}
.wC3_c2yhq3ppKA9AKQoTy {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;
}
.wC3_c2yhq3ppKA9AKQoTy:not(._3ar6NZpkNtMK2pmiKMadXq) input,
.wC3_c2yhq3ppKA9AKQoTy:not(._3ar6NZpkNtMK2pmiKMadXq) textarea {
  background: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 14px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  padding: 8px 10px;
}
.wC3_c2yhq3ppKA9AKQoTy select {
  background: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 14px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  padding: 8px 10px;
}
.wC3_c2yhq3ppKA9AKQoTy a {
  color: #d8dee5;
  text-decoration: underline;
  cursor: pointer;
}
.wC3_c2yhq3ppKA9AKQoTy a:hover {
  color: #fff;
}
.wC3_c2yhq3ppKA9AKQoTy.uHgjQHyNygSKukDngfNQO {
  max-width: unset;
  padding: 40px 2%;
  display: flex;
  flex-direction: column;
}
.wC3_c2yhq3ppKA9AKQoTy .DialogLabel {
  display: flex;
}
.vrqqGANTuXeQs27RGumFj {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  border-bottom: 2px solid #67c1f5;
  font-size: 25px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 0px;
  margin-top: 28px;
  padding-bottom: 5px;
}
.vrqqGANTuXeQs27RGumFj ._31raJsbMXVc33oW6c5hNxS {
  padding-bottom: unset;
}
._1-jmJyKnLRFoN-GX0Oqor8 {
  color: #e24044;
}
._3uPTh_ikegl-PIq12cfjJg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
._2RxJB5bupbx0mkW8dYJQRE {
  position: relative;
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 8px;
}
._2RxJB5bupbx0mkW8dYJQRE span {
  color: #848f95;
  margin-left: 8px;
}
._2RxJB5bupbx0mkW8dYJQRE ._1YBhTKSlOER8bOnp0BU4Wj {
  position: absolute;
  left: -11px;
  top: -12px;
  transform: rotate(353deg);
  display: inline;
  background: orange;
  padding: 1px 6px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  vertical-align: middle;
}
.okuL_y7hLnZUD5P4ACqUN {
  font-size: 16px;
}
._3skaXOiv1_vtHc_pGOPNsc {
  color: #e1745b;
}
._2FESGwA28dH3EVAa7uTsUX {
  background: #461f28;
  border: 1px solid #761f28;
  padding: 4px;
}
._1eWwNe3G6T8EcVRg0R5Ftj b {
  font-weight: 600;
}
._2kKPmwgbsJ_P67Vo-HwwRf {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
._2kKPmwgbsJ_P67Vo-HwwRf:after {
  content: "";
  position: relative;
  height: 1px;
  flex-grow: 1;
  background: #666d75;
  margin-left: 20px;
}
._1bjwXvgQa-kJBMijOLS8X5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 800px) {
  ._1bjwXvgQa-kJBMijOLS8X5 {
    flex-direction: column;
  }
}
._1bjwXvgQa-kJBMijOLS8X5 p a,
._1bjwXvgQa-kJBMijOLS8X5 p a.Link {
  color: #fff;
  text-decoration: underline dotted #b0e9ff 1px;
}
._1bjwXvgQa-kJBMijOLS8X5 p a:hover,
._1bjwXvgQa-kJBMijOLS8X5 p a.Link:hover {
  text-decoration-style: solid;
  text-decoration-color: #fff;
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA {
  width: 60%;
}
@media all and (max-width: 800px) {
  ._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA {
    width: 100%;
  }
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._3m2-TXBKQenlqzPUBuhbaD {
  position: relative;
  height: 130px;
  padding: 24px;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #53427d, #71609b);
  margin-top: 28px;
  border-top: 2px solid #67c1f5;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._3m2-TXBKQenlqzPUBuhbaD.J7iYYml2Jf_PcaACW1hEr {
  background: linear-gradient(to right, #3a9bed, #2c76db);
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._1VFkxNTzCFO2uCcle_nAJk {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._1eWwNe3G6T8EcVRg0R5Ftj {
  position: relative;
  background: linear-gradient(90deg, #2c2e35, #25272c, #2c2e35);
  border-top: 1px solid #2c2e35;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: 300;
  color: #dfe3e6;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._1eWwNe3G6T8EcVRg0R5Ftj._3ZqV0CAeVnd0rruF6TVKQz {
  background: linear-gradient(127deg, #474c5c, #32363e, #363944);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 1;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._1eWwNe3G6T8EcVRg0R5Ftj.ilVbVkb6hkO_s6E_kiiSd {
  position: sticky;
  bottom: 0;
  background: linear-gradient(0deg, #2c2e35, #383a43);
  box-shadow: 0 0 10px #000;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._1eWwNe3G6T8EcVRg0R5Ftj
  table {
  width: 100%;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._1eWwNe3G6T8EcVRg0R5Ftj
  ._3TKZIwYk2f5dd3MR5909Uz {
  font-size: 15px;
  line-height: 23px;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._1eWwNe3G6T8EcVRg0R5Ftj
  ._2HiNh3o5cgMEbzFKYBUjAy {
  background: radial-gradient(#c9793f, #955425);
  border-top: 1px solid #bd723c;
  margin-left: -24px;
  margin-right: -24px;
  padding: 12px 24px;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._1eWwNe3G6T8EcVRg0R5Ftj
  ._2HiNh3o5cgMEbzFKYBUjAy
  p,
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._1eWwNe3G6T8EcVRg0R5Ftj
  ._2HiNh3o5cgMEbzFKYBUjAy
  a {
  color: #fff;
  font-size: 14px;
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._1eWwNe3G6T8EcVRg0R5Ftj img {
  max-width: 100%;
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._1eWwNe3G6T8EcVRg0R5Ftj p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
  color: #dfe3e6;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._1eWwNe3G6T8EcVRg0R5Ftj
  p._1WWL_09T_-Jq--HSJRhKtH {
  font-size: 17px;
  line-height: 1.3;
  font-weight: 200;
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._1eWwNe3G6T8EcVRg0R5Ftj h1 {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1.3;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._1AqrivbzwCs57BXiugqpeA
  ._1eWwNe3G6T8EcVRg0R5Ftj
  h1:not(:first-child) {
  margin-top: 24px;
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._1eWwNe3G6T8EcVRg0R5Ftj h2 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #fff;
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._1eWwNe3G6T8EcVRg0R5Ftj h3 {
  font-weight: 600;
  color: #fff;
  margin-top: 16px;
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._1eWwNe3G6T8EcVRg0R5Ftj ol {
  margin-top: 8px;
}
._1bjwXvgQa-kJBMijOLS8X5 ._1AqrivbzwCs57BXiugqpeA ._1eWwNe3G6T8EcVRg0R5Ftj li {
  margin-bottom: 6px;
}
._1bjwXvgQa-kJBMijOLS8X5 ._3kaQhRnhNh_awrnNX90rui {
  width: 40%;
  position: sticky;
  top: 1px;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
}
._1bjwXvgQa-kJBMijOLS8X5 ._3kaQhRnhNh_awrnNX90rui.JQNb8bHftBTAYpCXTx52v {
  height: fit-content;
  position: relative;
}
._1bjwXvgQa-kJBMijOLS8X5 ._3kaQhRnhNh_awrnNX90rui ._3m2-TXBKQenlqzPUBuhbaD {
  position: relative;
  height: 130px;
  padding: 16px 16px 16px 28px;
  box-sizing: border-box;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom right, #43395c, #71609b);
  overflow: hidden;
  margin-top: 28px;
  border-top: 2px solid #67c1f5;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._3kaQhRnhNh_awrnNX90rui
  ._3m2-TXBKQenlqzPUBuhbaD.J7iYYml2Jf_PcaACW1hEr {
  background: #2f6abe;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._3kaQhRnhNh_awrnNX90rui
  ._3m2-TXBKQenlqzPUBuhbaD
  ._3ltg5fPzb-WsRyzI41vAv_ {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 300;
  z-index: 1;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._3kaQhRnhNh_awrnNX90rui
  ._3m2-TXBKQenlqzPUBuhbaD
  ._1VFkxNTzCFO2uCcle_nAJk {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  transform: scale(1.7);
  filter: blur(20px) brightness(0.5);
  z-index: 0;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._3kaQhRnhNh_awrnNX90rui
  ._3m2-TXBKQenlqzPUBuhbaD
  ._3L1DFwM1lpsRwZ-AaMx9ie {
  font-size: 14px;
  width: fit-content;
}
._1bjwXvgQa-kJBMijOLS8X5 ._3kaQhRnhNh_awrnNX90rui ._1eWwNe3G6T8EcVRg0R5Ftj {
  margin-bottom: 2px;
  background: #17181c;
  padding: 24px;
  color: #cacaca;
  font-size: 14px;
  font-weight: 300;
  word-break: break-word;
}
._1bjwXvgQa-kJBMijOLS8X5 ._3kaQhRnhNh_awrnNX90rui ._1eWwNe3G6T8EcVRg0R5Ftj h2 {
  color: #fff;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._3kaQhRnhNh_awrnNX90rui
  ._1eWwNe3G6T8EcVRg0R5Ftj
  ._3DyXNd5UgceEG9fcCKinvw {
  font-size: 12px;
  color: #cacaca;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
._1bjwXvgQa-kJBMijOLS8X5
  ._3kaQhRnhNh_awrnNX90rui
  ._1eWwNe3G6T8EcVRg0R5Ftj
  ._3DyXNd5UgceEG9fcCKinvw:not(:first-child) {
  margin-top: 24px;
}
._1bjwXvgQa-kJBMijOLS8X5 ._3kaQhRnhNh_awrnNX90rui ._1eWwNe3G6T8EcVRg0R5Ftj img {
  max-width: 100%;
}
.Pupnokb21glaosRjxBjAm {
  position: relative;
  background: linear-gradient(90deg, #2c2e35, #25272c, #2c2e35);
  border-top: 1px solid #2c2e35;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: 300;
  color: #dfe3e6;
}
.Pupnokb21glaosRjxBjAm.ilVbVkb6hkO_s6E_kiiSd {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(0deg, #2c2e35, #383a43);
  box-shadow: 0 0 10px #000;
}
.Pupnokb21glaosRjxBjAm._2FESGwA28dH3EVAa7uTsUX {
  border: 1px solid #761f28;
}
._7PV326-4cpZdmTCEdgC2l {
  margin-left: 24px;
}
._2NH_FlbsKA0jN2jPG4Rn9A {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  width: fit-content;
  padding: 2px 16px 2px 2px;
  border-radius: 3px;
}
._2NH_FlbsKA0jN2jPG4Rn9A:hover {
  background: rgba(67, 73, 83, 0.6);
}
._2NH_FlbsKA0jN2jPG4Rn9A svg {
  height: 34px;
  width: 53px;
}
._3rz6jzCvvOGt8N0XaPIdzg {
  display: flex;
  flex-direction: row;
}
._2Bw2oyBgXlb8EZ4HHbE8Ye {
  margin-bottom: 20px;
}
._1_JRuj6yAJovBDZE8IMSob {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
}
._1_JRuj6yAJovBDZE8IMSob ._3KQhw0sa1q_h62e4yaFgbw {
  width: 70%;
}
._2pCvRF734J5gLxMMHW7LIb ._1_JRuj6yAJovBDZE8IMSob ._3KQhw0sa1q_h62e4yaFgbw {
  max-width: 570px;
}
._1_JRuj6yAJovBDZE8IMSob ._3KQhw0sa1q_h62e4yaFgbw ._1x4unTauuLCbMkThgRpsXc {
  width: 100%;
  height: auto;
}
._1_JRuj6yAJovBDZE8IMSob ._3jcvvtnLhiQBvAebO2eI4Z {
  width: 30%;
}
._1_JRuj6yAJovBDZE8IMSob ._3jcvvtnLhiQBvAebO2eI4Z ._1eWwNe3G6T8EcVRg0R5Ftj {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  box-sizing: border-box;
  background: #17181c;
  padding: 14px 2px 14px 14px;
  color: #848f95;
}
._1_JRuj6yAJovBDZE8IMSob ._3jcvvtnLhiQBvAebO2eI4Z ._1tPNH9hTWnMUsbdob5i93a {
  font-size: 15px;
  color: #fff;
  margin-bottom: 4px;
}
._1_JRuj6yAJovBDZE8IMSob ._3jcvvtnLhiQBvAebO2eI4Z ._3tHzJ-eCQIlg-4XjTN0bNU {
  height: 300px;
  overflow-y: scroll;
}
._1_JRuj6yAJovBDZE8IMSob ._3jcvvtnLhiQBvAebO2eI4Z ._1jJThBArHevzcJ93kx4WhR {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #3d434d;
  padding: 2px 6px;
  border-radius: 2px;
  margin-bottom: 1px;
  font-size: 13px;
}
._1_JRuj6yAJovBDZE8IMSob ._3jcvvtnLhiQBvAebO2eI4Z ._1jJThBArHevzcJ93kx4WhR a {
  display: flex;
  text-decoration: none;
}
._1_JRuj6yAJovBDZE8IMSob ._3jcvvtnLhiQBvAebO2eI4Z ._1jJThBArHevzcJ93kx4WhR svg {
  height: 16px;
  width: 16px;
}
._1_JRuj6yAJovBDZE8IMSob
  ._3jcvvtnLhiQBvAebO2eI4Z
  ._1jJThBArHevzcJ93kx4WhR
  ._1sUrnQsBw06ZqTIbMeE9tT {
  color: #fff;
}
._1_JRuj6yAJovBDZE8IMSob
  ._3jcvvtnLhiQBvAebO2eI4Z
  ._1jJThBArHevzcJ93kx4WhR
  .rYuknI3K1VFknv90GNUTc {
  align-self: end;
  margin-right: 14px;
}
._1g5X3AT4HwD0ya2e2t2WTO {
  margin-top: 24px;
}
._1g5X3AT4HwD0ya2e2t2WTO button.DialogButton._1MGZHxsnyQPrLXwl-8Fium {
  width: fit-content;
  padding: 0px 20px;
  float: right;
}
.fGJIpDJEvYkHmhWFP39BX {
  width: 50%;
}
._1J3v1KGOhdSGz77c2rLxWy {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
._1J3v1KGOhdSGz77c2rLxWy ._3OYQbVCq1yBuEx1XcDzG06 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
}
._1J3v1KGOhdSGz77c2rLxWy ._3OYQbVCq1yBuEx1XcDzG06:not(:first-child) {
  margin-left: 5px;
}
._1J3v1KGOhdSGz77c2rLxWy ._3OYQbVCq1yBuEx1XcDzG06 .lYYwDDss378Sm0FKPBxPh {
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  color: #1b1e22;
}
._1J3v1KGOhdSGz77c2rLxWy ._3OYQbVCq1yBuEx1XcDzG06 ._3ltg5fPzb-WsRyzI41vAv_ {
  text-align: center;
  color: #434953;
}
._2yY3XT7VPyYBZS3FCEGgRS {
  padding: 8px;
  font-size: 13px;
  background: #2e475d;
  border-radius: 4px;
  position: relative;
}
._2yY3XT7VPyYBZS3FCEGgRS:after {
  bottom: 100%;
  left: 80%;
  border: solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #2e475d;
  border-width: 15px;
  margin-left: 0;
}
._38rhsxAONglYlA01yweB9r._1QYBs5PGw6PClZRx9WNL6z {
  flex-basis: 77%;
}
.YaL4BAoqywnKnb5jbU_il {
  color: #56707f;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 24px;
}
.YaL4BAoqywnKnb5jbU_il a {
  color: #8f98a0;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}
.YaL4BAoqywnKnb5jbU_il a:hover {
  color: #fff;
  text-decoration: none;
}
._2cuu0nLVc4medg6FpU6PQl {
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 3px;
}
._2g5oNomwd2lv8wL2qlsLVA {
  display: flex;
  justify-content: space-between;
}
._2g5oNomwd2lv8wL2qlsLVA .DialogButton {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
._2g5oNomwd2lv8wL2qlsLVA .DialogButton SVG {
  width: 16px;
  height: 16px;
}
.RGHKm1_KeaBjdzuvisfYN {
  display: flex;
  gap: 5px;
  margin-right: 5px;
}
._3yDPZjnsoLc2FkrAH2UOEd {
  display: flex;
}
._3yDPZjnsoLc2FkrAH2UOEd:not(:first-child) {
  margin-top: 60px;
}
._2g5oNomwd2lv8wL2qlsLVA .EventEditorTextTitle {
  padding-top: 6px;
}
._3cmUbcgdPxM7o5hl986RgB {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding-top: 20px;
}
._3cmUbcgdPxM7o5hl986RgB .SectionTitleHeader {
  margin-top: 20px;
  background: #000;
  display: flex;
  align-items: center;
}
._3E6Usl36asxUFK3vPKa7Us {
  display: flex;
}
._3E6Usl36asxUFK3vPKa7Us a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
}
._2GHTaky49GZrPLyiOgKWB7 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
Body.v6 ._2GHTaky49GZrPLyiOgKWB7 h2 {
  margin: 0;
  font-size: 20px;
}
.Kk38rrvnYm3-E2jJMahSH {
  border-top: 1px solid hsla(0, 0%, 100%, 0.363);
  margin-top: 14px;
  padding-top: 4px;
}
._2uJvCA4FncHONmSI37VVyw {
  font-size: 19px;
  font-weight: 500;
  color: #fff;
}
._2vYmHfXJIHj2eCv8NsiqZv {
  font-size: 15px;
  color: #fff;
}
.HLiipgmnfEQ2O-9WritfU {
  margin-top: 8px;
  margin-bottom: 8px;
  gap: 12px;
  font-size: 17px;
  line-height: 21px;
}
.HLiipgmnfEQ2O-9WritfU button.DialogButton {
  width: auto;
  padding: 4px 20px 4px 10px;
}
._17S0ayInAou4_ptPoMguR0 {
  font-size: 17px;
  color: #68d468;
  font-weight: 500;
  margin: 12px 0;
}
._2fMFlfbH8xUEtW28kSLf5- {
  color: gray;
}
.Tm-tj9XNHRPGqdqqNiTEp {
  color: gray;
}
._17o_wRtaDyujn3Bx4gGiu5 {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
._17o_wRtaDyujn3Bx4gGiu5::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 100%;
  pointer-events: none;
  transition: opacity 0.3s;
}
._35KiKa7cq-3mn4lChNW67c {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding-top: 20px;
}
._35KiKa7cq-3mn4lChNW67c .SectionTitleHeader {
  margin-top: 20px;
  background: #000;
  display: flex;
  align-items: center;
}
.e-36dCsEtoK52wg6Qx1iq {
  margin-bottom: 24px;
}
._1KbfPGq52sl-NB4ku90gN3 {
  background: rgba(0, 0, 0, 0.418);
  padding: 14px 20px 0;
  margin-bottom: 12px;
}
._1KbfPGq52sl-NB4ku90gN3 .DialogInputLabelGroup {
  max-width: 500px;
}
._2JLogmiR30ClrphBajhwYK button.DialogButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 4px 20px 4px 10px;
}
._2JLogmiR30ClrphBajhwYK ._3bl-GtsF8LkmzsRFkqjeCz {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}
._35gHo_M6tBBUOL8PWGEmA9 {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
._35gHo_M6tBBUOL8PWGEmA9 button.DialogButton.Secondary {
  width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
}
._3bvF759mojZQZv_TGXaM5Q {
  display: flex;
  flex-direction: column;
}
._1b8sKAzr4LILvJyl7fkRrL {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  overflow-x: scroll;
  gap: 20px;
}
._1b8sKAzr4LILvJyl7fkRrL ._32Ut51xzdWXCL6OOaz4vY2 {
  font-size: 16px;
}
._32v8UGu0FfxnCHtltxqiEV {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 0;
}
._32v8UGu0FfxnCHtltxqiEV._1PB1JESsJ8abJrTzTqOVBk {
  opacity: 0.5;
}
._3DhIykQH8p8dQb2VOZg4-L {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
._27ybiS1mMlsYotyoQGVmI_ {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background: hsla(0, 0%, 100%, 0.18);
  padding: 8px;
}
._27ybiS1mMlsYotyoQGVmI_ ._1jOgBHcEXg1l6kSowBxwn6 {
  min-height: 60px;
}
._27ybiS1mMlsYotyoQGVmI_ ._1jOgBHcEXg1l6kSowBxwn6 .vl9qom9droT0L3xZs2JhG {
  font-weight: 600;
  font-size: 14px;
}
._27ybiS1mMlsYotyoQGVmI_ ._1jOgBHcEXg1l6kSowBxwn6 .PG1xFNh9UdoEjEvvw22V5 {
  content: "";
}
._2jxcROaKoRgZCIKUHALVRH {
  margin-bottom: 12px;
}
._2Kd3cw8fPPyzDXTWBxltj7 {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #000;
  height: 10px;
}
._2Kd3cw8fPPyzDXTWBxltj7 ._3jKSoLI8ytiyq9ELWTJNVY {
  background: #549ef1;
  height: 10px;
}
._2Kd3cw8fPPyzDXTWBxltj7 ._3jKSoLI8ytiyq9ELWTJNVY._27_ZZ6xz-L8KC1u6uQmDz {
  background: #a4d007;
}
button._1BPqndgvTdc3n4fPDlcvAQ.DialogButton {
  height: 30px;
  font-size: 11px;
}
.QnMJIDEn4Rz26VtL1RdUu {
  content: "";
}
