._1EQpm6hAsghyCST7W04m-E {
  width: 100%;
  background-color: #2681da;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
}
._13oFTFTjvz0YaOVnWZxyqr {
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
  width: 100%;
  max-width: 960px;
  color: #c6d4df;
}
.widestore ._13oFTFTjvz0YaOVnWZxyqr {
  max-width: 1200px;
}
._3jg5qxP4_hiZYa6-GJDCOp {
  color: orange;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 15px;
  position: absolute;
}
._1HSa8QK0U-qQCGObG6XYFT {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 15px;
  font-weight: 400;
  color: #cee1f3;
}
._1HSa8QK0U-qQCGObG6XYFT ._3Xfc_DOo4BUZBmxkSRmD6y {
  line-height: 17px;
}
._1HSa8QK0U-qQCGObG6XYFT ._3Xfc_DOo4BUZBmxkSRmD6y b {
  color: #fff;
}
._1lwkSayKFi-9WCDd6pq5bV {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  gap: 20px;
  font-size: 14px;
  font-weight: 500;
}
._1lwkSayKFi-9WCDd6pq5bV ._1jso7z80FWGn42k1HP0_cf {
  cursor: pointer;
  align-content: center;
  padding: 10px 20px;
  background-color: rgba(254, 254, 254, 0.8196078431);
  text-shadow: 1px 1px 0 hsla(0, 0%, 100%, 0.5);
  color: #3d7291;
  font-weight: 600;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  border-radius: 2px;
}
._1lwkSayKFi-9WCDd6pq5bV ._1jso7z80FWGn42k1HP0_cf:hover {
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
._3zojRjiXppBm0x5n5HgAZ1 .DialogFooter button.DialogButton.Primary {
  background: #3d4450;
  color: #fff;
  font-size: var(--text-size-3);
}
._3zojRjiXppBm0x5n5HgAZ1 .DialogFooter button.DialogButton.Primary:hover {
  background: #67707b;
}
.f6hU22EA7Z8peFWZVBJU {
  box-sizing: border-box;
  color: var(--text-color, var(--color-text-body-body));
  font-size: var(--font-size, var(--default-font-size));
  line-height: var(--line-height, var(--default-line-height));
  letter-spacing: var(--letter-spacing, var(--default-letter-spacing));
}
.f6hU22EA7Z8peFWZVBJU:where(._2tXpWMxzSX3lf_9_EFUzmJ) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.NUSSU36hkPXb7VdM8HFef {
  --font-size: var(--text-size-1);
  --line-height: var(--line-height-1);
  --letter-spacing: var(--letter-spacing-1);
}
._1HTEiDPVrmM0RUnp3DzkXW {
  --font-size: var(--text-size-2);
  --line-height: var(--line-height-2);
  --letter-spacing: var(--letter-spacing-2);
}
._1maNP9UvDekHzld1kwwQnw {
  --font-size: var(--text-size-3);
  --line-height: var(--line-height-3);
  --letter-spacing: var(--letter-spacing-3);
}
.mGlMCg85s0ULA8kYCZzMB {
  --font-size: var(--text-size-4);
  --line-height: var(--line-height-4);
  --letter-spacing: var(--letter-spacing-4);
}
._2MGI1O3WXMHKcWkSFCf6Bz {
  --font-size: var(--text-size-5);
  --line-height: var(--line-height-5);
  --letter-spacing: var(--letter-spacing-5);
}
._3kpvs1OYmjREjAE9RONmZm {
  --font-size: var(--text-size-6);
  --line-height: var(--line-height-6);
  --letter-spacing: var(--letter-spacing-6);
}
._3RzzHMo4NUK3RIl__o-aYU {
  --font-size: var(--text-size-7);
  --line-height: var(--line-height-7);
  --letter-spacing: var(--letter-spacing-7);
}
._3KRhxZU1kR1ArBuZyY_ib3 {
  --font-size: var(--text-size-8);
  --line-height: var(--line-height-8);
  --letter-spacing: var(--letter-spacing-8);
}
._3O17p9mMWHcy_sU-_IPM6R {
  --font-size: var(--text-size-9);
  --line-height: var(--line-height-9);
  --letter-spacing: var(--letter-spacing-9);
}
._3KfHV-wUo5sKXQAsJZO5Uw {
  font-weight: var(--text-weight);
}
._310d_LkZp2K-i9ZY8r2B_c {
  text-align: var(--text-align);
}
._3z4FSJhGOOHIOqRI6ZqJ_H {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
  line-clamp: var(--line-clamp);
  overflow: hidden;
}
.FYJ4NYxpWeIha0N1-jUcm {
  white-space: var(--white-space);
}
._1DLGHwAfYnbFVIwbZjO2cn,
._30P9kUCljAZzX5fl1DHGJe {
  color: var(--text-color, var(--color-blue-10));
  box-sizing: border-box;
  font-size: var(--font-size, var(--default-font-size));
  line-height: var(--line-height, var(--default-line-height));
  letter-spacing: var(--letter-spacing, var(--default-letter-spacing));
}
._1DLGHwAfYnbFVIwbZjO2cn:where(._1FVRWG5uD8VhzoEiOZWrEo),
._30P9kUCljAZzX5fl1DHGJe:where(._1FVRWG5uD8VhzoEiOZWrEo) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
._30P9kUCljAZzX5fl1DHGJe {
  cursor: pointer;
}
:where(._3ASRyX4FTT_eMM5S5yrkwK) {
  text-decoration: underline;
}
:where(._1gsOIvG4APXjSra-_55rdz) {
  text-decoration: none;
}
:where(._2OgYmw12nDHXtyT9za9yzL),
:where(._3RITvcDUZq-hpnXRpiayfs) {
  text-decoration: none;
}
:where(._2OgYmw12nDHXtyT9za9yzL):hover,
:where(._3RITvcDUZq-hpnXRpiayfs):hover {
  text-decoration: underline;
}
