._1EQpm6hAsghyCST7W04m-E {
  width: 100%;
  background-color: #2681da;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
}
._13oFTFTjvz0YaOVnWZxyqr {
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
  width: 100%;
  max-width: 960px;
  color: #c6d4df;
}
.widestore ._13oFTFTjvz0YaOVnWZxyqr {
  max-width: 1200px;
}
._3jg5qxP4_hiZYa6-GJDCOp {
  color: orange;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 15px;
  position: absolute;
}
._1HSa8QK0U-qQCGObG6XYFT {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 15px;
  font-weight: 400;
  color: #cee1f3;
}
._1HSa8QK0U-qQCGObG6XYFT ._3Xfc_DOo4BUZBmxkSRmD6y {
  line-height: 17px;
}
._1HSa8QK0U-qQCGObG6XYFT ._3Xfc_DOo4BUZBmxkSRmD6y b {
  color: #fff;
}
._1lwkSayKFi-9WCDd6pq5bV {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  gap: 20px;
  font-size: 14px;
  font-weight: 500;
}
._1lwkSayKFi-9WCDd6pq5bV ._1jso7z80FWGn42k1HP0_cf {
  cursor: pointer;
  align-content: center;
  padding: 10px 20px;
  background-color: rgba(254, 254, 254, 0.8196078431);
  text-shadow: 1px 1px 0 hsla(0, 0%, 100%, 0.5);
  color: #3d7291;
  font-weight: 600;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  border-radius: 2px;
}
._1lwkSayKFi-9WCDd6pq5bV ._1jso7z80FWGn42k1HP0_cf:hover {
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
._3zojRjiXppBm0x5n5HgAZ1 .DialogFooter button.DialogButton.Primary {
  background: #3d4450;
  color: #fff;
  font-size: var(--text-size-3);
}
._3zojRjiXppBm0x5n5HgAZ1 .DialogFooter button.DialogButton.Primary:hover {
  background: #67707b;
}
._0BH1ydyFmSnUvoVK2hIc {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  font-family: var(--font-family);
  background: var(--background);
  transition-property: opacity, background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
._0BH1ydyFmSnUvoVK2hIc:hover {
  background: var(--hover-background, var(--background));
}
._0BH1ydyFmSnUvoVK2hIc:focus-visible {
  outline: 2px solid #fff;
  outline-offset: -2px;
}
._0BH1ydyFmSnUvoVK2hIc:disabled {
  opacity: 0.35;
}
._0BH1ydyFmSnUvoVK2hIc:disabled:hover {
  background: var(--background);
  cursor: default;
}
._0BH1ydyFmSnUvoVK2hIc:where(._3QKUrmKA1DptBhihc8GSAF) {
  height: var(--control-height-1);
  min-height: var(--control-height-1);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  border-radius: var(--radius-sm);
  font-size: var(--text-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}
._0BH1ydyFmSnUvoVK2hIc:where(._3QKUrmKA1DptBhihc8GSAF)._2_fy3SzcKa1xbrgpG7JsW1 {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  --font-size: var(--text-size-4);
}
._0BH1ydyFmSnUvoVK2hIc:where(._2rbqjlRz2ShvIiYodebfc2) {
  height: var(--control-height-2);
  min-height: var(--control-height-2);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  border-radius: var(--radius-sm);
  font-size: var(--text-size-3);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-3);
}
._0BH1ydyFmSnUvoVK2hIc:where(._2rbqjlRz2ShvIiYodebfc2)._2_fy3SzcKa1xbrgpG7JsW1 {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  --font-size: var(--text-size-5);
}
._0BH1ydyFmSnUvoVK2hIc:where(._2WV0DrM2sIAtg0N1lOU26f) {
  height: var(--control-height-3);
  min-height: var(--control-height-3);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
  border-radius: var(--radius-sm);
  font-size: var(--text-size-5);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-5);
}
._0BH1ydyFmSnUvoVK2hIc:where(._2WV0DrM2sIAtg0N1lOU26f)._2_fy3SzcKa1xbrgpG7JsW1 {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  --font-size: var(--text-size-7);
}
._0BH1ydyFmSnUvoVK2hIc:where(.RttCMpsTJp47IkzXpZYvA) {
  --background: var(--color-accent-8);
  --hover-background: var(--color-accent-10);
  color: var(--color-accent-contrast);
}
._0BH1ydyFmSnUvoVK2hIc:where(.RmQIHBmo3QqjBtWih540t) {
  --background: rgb(from var(--color-accent-3) r g b / 50%);
  --hover-background: rgb(from var(--color-accent-5) r g b / 50%);
  color: var(--color-accent-11);
}
._0BH1ydyFmSnUvoVK2hIc:where(.RmQIHBmo3QqjBtWih540t):where(
    [data-accent-color="greyneutral"]
  ),
._0BH1ydyFmSnUvoVK2hIc:where(.RmQIHBmo3QqjBtWih540t):where(
    [data-dull-color="greyneutral"] [data-accent-color="dull"]
  ) {
  --background: rgb(from var(--color-accent-3) r g b / 50%);
  --hover-background: rgb(from var(--color-accent-6) r g b / 50%);
  color: var(--color-accent-11);
}
._0BH1ydyFmSnUvoVK2hIc:where(._3Ivla_Ow2vkS32o8Ih_PeA) {
  --background: transparent;
  --hover-background: rgb(from var(--color-accent-3) r g b / 50%);
  border: 1px solid var(--color-accent-8);
  color: var(--color-accent-8);
}
._0BH1ydyFmSnUvoVK2hIc:where(._2oeLjYS5GL7cq3t8V_fC-8) {
  --background: transparent;
  --hover-background: rgb(from var(--color-accent-3) r g b / 50%);
  color: var(--color-accent-contrast);
}
._0BH1ydyFmSnUvoVK2hIc:where(.HpR1uGt2MH6wMkWZz8XTQ) {
  --background: linear-gradient(
    to right,
    var(--color-accent-8) 0%,
    var(--color-accent-7) 100%
  );
  --hover-background: linear-gradient(
    to right,
    var(--color-accent-10) 0%,
    var(--color-accent-8) 100%
  );
  color: var(--color-accent-contrast);
}
._0BH1ydyFmSnUvoVK2hIc:where(._3sJrbUPuxxtvf7RM9OYpwU) {
  width: var(--width);
}
._0BH1ydyFmSnUvoVK2hIc:where(._1SOkb8NGXTctRFJs2fKHh-) {
  min-width: var(--min-width);
}
._2DCKU_4nS3RTO87T3YPOx_ {
  --spinner-color: var(--color-accent-8);
  --spinner-track-color: rgb(from var(--color-dull-10) r g b / 60%);
  width: var(--spinner-size);
  height: var(--spinner-size);
  border-width: var(--spinner-width);
  box-sizing: border-box;
  border-style: solid;
  border-radius: 50%;
  border-top-color: var(--spinner-track-color);
  border-right-color: var(--spinner-track-color);
  border-bottom-color: var(--spinner-track-color);
  border-left-color: var(--spinner-color);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: _1SGyFmFKc3sUwmfqrrtxxJ 1.1s infinite linear;
  animation: _1SGyFmFKc3sUwmfqrrtxxJ 1.1s infinite linear;
}
._2DCKU_4nS3RTO87T3YPOx_:where(._1Vxi9jNBkNCJzht7q4pUcZ) {
  --spinner-size: var(--text-size-3);
  --spinner-width: 1px;
}
._2DCKU_4nS3RTO87T3YPOx_:where(._4YMNfb67K5DdLQo1iUILX) {
  --spinner-size: var(--text-size-5);
  --spinner-width: 2px;
}
._2DCKU_4nS3RTO87T3YPOx_:where(._389OPmdZoebw42_AlsUFxi) {
  --spinner-size: var(--text-size-7);
  --spinner-width: 3px;
}
._2DCKU_4nS3RTO87T3YPOx_:where(._2_bEJtUl18pDhzOGeCFemg) {
  --spinner-size: var(--text-size-8);
  --spinner-width: 4px;
}
._2DCKU_4nS3RTO87T3YPOx_:where(._1XSG-5xKQMEoGjfZTMCTke) {
  --spinner-size: var(--text-size-9);
  --spinner-width: 5px;
}
._2DCKU_4nS3RTO87T3YPOx_:where(.lQP4sfWThY4O0ZGRwTFFo) {
  --spinner-track-color: var(--color-dull-10);
}
._2DCKU_4nS3RTO87T3YPOx_:where(._3Jl5ljGbdHy_fzyOpYdWpB) {
  --spinner-track-color: var(--color-accent-11);
  --spinner-color: var(--color-accent-12);
}
._3drTSOAFK4l1BW7WUUbGvs {
  visibility: visible;
}
._3drTSOAFK4l1BW7WUUbGvs[data-visibility="false"] {
  visibility: hidden;
}
@keyframes _1SGyFmFKc3sUwmfqrrtxxJ {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
:where(._3nHL7awgK1Qei1XivGvHMK) {
  box-sizing: border-box;
  display: flex;
}
._3JCkAyd9cnB90tRcDLPp4W {
  flex-direction: var(--direction);
}
._12ampOcrpRamy1y301kEaK {
  justify-content: var(--justify);
}
._1SxQuUnaM-MXeF5UfssWve {
  align-items: var(--align);
}
.ja5o2GZTopxfGJArsZgFh {
  gap: var(--gap);
}
._3KiTPfFvdkPH6ixij56nVM {
  column-gap: var(--gap-x);
}
._38cfDT7owcq-7PHlx-Bx2j {
  row-gap: var(--gap-y);
}
.dB7ipW28YN-_GytLR4EuE {
  flex-wrap: var(--wrap);
}
.LOeaKjPDMbdcAB54IFgyX {
  display: inline-flex;
}
._1DLGHwAfYnbFVIwbZjO2cn,
._30P9kUCljAZzX5fl1DHGJe {
  color: var(--text-color, var(--color-blue-10));
  box-sizing: border-box;
  font-size: var(--font-size, var(--default-font-size));
  line-height: var(--line-height, var(--default-line-height));
  letter-spacing: var(--letter-spacing, var(--default-letter-spacing));
}
._1DLGHwAfYnbFVIwbZjO2cn:where(._1FVRWG5uD8VhzoEiOZWrEo),
._30P9kUCljAZzX5fl1DHGJe:where(._1FVRWG5uD8VhzoEiOZWrEo) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
._30P9kUCljAZzX5fl1DHGJe {
  cursor: pointer;
}
:where(._3ASRyX4FTT_eMM5S5yrkwK) {
  text-decoration: underline;
}
:where(._1gsOIvG4APXjSra-_55rdz) {
  text-decoration: none;
}
:where(._2OgYmw12nDHXtyT9za9yzL),
:where(._3RITvcDUZq-hpnXRpiayfs) {
  text-decoration: none;
}
:where(._2OgYmw12nDHXtyT9za9yzL):hover,
:where(._3RITvcDUZq-hpnXRpiayfs):hover {
  text-decoration: underline;
}
