a:link {
  text-decoration: none;
}
._2HSg8AtRJl7UMJATPIsBR8 {
  font-family: "Motiva Sans", Sans-serif;
  background-color: #0f1924;
  color: #fff;
  display: flex;
  flex-direction: column;
}
._2HSg8AtRJl7UMJATPIsBR8._23e1D2r2sYeZs924yfKJo ._1ogG0o0tuYDOljO3JVMG4j {
  filter: saturate(0.5) brightness(0.5);
}
._2HSg8AtRJl7UMJATPIsBR8 ._2Gzea-RDxyTWYQ_1m4AvB0 {
  color: #c3c4d9;
  font-size: 14px;
}
._2HSg8AtRJl7UMJATPIsBR8 ._2Gzea-RDxyTWYQ_1m4AvB0 a {
  color: #c3c4d9;
  text-decoration: underline;
}
._2HSg8AtRJl7UMJATPIsBR8 ._1v3eOf_69jOyKwYgOD2J2w {
  max-width: 1200px;
  min-height: 1000px;
  padding: 80px 0px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
@media (max-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8 ._1v3eOf_69jOyKwYgOD2J2w {
    padding: 20px;
  }
}
._2HSg8AtRJl7UMJATPIsBR8 ._1v3eOf_69jOyKwYgOD2J2w ._3CwW2Qs3urt8QcUjerZErw {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._2HSg8AtRJl7UMJATPIsBR8
  ._1v3eOf_69jOyKwYgOD2J2w
  ._3CwW2Qs3urt8QcUjerZErw
  ._1jhESJwyB5EudCwWSj1Cd9 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: initial;
  text-align: center;
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._3CwW2Qs3urt8QcUjerZErw
    ._1jhESJwyB5EudCwWSj1Cd9 {
    font-size: 56px;
  }
}
@media (max-width: 1026px) and (min-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._3CwW2Qs3urt8QcUjerZErw
    ._1jhESJwyB5EudCwWSj1Cd9 {
    font-size: 44px;
  }
}
@media (max-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._3CwW2Qs3urt8QcUjerZErw
    ._1jhESJwyB5EudCwWSj1Cd9 {
    font-size: 30px;
  }
}
._2HSg8AtRJl7UMJATPIsBR8
  ._1v3eOf_69jOyKwYgOD2J2w
  ._3CwW2Qs3urt8QcUjerZErw
  ._1o94X46OlzAxrg7CHGu4Xx {
  font-size: 20px;
  color: #ccc;
  line-height: initial;
  text-align: center;
  max-width: 70vw;
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._3CwW2Qs3urt8QcUjerZErw
    ._1o94X46OlzAxrg7CHGu4Xx {
    font-size: 18px;
  }
}
@media (max-width: 1026px) and (min-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._3CwW2Qs3urt8QcUjerZErw
    ._1o94X46OlzAxrg7CHGu4Xx {
    font-size: 14px;
  }
}
@media (max-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._3CwW2Qs3urt8QcUjerZErw
    ._1o94X46OlzAxrg7CHGu4Xx {
    font-size: 12px;
  }
}
._2HSg8AtRJl7UMJATPIsBR8 ._1v3eOf_69jOyKwYgOD2J2w ._1ogG0o0tuYDOljO3JVMG4j {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 1160px;
  margin-top: 30px;
  gap: 16px;
  padding: 20px;
  background-color: #1b2838;
}
._2HSg8AtRJl7UMJATPIsBR8
  ._1v3eOf_69jOyKwYgOD2J2w
  ._1ogG0o0tuYDOljO3JVMG4j._2aUgvVQfnrPXJadG5GrdcD {
  width: 1410px;
  min-width: 1410px;
}
@media (max-width: 1540px) and (min-width: 1308px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j._2aUgvVQfnrPXJadG5GrdcD {
    width: 1162px;
    min-width: 1162px;
  }
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j._2aUgvVQfnrPXJadG5GrdcD {
    width: 944px;
    min-width: 944px;
  }
}
@media (max-width: 1026px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j._2aUgvVQfnrPXJadG5GrdcD {
    width: 740px;
    min-width: 740px;
  }
}
@media (max-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j._2aUgvVQfnrPXJadG5GrdcD {
    width: 320px;
    min-width: 320px;
  }
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._2HSg8AtRJl7UMJATPIsBR8 ._1v3eOf_69jOyKwYgOD2J2w ._1ogG0o0tuYDOljO3JVMG4j {
    width: 942px;
    min-width: 942px;
  }
}
@media (max-width: 1026px) and (min-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8 ._1v3eOf_69jOyKwYgOD2J2w ._1ogG0o0tuYDOljO3JVMG4j {
    width: 740px;
    min-width: 740px;
  }
}
@media (max-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8 ._1v3eOf_69jOyKwYgOD2J2w ._1ogG0o0tuYDOljO3JVMG4j {
    width: 320px;
    min-width: 320px;
  }
}
@media (max-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j.p6KFiyUG9MYjbErC0_SGJ:not(
      ._2aUgvVQfnrPXJadG5GrdcD
    ) {
    display: none;
  }
}
@media (max-width: 1026px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j.p6KFiyUG9MYjbErC0_SGJ._2aUgvVQfnrPXJadG5GrdcD {
    display: none;
  }
}
@media (min-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j._1L5MsHayIMOr5ug0cNxdxX:not(
      ._2aUgvVQfnrPXJadG5GrdcD
    ) {
    display: none;
  }
}
@media (min-width: 1026px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j._1L5MsHayIMOr5ug0cNxdxX._2aUgvVQfnrPXJadG5GrdcD {
    display: none;
  }
}
._2HSg8AtRJl7UMJATPIsBR8
  ._1v3eOf_69jOyKwYgOD2J2w
  ._1ogG0o0tuYDOljO3JVMG4j
  ._1pxjbUKB_ugZ6rMdnTXmks {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  margin-bottom: 2px;
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j
    ._1pxjbUKB_ugZ6rMdnTXmks {
    font-size: 22px;
  }
}
@media (max-width: 1026px) and (min-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j
    ._1pxjbUKB_ugZ6rMdnTXmks {
    font-size: 20px;
  }
}
@media (max-width: 846px) {
  ._2HSg8AtRJl7UMJATPIsBR8
    ._1v3eOf_69jOyKwYgOD2J2w
    ._1ogG0o0tuYDOljO3JVMG4j
    ._1pxjbUKB_ugZ6rMdnTXmks {
    font-size: 16px;
  }
}
._2HSg8AtRJl7UMJATPIsBR8
  ._1v3eOf_69jOyKwYgOD2J2w
  ._1ogG0o0tuYDOljO3JVMG4j
  ._1YDn2Y6zO2xAbcwcIvI79b {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
._2LcfPsUSmeavC5MD7P-3_3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0px;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  row-gap: 20px;
  padding: 0px 30px;
}
._2LcfPsUSmeavC5MD7P-3_3 ._2kL46N7kSTQrKIGU59rigN {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._2LcfPsUSmeavC5MD7P-3_3 ._2kL46N7kSTQrKIGU59rigN._3rT8s7lyF7ez2ptouqnozy {
  filter: saturate(0.5) brightness(0.5);
}
._2LcfPsUSmeavC5MD7P-3_3 ._2kL46N7kSTQrKIGU59rigN ._9umPLKYAgKsJMqw7ujTrY {
  color: #fff;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
._2LcfPsUSmeavC5MD7P-3_3 .xT3lxTdADiEWewVz8DEPg {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 8px;
}
._2LcfPsUSmeavC5MD7P-3_3 .RMzOW5KaqQvzer-NgkySs {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._2LcfPsUSmeavC5MD7P-3_3 .RMzOW5KaqQvzer-NgkySs ._9umPLKYAgKsJMqw7ujTrY {
  color: #fff;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._2aUgvVQfnrPXJadG5GrdcD ._3V92WeqSSAvVfpoO35PvX3 {
    width: 306px;
  }
}
@media (max-width: 1026px) and (min-width: 846px) {
  ._2aUgvVQfnrPXJadG5GrdcD ._3V92WeqSSAvVfpoO35PvX3 {
    width: 364px;
  }
}
@media (max-width: 846px) {
  ._2aUgvVQfnrPXJadG5GrdcD ._3V92WeqSSAvVfpoO35PvX3 {
    width: 364px;
  }
}
._3V92WeqSSAvVfpoO35PvX3 {
  width: 282px;
  z-index: 0;
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._3V92WeqSSAvVfpoO35PvX3 {
    width: 306px;
  }
}
@media (max-width: 1026px) and (min-width: 846px) {
  ._3V92WeqSSAvVfpoO35PvX3 {
    width: 364px;
  }
}
@media (max-width: 846px) {
  ._3V92WeqSSAvVfpoO35PvX3 {
    width: 364px;
  }
}
._3u_Aic2wvh3p-Iz6hf36rP {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 3;
  box-shadow: 2px 2px 4px #0008;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 14px;
  background-color: #157ac2;
  color: #fff;
  margin: 0px auto;
  cursor: pointer;
}
._3u_Aic2wvh3p-Iz6hf36rP:hover {
  filter: brightness(1.2);
}
._3eYzWPfWrCyM7r3vp9jsYG {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._3eYzWPfWrCyM7r3vp9jsYG ._3pwknKJXwBmgVszW8WeZYQ {
  font-size: 17px;
  color: #fff;
  font-weight: bold;
  padding: 4px 30px 4px 4px;
  border-bottom: 1px solid #35414f;
}
._3eYzWPfWrCyM7r3vp9jsYG ._2AGzi6yGV_B75WoMGktOG4 {
  display: flex;
  flex-direction: column;
}
._2kvCThnw9WB9GKfJ-WEA49 {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}
._2kvCThnw9WB9GKfJ-WEA49._2Ktvtjekp2t1yiR17tO37o {
  display: none;
  filter: brightness(0.5);
}
._2kvCThnw9WB9GKfJ-WEA49 ._5Cxkp65lk0ZLEkohB0UYj {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
._2kvCThnw9WB9GKfJ-WEA49 ._3z4JI2StYiKelmK8LLL_f5 {
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: #0f1924;
  gap: 8px;
  overflow-x: scroll;
}
._2kvCThnw9WB9GKfJ-WEA49 ._3z4JI2StYiKelmK8LLL_f5 ._1vkzAJHySeGgIC6aWfk0iS {
  width: 100px;
  min-width: 100px;
  z-index: 0;
}
._1czh2W36HftecDpf7txuSp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}
._1czh2W36HftecDpf7txuSp._3HXw8Pw87qqgqr1Ag5Bwde {
  flex-direction: column;
}
._1czh2W36HftecDpf7txuSp._2aUgvVQfnrPXJadG5GrdcD {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
._1czh2W36HftecDpf7txuSp .RLNS069fcm-HyBmDQpQzx {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 1px solid #35414f;
  padding-bottom: 10px;
  margin: 0px 40px;
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._1czh2W36HftecDpf7txuSp .RLNS069fcm-HyBmDQpQzx {
    margin: 0px 30px;
  }
}
@media (max-width: 1026px) and (min-width: 846px) {
  ._1czh2W36HftecDpf7txuSp .RLNS069fcm-HyBmDQpQzx {
    margin: 0px 15px;
  }
}
@media (max-width: 846px) {
  ._1czh2W36HftecDpf7txuSp .RLNS069fcm-HyBmDQpQzx {
    margin: 0px 7px;
  }
}
@media (max-width: 1540px) and (min-width: 1308px) {
  ._2aUgvVQfnrPXJadG5GrdcD
    ._14ZKl5pFBqLi_U0LVFjkz4
    ._1YDn2Y6zO2xAbcwcIvI79b
    ._13JzJBgCihXnVCM-l2MMWR {
    width: 168px;
  }
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._2aUgvVQfnrPXJadG5GrdcD
    ._14ZKl5pFBqLi_U0LVFjkz4
    ._1YDn2Y6zO2xAbcwcIvI79b
    ._13JzJBgCihXnVCM-l2MMWR {
    width: 132px;
  }
}
@media (max-width: 1026px) {
  ._2aUgvVQfnrPXJadG5GrdcD
    ._14ZKl5pFBqLi_U0LVFjkz4
    ._1YDn2Y6zO2xAbcwcIvI79b
    ._13JzJBgCihXnVCM-l2MMWR {
    width: 63px;
  }
}
._14ZKl5pFBqLi_U0LVFjkz4 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 1px;
  margin-bottom: 8px;
  min-height: 200px;
  background-color: #101a27;
}
._14ZKl5pFBqLi_U0LVFjkz4._3UiDT-YpyntdDox1_Ccld6 {
  opacity: 0;
  pointer-events: none;
  height: 0px;
}
._14ZKl5pFBqLi_U0LVFjkz4.rChGJxkm3sNTTmDYe7KMW {
  border: 1px solid #abc0d1;
  background: #253e53;
}
._14ZKl5pFBqLi_U0LVFjkz4.rChGJxkm3sNTTmDYe7KMW ._1i3Li2VsTuM5vu7R9eWJ2F {
  background: #bfdef7;
  color: #000;
  font-weight: bold;
}
._14ZKl5pFBqLi_U0LVFjkz4 ._1i3Li2VsTuM5vu7R9eWJ2F {
  background: linear-gradient(90deg, #000000, #151f2f);
  padding: 4px 8px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
._14ZKl5pFBqLi_U0LVFjkz4 ._1YDn2Y6zO2xAbcwcIvI79b {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 8px;
}
._14ZKl5pFBqLi_U0LVFjkz4 ._1YDn2Y6zO2xAbcwcIvI79b ._13JzJBgCihXnVCM-l2MMWR {
  margin: 0 auto;
  width: 208px;
  z-index: 0;
}
@media (max-width: 1308px) and (min-width: 1026px) {
  ._14ZKl5pFBqLi_U0LVFjkz4 ._1YDn2Y6zO2xAbcwcIvI79b ._13JzJBgCihXnVCM-l2MMWR {
    width: 166px;
  }
}
@media (max-width: 1026px) and (min-width: 846px) {
  ._14ZKl5pFBqLi_U0LVFjkz4 ._1YDn2Y6zO2xAbcwcIvI79b ._13JzJBgCihXnVCM-l2MMWR {
    width: 126px;
  }
}
@media (max-width: 846px) {
  ._14ZKl5pFBqLi_U0LVFjkz4 ._1YDn2Y6zO2xAbcwcIvI79b ._13JzJBgCihXnVCM-l2MMWR {
    width: 63px;
  }
}
._14ZKl5pFBqLi_U0LVFjkz4 ._1YDn2Y6zO2xAbcwcIvI79b .ez9Ld7tp9t28fRwR6VBKh {
  box-shadow: 2px 2px 4px #0008;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 14px;
  background-color: #157ac2;
  color: #fff;
  margin: 0px auto;
  cursor: pointer;
}
._14ZKl5pFBqLi_U0LVFjkz4 ._1YDn2Y6zO2xAbcwcIvI79b .ez9Ld7tp9t28fRwR6VBKh:hover {
  filter: brightness(1.2);
}
._14ZKl5pFBqLi_U0LVFjkz4 ._3P6P3gZ5tYxntcm-ESmTbn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #157ac2;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  cursor: pointer;
  user-select: none;
}
._14ZKl5pFBqLi_U0LVFjkz4 ._3P6P3gZ5tYxntcm-ESmTbn:hover {
  color: #1a9fff;
}
.ON8dwj0iIb2zJimIKh1q3 {
  padding: 36px 64px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    0deg,
    rgba(36, 46, 59, 0.5) 0%,
    #221f2a 100%
  );
  margin-top: 40px;
}
.ON8dwj0iIb2zJimIKh1q3 ._3ltxE2-EO4o2zA-ZuTNR9B {
  border-radius: 2px;
  border: none;
  padding: 10px 30px;
  margin: 16px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  color: #285b9a;
  background: rgba(103, 193, 245, 0.9);
}
.ON8dwj0iIb2zJimIKh1q3 ._3ltxE2-EO4o2zA-ZuTNR9B:hover {
  color: #fff;
  background: #417a9b;
  background: -webkit-linear-gradient(150deg, #417a9b 5%, #67c1f5 95%);
  background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(body, blockquote, dl, dd, figure, p) {
  margin: 0;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(
    address,
    b,
    cite,
    code,
    dfn,
    em,
    i,
    kbd,
    q,
    samp,
    small,
    strong,
    var
  ) {
  font: unset;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(h1, h2, h3, h4, h5, h6) {
  font: unset;
  margin: 0;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(a) {
  all: unset;
  -webkit-tap-highlight-color: transparent;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(
    button,
    select,
    [type="button"],
    [type="image"],
    [type="reset"],
    [type="submit"],
    [type="checkbox"],
    [type="color"],
    [type="radio"],
    [type="range"]
  ) {
  all: unset;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  text-indent: initial;
  -webkit-tap-highlight-color: transparent;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(label) {
  -webkit-tap-highlight-color: transparent;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(select) {
  font-weight: normal;
  font-style: normal;
  text-align: start;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(
    textarea,
    input:not(
        [type="button"],
        [type="image"],
        [type="reset"],
        [type="submit"],
        [type="checkbox"],
        [type="color"],
        [type="radio"],
        [type="range"]
      )
  ) {
  all: unset;
  display: block;
  width: stretch;
  font-weight: normal;
  font-style: normal;
  text-align: start;
  text-indent: initial;
  -webkit-tap-highlight-color: transparent;
  cursor: text;
  white-space: pre-wrap;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(:focus) {
  outline: none;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl)::placeholder {
  color: unset;
  opacity: unset;
  user-select: none;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(table) {
  all: unset;
  display: table;
  text-indent: initial;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(caption) {
  text-align: inherit;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(td) {
  padding: 0;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(th) {
  font-weight: unset;
  text-align: inherit;
  padding: 0;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(abbr, acronym) {
  text-decoration: none;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(canvas, object, picture, summary) {
  display: block;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(del, s) {
  text-decoration: unset;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(fieldset, hr) {
  all: unset;
  display: block;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(legend) {
  padding: 0;
  border: none;
  cursor: default;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(li) {
  display: block;
  text-align: unset;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(ol, ul) {
  list-style: none;
  margin: 0;
  padding: 0;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(iframe) {
  display: block;
  border: none;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(iframe) {
  width: stretch;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(ins, u) {
  text-decoration: none;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(img) {
  display: block;
  max-width: 100%;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(svg) {
  display: block;
  max-width: 100%;
  flex-shrink: 0;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(mark) {
  all: unset;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(pre) {
  font: unset;
  margin: unset;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(q)::before,
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(q)::after {
  content: "";
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(sub, sup) {
  font: unset;
  vertical-align: unset;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(details) ::marker,
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(summary)::marker {
  content: none;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(video) {
  display: block;
  width: stretch;
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(:any-link) {
  cursor: var(--cursor-link);
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(button) {
  cursor: var(--cursor-button);
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(:disabled, [data-disabled]) {
  cursor: var(--cursor-disabled);
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(input[type="checkbox"]) {
  cursor: var(--cursor-checkbox);
}
:where(._3A_c3YHYd4YIjA8Y-olnPl):where(input[type="radio"]) {
  cursor: var(--cursor-radio);
}
._1vE-LsK6l_D_5yjbywZV1p {
  width: 100%;
  box-sizing: border-box;
  --color-placeholder-text: var(--text-muted-color, #afafaf);
}
._1vE-LsK6l_D_5yjbywZV1p::placeholder,
._1vE-LsK6l_D_5yjbywZV1p::-webkit-input-placeholder {
  color: var(--color-placeholder-text);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-style: normal;
}
._1vE-LsK6l_D_5yjbywZV1p::-ms-input-placeholder,
._1vE-LsK6l_D_5yjbywZV1p:-ms-input-placeholder {
  color: var(--color-placeholder-text);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-style: normal;
}
._1vE-LsK6l_D_5yjbywZV1p:read-only {
  cursor: default;
}
textarea._1vE-LsK6l_D_5yjbywZV1p {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  max-width: 100%;
  max-height: 100%;
}
