._2aMRbzoT83AkFGYSmCvnRe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  pointer-events: none;
  background: #000;
}
._2aMRbzoT83AkFGYSmCvnRe._23t3208XMavZer6IZIxzSb,
._2aMRbzoT83AkFGYSmCvnRe._2aYdrHuuHZHrhgAJh-eZX3 {
  transition: height 0.23s ease-in-out;
  height: auto;
  box-shadow:
    0 0 20px #000,
    0 0 20px #000;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
}
._2aMRbzoT83AkFGYSmCvnRe._2aYdrHuuHZHrhgAJh-eZX3 {
  width: calc(100% + 5px);
  left: -5px;
}
.buttonBack___1mlaL,
.buttonFirst___2rhFr,
.buttonLast___2yuh0,
.buttonNext___2mOCa,
.buttonNext___3Lm3s,
.dot___3c3SI {
  cursor: pointer;
}
.image___xtQGH {
  display: block;
  width: 100%;
  height: 100%;
}
.spinner___27VUp {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  animation-name: spin___S3UuE;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: 4px solid #a9a9a9;
  border-top-color: #000;
  border-radius: 30px;
}
@keyframes spin___S3UuE {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.container___2O72F {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.overlay___IV4qY {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  cursor: zoom-in;
  transition:
    opacity 0.3s,
    transform 0.3s;
}
.hover___MYy31,
.loading___1pvNI,
.zoom___3kqYk {
  opacity: 1;
}
.imageLoadingSpinnerContainer___3UIPD {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
}
.slide___3-Nqo {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 0;
  margin: 0;
  list-style-type: none;
}
.slide___3-Nqo:focus {
  outline: none !important;
}
.slideHorizontal___1NzNV {
  float: left;
}
[dir="rtl"] .slideHorizontal___1NzNV {
  direction: rtl;
  transform: scaleX(-1);
}
.slideInner___2mfX9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.focusRing___1airF {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  pointer-events: none;
  outline-width: 5px;
  outline-style: solid;
  outline-color: Highlight;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  .focusRing___1airF {
    outline-style: auto;
    outline-color: -webkit-focus-ring-color;
  }
}
.horizontalSlider___281Ls {
  position: relative;
  overflow: hidden;
}
.horizontalSlider___281Ls:not(.touchDisabled___2qs4y) {
  touch-action: pan-y pinch-zoom;
}
[dir="rtl"] .horizontalSlider___281Ls {
  direction: ltr;
  transform: scaleX(-1);
}
.horizontalSliderTray___1L-0W {
  overflow: hidden;
  width: 100%;
}
.verticalSlider___34ZFD {
  position: relative;
  overflow: hidden;
}
.verticalSliderTray___267D8 {
  overflow: hidden;
}
.verticalTray___12Key {
  float: left;
}
.verticalSlideTrayWrap___2nO7o {
  overflow: hidden;
}
.sliderTray___-vHFQ {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sliderAnimation___300FY {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
}
.masterSpinnerContainer___1Z6hB {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
}
@keyframes _25VCY5c_WxOmDf5rM9ytzl {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes _3Wd6R5ArXmgfz1dMwANtD7 {
  from {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes _2mepLvzcUGS8PS7_cO5A4C {
  from {
    background: #3d4450;
    color: #8b929a;
  }
  to {
    background: #23262e;
    color: #fff;
  }
}
@keyframes KiXqOP4sNGGqLzPFjAa3D {
  from {
    background: #23262e;
    color: #8b929a;
  }
  to {
    background: #383a41;
    color: #fff;
  }
}
@keyframes _3NRkgxBrOQc_fQX1HvTkk3 {
  from {
    background: hsla(0, 0%, 100%, 0.25);
    color: #8b929a;
  }
  to {
    background: hsla(0, 0%, 100%, 0.15);
    color: #fff;
  }
}
@keyframes SAxIC6YdDjzPzIqw_aS4s {
  from {
    background: #8b929a;
    color: #fff;
  }
  to {
    background: #67707b;
    color: #fff;
  }
}
@keyframes _-1Vlo_3w2uf9fF1-AU1F4 {
  from {
    background: hsla(0, 0%, 100%, 0.3);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.1);
    color: #fff;
  }
}
@keyframes _7B6-9HPzoer1QOmgjEAWS {
  from {
    background: hsla(0, 0%, 100%, 0.5);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
}
@keyframes GRKCpstf6SP8ly-oMKYX3 {
  from {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes _2cBvKmN3c2ILRdjHTpBZUQ {
  from {
    background: #c9ffc9;
    color: #8b929a;
  }
  to {
    background: #59bf40;
    color: #fff;
  }
}
@keyframes _3eJJYrpdNOdlU26_C9wlMp {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }
  100% {
    background-position: -180% 0%;
    opacity: 0.8;
  }
}
@keyframes BiWwdgbiMRC3pAc-R3rqS {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}
._13rGo4vexAbY9-CP7FsLOg {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none !important;
  display: flex;
  cursor: pointer;
  padding: 0px;
}
._13rGo4vexAbY9-CP7FsLOg:hover svg {
  opacity: 1;
}
._13rGo4vexAbY9-CP7FsLOg:disabled svg {
  opacity: 0.1;
  filter: none;
}
._13rGo4vexAbY9-CP7FsLOg svg {
  opacity: 0.7;
  transition:
    opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}
._3zfZ9tkIrSDZdSTv8mvZ3- {
  display: flex;
  z-index: 1;
  align-items: center;
  position: absolute;
  padding: 0px;
  width: 50px;
  top: 0px;
  bottom: 0px;
}
._3zfZ9tkIrSDZdSTv8mvZ3-.S8IHdovT5T2iEVg_97xve {
  left: -68px;
}
._3zfZ9tkIrSDZdSTv8mvZ3-.Cq59o5WQ49zTvvFY56QYS {
  right: -68px;
}
._3zfZ9tkIrSDZdSTv8mvZ3- svg {
  width: 50px;
  height: 50px;
}
.BasicUI ._3zfZ9tkIrSDZdSTv8mvZ3- {
  display: none;
}
._3a31O8XB_8lD-yov8FB9-9 {
  display: flex;
  flex-direction: column;
  position: relative;
}
._2M3SnYGvMvplWUC8yGhowo {
  position: relative;
}
.SaleSectionCarousel .carousel__slider {
  padding: 10px 0px;
  margin: -10px -7px 0px -7px;
}
html.responsive.touch .SaleSectionCarousel .carousel__slider {
  margin: 0;
}
@media screen and (max-width: 910px) {
  html.responsive .SaleSectionCarousel .carousel__slider {
    margin: 0;
  }
}
.BasicUI .SaleSectionCarousel .carousel__slider {
  padding: unset;
}
.BasicUI ._2VUpHDtxN8lR1LDahY_cI2 {
  column-gap: 12px;
  transform: none !important;
}
.fiveElementEightGap ._2VUpHDtxN8lR1LDahY_cI2 > * {
  margin-right: 8px;
}
.fiveElementEightGap ._2VUpHDtxN8lR1LDahY_cI2 > *:nth-child(5n + 1) {
  margin-right: 0px;
}
html.responsive.touch .fiveElementEightGap {
  gap: 4px;
}
@media screen and (max-width: 910px) {
  html.responsive .fiveElementEightGap {
    gap: 4px;
  }
}
._3HjnEmKg66o82ah74EIvmq {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 2px;
}
._3dMffY_iRZXHjZmXN9aLej {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  z-index: 5;
}
._3dMffY_iRZXHjZmXN9aLej ._3Byg6Wc4TX36gkUptUIk72 {
  opacity: 1;
}
.LY1m24ODS7AFRuzclt0Sl {
  display: flex;
  flex-flow: row;
}
._3SyN-YtXsML6ado0q-Gdve {
  display: flex;
  flex-direction: row;
  height: 35px;
  margin: 2px 10px 0px 10px;
}
.BasicUI ._3SyN-YtXsML6ado0q-Gdve {
  display: none;
}
.contenthubmaincarousel ._3SyN-YtXsML6ado0q-Gdve {
  max-width: 940px;
  width: 100%;
  margin: 0px auto;
}
._3SyN-YtXsML6ado0q-Gdve .qE43Jfzl0qJX_a6XrMgSr {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
._3SyN-YtXsML6ado0q-Gdve .qE43Jfzl0qJX_a6XrMgSr.S8IHdovT5T2iEVg_97xve {
  padding-left: 0px;
  padding-right: 20px;
}
._3SyN-YtXsML6ado0q-Gdve .qE43Jfzl0qJX_a6XrMgSr svg {
  height: 30px;
}
._3SyN-YtXsML6ado0q-Gdve ._95I5gwXXMBghRg-4uNQLr {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
}
._3SyN-YtXsML6ado0q-Gdve ._95I5gwXXMBghRg-4uNQLr ._1cpdoEGU0uiIWbGIU_qMbZ {
  width: 100%;
  height: 100%;
}
._3SyN-YtXsML6ado0q-Gdve .EMd4F6A8qdMk-l6os415A {
  position: relative;
  flex-grow: 1;
  height: 100%;
}
._3SyN-YtXsML6ado0q-Gdve .EMd4F6A8qdMk-l6os415A .WUHeTNYGQDQQg_jQe-78W {
  position: absolute;
  left: 0px;
  top: 17px;
  bottom: 17px;
  right: 0px;
  background-color: hsla(0, 0%, 100%, 0.13);
  margin: auto 0;
}
._3SyN-YtXsML6ado0q-Gdve .EMd4F6A8qdMk-l6os415A .PQzkJfi8IxzjcFEDG-yv- {
  position: absolute;
  top: 16px;
  bottom: 16px;
  background-color: hsla(0, 0%, 100%, 0.35);
  transition: left right;
  transition-duration: 0.4s;
}
._3TKX37FakYHikXh3Wtg2BU {
  padding-top: 10px;
}
._3TKX37FakYHikXh3Wtg2BU ._3Byg6Wc4TX36gkUptUIk72 {
  width: 28px;
  height: 25px;
  position: relative;
}
._3TKX37FakYHikXh3Wtg2BU ._3Byg6Wc4TX36gkUptUIk72 ._1u4YJiW1cdufpC_wssM8Us {
  position: absolute;
  top: 3px;
  left: 0px;
  right: 0px;
  text-align: center;
}
._3Byg6Wc4TX36gkUptUIk72 {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none !important;
  cursor: pointer;
  width: 18px;
  height: 15px;
  opacity: 0.3;
  padding: 1px 2px;
  margin: 0px;
}
._3Byg6Wc4TX36gkUptUIk72 img {
  width: 100%;
  height: 100%;
}
._3Byg6Wc4TX36gkUptUIk72.carousel__dot--selected {
  opacity: 1;
}
._3Byg6Wc4TX36gkUptUIk72 {
  transition: opacity 0.2s;
}
._3Cc2bMRML2lEkSyi2IAZ9G .carousel__slide-focus-ring {
  outline: none;
}
._3J8-bW87K3pb8EpRNYq0JG {
  transition: none;
}
._1nUtBXgWizhgU1jv-8wVC7 {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}
._1rLdYDrWbYRcVNpPlFd225 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: clamp(150px, 30cqi, 408px);
}
._1rLdYDrWbYRcVNpPlFd225 .carousel__slider-tray-wrapper.GamepadMode,
.GamepadMode ._1rLdYDrWbYRcVNpPlFd225 .carousel__slider-tray-wrapper {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  margin: 0px calc(0px - var(--gpSpace-Gutter));
  padding: 4px var(--gpSpace-Gutter) 8px;
  scroll-padding: var(--gpSpace-Gutter);
}
._1rLdYDrWbYRcVNpPlFd225 .carousel__slider.GamepadMode,
.GamepadMode ._1rLdYDrWbYRcVNpPlFd225 .carousel__slider {
  overflow: visible;
}
._1rLdYDrWbYRcVNpPlFd225 .CarouselBtnRight {
  transform: translateX(-16px);
}
._1rLdYDrWbYRcVNpPlFd225 .CarouselBtnLeft {
  transform: translateX(16px);
}
._1rLdYDrWbYRcVNpPlFd225 .breadcrumbContainer {
  gap: 4px;
}
._1rLdYDrWbYRcVNpPlFd225 .uUNiI-Woa-IKlMTl8sNz4 {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
  position: relative;
  padding: 8px 4px;
  background:
    linear-gradient(
      0deg,
      rgba(31, 49, 74, 0.45) 5%,
      rgba(33, 54, 77, 0.65) 20%,
      rgba(28, 50, 70, 0.5) 65%,
      rgba(40, 70, 98, 0.45) 95%,
      rgba(43, 83, 118, 0.55) 100%
    ),
    radial-gradient(
      circle at 10% 0%,
      rgba(94, 174, 255, 0.2) 0%,
      rgba(34, 53, 77, 0.05) 50%,
      rgba(94, 174, 255, 0) 90%
    ),
    radial-gradient(
      circle at 80% 100%,
      rgba(94, 174, 255, 0.1) 0%,
      rgba(94, 174, 255, 0.05) 50%,
      rgba(94, 174, 255, 0) 90%
    );
  box-sizing: border-box;
}
._1rLdYDrWbYRcVNpPlFd225 .uUNiI-Woa-IKlMTl8sNz4.zxpXN3eSl7IE7Y_HFaDsf {
  background: linear-gradient(
    315deg,
    rgb(183, 37, 90) 5%,
    rgb(140, 28, 95) 50%,
    rgb(97, 14, 93) 95%
  );
}
._1rLdYDrWbYRcVNpPlFd225 .uUNiI-Woa-IKlMTl8sNz4 ._1UXC23q3yEmSJ2eQNdi-0W {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  font-size: clamp(0.65rem, 1.5cqi, 0.85rem);
}
._1rLdYDrWbYRcVNpPlFd225
  .uUNiI-Woa-IKlMTl8sNz4
  ._1UXC23q3yEmSJ2eQNdi-0W
  ._8gOpVF6uAFG2cGwiwvREf {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  letter-spacing: 1px;
}
._1rLdYDrWbYRcVNpPlFd225
  .uUNiI-Woa-IKlMTl8sNz4
  ._1UXC23q3yEmSJ2eQNdi-0W
  ._2ZLaa9X1KqHlMCSw96mYaW {
  font-weight: bold;
  color: hsla(0, 0%, 100%, 0.8666666667);
  letter-spacing: 1px;
}
._1rLdYDrWbYRcVNpPlFd225
  .uUNiI-Woa-IKlMTl8sNz4
  ._1UXC23q3yEmSJ2eQNdi-0W
  ._3mRf-suj1kS8DGKgfnHAql {
  font-weight: bold;
  color: hsla(0, 0%, 100%, 0.8666666667);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0px 10px;
  border-bottom: 1px solid #fff;
}
._1rLdYDrWbYRcVNpPlFd225 .uUNiI-Woa-IKlMTl8sNz4 ._3LhmtdtkRlqwQbEcHrCJGs {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}
._1rLdYDrWbYRcVNpPlFd225 .uUNiI-Woa-IKlMTl8sNz4 ._2T5aAmTJF2RJhrBpoIOfqW {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #436081;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5333333333);
  padding: 0px 12px;
  color: #fff;
  transition: background 0.15s ease-in;
}
._1rLdYDrWbYRcVNpPlFd225 .uUNiI-Woa-IKlMTl8sNz4 ._2T5aAmTJF2RJhrBpoIOfqW:hover {
  background: #4f6f94;
}
html.responsive.touch
  ._1rLdYDrWbYRcVNpPlFd225
  .uUNiI-Woa-IKlMTl8sNz4
  ._2T5aAmTJF2RJhrBpoIOfqW {
  font-size: 12px;
}
@media screen and (max-width: 910px) {
  html.responsive
    ._1rLdYDrWbYRcVNpPlFd225
    .uUNiI-Woa-IKlMTl8sNz4
    ._2T5aAmTJF2RJhrBpoIOfqW {
    font-size: 12px;
  }
}
@media screen and (max-width: 940px) {
  ._1rLdYDrWbYRcVNpPlFd225 .uUNiI-Woa-IKlMTl8sNz4 ._2T5aAmTJF2RJhrBpoIOfqW {
    display: none;
  }
}
@media screen and (max-width: 940px) {
  ._1rLdYDrWbYRcVNpPlFd225 .uUNiI-Woa-IKlMTl8sNz4 {
    padding: 4px;
    min-width: 100px;
    gap: 4px;
    height: unset;
  }
  ._1rLdYDrWbYRcVNpPlFd225 .uUNiI-Woa-IKlMTl8sNz4 ._3LhmtdtkRlqwQbEcHrCJGs {
    padding: 4px;
  }
}
._2Tqn7YAJcleffVrwKeeky6 {
  position: relative;
}
._2Tqn7YAJcleffVrwKeeky6 ._1V0RCs8QeHLs8oLOr0MdyK {
  width: 100%;
  aspect-ratio: 616 / 353;
  position: relative;
  min-height: 0;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
._2Tqn7YAJcleffVrwKeeky6 ._1V0RCs8QeHLs8oLOr0MdyK._1StchN24Q1CulpMocY_T5a {
  transform: scale(1.05);
}
@media screen and (max-width: 940px) {
  ._2Tqn7YAJcleffVrwKeeky6 ._1V0RCs8QeHLs8oLOr0MdyK {
    min-height: unset;
  }
}
._2Tqn7YAJcleffVrwKeeky6 ._1V0RCs8QeHLs8oLOr0MdyK ._15wSFuv0rJYhA009HlKKE1 {
  width: 100%;
}
.uh7LG17VS8cMtDP9jCt1f {
  display: flex;
  padding: 4px 8px;
  border-radius: 3px;
  background: #1a9fff;
  color: #fff;
  font-size: clamp(0.75rem, 1.35cqi, 1.25rem);
  font-weight: 500;
}
._2icO_OA6Rqt6nLSts5ow4E {
  display: flex;
}
._2icO_OA6Rqt6nLSts5ow4E ._3aD2ult5gmmxWA_7oCdUPO {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  opacity: 0;
}
._2icO_OA6Rqt6nLSts5ow4E ._3aD2ult5gmmxWA_7oCdUPO.kPZWPvJo2jw2t3b47viEo {
  opacity: 1;
}
