._2lQDxwhbNHmjH31B0a0KoB {
  color: #fff;
}
.XKjt8Kz4bhyBqZxrpK6Af {
  max-height: 500px;
  max-width: 1000px;
  overflow-y: auto;
  font-size: 13px;
}
._1ogvTDnbFU4B1hC_s3YUO4 {
  font-size: 13px;
  color: #c85e2d;
}
.D82hqMsJhf-6K4RjqShxR {
  border-collapse: collapse;
}
.D82hqMsJhf-6K4RjqShxR thead {
  text-align: left;
}
.D82hqMsJhf-6K4RjqShxR th {
  padding: 5px;
  white-space: nowrap;
}
.D82hqMsJhf-6K4RjqShxR td {
  padding: 5px;
  vertical-align: top;
}
.D82hqMsJhf-6K4RjqShxR tbody tr:hover {
  background-color: hsla(0, 0%, 100%, 0.125);
}
._3CGYGrKOKn3bIhllSfG4Jq {
  min-width: 200px;
}
.npmKyDMK0Cpqi24QIg-gm {
  display: flex;
  gap: 4px;
  white-space: nowrap;
}
._2o1AY27gzyCbobL2jKfptD {
  margin-top: 20px;
}
._3lipsNsbncd2aIAQ_4CTQR {
  color: #fff;
}
._3lipsNsbncd2aIAQ_4CTQR ._286KkCsK27JmtcD6E1MF4w {
  flex-grow: 1;
}
