._1_sHcxv9rQdANehiviVZR4 {
  height: 36px;
  width: 36px;
  display: flex;
  margin: 0px 0px;
  transform: scale(0.86, 0.86) translateX(0px);
  transition-property: transform;
  transition-duration: 0.34s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.19, 2.28);
  flex-direction: row;
  flex-shrink: 0;
}
._1_sHcxv9rQdANehiviVZR4[data-status-position="border"] {
  align-items: center;
  justify-content: center;
  transform: scale(1, 1) translateX(0px);
}
._1_sHcxv9rQdANehiviVZR4[data-status-position="border"]
  ._3qaudpkfSKoxlwfA-deQLX {
  box-sizing: border-box;
  box-shadow: none;
}
._1_sHcxv9rQdANehiviVZR4[data-size="X-Small"] {
  height: 28px;
  width: 28px;
}
._1_sHcxv9rQdANehiviVZR4[data-size="Medium"] {
  height: 36px;
  width: 36px;
}
._1_sHcxv9rQdANehiviVZR4[data-size="MediumLarge"] {
  height: 48px;
  width: 48px;
}
._1_sHcxv9rQdANehiviVZR4[data-size="Large"] {
  height: 84px;
  width: 84px;
}
._1_sHcxv9rQdANehiviVZR4[data-size="X-Large"] {
  height: 92px;
  width: 92px;
}
._1_sHcxv9rQdANehiviVZR4[data-size="FillArea"] {
  height: 100%;
  width: 100%;
}
._1_sHcxv9rQdANehiviVZR4._2G4b7NcQECHtFR_D28hqQG {
  background: linear-gradient(
    to bottom,
    rgb(106, 106, 106) 5%,
    rgb(85, 85, 85) 95%
  );
}
[data-status-position="border"]._2-QtgoeBaZrzBPhoKaud5x
  ._3pbKzT087jaL2EeQO1qsaR {
  background: linear-gradient(
    to bottom,
    rgb(83, 164, 196) 5%,
    rgb(69, 128, 151) 95%
  );
}
[data-status-position="border"]._2-QtgoeBaZrzBPhoKaud5x
  ._3qaudpkfSKoxlwfA-deQLX {
  background: linear-gradient(to bottom, #41778f 5%, #3d697b 95%);
}
._2K3Q_r66P06VLgIPo-DYsv [data-size="X-Large"] ._3pbKzT087jaL2EeQO1qsaR {
  background: #bff02b;
}
._3VrE4NMh7NJt0aKikAbOA3 ._3pbKzT087jaL2EeQO1qsaR {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  -webkit-mask-size: 5px 5px;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  mask-size: 5px 5px;
  opacity: 0.75;
}
._2-QtgoeBaZrzBPhoKaud5x ._3pbKzT087jaL2EeQO1qsaR {
  background: linear-gradient(
    to bottom,
    rgb(109, 207, 246) 0%,
    rgb(109, 207, 246) 30%,
    rgb(109, 207, 246) 70%,
    rgb(109, 207, 246) 100%
  );
}
.FhCJhs583_Ocqm0UT9y_d ._3pbKzT087jaL2EeQO1qsaR {
  background: linear-gradient(
    to bottom,
    rgb(156, 143, 212) 0%,
    rgb(156, 143, 212) 30%,
    rgb(156, 143, 212) 70%,
    rgb(156, 143, 212) 100%
  );
}
._2K3Q_r66P06VLgIPo-DYsv ._3pbKzT087jaL2EeQO1qsaR {
  background: linear-gradient(
    to bottom,
    rgb(140, 214, 29) 0%,
    rgb(161, 244, 16) 30%,
    rgb(161, 244, 16) 70%,
    rgb(140, 214, 29) 100%
  );
}
[data-status-position="right"] ._3pbKzT087jaL2EeQO1qsaR {
  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline-end: 0;
  width: 2px;
}
[data-status-position="bottom"] ._3pbKzT087jaL2EeQO1qsaR {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}
[data-status-position="border"] ._3pbKzT087jaL2EeQO1qsaR {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
._3VrE4NMh7NJt0aKikAbOA3
  [data-status-position="bottom"]
  ._3pbKzT087jaL2EeQO1qsaR {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
}
._3VrE4NMh7NJt0aKikAbOA3
  [data-size="X-Large"]
  [data-status-position="bottom"]
  ._3pbKzT087jaL2EeQO1qsaR {
  mask-size: 6px 6px;
  opacity: 1;
}
._3qaudpkfSKoxlwfA-deQLX {
  border: 1px solid #383c43;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
  transition: filter 0.24s ease-in-out;
}
[data-status-position="border"] ._3qaudpkfSKoxlwfA-deQLX {
  border-color: rgba(0, 0, 0, 0);
}
._3ZPXpi9X8K-n17XiGgTMdU {
  position: absolute;
  top: 0;
  z-index: 1;
}
._3ZPXpi9X8K-n17XiGgTMdU .Uk4DBWxeyo7Tn8SAl8afe {
  width: 100%;
  height: 100%;
}
._1_sHcxv9rQdANehiviVZR4 ._3ZPXpi9X8K-n17XiGgTMdU {
  transform: scale(1.2);
}
