._3sPRGG8vL4sM6N-8FZo5fT {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 300px;
  margin-bottom: -290px;
  background: radial-gradient(
    50% 200px at 50% top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
._3sPRGG8vL4sM6N-8FZo5fT .page_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._3sPRGG8vL4sM6N-8FZo5fT a {
  text-decoration: none;
}
._3sPRGG8vL4sM6N-8FZo5fT a.-YNVdnBAoV2HQCkuR8C1h {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}
._3sPRGG8vL4sM6N-8FZo5fT a.-YNVdnBAoV2HQCkuR8C1h:hover {
  text-decoration: none;
  color: #fff;
}
._31Bm2h6tK_J4K2yYHTtttM {
  max-height: 1100px;
  height: 80vh;
  width: min-content;
  max-width: 100%;
  z-index: -1;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 4%,
    black 30%,
    black 70%,
    transparent 96%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 4%,
    black 30%,
    black 70%,
    transparent 96%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._31Bm2h6tK_J4K2yYHTtttM img {
  height: 100%;
  aspect-ratio: 1920 / 620;
  filter: saturate(0.6) opacity(0.4);
  -webkit-mask-image: linear-gradient(180deg, black 78%, transparent 98%);
  mask-image: linear-gradient(180deg, black 78%, transparent 96%);
  background-blend-mode: multiply;
}
._1LzeWsFv8n7BMFyJ1c0bF {
  z-index: -2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: #0c0f12;
}
._1LzeWsFv8n7BMFyJ1c0bF img {
  filter: blur(120px);
  height: 110vh;
}
.qQs0819GK5nJMJhEfDfqO {
  display: flex;
  color: #fff;
  font-size: clamp(22px, 4vw, 48px);
  font-weight: 800;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: clamp(40px, 4vw, 60px);
  filter: drop-shadow(1px 1px 9px rgba(0, 0, 0, 0.4))
    drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}
._1DN1jmbJKCQol4bLgow8xK {
  display: flex;
  padding: 8px;
  gap: 5px;
  align-items: center;
  color: #5abe41;
}
._1DN1jmbJKCQol4bLgow8xK img {
  height: 4vw;
  min-height: 34px;
  max-height: 62px;
}
._2Tf8QYNJrsywiXvKyV2Sm6 {
  color: #fff;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  text-shadow:
    1px 1px 14px rgba(0, 0, 0, 0.5607843137),
    1px 1px 2px rgba(0, 0, 0, 0.2901960784);
}
._33ittd22VgVN6fUvIAgkqu {
  position: relative;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._33ittd22VgVN6fUvIAgkqu ._2FW4jsZDS7ltbcDrOQStiW {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 10%;
  color: hsla(0, 0%, 100%, 0.6705882353);
  font-style: italic;
  font-size: 11px;
  text-align: center;
  text-shadow:
    1px 1px 14px rgba(0, 0, 0, 0.5607843137),
    1px 1px 2px rgba(0, 0, 0, 0.2901960784);
}
._3DCMQY1PEeYS2E7r8NJXKQ {
  position: relative;
  width: 80%;
  max-width: 1450px;
}
@media screen and (max-width: 600px) {
  ._3DCMQY1PEeYS2E7r8NJXKQ {
    width: 100%;
  }
}
._3DCMQY1PEeYS2E7r8NJXKQ img {
  width: 100%;
}
._1JhQMb3X6rKYyPqZWOZG5w {
  width: 100%;
  max-width: 80vw;
}
._2L4eqs1UZ1QEjRC1S8qiJA {
  width: 100%;
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._2L4eqs1UZ1QEjRC1S8qiJA img {
  width: 100%;
  margin-bottom: clamp(30px, 4vw, 60px);
  margin-top: clamp(30px, 4vw, 60px);
}
._3LbKJsBRhn7hEnOSlKZd64 {
  position: absolute;
  top: 18%;
  left: 25%;
  width: 51.5%;
  aspect-ratio: 16 / 9;
}
._2wAKy-0ZkO_vhbiQCP9MgE {
  display: flex;
  flex-direction: column;
  margin: 0;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l * {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l ._2qjZm0dB7I6lcRkZhNTqvD path {
  stroke-width: 0 !important;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1Sy0pXVZOdWbgouFyD2zJj {
  flex-direction: row;
}
._2wAKy-0ZkO_vhbiQCP9MgE .lYUEjD8Qh3GM_ZrZeLwpI,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
._2wAKy-0ZkO_vhbiQCP9MgE .lYUEjD8Qh3GM_ZrZeLwpI {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2zbyh5jEDlV5HVD3iUve-k .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 32px;
  height: 32px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2CphUsHNDgIWItNIzeIldY .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 64px;
  height: 64px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1x18vR7Qop8v8_G8qSR6CL .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 92px;
  height: 92px;
}
._3IYPzqtvB2ZE7x710d5x2C {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._21nVi2jNuF_prxLY1mAaKK,
._2wAKy-0ZkO_vhbiQCP9MgE ._21nVi2jNuF_prxLY1mAaKK {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2CphUsHNDgIWItNIzeIldY ._21nVi2jNuF_prxLY1mAaKK {
  margin-top: 4px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2zbyh5jEDlV5HVD3iUve-k ._21nVi2jNuF_prxLY1mAaKK {
  margin-top: 2px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber._1ctjA2yjeB21eCDj_r1mVz {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber._1ctjA2yjeB21eCDj_r1mVz path {
  stroke: #4375fd;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: _1O-cWE6nuIVO3x6-Onw0IU;
  animation-duration: 0.7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1Vv--mA6PueyEKXXMTwljt,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2K0LzwjOXDopMHoqY_v_CO {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2K0LzwjOXDopMHoqY_v_CO {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1Vv--mA6PueyEKXXMTwljt {
  display: none;
}
@keyframes _1O-cWE6nuIVO3x6-Onw0IU {
  to {
    stroke-dashoffset: -232;
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3sQFkavAEPhliH6DiFmHRH {
  animation-name: ofdi9VLSRZ5W98WsXVHiq;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes ofdi9VLSRZ5W98WsXVHiq {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE
  .SVGIcon_Throbber
  ._1LZffuoDq-N25wNHckxsf
  ._1XN6ZJ1l8nVoUxp1WnOBqw,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1LZffuoDq-N25wNHckxsf circle {
  stroke: #67c1f5;
  animation-name: _1jALk36CiS_T9Pg7vBjpIQ;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1LZffuoDq-N25wNHckxsf circle {
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2qjZm0dB7I6lcRkZhNTqvD path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes _1jALk36CiS_T9Pg7vBjpIQ {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes _1KvOgdKiNE9XuSYUau3hKW {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2LGHpu_-ihfOhQwdfR3Kiy,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2FGCneH2AemMrIrZnZskw_,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1X-5j16jaQntVrZfadibyc,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1pj1Q3Ef4FdHDdl9QEtpxp,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .xFmZaMe5nZpoTc5PQBKn3,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3MGYowzMQ6TwbH3fu9SVjt,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .ktVJ42jiVhWEVV9O6z2FK,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3s_7my869lIOj-1vnqJ39y,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._11MVp53Me_frOuaJfsQ4FE,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2cl-maglen-RF0YQjShgqG,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3-JE0FpIzECzeqtd5cyjGI,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1xNIKvHdzLhBldONo6yIZs,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1S17yicfcrPc11m83ydGp3,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1-oUJqmCLOoGqVJz5dgj6J,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2tXgejjqNKy6cSX1Lv7PrG {
  animation-name: _1fs4RGcMBRzbQQirDBiFoM;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2tXgejjqNKy6cSX1Lv7PrG {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: 0.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1-oUJqmCLOoGqVJz5dgj6J {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1S17yicfcrPc11m83ydGp3 {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1xNIKvHdzLhBldONo6yIZs {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3-JE0FpIzECzeqtd5cyjGI {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2cl-maglen-RF0YQjShgqG {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._11MVp53Me_frOuaJfsQ4FE {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3s_7my869lIOj-1vnqJ39y {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .ktVJ42jiVhWEVV9O6z2FK {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3MGYowzMQ6TwbH3fu9SVjt {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .xFmZaMe5nZpoTc5PQBKn3 {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1pj1Q3Ef4FdHDdl9QEtpxp {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1X-5j16jaQntVrZfadibyc {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2FGCneH2AemMrIrZnZskw_ {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2LGHpu_-ihfOhQwdfR3Kiy {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes _1fs4RGcMBRzbQQirDBiFoM {
  100% {
    stroke-dashoffset: -1100;
  }
}
._2zbyh5jEDlV5HVD3iUve-k {
  width: 36px;
  height: 36px;
}
._2CphUsHNDgIWItNIzeIldY {
  width: 64px;
  height: 64px;
}
._1x18vR7Qop8v8_G8qSR6CL {
  width: 92px;
  height: 92px;
}
._1gYeZMYKBDqNpVuw58_LCl {
  width: 120px;
  height: 120px;
}
._3j-p4JOqdpaF4obGtIeAB {
  width: 240px;
  height: 240px;
}
.I3aEq3lbK7Pm8ujENvtri {
  opacity: 0;
  transition: opacity 1s;
}
.I3aEq3lbK7Pm8ujENvtri._2SwSJd-DlX2dRiDGxZWHI5 {
  opacity: 1;
}
._1m8iQOSVziKDHiInrfskv_ img {
  width: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE {
  width: 100%;
  height: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE ._27gySE3vmqZlMXfuF632TP {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 60%
  );
  background-size: 400% 400%;
  border-radius: 5px;
  animation: _2l86dzSdcXulUY9WKa1Tbu 3.2s ease;
  animation-iteration-count: infinite;
}
._1ubg0tXv_umwQZUB_0jDRE ._1XmpFdzcYugE4Z9e7kEWU0 {
  position: relative;
  height: 100%;
  width: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE ._2u3dr06IR8IZdxdklGi4vo {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 60%
  );
  background-size: 400% 400%;
  border-radius: 5px;
  animation: _2l86dzSdcXulUY9WKa1Tbu 3.2s ease;
  animation-iteration-count: infinite;
}
._1ubg0tXv_umwQZUB_0jDRE .R5EqV-ifmaPOB3fyPBfhh {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
._1ubg0tXv_umwQZUB_0jDRE ._3kupXecbdHHKoQG8YCt4dL {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE ._3kupXecbdHHKoQG8YCt4dL ._27gySE3vmqZlMXfuF632TP {
  width: 32%;
  height: 150px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3kupXecbdHHKoQG8YCt4dL
  ._27gySE3vmqZlMXfuF632TP:nth-child(2) {
  animation-delay: 0.2s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3kupXecbdHHKoQG8YCt4dL
  ._27gySE3vmqZlMXfuF632TP:nth-child(3) {
  animation-delay: 0.4s;
}
._1ubg0tXv_umwQZUB_0jDRE ._33YZ_jDH_m_qIiXgOfMT76 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE ._33YZ_jDH_m_qIiXgOfMT76 ._27gySE3vmqZlMXfuF632TP {
  width: 24%;
  height: 105px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._33YZ_jDH_m_qIiXgOfMT76
  ._27gySE3vmqZlMXfuF632TP:nth-child(2) {
  animation-delay: 0.15s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._33YZ_jDH_m_qIiXgOfMT76
  ._27gySE3vmqZlMXfuF632TP:nth-child(3) {
  animation-delay: 0.3s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._33YZ_jDH_m_qIiXgOfMT76
  ._27gySE3vmqZlMXfuF632TP:nth-child(4) {
  animation-delay: 0.45s;
}
._1ubg0tXv_umwQZUB_0jDRE ._3TP7KmXA-L05uPNVUFbGFa ._27gySE3vmqZlMXfuF632TP {
  width: 100%;
  height: 478px;
}
._1ubg0tXv_umwQZUB_0jDRE ._2RfEi9dkz-umKdhACj0xcl ._27gySE3vmqZlMXfuF632TP {
  width: 100%;
  height: 110px;
  margin-bottom: 4px;
}
._1ubg0tXv_umwQZUB_0jDRE ._3OEHujsE68pdk2YnrZVRMp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE ._3OEHujsE68pdk2YnrZVRMp ._1R1HR9bMl_hU40P6h6Y51n {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3OEHujsE68pdk2YnrZVRMp
  ._3NP9CpCeX-sy6hyPmlh2M5
  ._27gySE3vmqZlMXfuF632TP {
  width: 49.2%;
  height: 240px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3OEHujsE68pdk2YnrZVRMp
  ._3NP9CpCeX-sy6hyPmlh2M5
  ._27gySE3vmqZlMXfuF632TP:nth-child(2) {
  animation-delay: 0.2s;
}
._1ubg0tXv_umwQZUB_0jDRE ._3OEHujsE68pdk2YnrZVRMp .ch0xp_kjApA24ePv-4mUf {
  margin-top: 12px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3OEHujsE68pdk2YnrZVRMp
  .ch0xp_kjApA24ePv-4mUf
  ._27gySE3vmqZlMXfuF632TP {
  width: 32%;
  height: 166px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3OEHujsE68pdk2YnrZVRMp
  .ch0xp_kjApA24ePv-4mUf
  ._27gySE3vmqZlMXfuF632TP:nth-child(1) {
  animation-delay: 0.1s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3OEHujsE68pdk2YnrZVRMp
  .ch0xp_kjApA24ePv-4mUf
  ._27gySE3vmqZlMXfuF632TP:nth-child(2) {
  animation-delay: 0.2s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3OEHujsE68pdk2YnrZVRMp
  .ch0xp_kjApA24ePv-4mUf
  ._27gySE3vmqZlMXfuF632TP:nth-child(3) {
  animation-delay: 0.3s;
}
._1ubg0tXv_umwQZUB_0jDRE ._30kicHKjKoSXe0rh5mMDIU {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE ._30kicHKjKoSXe0rh5mMDIU ._1R1HR9bMl_hU40P6h6Y51n {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  ._3NP9CpCeX-sy6hyPmlh2M5
  ._27gySE3vmqZlMXfuF632TP {
  width: 49.2%;
  height: 240px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  ._3NP9CpCeX-sy6hyPmlh2M5
  ._27gySE3vmqZlMXfuF632TP:nth-child(2) {
  animation-delay: 0.2s;
}
._1ubg0tXv_umwQZUB_0jDRE ._30kicHKjKoSXe0rh5mMDIU .ch0xp_kjApA24ePv-4mUf {
  margin-top: 12px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  .ch0xp_kjApA24ePv-4mUf
  ._27gySE3vmqZlMXfuF632TP {
  width: 32%;
  height: 166px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  .ch0xp_kjApA24ePv-4mUf
  ._27gySE3vmqZlMXfuF632TP:nth-child(1) {
  animation-delay: 0.1s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  .ch0xp_kjApA24ePv-4mUf
  ._27gySE3vmqZlMXfuF632TP:nth-child(2) {
  animation-delay: 0.2s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  .ch0xp_kjApA24ePv-4mUf
  ._27gySE3vmqZlMXfuF632TP:nth-child(3) {
  animation-delay: 0.3s;
}
._1ubg0tXv_umwQZUB_0jDRE ._30kicHKjKoSXe0rh5mMDIU ._3F43q6uNP6clXtkdnaOhn4 {
  margin-top: 12px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  ._3F43q6uNP6clXtkdnaOhn4
  ._27gySE3vmqZlMXfuF632TP {
  width: 23.5%;
  height: 130px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  ._3F43q6uNP6clXtkdnaOhn4
  ._27gySE3vmqZlMXfuF632TP:nth-child(1) {
  animation-delay: 0.2s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  ._3F43q6uNP6clXtkdnaOhn4
  ._27gySE3vmqZlMXfuF632TP:nth-child(2) {
  animation-delay: 0.26s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  ._3F43q6uNP6clXtkdnaOhn4
  ._27gySE3vmqZlMXfuF632TP:nth-child(3) {
  animation-delay: 0.32s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._30kicHKjKoSXe0rh5mMDIU
  ._3F43q6uNP6clXtkdnaOhn4
  ._27gySE3vmqZlMXfuF632TP:nth-child(4) {
  animation-delay: 0.4s;
}
._1ubg0tXv_umwQZUB_0jDRE ._2qbLh__etckJ_mcn5XLyzG {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE ._2qbLh__etckJ_mcn5XLyzG ._27gySE3vmqZlMXfuF632TP {
  width: 32%;
  height: 406px;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._2qbLh__etckJ_mcn5XLyzG
  ._27gySE3vmqZlMXfuF632TP:nth-child(2) {
  animation-delay: 0.2s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._2qbLh__etckJ_mcn5XLyzG
  ._27gySE3vmqZlMXfuF632TP:nth-child(3) {
  animation-delay: 0.4s;
}
._1ubg0tXv_umwQZUB_0jDRE ._2qbLh__etckJ_mcn5XLyzG ._6o5HjMAgOX8KNp4cVQ33l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 406px;
  width: 32%;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._2qbLh__etckJ_mcn5XLyzG
  ._6o5HjMAgOX8KNp4cVQ33l
  ._27gySE3vmqZlMXfuF632TP {
  width: 100%;
  height: 193px;
  animation-delay: 0.4s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._2qbLh__etckJ_mcn5XLyzG
  ._6o5HjMAgOX8KNp4cVQ33l
  ._27gySE3vmqZlMXfuF632TP:nth-child(2) {
  animation-delay: 0.5s;
}
._1ubg0tXv_umwQZUB_0jDRE ._1_ztuzDN3PaSMNH4DQqoFS {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE ._1_ztuzDN3PaSMNH4DQqoFS .ntVbFRmkoOazIFG2xnLEL {
  display: block;
  width: 20%;
  height: 100%;
  margin-right: 12px;
}
._1ubg0tXv_umwQZUB_0jDRE ._1_ztuzDN3PaSMNH4DQqoFS .lvNWfRKbNHxMhmhmkTxSa {
  flex-grow: 1;
  height: 100%;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._1_ztuzDN3PaSMNH4DQqoFS
  .lvNWfRKbNHxMhmhmkTxSa
  ._2KAn_rPFaW6MLKtxBBFrgi {
  height: 26px;
  width: 50%;
  margin-top: 8px;
  margin-bottom: 4px;
  animation-delay: 0.2s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._1_ztuzDN3PaSMNH4DQqoFS
  .lvNWfRKbNHxMhmhmkTxSa
  ._2PqXIU5kSbk1S4OHMrtpEG {
  height: 16px;
  width: 80%;
  animation-delay: 0.21s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._1_ztuzDN3PaSMNH4DQqoFS
  .lvNWfRKbNHxMhmhmkTxSa
  ._2Svpv7NgQYtnnih1Al0nKv {
  height: 32px;
  width: 30%;
  margin-top: 16px;
  animation-delay: 0.22s;
}
._1ubg0tXv_umwQZUB_0jDRE ._3aEDS0V4oHI2X845GlY4AQ {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 910px) and (max-aspect-ratio: 10 / 9) {
  ._1ubg0tXv_umwQZUB_0jDRE ._3aEDS0V4oHI2X845GlY4AQ {
    flex-direction: column;
  }
}
._1ubg0tXv_umwQZUB_0jDRE ._3aEDS0V4oHI2X845GlY4AQ ._1J4w1c1LMOidazCqHBu9c2 {
  position: relative;
  width: 68%;
  aspect-ratio: 16 / 9;
}
@media screen and (max-width: 910px) and (max-aspect-ratio: 10 / 9) {
  ._1ubg0tXv_umwQZUB_0jDRE ._3aEDS0V4oHI2X845GlY4AQ ._1J4w1c1LMOidazCqHBu9c2 {
    width: 100%;
  }
}
._1ubg0tXv_umwQZUB_0jDRE ._3aEDS0V4oHI2X845GlY4AQ ._1chbn_ZYr2_kVufM3llMqe {
  position: relative;
  width: 32%;
  align-self: stretch;
  animation-delay: 0.1s;
}
@media screen and (max-width: 910px) and (max-aspect-ratio: 10 / 9) {
  ._1ubg0tXv_umwQZUB_0jDRE ._3aEDS0V4oHI2X845GlY4AQ ._1chbn_ZYr2_kVufM3llMqe {
    width: 100%;
    height: 100px;
  }
}
._1ubg0tXv_umwQZUB_0jDRE .XWmc4IL9WuoHRfkxKtkwf {
  position: relative;
  height: 42px;
}
._1ubg0tXv_umwQZUB_0jDRE ._3QSW80jNmiGxWlCRe8GPvp {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 8px;
  box-sizing: border-box;
  gap: 5px;
}
._1ubg0tXv_umwQZUB_0jDRE ._3QSW80jNmiGxWlCRe8GPvp .woZ8x3k0HeLNHeEH2wYmd {
  flex-basis: 30%;
  aspect-ratio: 377 / 452;
}
._1ubg0tXv_umwQZUB_0jDRE ._3QSW80jNmiGxWlCRe8GPvp ._25qfK6y2ESK-sTYHvmIyiC {
  flex-basis: 70%;
  animation-delay: 0.1s;
}
._1ubg0tXv_umwQZUB_0jDRE ._3uwmHkHfnqzkO3kjD2dsfX {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  max-width: 920px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}
._1ubg0tXv_umwQZUB_0jDRE ._3uwmHkHfnqzkO3kjD2dsfX ._27gySE3vmqZlMXfuF632TP {
  width: 260px;
  height: 340px;
}
._1ubg0tXv_umwQZUB_0jDRE ._3uwmHkHfnqzkO3kjD2dsfX .lvNWfRKbNHxMhmhmkTxSa {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 8px;
  margin-top: 0;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3uwmHkHfnqzkO3kjD2dsfX
  .lvNWfRKbNHxMhmhmkTxSa
  ._2KAn_rPFaW6MLKtxBBFrgi {
  height: 36px;
  width: 50%;
  margin-bottom: 8px;
  animation-delay: 0.2s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3uwmHkHfnqzkO3kjD2dsfX
  .lvNWfRKbNHxMhmhmkTxSa
  ._2PqXIU5kSbk1S4OHMrtpEG {
  height: 26px;
  width: 80%;
  animation-delay: 0.21s;
  display: none;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3uwmHkHfnqzkO3kjD2dsfX
  .lvNWfRKbNHxMhmhmkTxSa
  .lZpOQjeL8nSaqqVQSej0d {
  height: 24px;
  width: 20%;
  margin-bottom: 4px;
  animation-delay: 0.22s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3uwmHkHfnqzkO3kjD2dsfX
  .lvNWfRKbNHxMhmhmkTxSa
  ._1wTzeBKjOcMG6cUtzXqF3D {
  height: 24px;
  width: 25%;
  margin-top: 4px;
  margin-bottom: 8px;
  animation-delay: 0.22s;
}
._1ubg0tXv_umwQZUB_0jDRE
  ._3uwmHkHfnqzkO3kjD2dsfX
  .lvNWfRKbNHxMhmhmkTxSa
  ._3pJA7V23G6n6uIbJSzFLFO {
  height: 40px;
  width: 90%;
  animation-delay: 0.23s;
}
@keyframes _2l86dzSdcXulUY9WKa1Tbu {
  0% {
    background-position: 100% 100%;
  }
  30% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
