._3sPRGG8vL4sM6N-8FZo5fT {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 300px;
  margin-bottom: -290px;
  background: radial-gradient(
    50% 200px at 50% top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
._3sPRGG8vL4sM6N-8FZo5fT .page_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._3sPRGG8vL4sM6N-8FZo5fT a {
  text-decoration: none;
}
._3sPRGG8vL4sM6N-8FZo5fT a.-YNVdnBAoV2HQCkuR8C1h {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}
._3sPRGG8vL4sM6N-8FZo5fT a.-YNVdnBAoV2HQCkuR8C1h:hover {
  text-decoration: none;
  color: #fff;
}
._31Bm2h6tK_J4K2yYHTtttM {
  max-height: 1100px;
  height: 80vh;
  width: min-content;
  max-width: 100%;
  z-index: -1;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 4%,
    black 30%,
    black 70%,
    transparent 96%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 4%,
    black 30%,
    black 70%,
    transparent 96%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._31Bm2h6tK_J4K2yYHTtttM img {
  height: 100%;
  aspect-ratio: 1920 / 620;
  filter: saturate(0.6) opacity(0.4);
  -webkit-mask-image: linear-gradient(180deg, black 78%, transparent 98%);
  mask-image: linear-gradient(180deg, black 78%, transparent 96%);
  background-blend-mode: multiply;
}
._1LzeWsFv8n7BMFyJ1c0bF {
  z-index: -2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: #0c0f12;
}
._1LzeWsFv8n7BMFyJ1c0bF img {
  filter: blur(120px);
  height: 110vh;
}
.qQs0819GK5nJMJhEfDfqO {
  display: flex;
  color: #fff;
  font-size: clamp(22px, 4vw, 48px);
  font-weight: 800;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: clamp(40px, 4vw, 60px);
  filter: drop-shadow(1px 1px 9px rgba(0, 0, 0, 0.4))
    drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}
._1DN1jmbJKCQol4bLgow8xK {
  display: flex;
  padding: 8px;
  gap: 5px;
  align-items: center;
  color: #5abe41;
}
._1DN1jmbJKCQol4bLgow8xK img {
  height: 4vw;
  min-height: 34px;
  max-height: 62px;
}
._2Tf8QYNJrsywiXvKyV2Sm6 {
  color: #fff;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  text-shadow:
    1px 1px 14px rgba(0, 0, 0, 0.5607843137),
    1px 1px 2px rgba(0, 0, 0, 0.2901960784);
}
._33ittd22VgVN6fUvIAgkqu {
  position: relative;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._33ittd22VgVN6fUvIAgkqu ._2FW4jsZDS7ltbcDrOQStiW {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 10%;
  color: hsla(0, 0%, 100%, 0.6705882353);
  font-style: italic;
  font-size: 11px;
  text-align: center;
  text-shadow:
    1px 1px 14px rgba(0, 0, 0, 0.5607843137),
    1px 1px 2px rgba(0, 0, 0, 0.2901960784);
}
._3DCMQY1PEeYS2E7r8NJXKQ {
  position: relative;
  width: 80%;
  max-width: 1450px;
}
@media screen and (max-width: 600px) {
  ._3DCMQY1PEeYS2E7r8NJXKQ {
    width: 100%;
  }
}
._3DCMQY1PEeYS2E7r8NJXKQ img {
  width: 100%;
}
._1JhQMb3X6rKYyPqZWOZG5w {
  width: 100%;
  max-width: 80vw;
}
._2L4eqs1UZ1QEjRC1S8qiJA {
  width: 100%;
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._2L4eqs1UZ1QEjRC1S8qiJA img {
  width: 100%;
  margin-bottom: clamp(30px, 4vw, 60px);
  margin-top: clamp(30px, 4vw, 60px);
}
._3LbKJsBRhn7hEnOSlKZd64 {
  position: absolute;
  top: 18%;
  left: 25%;
  width: 51.5%;
  aspect-ratio: 16 / 9;
}
