.buttonBack___1mlaL,
.buttonFirst___2rhFr,
.buttonLast___2yuh0,
.buttonNext___2mOCa,
.buttonNext___3Lm3s,
.dot___3c3SI {
  cursor: pointer;
}
.image___xtQGH {
  width: 100%;
  height: 100%;
  display: block;
}
.spinner___27VUp {
  border: 4px solid #a9a9a9;
  border-top-color: #000;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  animation-name: spin___S3UuE;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}
@keyframes spin___S3UuE {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.container___2O72F {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.overlay___IV4qY {
  opacity: 0;
  cursor: zoom-in;
  transition:
    opacity 0.3s,
    transform 0.3s;
  position: absolute;
  inset: 0;
}
.hover___MYy31,
.loading___1pvNI,
.zoom___3kqYk {
  opacity: 1;
}
.imageLoadingSpinnerContainer___3UIPD {
  background-color: #f4f4f4;
  position: absolute;
  inset: 0;
}
.slide___3-Nqo {
  box-sizing: border-box;
  height: 0;
  margin: 0;
  list-style-type: none;
  display: block;
  position: relative;
}
.slide___3-Nqo:focus {
  outline: none !important;
}
.slideHorizontal___1NzNV {
  float: left;
}
[dir="rtl"] .slideHorizontal___1NzNV {
  direction: rtl;
  transform: scaleX(-1);
}
.slideInner___2mfX9 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.focusRing___1airF {
  pointer-events: none;
  outline: 5px solid highlight;
  position: absolute;
  inset: 5px;
}
@media (-webkit-device-pixel-ratio >= 0) {
  .focusRing___1airF {
    outline-style: auto;
    outline-color: -webkit-focus-ring-color;
  }
}
.horizontalSlider___281Ls {
  position: relative;
  overflow: hidden;
}
.horizontalSlider___281Ls:not(.touchDisabled___2qs4y) {
  touch-action: pan-y pinch-zoom;
}
[dir="rtl"] .horizontalSlider___281Ls {
  direction: ltr;
  transform: scaleX(-1);
}
.horizontalSliderTray___1L-0W {
  width: 100%;
  overflow: hidden;
}
.verticalSlider___34ZFD {
  position: relative;
  overflow: hidden;
}
.verticalSliderTray___267D8 {
  overflow: hidden;
}
.verticalTray___12Key {
  float: left;
}
.verticalSlideTrayWrap___2nO7o {
  overflow: hidden;
}
.sliderTray___-vHFQ {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.sliderAnimation___300FY {
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.masterSpinnerContainer___1Z6hB {
  background-color: #f4f4f4;
  position: absolute;
  inset: 0;
}
.rkvrDdEoIkw- {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
._7yYPcnzhMhI- {
  color: #fff;
  background-color: #c99810;
  border: 1px solid #f6bd1c;
  border-radius: 5px;
  margin-left: 20px;
  padding: 2px 8px 2px 20px;
  font-size: 14px;
  font-weight: 500;
  transform: translateY(6px);
}
.DgpqGnHLncQ- {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.Xd4rgP1GhRY- {
  color: #fff;
  background-color: #325396;
  border: 1px solid #253e70;
  border-radius: 5px;
  margin-left: 20px;
  padding: 2px 8px 2px 20px;
  font-size: 14px;
  font-weight: 500;
  transform: translateY(6px);
}
.h1EniFafzA8- {
  word-wrap: break-word;
  background: radial-gradient(224px at 50% 108px, #333, #1e1e1e);
}
.o3YIdqVW6EM-,
.Yo9m7720YUA- {
  width: 32px;
  height: 32px;
  display: block;
}
.TfblJ5tKSxE- {
  isolation: isolate;
  transition: transform 0.15s ease-in-out;
  position: relative;
}
.TfblJ5tKSxE- .WKTlRhRMaac- {
  background-image: var(--bg-image);
  min-height: var(--image-size-override, 160px);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100%;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  transform: scale(0.9);
}
.TfblJ5tKSxE- .WKTlRhRMaac-.fzZbv9LVpWo- {
  opacity: 0.3;
}
@media screen and (width <= 500px) {
  .TfblJ5tKSxE- .WKTlRhRMaac- {
    min-height: 116px;
  }
}
.TfblJ5tKSxE-:hover .WKTlRhRMaac-,
.gpfocus > .TfblJ5tKSxE- .WKTlRhRMaac- {
  opacity: 1;
  transform: scale(1);
}
.TfblJ5tKSxE- .yLiBlmqdKqY- {
  opacity: 0.4;
  --gradient: radial-gradient(
    95.88% 18.45% at 50.36% -5.27%,
    var(--item-color) 0%,
    transparent 100%
  );
  background: var(--gradient);
  border: 1px solid var(--item-color);
  pointer-events: none;
  z-index: 0;
  transition:
    opacity 0.15s ease-in-out,
    background 0.15s ease-in-out,
    transform 0.15s ease-in-out;
  position: absolute;
  inset: 0;
}
.TfblJ5tKSxE-:hover .yLiBlmqdKqY-,
.gpfocus > .TfblJ5tKSxE- .yLiBlmqdKqY- {
  opacity: 0.7;
  --gradient: radial-gradient(
    95.88% 47.45% at 50.36% -5.27%,
    var(--item-color) 0%,
    transparent 100%
  );
}
.TfblJ5tKSxE- ._87DKe4yICYk- {
  z-index: 1;
  position: relative;
}
.TfblJ5tKSxE-:hover {
  transform: scale(1.04);
}
.tTW8H6l2CzQ- {
  isolation: isolate;
  padding: 10px 20px 15px 10px;
  transition: transform 0.15s ease-in-out;
  position: relative;
}
.tTW8H6l2CzQ- .NiiZNQWFFJM- {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--bg-image);
  border-radius: var(--radius-sm);
  width: 100px;
  height: 75px;
}
.tTW8H6l2CzQ- .NiiZNQWFFJM-.LG7ujKf6P-c- {
  opacity: 0.3;
}
.tTW8H6l2CzQ-:hover .NiiZNQWFFJM-,
.gpfocus > .tTW8H6l2CzQ- .NiiZNQWFFJM- {
  opacity: 1;
  z-index: 2;
}
.tTW8H6l2CzQ- {
  --gradient-size: 120px 80%;
}
.tTW8H6l2CzQ- .iKQ8iZU8-LI- {
  opacity: 0.4;
  --gradient: radial-gradient(
    var(--gradient-size) at -75px 50%,
    var(--item-color) 0%,
    transparent 100%
  );
  background: var(--gradient);
  border: 1px solid var(--item-color);
  pointer-events: none;
  z-index: 1;
  transition:
    opacity 0.15s ease-in-out,
    background 0.15s ease-in-out,
    transform 0.15s ease-in-out;
  position: absolute;
  inset: 0;
  transform: scale(1);
}
.tTW8H6l2CzQ-:hover .iKQ8iZU8-LI-,
.gpfocus > .tTW8H6l2CzQ- .iKQ8iZU8-LI- {
  opacity: 0.7;
  --gradient: radial-gradient(
    var(--gradient-size) at -50px 50%,
    var(--item-color) 0%,
    transparent 100%
  );
  border: 1px solid var(--item-color);
  transform: scale(1.01);
}
.p1A9ehO7yF0- {
  top: var(--spacing-2);
  right: var(--spacing-4);
  z-index: 1;
  transition: color 0.15s ease-in-out;
  position: absolute;
}
.p1A9ehO7yF0-:hover {
  cursor: pointer;
  color: var(--color-text-body-title);
}
.p1A9ehO7yF0-.FJrCyKcaO4E- {
  width: 24px;
  height: 24px;
  right: var(--spacing-3);
  background: #0009;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.p1A9ehO7yF0-:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  right: -6px;
}
.oEO0SxyReAE- {
  place-items: center;
  position: relative;
}
.Ek8-hvrl2D0- {
  cursor: pointer;
}
.Ek8-hvrl2D0- .RlFS0YD8Kcs- {
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.Ek8-hvrl2D0- .RlFS0YD8Kcs- svg {
  color: #fafafa73;
  filter: drop-shadow(2px 2px 2px #00000065);
  transform-origin: 50%;
  width: 24px;
  transition: transform 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.Ek8-hvrl2D0-:hover .RlFS0YD8Kcs- svg {
  color: #dadada;
  filter: drop-shadow(2px 2px 1px #00000065);
  transform: translate(-50%, -50%) scale(1.2);
}
.oEO0SxyReAE- img {
  object-fit: contain;
  -webkit-user-select: none;
  user-select: none;
  grid-area: 1 / 1;
  max-width: 100%;
  max-height: 100%;
}
.geMNq-iFIJQ- {
  border: 2px solid var(--color-accent-7);
  flex-direction: column;
  gap: 0.25em;
  padding: 0.5em;
}
.r-vQtK7KwSo- {
  align-content: center;
}
.uH-UDcHgcz8- {
  background: #171d25;
}
.kC6ru6-I1r0- {
  outline: none;
  width: min(1000px, 90vw);
  height: min(800px, 90vh);
}
.zixqJITMO7o- {
  top: var(--spacing-2);
  right: var(--spacing-4);
  transition: color 0.15s ease-in-out;
  position: absolute;
}
.zixqJITMO7o-:hover {
  cursor: pointer;
  color: var(--color-text-body-title);
}
._5BwV17tvKAA- {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  scrollbar-width: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}
.LE6ZFnA3GPw- {
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "leftArrow content rightArrow";
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: auto 0;
  animation-name: VfX4t1oqW34-;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  animation-delay: 0s;
  display: grid;
  position: relative;
}
.EDq8Ycw7ToQ- {
  z-index: 1;
  grid-area: content;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.vI-sfB4wzkY- {
  --carousel-duration: 0.3s;
  --carousel-ease: cubic-bezier(0.8, 0, 0.2, 1);
  transition:
    transform var(--carousel-duration) var(--carousel-ease),
    filter var(--carousel-duration) var(--carousel-ease);
  z-index: 4;
  filter: brightness(0.5) saturate(0.2);
  will-change: transform;
  align-items: center;
  display: flex;
  position: absolute;
}
.vI-sfB4wzkY-:not(.nDMeUA3eOxM-):hover {
  filter: brightness(0.8) saturate(0.5);
  cursor: pointer;
}
.vI-sfB4wzkY-.iOVGkc-E3Mo-:not(.mADYkJ1-HeA-).nDMeUA3eOxM- {
  box-shadow: 0 0 20px #000;
}
.vI-sfB4wzkY-.mADYkJ1-HeA- {
  transition: filter 0.5s;
}
.vI-sfB4wzkY- {
  --item-gap: 12px;
}
.vI-sfB4wzkY-.hZ2S-3o4LUA- {
  transform: translateX(
      calc(-2 * (min(80vw, 1600px) + var(--item-gap)) + var(--dragOffsetX))
    )
    scale(0.4);
  transform-origin: 100%;
}
.vI-sfB4wzkY-._7vTFwxsCbg4- {
  transform: translateX(
      calc(-1 * (min(80vw, 1600px) + var(--item-gap)) + var(--dragOffsetX))
    )
    scale(0.7);
  transform-origin: 100%;
}
.vI-sfB4wzkY-.XbJYc38KiPI- {
  transform: translateX(var(--dragOffsetX));
}
.vI-sfB4wzkY-.XbJYc38KiPI-.Bu50n9Bb1u4- {
  transform-origin: 100%;
}
.vI-sfB4wzkY-.XbJYc38KiPI-.DgkXzYAdZ8I- {
  transform-origin: 0;
}
.vI-sfB4wzkY-.StMclF6ZTPs- {
  transform: translateX(
      calc(min(80vw, 1600px) + var(--item-gap) + var(--dragOffsetX))
    )
    scale(0.7);
  transform-origin: 0;
}
.vI-sfB4wzkY-.qAprmeZ3Xvg- {
  transform: translateX(
      calc(2 * (min(80vw, 1600px) + var(--item-gap)) + var(--dragOffsetX))
    )
    scale(0.4);
  transform-origin: 0;
}
.vI-sfB4wzkY-.nDMeUA3eOxM- {
  z-index: 5;
  filter: unset;
}
@keyframes VfX4t1oqW34- {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
