.NukVMmfB1P8- {
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  display: flex;
}
.Cq7FQuRHhs0- {
  width: 100%;
  max-width: var(--store-page-width, 1200px);
}
