._1L8GJofqjzg- {
  color: var(--icon-color);
}
.rWPJIq88Xb0- {
  width: var(--font-size, var(--default-font-size));
  height: var(--font-size, var(--default-font-size));
  --hit-slop: calc(var(--font-size, var(--default-font-size)) / 2);
}
._2-X3prp16-8- {
  width: var(--text-size-1);
  height: var(--text-size-1);
  --hit-slop: calc(var(--text-size-1) / 2);
}
.Q6ZxYbePR18- {
  width: var(--text-size-2);
  height: var(--text-size-2);
  --hit-slop: calc(var(--text-size-2) / 2);
}
.HaKinX2HVOA- {
  width: var(--text-size-3);
  height: var(--text-size-3);
  --hit-slop: calc(var(--text-size-3) / 2);
}
.YXESGnbjni8- {
  width: var(--text-size-4);
  height: var(--text-size-4);
  --hit-slop: calc(var(--text-size-4) / 2);
}
.EMxEJopGxi8- {
  width: var(--text-size-5);
  height: var(--text-size-5);
  --hit-slop: calc(var(--text-size-5) / 2);
}
.Kiv4A4Ybq-s- {
  width: var(--text-size-6);
  height: var(--text-size-6);
  --hit-slop: calc(var(--text-size-6) / 2);
}
.eZs0-7vOQ-c- {
  width: var(--text-size-7);
  height: var(--text-size-7);
  --hit-slop: calc(var(--text-size-7) / 2);
}
.lSQmOCUwZBU- {
  width: var(--text-size-8);
  height: var(--text-size-8);
  --hit-slop: calc(var(--text-size-8) / 2);
}
.INF-xd7GDWw- {
  width: var(--text-size-9);
  height: var(--text-size-9);
  --hit-slop: calc(var(--text-size-9) / 2);
}
.ChFRjeuyico- {
  margin: calc(var(--hit-slop-custom, var(--hit-slop)) * -1);
  padding: var(--hit-slop-custom, var(--hit-slop));
}
