.IokSIloSPlA- {
  box-sizing: border-box;
  color: var(--text-color, var(--color-text-body-body));
  font-size: var(--font-size, var(--default-font-size));
  line-height: var(--line-height, var(--default-line-height));
  letter-spacing: var(--letter-spacing, var(--default-letter-spacing));
}
.IokSIloSPlA-:where(.NWgTAn1-iiQ-) {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}
.f3GH0Lt-WcY- {
  --font-size: var(--text-size-1);
  --line-height: var(--line-height-1);
  --letter-spacing: var(--letter-spacing-1);
}
.VVwUDw-BQqg- {
  --font-size: var(--text-size-2);
  --line-height: var(--line-height-2);
  --letter-spacing: var(--letter-spacing-2);
}
.UEx0MpggIp8- {
  --font-size: var(--text-size-3);
  --line-height: var(--line-height-3);
  --letter-spacing: var(--letter-spacing-3);
}
.E-F5JVsCXEo- {
  --font-size: var(--text-size-4);
  --line-height: var(--line-height-4);
  --letter-spacing: var(--letter-spacing-4);
}
.cgwmRarnhq0- {
  --font-size: var(--text-size-5);
  --line-height: var(--line-height-5);
  --letter-spacing: var(--letter-spacing-5);
}
.ppHk56Ca6pc- {
  --font-size: var(--text-size-6);
  --line-height: var(--line-height-6);
  --letter-spacing: var(--letter-spacing-6);
}
.im1yqKy2APs- {
  --font-size: var(--text-size-7);
  --line-height: var(--line-height-7);
  --letter-spacing: var(--letter-spacing-7);
}
.XmAwnj5Lt94- {
  --font-size: var(--text-size-8);
  --line-height: var(--line-height-8);
  --letter-spacing: var(--letter-spacing-8);
}
.iGtlkk28Cug- {
  --font-size: var(--text-size-9);
  --line-height: var(--line-height-9);
  --letter-spacing: var(--letter-spacing-9);
}
.h9k0m4mdzeY- {
  font-weight: var(--text-weight);
}
.yXwEBVt-iw4- {
  text-align: var(--text-align);
}
.-jRzZNDvN4c- {
  -webkit-line-clamp: var(--line-clamp);
  line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.khl85WpotP8- {
  white-space: var(--white-space);
}
