body {
  background: #262b34;
  font-family:
    Motiva Sans,
    sans-serif;
}
.Y-uvNcf6FIc- {
  font-family:
    Motiva Sans,
    sans-serif;
}
.UWo4zd7e4XY- {
  filter: blur(10px);
  opacity: 0.08;
  pointer-events: none;
  -webkit-mask-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#000),
    to(#0000)
  );
  width: 100%;
  position: absolute;
  inset: 0;
  mask-image: linear-gradient(#000, #0000);
}
._0rX4KuKZ9dM- {
  background: #0000003d;
  position: relative;
  overflow: hidden;
}
._0rX4KuKZ9dM- .c2-LPwth-jQ- {
  width: 948px;
  height: 203px;
  display: block;
  -webkit-mask-image: linear-gradient(90deg, #000 70%, #0000 96%);
  mask-image: linear-gradient(90deg, #000 70%, #0000 96%);
}
html.responsive.touch ._0rX4KuKZ9dM- .c2-LPwth-jQ- {
  width: 100%;
  height: unset;
  aspect-ratio: 948 / 203;
}
@media screen and (width <= 910px) {
  html.responsive ._0rX4KuKZ9dM- .c2-LPwth-jQ- {
    width: 100%;
    height: unset;
    aspect-ratio: 948 / 203;
  }
}
._0rX4KuKZ9dM- ._5NV8H1NkbsQ- {
  color: #fff;
  text-shadow: 1px 1px 1px #000c;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 600px);
  max-width: 800px;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 600px;
  overflow: hidden;
  container-type: inline-size;
}
._0rX4KuKZ9dM- ._5NV8H1NkbsQ- .HF3ZnZa08aQ- {
  color: #fff;
  margin-right: 10px;
  font-size: clamp(14px, 4.2cqi, 22px);
  font-style: normal;
  font-weight: 800;
  line-height: 1.3;
}
@media screen and (width <= 768px) {
  ._0rX4KuKZ9dM- ._5NV8H1NkbsQ- .HF3ZnZa08aQ- {
    display: none;
  }
}
._0rX4KuKZ9dM- ._5NV8H1NkbsQ- .mIWpsxgbfgU- {
  color: var(--color-text-body-body);
  margin-top: 5px;
  margin-right: 10px;
  font-family: Motiva Sans;
  font-size: clamp(13px, 4cqi, 15px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}
._0rX4KuKZ9dM- ._5NV8H1NkbsQ- .hS0Yo0YFq9g- {
  margin-top: 20px;
}
._0rX4KuKZ9dM- ._5NV8H1NkbsQ- .hS0Yo0YFq9g- a {
  color: #fff;
}
@media screen and (width <= 768px) {
  ._0rX4KuKZ9dM- ._5NV8H1NkbsQ- .hS0Yo0YFq9g- {
    display: none;
  }
}
html.responsive.touch ._0rX4KuKZ9dM- ._5NV8H1NkbsQ- {
  width: 40%;
  left: 60%;
}
@media screen and (width <= 910px) {
  html.responsive ._0rX4KuKZ9dM- ._5NV8H1NkbsQ- {
    width: 40%;
    left: 60%;
  }
}
.bt37JYoalu8- {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: #0000005e;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  display: flex;
  position: relative;
}
html.responsive.touch .bt37JYoalu8- {
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (width <= 910px) {
  html.responsive .bt37JYoalu8- {
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.bt37JYoalu8- .WXrKel0QHX8- {
  color: #fff;
  cursor: pointer;
  align-items: center;
  gap: 12px;
  height: 47px;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  position: relative;
}
.bt37JYoalu8- .WXrKel0QHX8-.PaiSGO8eD8Y- {
  box-shadow: inset 0 -2px #fff;
}
.bt37JYoalu8- .WXrKel0QHX8- .s65wg-myWog- {
  width: 13px;
  transition: top 0.25s ease-in-out;
  position: relative;
  top: 0;
}
.bt37JYoalu8- .WXrKel0QHX8-:hover .s65wg-myWog- {
  top: 3px;
}
.bt37JYoalu8- a.WXrKel0QHX8- {
  color: #fff;
  flex-direction: row;
  gap: 12px;
  text-decoration: none;
  display: flex;
}
.dHl1yNBHOF0- {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  white-space: nowrap;
  color: #fff;
  background: radial-gradient(
    85.9% 84.18% at 34.28% 100%,
    #3f536de0 27.5%,
    #192330eb 67.94%
  );
  padding: 20px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  box-shadow: 0 0 10px #000000bf;
}
.dHl1yNBHOF0- .tvRMtdP6--U- {
  letter-spacing: 0.1em;
  color: #ffffffa9;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
.dHl1yNBHOF0- .EEj7KkET8kk- {
  cursor: pointer;
}
.dHl1yNBHOF0- .EEj7KkET8kk-:hover {
  color: #fff;
  text-decoration: underline;
}
.dHl1yNBHOF0- .EEj7KkET8kk-.SLYW0mdzEK4- {
  color: #ca5029;
}
.dHl1yNBHOF0- .EEj7KkET8kk- svg {
  vertical-align: middle;
  height: 15px;
  margin-right: 5px;
  position: relative;
}
.dHl1yNBHOF0- a {
  color: #fff;
  text-decoration: none;
}
.dHl1yNBHOF0- .FXVRkROIbZ8- {
  flex-direction: row;
  gap: 40px;
  display: flex;
}
html.responsive.touch .dHl1yNBHOF0- .FXVRkROIbZ8- {
  flex-direction: column;
}
@media screen and (width <= 910px) {
  html.responsive .dHl1yNBHOF0- .FXVRkROIbZ8- {
    flex-direction: column;
  }
}
.dHl1yNBHOF0- ._1ACpb27V7AI- {
  cursor: pointer;
  align-content: center;
  display: flex;
}
.dHl1yNBHOF0- ._1ACpb27V7AI- svg {
  height: 15px;
  margin-left: 5px;
  margin-right: 0;
}
.dHl1yNBHOF0- ._1ACpb27V7AI-:hover {
  color: #fff;
}
.cCMF5rdyMX0- {
  white-space: nowrap;
}
.cCMF5rdyMX0- button {
  --color-accent-10: #ff801f;
  --color-accent-8: orange;
  --color-accent-contrast: black;
}
