:where(.Fn08FaIrTv4-) {
  --bg-color: var(--color-dull-8);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: var(--color-dull-9);
  --bg-color-active: var(--color-dull-9);
  --bg-highlight-color: var(--color-accent-8);
  --text-color: #fff;
  --text-muted-color: #acb2b8;
  --padding: 0 var(--spacing-2);
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 2px 2px 4px #0000;
}
:where(.Fn08FaIrTv4-).HnEaqdWTeoM- {
  --padding: 0 var(--spacing-3);
}
:where(.Fn08FaIrTv4-):focus-visible:not(textarea) {
  outline-offset: -2px;
  outline: 2px solid #fff;
}
:where(.Fn08FaIrTv4-):hover {
  box-shadow: var(--box-shadow-elevation-1);
}
:where(.uvMq4Z5tbyE-) {
  --bg-color: #1d1f23;
  --bg-color-hover: var(--bg-color);
  --bg-color-focus: var(--bg-color);
  --bg-color-active: var(--bg-color);
  --bg-highlight-color: #3d4450;
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0 var(--spacing-3);
  box-shadow: var(--box-shadow-elevation--1);
}
:where(.uvMq4Z5tbyE-)[data-has-value="true"] {
  outline: 1px solid var(--color-accent-8);
  outline-offset: -1px;
}
:where(.UQqUC6sKvjE-) {
  --bg-color: var(--color-dull-8);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: rgb(from var(--color-dull-8) r g b / 50%);
  --bg-color-active: var(--bg-color);
  --bg-highlight-color: var(--color-dull-8);
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0 var(--spacing-3);
}
:where(.UQqUC6sKvjE-)._3iK9RtloeNU-:focus,
:where(.UQqUC6sKvjE-)._3iK9RtloeNU-:focus-within {
  box-shadow: var(--box-shadow-elevation--1);
}
:where(._3bnbAhXFQpc-) {
  --bg-color: rgb(from var(--color-dull-12) r g b / 50%);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: rgb(from var(--color-dull-8) r g b / 50%);
  --bg-color-active: var(--color-dull-12);
  --bg-highlight-color: white;
  --text-color: #222;
  --text-muted-color: white;
  --padding: 0 var(--spacing-3);
  box-shadow: var(--box-shadow-elevation--1);
}
:where(._2Mm-osVPrVw-) {
  --bg-color: transparent;
  --bg-color-hover: var(--bg-color);
  --bg-color-focus: var(--bg-color);
  --bg-color-active: var(--bg-color);
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0;
  border-bottom: 1px solid var(--color-dull-11);
}
:where(._2Mm-osVPrVw-)._3iK9RtloeNU-:focus,
:where(._2Mm-osVPrVw-)._3iK9RtloeNU-:focus-within {
  border-color: var(--color-accent-8);
}
:where(.PgQLUbneMyk-) {
  --bg-color: var(--color-dull-6);
  --bg-color-hover: var(--bg-color);
  --bg-color-focus: var(--bg-color);
  --bg-color-active: var(--bg-color);
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0 var(--spacing-2);
}
:where(.PgQLUbneMyk-):hover {
  box-shadow: var(--box-shadow-elevation-1);
}
:where(.dAY68bR6VYY-) {
  --bg-color: var(--color-dull-8);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: var(--color-dull-9);
  --bg-color-active: var(--color-dull-9);
  --text-color: var(--color-dull-12);
  --text-muted-color: var(--color-dull-12);
  --padding: 0 var(--spacing-2);
}
:where(.dAY68bR6VYY-).HnEaqdWTeoM- {
  --padding: 0 var(--spacing-3);
}
:where(.dAY68bR6VYY-)[data-has-value="true"] {
  outline: 1px solid var(--color-accent-8);
  outline-offset: -1px;
  --bg-color: var(--color-dull-8);
}
:where(.dAY68bR6VYY-):focus-visible:not(textarea) {
  outline-offset: -2px;
  outline: 2px solid #fff;
}
:where(.dAY68bR6VYY-):hover {
  box-shadow: var(--box-shadow-elevation-1);
}
:where(.pXN5O3YW9VE-) {
  background-color: var(--bg-color, var(--color-debug));
  transition: background-color 0.2s ease-in-out;
}
:where(.pXN5O3YW9VE-).yMOo9ZLp2rI-:hover {
  background-color: var(--bg-color-hover, var(--color-debug));
}
:where(.pXN5O3YW9VE-).XErSNxxGDFg-:active {
  background-color: var(--bg-color-active, var(--color-debug));
}
:where(.pXN5O3YW9VE-)._3iK9RtloeNU-:focus-visible,
:where(.pXN5O3YW9VE-)._3iK9RtloeNU-:focus-within {
  background-color: var(--bg-color-focus, var(--color-debug));
}
:where(.pXN5O3YW9VE-).CXXoYYvuiEQ- {
  opacity: 0.35;
  cursor: default;
}
:where(.pXN5O3YW9VE-).CXXoYYvuiEQ-:focus-visible,
:where(.pXN5O3YW9VE-).CXXoYYvuiEQ-:focus-within {
  outline: 1px solid #fff;
}
:where(.pXN5O3YW9VE-) {
  color: var(--text-color);
  padding: var(--padding);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  border-radius: 2px;
  position: relative;
}
:where(.pXN5O3YW9VE-).kWN4eyLc82I- {
  min-height: var(--control-height-1);
  --font-size: var(--text-size-2);
  --line-height: var(--line-height-2);
  --letter-spacing: var(--letter-spacing-2);
}
:where(.pXN5O3YW9VE-).wADIJe9yvFU- {
  min-height: var(--control-height-2);
  --font-size: var(--text-size-3);
  --line-height: var(--line-height-3);
  --letter-spacing: var(--letter-spacing-3);
}
:where(.pXN5O3YW9VE-).HnEaqdWTeoM- {
  min-height: var(--control-height-3);
  --font-size: var(--text-size-4);
  --line-height: var(--line-height-4);
  --letter-spacing: var(--letter-spacing-4);
}
.TIKXN-ViOCk- {
  box-sizing: border-box;
  --color-placeholder-text: var(--text-muted-color, #afafaf);
  width: 100%;
}
.TIKXN-ViOCk-::placeholder {
  color: var(--color-placeholder-text);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-style: italic;
}
.TIKXN-ViOCk-::-webkit-input-placeholder {
  color: var(--color-placeholder-text);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-style: italic;
}
.TIKXN-ViOCk-::-moz-placeholder {
  color: var(--color-placeholder-text);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-style: italic;
}
.TIKXN-ViOCk-:-ms-placeholder-shown {
  color: var(--color-placeholder-text);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-style: italic;
}
.TIKXN-ViOCk-:read-only {
  cursor: default;
}
textarea.TIKXN-ViOCk- {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  max-width: 100%;
  max-height: 100%;
}
