.LeEh4XRr-pI- {
  color: #a35a5a;
  font-style: italic;
}
.QT1eegn4bN0- {
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: 0 0;
  border: none;
  padding: 0;
}
.Huk1UNtQ5ps- {
  word-break: break-all;
}
.K0V2SQSqdng- {
  padding: 0 8px;
  transition-property: background-color;
  transition-duration: 0.12s;
  transition-delay: 80ms;
}
.K0V2SQSqdng-:not(:hover) {
  background-color: #000;
}
.K0V2SQSqdng-:not(:hover) > .ex9P5nB0SVY- {
  visibility: hidden;
}
.ex9P5nB0SVY- {
  transition-property: visibility;
  transition-delay: 80ms;
}
