.G4UkZ85d6lA- {
  touch-action: none;
  padding-left: 10px;
  padding-right: 10px;
}
.G4UkZ85d6lA- .JGS-lBdcrUY- {
  cursor: pointer;
  align-items: center;
  height: 20px;
  display: grid;
  position: relative;
}
.SlFAAH-6wXs- {
  background-color: var(--color-dull-9);
  border-radius: 2px;
  flex-grow: 1;
  height: 3px;
  position: relative;
}
.wjIYRZj4b0g- {
  left: var(--pct-left);
  right: var(--pct-right);
  background-color: var(--color-accent-8);
  height: 3px;
  position: absolute;
}
.kkqw2sMIUH4- {
  width: 20px;
  height: 20px;
  left: var(--handle-pct);
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%);
  box-shadow: 0 1px 8px #000;
}
.kkqw2sMIUH4-:focus-visible {
  outline: 4px solid var(--color-accent-11);
  outline-offset: -2px;
}
