.PC-T-1dYXe4- {
  --radio-size: calc(var(--spacing-2) + var(--spacing-1));
  --bg-default: var(--color-dull-8);
  --bg-focus: var(--color-dull-9);
  --bg-disabled: rgb(from var(--bg-focus) r g b / 50%);
  --background-color: var(--bg-default);
}
.PC-T-1dYXe4-:hover:not([aria-checked="true"]) {
  --background-color: var(--bg-focus);
}
.PC-T-1dYXe4-:disabled {
  --background-color: var(--bg-disabled);
}
.PC-T-1dYXe4-:focus-visible,
.PC-T-1dYXe4-.gpfocus {
  outline: none;
}
.PC-T-1dYXe4-:focus-visible .HoPMNUPOwr8-,
.PC-T-1dYXe4-.gpfocus .HoPMNUPOwr8- {
  outline: 2px solid #fff;
}
.PC-T-1dYXe4- .HoPMNUPOwr8- {
  background-color: var(--background-color);
  width: var(--radio-size);
  min-width: var(--radio-size);
  height: var(--radio-size);
  min-height: var(--radio-size);
  border-radius: var(--radio-size);
  margin-top: 3px;
  position: relative;
}
.PC-T-1dYXe4-[aria-checked="true"] .HoPMNUPOwr8-:after {
  content: "";
  background-color: var(--color-accent-8);
  border-radius: var(--radio-size);
  position: absolute;
  inset: 2px;
}
@keyframes c-KgPW-7o00- {
  0% {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes d421Spj3HTI- {
  0% {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes GuDkIx-yQXU- {
  0% {
    color: #8b929a;
    background: #3d4450;
  }
  to {
    color: #fff;
    background: #23262e;
  }
}
@keyframes kktNbKVNl1k- {
  0% {
    color: #8b929a;
    background: #23262e;
  }
  to {
    color: #fff;
    background: #383a41;
  }
}
@keyframes _183JmzNvSOE- {
  0% {
    color: #8b929a;
    background: #ffffff40;
  }
  to {
    color: #fff;
    background: #ffffff26;
  }
}
@keyframes v2O6DEowXkw- {
  0% {
    color: #fff;
    background: #8b929a;
  }
  to {
    color: #fff;
    background: #67707b;
  }
}
@keyframes _2-LZ2gGbUIY- {
  0% {
    color: #fff;
    background: #ffffff4d;
  }
  to {
    color: #fff;
    background: #ffffff1a;
  }
}
@keyframes ZP4JqPiXRPE- {
  0% {
    color: #fff;
    background: #ffffff80;
  }
  to {
    color: #fff;
    background: #fff3;
  }
}
@keyframes Vv6R73lZZKw- {
  0% {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes n9qzl23UkDo- {
  0% {
    color: #8b929a;
    background: #c9ffc9;
  }
  to {
    color: #fff;
    background: #59bf40;
  }
}
@keyframes JNtV4outW7s- {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  to {
    opacity: 0.8;
    background-position: -180% 0;
  }
}
@keyframes veaaK3XJJeI- {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 50% 0;
  }
}
.UNowfeldbNg-,
.hIuyWTKvAow-,
.tYCWuqm2E-A- {
  box-sizing: border-box;
  background: radial-gradient(62% 99% at 17% 35%, #3c4149, #1b1d21);
  max-width: 330px;
  font-family:
    Motiva Sans,
    sans-serif;
  position: relative;
  box-shadow: 1px 1px 10px #00000094;
  container-type: inline-size;
}
.UNowfeldbNg-.hQAQZRtPRUc-,
.hIuyWTKvAow-.hQAQZRtPRUc-,
.tYCWuqm2E-A-.hQAQZRtPRUc- {
  max-width: unset;
  height: 100%;
}
.UNowfeldbNg-._4689JT-he2o-,
.hIuyWTKvAow-._4689JT-he2o-,
.tYCWuqm2E-A-._4689JT-he2o- {
  filter: brightness(0.15);
}
.UNowfeldbNg-,
.hIuyWTKvAow-,
.tYCWuqm2E-A- {
  transition:
    box-shadow 0.2s ease-out,
    transform 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}
.UNowfeldbNg-:hover,
.hIuyWTKvAow-:hover,
.tYCWuqm2E-A-:hover {
  filter: brightness();
  transform: translateY(-5px);
  box-shadow: 1px 1px 10px #ffffff40;
}
.UNowfeldbNg- .Yd0pZ1PLSk0-.hQAQZRtPRUc-,
.hIuyWTKvAow- .Yd0pZ1PLSk0-.hQAQZRtPRUc-,
.tYCWuqm2E-A- .Yd0pZ1PLSk0-.hQAQZRtPRUc- {
  height: auto;
}
.UNowfeldbNg- .T0szdMMjqYs-,
.hIuyWTKvAow- .T0szdMMjqYs-,
.tYCWuqm2E-A- .T0szdMMjqYs- {
  gap: 2px;
  display: flex;
  position: absolute;
  top: 0;
  right: 2px;
}
.UNowfeldbNg- .T0szdMMjqYs- .TArgjJMgAxI-,
.UNowfeldbNg- .T0szdMMjqYs- .kjJIGFdaMmQ-,
.UNowfeldbNg- .T0szdMMjqYs- .I4wDZC7HFQ0-,
.UNowfeldbNg- .T0szdMMjqYs- .hs0g5InegGM-,
.UNowfeldbNg- .T0szdMMjqYs- .hfgNPx20Ie4-,
.UNowfeldbNg- .T0szdMMjqYs- ._61MokN1NYBE-,
.UNowfeldbNg- .T0szdMMjqYs- .ZqNGeDS-pVc-,
.hIuyWTKvAow- .T0szdMMjqYs- .TArgjJMgAxI-,
.hIuyWTKvAow- .T0szdMMjqYs- .kjJIGFdaMmQ-,
.hIuyWTKvAow- .T0szdMMjqYs- .I4wDZC7HFQ0-,
.hIuyWTKvAow- .T0szdMMjqYs- .hs0g5InegGM-,
.hIuyWTKvAow- .T0szdMMjqYs- .hfgNPx20Ie4-,
.hIuyWTKvAow- .T0szdMMjqYs- ._61MokN1NYBE-,
.hIuyWTKvAow- .T0szdMMjqYs- .ZqNGeDS-pVc-,
.tYCWuqm2E-A- .T0szdMMjqYs- .TArgjJMgAxI-,
.tYCWuqm2E-A- .T0szdMMjqYs- .kjJIGFdaMmQ-,
.tYCWuqm2E-A- .T0szdMMjqYs- .I4wDZC7HFQ0-,
.tYCWuqm2E-A- .T0szdMMjqYs- .hs0g5InegGM-,
.tYCWuqm2E-A- .T0szdMMjqYs- .hfgNPx20Ie4-,
.tYCWuqm2E-A- .T0szdMMjqYs- ._61MokN1NYBE-,
.tYCWuqm2E-A- .T0szdMMjqYs- .ZqNGeDS-pVc- {
  background: #333;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 16px;
  height: 16px;
  padding: 2px;
}
.UNowfeldbNg- .T0szdMMjqYs- .CNVbvjQ6ajc-,
.hIuyWTKvAow- .T0szdMMjqYs- .CNVbvjQ6ajc-,
.tYCWuqm2E-A- .T0szdMMjqYs- .CNVbvjQ6ajc- {
  background: #5c7e10;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 16px;
  height: 16px;
  padding: 2px;
}
.UNowfeldbNg- .T0szdMMjqYs- .dFQsz3Wt3-0-,
.hIuyWTKvAow- .T0szdMMjqYs- .dFQsz3Wt3-0-,
.tYCWuqm2E-A- .T0szdMMjqYs- .dFQsz3Wt3-0- {
  background: #bd9751;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 16px;
  height: 16px;
  padding: 2px;
}
.UNowfeldbNg- .MF-NOtRcYFc-,
.hIuyWTKvAow- .MF-NOtRcYFc-,
.tYCWuqm2E-A- .MF-NOtRcYFc- {
  flex-direction: column;
  gap: 2px;
  padding: 10px;
  display: flex;
  position: relative;
}
.UNowfeldbNg- .MF-NOtRcYFc- .-YJTG5mf4Mw- svg,
.hIuyWTKvAow- .MF-NOtRcYFc- .-YJTG5mf4Mw- svg,
.tYCWuqm2E-A- .MF-NOtRcYFc- .-YJTG5mf4Mw- svg {
  height: 12px;
}
.UNowfeldbNg- .MF-NOtRcYFc- .Sw3NXcvOA4Y-,
.hIuyWTKvAow- .MF-NOtRcYFc- .Sw3NXcvOA4Y-,
.tYCWuqm2E-A- .MF-NOtRcYFc- .Sw3NXcvOA4Y- {
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: clamp(15px, 7cqi, 20px);
  line-height: 1.3;
  overflow: hidden;
}
.UNowfeldbNg- .MF-NOtRcYFc- .Sw3NXcvOA4Y- a,
.hIuyWTKvAow- .MF-NOtRcYFc- .Sw3NXcvOA4Y- a,
.tYCWuqm2E-A- .MF-NOtRcYFc- .Sw3NXcvOA4Y- a {
  color: #fff;
  text-decoration: none;
}
.UNowfeldbNg- .MF-NOtRcYFc- .Frzkb5XE-n8-,
.hIuyWTKvAow- .MF-NOtRcYFc- .Frzkb5XE-n8-,
.tYCWuqm2E-A- .MF-NOtRcYFc- .Frzkb5XE-n8- {
  width: 81px;
  height: 14px;
  margin-top: 2px;
}
.UNowfeldbNg- .MF-NOtRcYFc- .o14JIlvi52E-,
.hIuyWTKvAow- .MF-NOtRcYFc- .o14JIlvi52E-,
.tYCWuqm2E-A- .MF-NOtRcYFc- .o14JIlvi52E- {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: clamp(12px, 0.8vw, 15px);
  line-height: 1.3;
  overflow: hidden;
}
.UNowfeldbNg- .MF-NOtRcYFc- .o14JIlvi52E- a,
.hIuyWTKvAow- .MF-NOtRcYFc- .o14JIlvi52E- a,
.tYCWuqm2E-A- .MF-NOtRcYFc- .o14JIlvi52E- a {
  color: #ffffffa2;
  text-decoration: none;
}
.UNowfeldbNg- .MF-NOtRcYFc- .o14JIlvi52E- a:hover,
.hIuyWTKvAow- .MF-NOtRcYFc- .o14JIlvi52E- a:hover,
.tYCWuqm2E-A- .MF-NOtRcYFc- .o14JIlvi52E- a:hover {
  color: #66c0f4;
}
.UNowfeldbNg-:hover .UEWCsjQUwf4-,
.hIuyWTKvAow-:hover .UEWCsjQUwf4-,
.tYCWuqm2E-A-:hover .UEWCsjQUwf4- {
  opacity: 1;
}
.tYCWuqm2E-A- .Yd0pZ1PLSk0-.aspectratio_square {
  width: 20%;
}
.hIuyWTKvAow-,
.tYCWuqm2E-A- {
  flex-direction: row;
  max-width: 900px;
  display: flex;
}
@media screen and (width <= 620px) {
  .hIuyWTKvAow-,
  .tYCWuqm2E-A- {
    width: 100%;
  }
}
.hIuyWTKvAow- .Yd0pZ1PLSk0-,
.tYCWuqm2E-A- .Yd0pZ1PLSk0- {
  background: #262b34;
  flex-shrink: 0;
  width: 30%;
}
@media screen and (width <= 620px) {
  .hIuyWTKvAow- .Yd0pZ1PLSk0-,
  .tYCWuqm2E-A- .Yd0pZ1PLSk0- {
    width: calc(50vw - 15px);
  }
}
.hIuyWTKvAow- .T0szdMMjqYs-,
.tYCWuqm2E-A- .T0szdMMjqYs- {
  top: unset;
  right: unset;
  gap: 2px;
  margin-left: 5px;
  display: flex;
  position: relative;
}
.hIuyWTKvAow- .MF-NOtRcYFc-,
.tYCWuqm2E-A- .MF-NOtRcYFc- {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  display: flex;
  container-type: inline-size;
}
.hIuyWTKvAow- .MF-NOtRcYFc- .N2xb8hd8IUY-,
.tYCWuqm2E-A- .MF-NOtRcYFc- .N2xb8hd8IUY- {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  display: flex;
}
@media screen and (width <= 500px) {
  html.responsive.responsive .hIuyWTKvAow- .MF-NOtRcYFc- .N2xb8hd8IUY-,
  html.responsive.responsive .tYCWuqm2E-A- .MF-NOtRcYFc- .N2xb8hd8IUY- {
    flex-direction: column;
  }
}
.hIuyWTKvAow- .MF-NOtRcYFc- .N2xb8hd8IUY- .G-Hg05Q3k74-,
.tYCWuqm2E-A- .MF-NOtRcYFc- .N2xb8hd8IUY- .G-Hg05Q3k74- {
  white-space: nowrap;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}
.hIuyWTKvAow- .MF-NOtRcYFc- .Sw3NXcvOA4Y-,
.tYCWuqm2E-A- .MF-NOtRcYFc- .Sw3NXcvOA4Y- {
  max-width: 100%;
  font-size: clamp(15px, 5cqi, 20px);
}
.hIuyWTKvAow- .MF-NOtRcYFc- .okqHAoX2fxk-,
.tYCWuqm2E-A- .MF-NOtRcYFc- .okqHAoX2fxk- {
  flex-shrink: 0;
}
.hIuyWTKvAow- .MF-NOtRcYFc- .okqHAoX2fxk- .Frzkb5XE-n8-,
.tYCWuqm2E-A- .MF-NOtRcYFc- .okqHAoX2fxk- .Frzkb5XE-n8- {
  margin-top: unset;
  width: 81px;
  height: 14px;
}
.hIuyWTKvAow- .eJ8bRcenpT8-,
.tYCWuqm2E-A- .eJ8bRcenpT8- {
  overflow-wrap: anywhere;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-top: 5px;
  font-size: clamp(12px, 4cqw, 14px);
  line-height: 1.3;
  display: -webkit-box;
  overflow: hidden;
}
@media screen and (width <= 500px) {
  html.responsive.responsive .hIuyWTKvAow- .eJ8bRcenpT8-,
  html.responsive.responsive .tYCWuqm2E-A- .eJ8bRcenpT8- {
    max-height: 124px;
  }
}
.hIuyWTKvAow- .otbpD5L-0AE-,
.tYCWuqm2E-A- .otbpD5L-0AE- {
  overflow-wrap: anywhere;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-top: 5px;
  font-size: clamp(12px, 2cqw, 14px);
  line-height: 1.3;
  display: -webkit-box;
  overflow: hidden;
}
.hIuyWTKvAow- .HP0gIdHVPOI-,
.tYCWuqm2E-A- .HP0gIdHVPOI- {
  padding-top: 5px;
  font-size: clamp(12px, 2cqw, 14px);
  overflow: hidden;
}
.hIuyWTKvAow- .cFH83xfcYkA-,
.tYCWuqm2E-A- .cFH83xfcYkA- {
  color: var(--color-text-light-note);
  flex-direction: row;
  gap: 12px;
  margin-top: auto;
  font-size: 12px;
  display: flex;
}
.hIuyWTKvAow- .JyIO--9dSbo-,
.tYCWuqm2E-A- .JyIO--9dSbo- {
  width: 100px;
  min-height: 56.25px;
}
.UEWCsjQUwf4- {
  opacity: 0;
  flex-direction: row;
  gap: 4px;
  display: flex;
  position: absolute;
  bottom: 1px;
  right: 1px;
}
.UEWCsjQUwf4- .-YJTG5mf4Mw- {
  padding-top: 2px;
}
.UEWCsjQUwf4- .C5HtJDneLfY- {
  box-sizing: border-box;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 2px;
}
.UEWCsjQUwf4- .C5HtJDneLfY- svg {
  background: #ffffff1a;
  border-radius: 3px;
  width: 22px;
  height: 22px;
  padding: 1px;
}
.UEWCsjQUwf4- .C5HtJDneLfY-:hover {
  color: #fff;
}
html.responsive.touch .UEWCsjQUwf4- .C5HtJDneLfY- {
  opacity: 1;
}
@media screen and (width <= 910px) {
  html.responsive .UEWCsjQUwf4- .C5HtJDneLfY- {
    opacity: 1;
  }
}
@keyframes AaHhiHsB85k- {
  0% {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes Jf8sUEc4O0U- {
  0% {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes wjqozZ35XuU- {
  0% {
    color: #8b929a;
    background: #3d4450;
  }
  to {
    color: #fff;
    background: #23262e;
  }
}
@keyframes KLK0LdWo8j8- {
  0% {
    color: #8b929a;
    background: #23262e;
  }
  to {
    color: #fff;
    background: #383a41;
  }
}
@keyframes Kgxvihbc7oQ- {
  0% {
    color: #8b929a;
    background: #ffffff40;
  }
  to {
    color: #fff;
    background: #ffffff26;
  }
}
@keyframes iXF4zxOCupg- {
  0% {
    color: #fff;
    background: #8b929a;
  }
  to {
    color: #fff;
    background: #67707b;
  }
}
@keyframes j495IL5OlKc- {
  0% {
    color: #fff;
    background: #ffffff4d;
  }
  to {
    color: #fff;
    background: #ffffff1a;
  }
}
@keyframes KTECX6F1Uew- {
  0% {
    color: #fff;
    background: #ffffff80;
  }
  to {
    color: #fff;
    background: #fff3;
  }
}
@keyframes x25uND9YzQs- {
  0% {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes _7AsRc2DCju8- {
  0% {
    color: #8b929a;
    background: #c9ffc9;
  }
  to {
    color: #fff;
    background: #59bf40;
  }
}
@keyframes O760z-RDpTY- {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  to {
    opacity: 0.8;
    background-position: -180% 0;
  }
}
@keyframes jcuxdxbKWZ4- {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 50% 0;
  }
}
.FARNJOhoPVw- {
  width: 100%;
  max-width: 100%;
  box-shadow: unset;
  flex-direction: column;
  margin: auto;
  display: flex;
}
.FARNJOhoPVw-::backdrop {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #0009;
}
.FARNJOhoPVw- .ElNPWiho-mM- {
  width: 100vw;
  height: 40px;
  margin-bottom: 20px;
}
.FARNJOhoPVw- .Mf04Mo5zORY- {
  align-content: center;
  align-items: center;
  margin: 0 auto 60px;
  display: flex;
}
@media screen and (width <= 768px) {
  .FARNJOhoPVw- .Mf04Mo5zORY- > button {
    display: none;
  }
}
@keyframes _08Eqwf2-N-Y- {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.snLzX5LThtA- {
  aspect-ratio: 16 / 6;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: #23262e;
  flex-direction: column;
  justify-content: space-between;
  width: calc(96vw - 170px);
  min-width: min(60vw, 630px);
  max-width: 1500px;
  max-height: 80vh;
  font-family:
    Motiva Sans,
    sans-serif;
  display: flex;
  position: relative;
  box-shadow: 0 0 10px 5px #000000bf;
}
@media screen and (width <= 768px) {
  .snLzX5LThtA- {
    width: 90vw;
    max-width: 90vw;
    max-height: 90vh;
  }
}
.snLzX5LThtA- .IJ1w5GUmBkU- {
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: 0;
}
.snLzX5LThtA- .IJ1w5GUmBkU- svg {
  height: 15px;
}
.snLzX5LThtA- .B0grrs7WUy0- {
  background: linear-gradient(90deg, #00000047, #0000);
  padding: 6px 10px;
}
.snLzX5LThtA- ._12HeSvxAVxw- {
  flex-grow: 1;
  width: 100%;
  min-height: 0;
  padding: 16px 16px 8px;
  font-size: 12px;
  overflow: hidden;
}
.snLzX5LThtA- .G1UlW-HtkuA- {
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 13px;
}
.snLzX5LThtA- .uKb55YlDtVY- {
  display: table;
}
.snLzX5LThtA- .uKb55YlDtVY- .BnJse4Jtj94- {
  display: table-row;
}
.snLzX5LThtA- .uKb55YlDtVY- .G1UlW-HtkuA-,
.snLzX5LThtA- .uKb55YlDtVY- ._9JBx6tfYpwc- {
  padding-right: 5px;
  display: table-cell;
}
.snLzX5LThtA- .ZF1OEu-0zDw- {
  overflow-wrap: anywhere;
  flex-direction: column;
  flex: 1;
  width: 600px;
  max-height: 600px;
  position: relative;
  overflow: clip;
}
.snLzX5LThtA- .vLpNamDBSBE- {
  background: #262b34;
  align-items: center;
  margin-top: auto;
  padding: 5px;
  animation: 1s ease-in-out _08Eqwf2-N-Y-;
}
.snLzX5LThtA- .ICgWfpvzXq0- {
  margin-top: 4px;
  margin-bottom: 2px;
}
.snLzX5LThtA- .ICgWfpvzXq0- a {
  color: #fff;
  text-decoration: none;
}
.snLzX5LThtA- .ICgWfpvzXq0- h3 {
  overflow-wrap: anywhere;
}
.snLzX5LThtA- ._0WLDCeFS89w- {
  white-space: nowrap;
  font-size: 12px;
}
.snLzX5LThtA- .K3iOPiZMgPo- {
  width: 81px;
  height: 14px;
}
.snLzX5LThtA- .pdi9awCQLWQ- {
  flex-wrap: wrap;
  align-items: center;
  font-size: 13px;
}
.snLzX5LThtA- .pdi9awCQLWQ- .dvp8BlxrmPk- a {
  color: #ffffffc5;
  text-decoration: none;
}
.snLzX5LThtA- .Mf5YrU7S1dM- {
  flex-wrap: wrap;
  display: flex;
}
.snLzX5LThtA- .Mf5YrU7S1dM- > div {
  color: #fff;
  background-color: var(--color-accent-7);
  padding: 4px 6px;
  font-size: 12px;
}
.snLzX5LThtA- .kQJK3tl6lKQ- {
  aspect-ratio: 16 / 9;
  cursor: pointer;
  width: 100%;
}
.snLzX5LThtA- .kQJK3tl6lKQ-.Mx2DQQyBZmc- {
  filter: grayscale();
}
.snLzX5LThtA- .kQJK3tl6lKQ- img {
  width: 100%;
  height: auto;
}
.snLzX5LThtA- .PG8eWT98j-E- {
  width: calc(100% - 600px);
  min-width: 40%;
  height: unset;
  flex: 1;
}
@media screen and (width <= 768px) {
  .snLzX5LThtA- .PG8eWT98j-E- {
    width: 100%;
  }
}
.snLzX5LThtA- .jYkmgn1svyE- {
  overflow-wrap: break-word;
}
.snLzX5LThtA- ._3xNZB2yM8Qc- {
  overflow-wrap: break-word;
  max-height: 250px;
  position: relative;
  overflow: hidden;
}
.snLzX5LThtA- ._3xNZB2yM8Qc- img {
  max-width: 100%;
}
.snLzX5LThtA- ._3xNZB2yM8Qc-.WNFzFMvJ3V4-:after {
  content: "";
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 -10px 10px -12px #000;
}
.snLzX5LThtA- .zzv0VHl-hZg- {
  display: flex;
}
.snLzX5LThtA- ._2VK8hAwlDEs- {
  margin-top: 10px;
}
.snLzX5LThtA- .K9zqQ-ov-0s- {
  flex-wrap: nowrap;
  align-items: stretch;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
}
.snLzX5LThtA- .SiYGAgf68UA-,
.snLzX5LThtA- .SiYGAgf68UA- .gYa60zhNWGg- {
  width: 100px;
}
.snLzX5LThtA- .SiYGAgf68UA- .gYa60zhNWGg- img {
  width: 100px;
  min-height: 28.125px;
}
.snLzX5LThtA- .mthASJ0xzwI- {
  color: #fff;
  text-wrap: nowrap;
  background-color: var(--color-dull-8);
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 20px;
  display: flex;
}
.snLzX5LThtA- .yJQP5CPJ-kQ- {
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
}
.snLzX5LThtA- .yJQP5CPJ-kQ- img:hover {
  outline: 2px solid #fff;
}
.snLzX5LThtA- .E1be234Vih8-,
.snLzX5LThtA- .izXdrxxjO9I-,
.snLzX5LThtA- .vImYWt2qQDg-,
.snLzX5LThtA- .lsg47K4NML4- {
  white-space: nowrap;
}
.snLzX5LThtA- .E1be234Vih8- svg,
.snLzX5LThtA- .izXdrxxjO9I- svg,
.snLzX5LThtA- .vImYWt2qQDg- svg,
.snLzX5LThtA- .lsg47K4NML4- svg {
  height: 12px;
}
.snLzX5LThtA- .vImYWt2qQDg- svg,
.snLzX5LThtA- .lsg47K4NML4- svg {
  margin-right: 4px;
}
.snLzX5LThtA- .E1be234Vih8-.lz2uqsJx8Jw- svg {
  color: green;
}
.snLzX5LThtA- .izXdrxxjO9I-.lz2uqsJx8Jw- svg {
  color: red;
}
.snLzX5LThtA- .E2ONW5pdzp8- {
  margin-left: auto;
}
.snLzX5LThtA- .E2ONW5pdzp8- .bFR2YZzwFQ8- {
  box-sizing: border-box;
  height: 36px;
  padding: 5px 1px;
}
.U5oHEUJR3KU- {
  --control-height-2: 42px;
  height: 42px;
}
.U5oHEUJR3KU- form {
  flex: 1;
}
.U5oHEUJR3KU- input {
  color: #fff;
  background: #00000087;
  border: none;
  height: 27px;
  padding: 0 10px;
}
.U5oHEUJR3KU- .zsG6BJvEtlU- {
  cursor: pointer;
  background-color: #3d4450;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  height: 100%;
  display: flex;
}
.U5oHEUJR3KU- .zsG6BJvEtlU- svg {
  width: 25px;
}
.U5oHEUJR3KU- .zsG6BJvEtlU- svg:hover {
  color: #fff;
}
html.responsive.touch .U5oHEUJR3KU- {
  width: 100%;
  margin-bottom: 4px;
  margin-right: 0;
}
@media screen and (width <= 910px) {
  html.responsive .U5oHEUJR3KU- {
    width: 100%;
    margin-bottom: 4px;
    margin-right: 0;
  }
}
.hBHIQ0nx1yU- {
  max-width: 500px;
  color: var(--color-text-body-body);
  background: radial-gradient(
    85.9% 84.18% at 34.28% 100%,
    #29323d 27.5%,
    #1c1e24 67.94%
  );
  border: none;
  padding: 20px;
  font-size: 13px;
  box-shadow: 1px 1px 10px #000;
}
.hBHIQ0nx1yU- code {
  white-space: pre;
  color: #fff;
}
