.DgpqGnHLncQ- {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.Xd4rgP1GhRY- {
  color: #fff;
  background-color: #325396;
  border: 1px solid #253e70;
  border-radius: 5px;
  margin-left: 20px;
  padding: 2px 8px 2px 20px;
  font-size: 14px;
  font-weight: 500;
  transform: translateY(6px);
}
.rkvrDdEoIkw- {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
._7yYPcnzhMhI- {
  color: #fff;
  background-color: #c99810;
  border: 1px solid #f6bd1c;
  border-radius: 5px;
  margin-left: 20px;
  padding: 2px 8px 2px 20px;
  font-size: 14px;
  font-weight: 500;
  transform: translateY(6px);
}
.h1EniFafzA8- {
  word-wrap: break-word;
  background: radial-gradient(224px at 50% 108px, #333, #1e1e1e);
}
.o3YIdqVW6EM-,
.Yo9m7720YUA- {
  width: 32px;
  height: 32px;
  display: block;
}
