.EWMGt9hhE1U- {
  white-space: nowrap;
  flex-flow: wrap;
  align-items: center;
  display: flex;
}
.EWMGt9hhE1U- .XrYtUrn5-Zg- {
  align-items: center;
  gap: 5px;
  display: flex;
}
.EWMGt9hhE1U- button svg {
  width: auto;
  height: 80%;
}
.EWMGt9hhE1U- .raCyHuynzKo- {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.EWMGt9hhE1U- .raCyHuynzKo-:hover {
  text-decoration: underline;
}
.EWMGt9hhE1U- .raCyHuynzKo-.EJXx0Du9tCY- {
  cursor: unset;
  color: unset;
}
.EWMGt9hhE1U- .raCyHuynzKo-.EJXx0Du9tCY-:hover {
  text-decoration: none;
}
