._2-OncJNdDTo- {
  color: #ff69b4;
}
.lfVbJZpa1Yg- {
  width: 16px;
  height: 16px;
  position: relative;
}
.lfVbJZpa1Yg- > svg {
  width: 16px;
  height: 16px;
}
.lfVbJZpa1Yg- .-YqLv-ZSqPA-,
.lfVbJZpa1Yg- .noqWLPImnos- {
  position: absolute;
  top: 0;
  left: 0;
}
