._0Vhwb5Mf9ng- {
  line-height: unset;
  display: inline-flex;
}
._0Vhwb5Mf9ng- > svg {
  fill: #aaa;
  width: 16px;
  margin-inline-start: 4px;
}
._0Vhwb5Mf9ng- > svg:hover {
  fill: #fff;
}
._0Vhwb5Mf9ng-.Eaix9EDRt34- {
  display: inline-block;
}
._0Vhwb5Mf9ng-.Eaix9EDRt34- > svg {
  width: unset;
  fill: #b6d3ed;
  color: #b6d3ed;
  vertical-align: -0.125em;
  height: 0.8em;
  margin-inline-start: 0;
  padding: 0.1em 0.2em;
}
