.-WaXN-Umpbg- {
  --toggle-timing: 0.2s;
  --toggle-transition: transform 0.2s cubic-bezier(0.1, 0.12, 0.53, 1.72);
  width: var(--track-width);
  height: var(--track-height);
  border-radius: 9000px;
  position: relative;
}
.-WaXN-Umpbg-:hover {
  cursor: pointer;
  outline: 4px solid #fff3;
}
.-WaXN-Umpbg-:focus,
.-WaXN-Umpbg-.gpfocus {
  outline: 4px solid #fff6;
}
.-WaXN-Umpbg-:where(.LNi2h6kYm5g-) {
  --track-width: 24px;
  --track-height: 14px;
}
.-WaXN-Umpbg-:where(.jA4kFrjtkac-) {
  --track-width: 38px;
  --track-height: 22px;
}
.-WaXN-Umpbg-:where(.gAeRHDkWt5M-) {
  --track-width: 56px;
  --track-height: 32px;
}
.XWjEvL39Yi4- {
  width: var(--track-width);
  height: var(--track-height);
  background: var(--color-dull-8);
  border-radius: 9000px;
  position: absolute;
  overflow: hidden;
}
.XWjEvL39Yi4-:before {
  content: "";
  width: var(--track-width);
  height: var(--track-height);
  background: var(--color-accent-8);
  border-radius: 9000px;
  transition: transform 0.2s ease-out;
  position: absolute;
  inset: 0;
}
[aria-checked="true"] .XWjEvL39Yi4-:before {
  transform: translate(0);
}
[aria-checked="false"] .XWjEvL39Yi4-:before {
  transform: translateX(calc(-1 * var(--track-width)));
}
.Tcizn-cHysY- {
  width: var(--track-height);
  height: var(--track-height);
  transition: var(--toggle-transition);
  background: #fff;
  border-radius: 9000px;
  transform: translate(0);
}
[aria-checked="true"] .Tcizn-cHysY- {
  transform: translateX(calc(var(--track-width) - var(--track-height)));
}
._5kifY2M9UO4- {
  background-color: var(--separator-color, var(--color-text-body-description));
}
._5kifY2M9UO4-[aria-orientation="horizontal"] {
  width: var(--separator-length);
  height: 1px;
  min-height: 1px;
}
._5kifY2M9UO4-[aria-orientation="vertical"] {
  height: var(--separator-length);
  width: 1px;
}
._2mcUp1HQ5aU- {
  --separator-length: var(--spacing-4);
}
.sOfOs3KoyvY- {
  --separator-length: var(--spacing-6);
}
._3Nr-Bhzmilg- {
  --separator-length: var(--spacing-9);
}
.xcVf7F5T31E- {
  --separator-length: 100%;
}
.yPh9MQ-4OAA- {
  --border: 1px solid var(--color-dull-9);
}
.yPh9MQ-4OAA-.HT4JBJW1PvU- {
  border-top: var(--border);
}
.yPh9MQ-4OAA-.K9k-Nmci3GE- {
  border-bottom: var(--border);
}
