.D8IENuW8Q7w- {
  text-align: center;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: var(--font-family);
  background: var(--background);
  border: none;
  outline: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-property: opacity, background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  display: inline-flex;
}
.D8IENuW8Q7w-:hover {
  background: var(--hover-background, var(--background));
}
.D8IENuW8Q7w-:focus-visible {
  outline-offset: -2px;
  outline: 2px solid #fff;
}
.D8IENuW8Q7w-:disabled {
  opacity: 0.35;
}
.D8IENuW8Q7w-:disabled:hover {
  background: var(--background);
  cursor: default;
}
.D8IENuW8Q7w-:where(.YAnzAmuUUnI-) {
  height: var(--control-height-1);
  min-height: var(--control-height-1);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  border-radius: var(--radius-sm);
  font-size: var(--text-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}
.D8IENuW8Q7w-:where(.YAnzAmuUUnI-)._2rTZ-Nig90Q- {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  --font-size: var(--text-size-4);
}
.D8IENuW8Q7w-:where(.inqz7Zdx9Xg-) {
  height: var(--control-height-2);
  min-height: var(--control-height-2);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  border-radius: var(--radius-sm);
  font-size: var(--text-size-3);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-3);
}
.D8IENuW8Q7w-:where(.inqz7Zdx9Xg-)._2rTZ-Nig90Q- {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  --font-size: var(--text-size-5);
}
.D8IENuW8Q7w-:where(.-GZ6XDQ0-34-) {
  height: var(--control-height-3);
  min-height: var(--control-height-3);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
  border-radius: var(--radius-sm);
  font-size: var(--text-size-5);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-5);
}
.D8IENuW8Q7w-:where(.-GZ6XDQ0-34-)._2rTZ-Nig90Q- {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  --font-size: var(--text-size-7);
}
.D8IENuW8Q7w-:where(.ob-nIzzquk8-) {
  --background: var(--color-accent-8);
  --hover-background: var(--color-accent-10);
  color: var(--color-accent-contrast);
}
.D8IENuW8Q7w-:where(._-0GNcZrYp-U-) {
  --background: var(--color-accent-2);
  --hover-background: var(--color-accent-6);
  color: var(--color-accent-contrast);
}
.D8IENuW8Q7w-:where(.vCmvVAHC2BY-) {
  --background: rgb(from var(--color-accent-3) r g b / 50%);
  --hover-background: rgb(from var(--color-accent-5) r g b / 50%);
  color: var(--color-accent-11);
}
.D8IENuW8Q7w-:where(.vCmvVAHC2BY-):where([data-accent-color="greyneutral"]),
.D8IENuW8Q7w-:where(.vCmvVAHC2BY-):where(
    [data-dull-color="greyneutral"] [data-accent-color="dull"]
  ) {
  --background: rgb(from var(--color-accent-3) r g b / 50%);
  --hover-background: rgb(from var(--color-accent-6) r g b / 50%);
  color: var(--color-accent-11);
}
.D8IENuW8Q7w-:where(.a-Dt3-0cU9Y-) {
  --background: transparent;
  --hover-background: rgb(from var(--color-accent-3) r g b / 50%);
  border: 1px solid var(--color-accent-8);
  color: var(--color-accent-8);
}
.D8IENuW8Q7w-:where(.sFeQogRji0A-) {
  --background: transparent;
  --hover-background: rgb(from var(--color-accent-3) r g b / 50%);
  color: var(--color-accent-contrast);
}
.D8IENuW8Q7w-:where(.B2hj-u2WH-0-) {
  --background: linear-gradient(
    to right,
    var(--color-accent-8) 0%,
    var(--color-accent-7) 100%
  );
  --hover-background: linear-gradient(
    to right,
    var(--color-accent-10) 0%,
    var(--color-accent-8) 100%
  );
  color: var(--color-accent-contrast);
}
.D8IENuW8Q7w-:where(.WPxeXV5lR1E-) {
  width: var(--width);
}
.D8IENuW8Q7w-:where(.fkz-MePtKwI-) {
  min-width: var(--min-width);
}
