._14oRP3y2r-E- {
  min-width: 600px;
}
._14oRP3y2r-E- td {
  vertical-align: top;
}
._14oRP3y2r-E- td:not(:first-child) {
  padding-left: 24px;
}
._14oRP3y2r-E- td:nth-child(2) > * {
  display: inline-block;
}
.VWz-fkV5qwY- {
  width: 400px;
}
.VWz-fkV5qwY- select {
  width: 100%;
}
.VWz-fkV5qwY- .WBg-6pNkjY4- {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.DGGxOZ1t-hA- {
  margin-bottom: 10px;
}
.-Qv4bIDfMgk- {
  box-sizing: border-box;
  width: 100%;
}
