.mlHgowtFAEI- {
  box-sizing: border-box;
  max-width: 490px;
  padding: 24px;
}
.GJkduAzFcH0- p {
  margin-top: 0;
}
.FKyWcPaFvIw- {
  margin-top: 10px;
  margin-bottom: 10px;
}
.BcjNCMOY2HI- {
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
  max-height: 60vh;
  display: flex;
  overflow-y: auto;
}
.uMqBh4Yp8yY- {
  color: #fff;
  cursor: pointer;
  background-color: #3d4450;
  border-radius: 2px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  font-weight: 400;
  display: flex;
}
.uMqBh4Yp8yY- svg {
  width: 18px;
  height: 18px;
}
.uMqBh4Yp8yY-:hover {
  background: #4c5461;
  transition: background-color 0.15s ease-in;
}
.uMqBh4Yp8yY- .GBKI8Etmelw- {
  color: #b8bcbf;
  font-size: 12px;
}
.uMqBh4Yp8yY- .Hg2tl2tZ788- {
  color: #fff;
  font-size: 15px;
}
.T-2kLQVqIN0- {
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  padding-top: 12px;
  display: flex;
}
.T-2kLQVqIN0- > :only-child {
  margin-left: auto;
}
.FsUHsnMpfFo- {
  box-sizing: border-box;
  color: #fff;
  resize: none;
  background-color: #0006;
  border: 1px solid #000;
  border-radius: 3px;
  width: 98%;
  height: 100px;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: block;
  box-shadow: 1px 1px #45556c;
}
.OEDgLBREpmM- {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px;
  padding-block-start: 12px;
  display: flex;
}
.OEDgLBREpmM- > div {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}
.OEDgLBREpmM- input.skjlg1-WmaM- {
  box-sizing: border-box;
  color: #fff;
  background-color: #0006;
  border: 1px solid #000;
  border-radius: 3px;
  width: 98%;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: block;
  box-shadow: 1px 1px #45556c;
}
.OEDgLBREpmM- input.skjlg1-WmaM-:hover {
  background: #23262e;
}
.dc9xw37OAcs- {
  box-sizing: border-box;
  max-width: 490px;
  padding: 24px;
}
.xFjdBZ6MG5c- {
  color: #acb2b8;
}
._5yuo1xyqpuo- {
  color: #acb2b8;
  padding-top: 10px;
  font-size: 12px;
}
._5yuo1xyqpuo- a {
  color: inherit;
  text-decoration: underline;
}
.zKzCCA52OxY- {
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
  display: flex;
}
