.IQc54HmRxds- {
  flex-direction: column;
  margin: 0;
  display: flex;
}
.IQc54HmRxds-._7GL0pEuVlpM- {
  animation-name: none;
}
.IQc54HmRxds-._7GL0pEuVlpM- * {
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
  animation-name: none !important;
}
.IQc54HmRxds-._7GL0pEuVlpM- .UOJevJ9T9Ng- path {
  stroke-width: 0 !important;
}
.IQc54HmRxds-.qpyhU5w-Ysw- {
  flex-direction: row;
}
.IQc54HmRxds- .mG3quL-bt4Y-,
.IQc54HmRxds- .SVGIcon_Throbber,
.IQc54HmRxds- .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
.IQc54HmRxds- .mG3quL-bt4Y- {
  align-self: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
.IQc54HmRxds-.YSmcS95NAPw- .mG3quL-bt4Y- {
  width: 32px;
  height: 32px;
}
.IQc54HmRxds-.I5TNTg-Cg7E- .mG3quL-bt4Y- {
  width: 64px;
  height: 64px;
}
.IQc54HmRxds-.JydayZbU4s8- .mG3quL-bt4Y- {
  width: 92px;
  height: 92px;
}
.D3tclQu-wSE- {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.cnFyebkQf6s-,
.IQc54HmRxds- .cnFyebkQf6s- {
  color: #3d85c8;
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  flex: 1;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
}
.IQc54HmRxds-.I5TNTg-Cg7E- .cnFyebkQf6s- {
  margin-top: 4px;
}
.IQc54HmRxds-.YSmcS95NAPw- .cnFyebkQf6s- {
  margin-top: 2px;
}
.IQc54HmRxds- .SVGIcon_Throbber._5COj3nP16mI- {
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
}
.IQc54HmRxds- .SVGIcon_Throbber._5COj3nP16mI- path {
  stroke: #4375fd;
}
.IQc54HmRxds- .SVGIcon_Throbber path {
  stroke: #67c1f5;
  stroke-linecap: butt;
  opacity: 0;
  animation-name: ztUzIEa7rcs-;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.IQc54HmRxds- .SVGIcon_Throbber .Fhmx89XebJ8-,
.IQc54HmRxds- .SVGIcon_Throbber ._6ZyOws1YMNU- {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
.IQc54HmRxds- .SVGIcon_Throbber ._6ZyOws1YMNU- {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50%;
  stroke-linecap: round;
}
.IQc54HmRxds- .SVGIcon_Throbber .Fhmx89XebJ8- {
  display: none;
}
@keyframes ztUzIEa7rcs- {
  to {
    stroke-dashoffset: -232px;
  }
}
.IQc54HmRxds- .SVGIcon_Throbber .on46gMgXvoo- {
  opacity: 1;
  stroke-width: 0;
  animation-name: PvaIvv-fT2A-;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: -1.2s;
}
@keyframes PvaIvv-fT2A- {
  0% {
    fill: #67c1f500;
  }
  50% {
    fill: #67c1f50d;
  }
  to {
    fill: #67c1f500;
  }
}
.IQc54HmRxds- .SVGIcon_Throbber .WbWJuUg9SsY- .muX9Zv2fLD8-,
.IQc54HmRxds- .SVGIcon_Throbber .WbWJuUg9SsY- circle {
  stroke: #67c1f5;
  transform-origin: 67% 36%;
  animation-name: RfHPv3sV6HA-;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: -1.2s;
}
.IQc54HmRxds- .SVGIcon_Throbber .WbWJuUg9SsY- circle {
  animation-name: UOUYFuvQO94-;
}
.IQc54HmRxds- .SVGIcon_Throbber .UOJevJ9T9Ng- path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: UOUYFuvQO94-;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: -0.6s;
}
@keyframes RfHPv3sV6HA- {
  0% {
    opacity: 0;
    stroke-width: 4px;
    transform: scale(0.75);
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    stroke-width: 0;
    transform: scale(5);
  }
  to {
    opacity: 0;
    stroke-width: 0;
    transform: scale(5);
  }
}
@keyframes UOUYFuvQO94- {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.IQc54HmRxds- .SVGIcon_Throbber .aIx0xppCOsY-,
.IQc54HmRxds- .SVGIcon_Throbber .fg1pNEB471U-,
.IQc54HmRxds- .SVGIcon_Throbber .zPIMkmlO3zM-,
.IQc54HmRxds- .SVGIcon_Throbber .ThLsA0vCDI4-,
.IQc54HmRxds- .SVGIcon_Throbber .kIbgD3ss6ho-,
.IQc54HmRxds- .SVGIcon_Throbber .fIoUp5BYjyg-,
.IQc54HmRxds- .SVGIcon_Throbber .dtRhiRjxiMA-,
.IQc54HmRxds- .SVGIcon_Throbber .dJ3Uc7NiufU-,
.IQc54HmRxds- .SVGIcon_Throbber .w-yI-y3hIDs-,
.IQc54HmRxds- .SVGIcon_Throbber .oFFsr5YAnC0-,
.IQc54HmRxds- .SVGIcon_Throbber .RGHTIYoNrZc-,
.IQc54HmRxds- .SVGIcon_Throbber .Eq7fn9sCOxo-,
.IQc54HmRxds- .SVGIcon_Throbber .lVRRcesYuJs-,
.IQc54HmRxds- .SVGIcon_Throbber ._5bM5-0EWgC8-,
.IQc54HmRxds- .SVGIcon_Throbber .ixwEVKO88Is- {
  stroke-dasharray: 150 950;
  animation-name: _3L9RhvKOx6I-;
  animation-duration: 3s;
}
.IQc54HmRxds- .SVGIcon_Throbber .ixwEVKO88Is- {
  opacity: 0.06;
  stroke-width: 0.5px;
  animation-delay: 0s;
}
.IQc54HmRxds- .SVGIcon_Throbber ._5bM5-0EWgC8- {
  opacity: 0.13;
  stroke-width: 1px;
  animation-delay: -0.1s;
}
.IQc54HmRxds- .SVGIcon_Throbber .lVRRcesYuJs- {
  opacity: 0.2;
  stroke-width: 1.5px;
  animation-delay: -0.2s;
}
.IQc54HmRxds- .SVGIcon_Throbber .Eq7fn9sCOxo- {
  opacity: 0.26;
  stroke-width: 2px;
  animation-delay: -0.3s;
}
.IQc54HmRxds- .SVGIcon_Throbber .RGHTIYoNrZc- {
  opacity: 0.33;
  stroke-width: 2.5px;
  animation-delay: -0.4s;
}
.IQc54HmRxds- .SVGIcon_Throbber .oFFsr5YAnC0- {
  opacity: 0.4;
  stroke-width: 3px;
  animation-delay: -0.5s;
}
.IQc54HmRxds- .SVGIcon_Throbber .w-yI-y3hIDs- {
  opacity: 0.46;
  stroke-width: 3.5px;
  animation-delay: -0.6s;
}
.IQc54HmRxds- .SVGIcon_Throbber .dJ3Uc7NiufU- {
  opacity: 0.53;
  stroke-width: 4px;
  animation-delay: -0.7s;
}
.IQc54HmRxds- .SVGIcon_Throbber .dtRhiRjxiMA- {
  opacity: 0.6;
  stroke-width: 4.5px;
  animation-delay: -0.8s;
}
.IQc54HmRxds- .SVGIcon_Throbber .fIoUp5BYjyg- {
  opacity: 0.66;
  stroke-width: 5px;
  animation-delay: -0.9s;
}
.IQc54HmRxds- .SVGIcon_Throbber .kIbgD3ss6ho- {
  opacity: 0.73;
  stroke-width: 5.5px;
  animation-delay: -1s;
}
.IQc54HmRxds- .SVGIcon_Throbber .ThLsA0vCDI4- {
  opacity: 0.8;
  stroke-width: 6px;
  animation-delay: -1.1s;
}
.IQc54HmRxds- .SVGIcon_Throbber .zPIMkmlO3zM- {
  opacity: 0.86;
  stroke-width: 6.5px;
  animation-delay: -1.2s;
}
.IQc54HmRxds- .SVGIcon_Throbber .fg1pNEB471U- {
  opacity: 0.93;
  stroke-width: 7px;
  animation-delay: -1.3s;
}
.IQc54HmRxds- .SVGIcon_Throbber .aIx0xppCOsY- {
  opacity: 1;
  stroke-width: 7.5px;
  animation-delay: -1.4s;
}
@keyframes _3L9RhvKOx6I- {
  to {
    stroke-dashoffset: -1100px;
  }
}
.YSmcS95NAPw- {
  width: 36px;
  height: 36px;
}
.I5TNTg-Cg7E- {
  width: 64px;
  height: 64px;
}
.JydayZbU4s8- {
  width: 92px;
  height: 92px;
}
.fwc-iRrBLq4- {
  width: 120px;
  height: 120px;
}
.QHkKi-w-JWU- {
  width: 240px;
  height: 240px;
}
.iWO50-ppuPo- {
  opacity: 0;
  transition: opacity 1s;
}
.iWO50-ppuPo-.LgaA-VVEk0c- {
  opacity: 1;
}
._5LyjHgBgj0M- img {
  width: 100%;
}
