.zyTO7YFP9tQ- {
  opacity: 0.3;
}
._9F-vJctONnI- {
  color: var(--color-accent-8);
}
.K0V2SQSqdng- {
  box-sizing: border-box;
  padding: 8px;
  transition-property: color, background-color;
  transition-duration: 0.12s;
  transition-delay: 80ms;
  display: inline-block;
}
.K0V2SQSqdng-:not(:hover) {
  color: #000;
  background-color: #000;
}
.lyWzllKSmIk- {
  border-collapse: collapse;
  font-size: 14px;
  display: table;
}
.lyWzllKSmIk-._5W82LoeXbQY- {
  position: relative;
}
.lyWzllKSmIk-._5W82LoeXbQY- .UaL62AQUKkY-,
.lyWzllKSmIk-._5W82LoeXbQY- .UaL62AQUKkY-:first-of-type,
.lyWzllKSmIk-._5W82LoeXbQY- .jpTV7MUPh78-,
.lyWzllKSmIk-._5W82LoeXbQY- .jpTV7MUPh78-:first-of-type {
  border: none;
}
.lyWzllKSmIk-.kzYJe9usRrQ- {
  table-layout: fixed;
  width: 100%;
}
.lyWzllKSmIk- .UaL62AQUKkY- {
  border-bottom: 1px solid #e2e5e94d;
}
.lyWzllKSmIk- .UaL62AQUKkY-:first-of-type {
  border-top: 1px solid #e2e5e94d;
}
.lyWzllKSmIk- .jpTV7MUPh78- {
  border-right: 1px solid #e2e5e94d;
}
.lyWzllKSmIk- .jpTV7MUPh78-:first-of-type {
  border-left: 1px solid #e2e5e94d;
}
.jpTV7MUPh78- {
  vertical-align: middle;
  padding: 4px;
  display: table-cell;
}
th.jpTV7MUPh78- {
  color: #f0f2f4;
  background: #c6cad233;
  border-right: 1px solid #e2e5e94d;
  padding: 4px;
  font-weight: 700;
  display: table-cell;
}
th.jpTV7MUPh78-:first-of-type {
  border-left: 1px solid #e2e5e94d;
}
.UaL62AQUKkY- {
  display: table-row;
}
.SPnl2bpY6rA- {
  max-width: 100%;
}
.XXlEfHjWjow- {
  color: #acb2b8;
}
.v5pkDSvX7yQ- {
  color: #acb2b8;
  padding-top: 10px;
  font-size: 12px;
}
.v5pkDSvX7yQ- a {
  color: inherit;
  text-decoration: underline;
}
.EvyIQQe4kEQ- {
  flex-direction: row;
  align-self: flex-end;
  gap: 10px;
  margin-top: 30px;
  display: flex;
}
@keyframes QZe7cmAGzxo- {
  0% {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes Q-9WzjW7IWo- {
  0% {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes TTK5LkGfvLU- {
  0% {
    color: #8b929a;
    background: #3d4450;
  }
  to {
    color: #fff;
    background: #23262e;
  }
}
@keyframes pxqYuipTSZw- {
  0% {
    color: #8b929a;
    background: #23262e;
  }
  to {
    color: #fff;
    background: #383a41;
  }
}
@keyframes EUFiN6F9T1A- {
  0% {
    color: #8b929a;
    background: #ffffff40;
  }
  to {
    color: #fff;
    background: #ffffff26;
  }
}
@keyframes JqFRf5o47E0- {
  0% {
    color: #fff;
    background: #8b929a;
  }
  to {
    color: #fff;
    background: #67707b;
  }
}
@keyframes _6iclmpDVuCo- {
  0% {
    color: #fff;
    background: #ffffff4d;
  }
  to {
    color: #fff;
    background: #ffffff1a;
  }
}
@keyframes CafNGX6t1uI- {
  0% {
    color: #fff;
    background: #ffffff80;
  }
  to {
    color: #fff;
    background: #fff3;
  }
}
@keyframes XQLFSCrzVS8- {
  0% {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes TnL4dc2sy78- {
  0% {
    color: #8b929a;
    background: #c9ffc9;
  }
  to {
    color: #fff;
    background: #59bf40;
  }
}
@keyframes yK-kb0s5ISE- {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  to {
    opacity: 0.8;
    background-position: -180% 0;
  }
}
@keyframes oJgJGSWzOL0- {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 50% 0;
  }
}
.X1gCBTGtbQo- {
  color: #e4e4e4;
  background-color: #1d3f5f;
  max-width: 88vw;
  font-family:
    Motiva Sans,
    sans-serif;
  font-size: 14px;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- {
    padding: 16px 12px !important;
  }
}
.BasicUI .X1gCBTGtbQo- {
  padding: 24px !important;
}
.X1gCBTGtbQo- .pwoEuOdIEU8- ._8gzuK-ehd2c- {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 30px;
}
.BasicUI .X1gCBTGtbQo- .pwoEuOdIEU8- ._8gzuK-ehd2c- {
  font: var(--gpText-HeadingLarge);
  letter-spacing: unset;
  text-transform: unset;
}
.X1gCBTGtbQo- .pwoEuOdIEU8- .KxWl4F-ThBg- {
  color: #66c0f4;
  font-size: 14px;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  display: grid;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .-k3vfGVJ2z8- {
    flex-direction: column;
    gap: 2px;
    margin: 16px 0;
    display: flex;
  }
}
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- {
  flex-direction: row;
  gap: 8px;
  margin: 0 -24px;
  padding: 24px;
  scroll-padding: 0 24px;
  display: flex;
  overflow: hidden;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- {
  border: 3px solid #0000;
  border-radius: 2px;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  transition:
    background-color 0.2s,
    border-radius 0.2s;
  display: flex;
  position: relative;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- {
    background-color: #ffffff14;
    border: 2px solid #0000;
    flex-direction: row;
    column-gap: 20px;
    padding: 4px 12px;
  }
}
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- {
  background-color: #ffffff14;
  flex-direction: column;
  padding: 8px 8px 16px;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-:hover,
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.v5Y6-9-HzHc-,
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.gpfocus {
  background-color: #00000040;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-:hover,
  .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.v5Y6-9-HzHc-,
  .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.gpfocus {
    background-color: #ffffff29;
  }
}
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-:hover,
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.v5Y6-9-HzHc-,
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.gpfocus {
  background-color: #ffffff29;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.gpfocus {
  border-radius: 0;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.v5Y6-9-HzHc- {
  border-color: #66c0f4;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.ZqJew-Soils-:hover,
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.ZqJew-Soils- {
  background-color: unset;
  cursor: unset;
  border-color: #ffffff14;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .gpQal19AH3g- {
  flex-direction: column;
  align-items: center;
  display: flex;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .gpQal19AH3g- {
    align-items: flex-start;
    row-gap: 4px;
  }
}
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .gpQal19AH3g- {
  align-items: center;
}
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .ipfUysnOe38- {
  margin: 16px;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .ipfUysnOe38- img {
  width: 80px;
  height: 80px;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .ipfUysnOe38- img {
    width: 48px;
    height: 48px;
  }
}
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .ipfUysnOe38- img {
  width: 80px;
  height: 80px;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .KMujcG7s040- {
  color: #66c0f4;
  letter-spacing: 0.05em;
}
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .KMujcG7s040- {
  letter-spacing: unset;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .ihNex1qsDHE- {
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 500;
}
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .ihNex1qsDHE- {
  margin-top: auto;
  padding-top: 8px;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.ZqJew-Soils- .ipfUysnOe38- img,
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.ZqJew-Soils- .KMujcG7s040-,
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0-.ZqJew-Soils- .ihNex1qsDHE- {
  opacity: 0.25;
}
.X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .RvQ6Pyfb094- {
  color: #5b7e0f;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .-k3vfGVJ2z8- .hjnyUvjsuM0- .RvQ6Pyfb094- {
    left: unset;
    right: 8px;
  }
}
.BasicUI .X1gCBTGtbQo- .-k3vfGVJ2z8-:after {
  content: " ";
  min-width: 24px;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .K1SbjeK9LvQ- {
    display: block;
  }
}
.BasicUI .X1gCBTGtbQo- .K1SbjeK9LvQ- {
  display: flex;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- .X5dwwz8fIXE- {
  display: block;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- ._5zWPqKJ33KE- {
  flex-direction: column;
  gap: 10px;
  display: flex;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- ._1G-T-zONst0- {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- ._1G-T-zONst0- .Czke6RtXW3o- {
  width: 32px;
  height: 32px;
  padding-right: 8px;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- ._1G-T-zONst0- ._8CEnNxDShgs- {
  flex-direction: column;
  line-height: 1.2em;
  display: flex;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- ._1G-T-zONst0- ._8CEnNxDShgs- .yi3-qg349IA- {
  color: #66c0f4;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- ._1G-T-zONst0- ._8CEnNxDShgs- .GaPyf2MjF2E- {
  letter-spacing: 0.05em;
  font-size: 16px;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- ._4H1RQ7-yur4- {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .K1SbjeK9LvQ- ._4H1RQ7-yur4- {
    align-items: center;
    padding-top: 10px;
  }
}
.BasicUI .X1gCBTGtbQo- .K1SbjeK9LvQ- ._4H1RQ7-yur4- {
  padding-top: unset;
  flex-direction: row-reverse;
  column-gap: 8px;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- ._4H1RQ7-yur4- .yMXGuiDOIJM- {
  flex-direction: row;
  align-items: center;
  display: flex;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .K1SbjeK9LvQ- ._4H1RQ7-yur4- .yMXGuiDOIJM- {
    flex-direction: column-reverse;
    gap: 4px;
    width: -webkit-fill-available;
  }
}
.BasicUI .X1gCBTGtbQo- .K1SbjeK9LvQ- ._4H1RQ7-yur4- .yMXGuiDOIJM- {
  flex-direction: row;
  gap: 8px;
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- ._4H1RQ7-yur4- .yMXGuiDOIJM- .TVan0xtpqqs- {
  min-width: 150px;
  padding-left: 12px;
}
@media screen and (width <= 910px) {
  .X1gCBTGtbQo- .K1SbjeK9LvQ- ._4H1RQ7-yur4- .yMXGuiDOIJM- .TVan0xtpqqs- {
    min-width: 100px;
    padding-left: unset;
    flex: auto;
    width: -webkit-fill-available;
  }
}
.X1gCBTGtbQo- .K1SbjeK9LvQ- .-doWcGR8eMk- {
  color: #189ad3;
  padding-top: 8px;
  font-size: 12px;
}
.BasicUI .X1gCBTGtbQo- .K1SbjeK9LvQ- .-doWcGR8eMk- {
  padding-top: unset;
  white-space: nowrap;
}
.cOllkn85Qg0- {
  background-color: #ffffff1a;
  width: 100%;
  height: 1px;
  margin: 12px 0;
}
.BasicUI .cOllkn85Qg0- {
  display: none;
}
@media screen and (width <= 910px) {
  .cOllkn85Qg0- {
    display: none;
  }
}
.LZ8e1bYHfYA- {
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  padding: 10px;
  display: flex;
  position: relative;
}
@media screen and (width <= 910px) {
  .LZ8e1bYHfYA- {
    border-bottom: 1px solid #ffffff1a;
    flex-direction: column;
    margin-bottom: 12px;
    padding: 0 0 12px;
  }
}
.BasicUI .LZ8e1bYHfYA- {
  flex-direction: row;
}
.LZ8e1bYHfYA- .IcJ-oYdhbmY- {
  flex-direction: column;
  display: flex;
}
.LZ8e1bYHfYA- .mJ0DNYwkPL0- {
  text-align: left;
  max-width: 360px;
  padding-top: 12px;
}
.LZ8e1bYHfYA- .mJ0DNYwkPL0- ._7UII5ie-Zyw- {
  color: #66c0f4;
  font-weight: 500;
}
.LZ8e1bYHfYA- .mJ0DNYwkPL0- .JG6-rTArZSI- {
  text-decoration: underline;
}
.LZ8e1bYHfYA- {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.LZ8e1bYHfYA-.eB8lwgwsGp0- {
  opacity: 1;
}
.qlx3jmY-fYs- {
  height: 200px;
}
@media screen and (width <= 910px) {
  .qlx3jmY-fYs- {
    height: 200px;
  }
}
.p1vtepGhSwM-,
.gjb6TWp3ljM- {
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in;
  display: flex;
  position: absolute;
  inset: 0;
}
.p1vtepGhSwM-.eB8lwgwsGp0-,
.gjb6TWp3ljM-.eB8lwgwsGp0- {
  opacity: 1;
  pointer-events: all;
}
.p1vtepGhSwM- .YBdqolTvxSI-,
.gjb6TWp3ljM- .YBdqolTvxSI- {
  padding-top: 8px;
  font-size: 16px;
}
.UX-R-ILV2P8- {
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 300px;
  display: flex;
  position: relative;
}
.UX-R-ILV2P8- .jxFDeB5vHwI- {
  display: block;
}
.tQ0eTDYO-n0- {
  padding: 20px;
}
.tQ0eTDYO-n0- .sqHW022p4uQ- {
  color: #e4e4e4;
  font-size: 14px;
  font-weight: 700;
}
._9laXcVDhko4- {
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 500;
}
._9laXcVDhko4- .to0SBwTzjHE- {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  padding-right: 6px;
}
._-8SK-njcPZY- {
  opacity: 0.6;
  font-size: 12px;
}
.BnfeTjJPQ-g- {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: 0 0;
  border: none;
  padding: 0;
}
.BnfeTjJPQ-g- a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  cursor: inherit;
  padding: 0;
  margin: 0 !important;
}
.tBM2tRu7sCE- {
  background-color: #0000;
  border-radius: 3px 3px 0 0;
  width: 150px;
  overflow: hidden;
}
.tBM2tRu7sCE- .JI7HWj0E-5g- {
  text-align: center;
  background-color: #474c52;
  padding-top: 5px;
}
.tBM2tRu7sCE- .JI7HWj0E-5g- img {
  height: 100px;
}
.tBM2tRu7sCE- .vrGKKSSQv5A- {
  text-align: center;
  background-color: #dadee0;
  padding: 10px;
}
.tBM2tRu7sCE- ._9tJXlayVUkk-,
.tBM2tRu7sCE- .mqu35KRdk0k- {
  color: #0a212e;
}
.tBM2tRu7sCE- ._9tJXlayVUkk- {
  font-size: 12px;
  font-weight: 700;
}
.tBM2tRu7sCE- .mqu35KRdk0k- {
  padding-top: 5px;
  font-size: 10px;
}
.tBM2tRu7sCE- .zhSYwI9CGAw-,
.tBM2tRu7sCE- .FcztL8xbJ9w- {
  color: #737678;
  padding-top: 5px;
  font-size: 10px;
}
@keyframes sUMTDADCAbM- {
  0% {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes rYG-0Hy0LYg- {
  0% {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes FftaKDZDPZY- {
  0% {
    color: #8b929a;
    background: #3d4450;
  }
  to {
    color: #fff;
    background: #23262e;
  }
}
@keyframes juxHWffVfwU- {
  0% {
    color: #8b929a;
    background: #23262e;
  }
  to {
    color: #fff;
    background: #383a41;
  }
}
@keyframes -xwzuP-lNAA- {
  0% {
    color: #8b929a;
    background: #ffffff40;
  }
  to {
    color: #fff;
    background: #ffffff26;
  }
}
@keyframes KTlqXES5WuY- {
  0% {
    color: #fff;
    background: #8b929a;
  }
  to {
    color: #fff;
    background: #67707b;
  }
}
@keyframes zNybEmouwVE- {
  0% {
    color: #fff;
    background: #ffffff4d;
  }
  to {
    color: #fff;
    background: #ffffff1a;
  }
}
@keyframes -G09nYzg7ks- {
  0% {
    color: #fff;
    background: #ffffff80;
  }
  to {
    color: #fff;
    background: #fff3;
  }
}
@keyframes KTf3RuAspKs- {
  0% {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes KN2CGh-91-I- {
  0% {
    color: #8b929a;
    background: #c9ffc9;
  }
  to {
    color: #fff;
    background: #59bf40;
  }
}
@keyframes QQBnzCZuW9I- {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  to {
    opacity: 0.8;
    background-position: -180% 0;
  }
}
@keyframes _1mPo9EAii10- {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 50% 0;
  }
}
.rORIT8EPP08-,
.P2CT6pxsvv8-,
.rj6kLDl2-xk-,
.XpHO3w9iqJo-,
.b4JBNj9biUk-,
.UpHojYmKaTA-,
.UPnxoRId-aw- {
  white-space: nowrap;
}
.rORIT8EPP08- svg,
.P2CT6pxsvv8- svg,
.rj6kLDl2-xk- svg,
.XpHO3w9iqJo- svg,
.b4JBNj9biUk- svg,
.UpHojYmKaTA- svg,
.UPnxoRId-aw- svg {
  height: 12px;
}
.rj6kLDl2-xk- svg,
.XpHO3w9iqJo- svg,
.UPnxoRId-aw- svg {
  margin-right: 4px;
}
.rORIT8EPP08-.Znsa0JpgewY- svg {
  color: var(--color-green-7);
}
.P2CT6pxsvv8-.Znsa0JpgewY- svg {
  color: var(--color-red-10);
}
.b4JBNj9biUk-.Znsa0JpgewY- svg {
  color: red;
}
.UpHojYmKaTA- svg {
  color: #ffc83d;
}
.O16OB-hnU-8- {
  min-width: 400px;
  max-width: 550px;
}
.O16OB-hnU-8- a {
  color: #fff;
  text-decoration: none;
}
.O16OB-hnU-8- a:hover {
  color: #66c0f4;
}
.Yv1Bk96nRv8- .cEvRL-e8tP4- {
  max-height: 50vh;
  overflow-y: scroll;
}
.QwdNae7qyGo- {
  flex: none;
  align-items: center;
  gap: 4px;
  display: flex;
}
.QwdNae7qyGo- .vBFhYRicC7A- {
  cursor: pointer;
  color: #66c0f4;
  background-color: #0003;
  border-radius: 5px;
  align-items: center;
  padding: 5px;
  font-size: 13px;
  display: flex;
}
.QwdNae7qyGo- .vBFhYRicC7A-:hover {
  background-color: #fff3;
}
.QwdNae7qyGo- .vsP0veiFSEg- {
  padding: 3px;
}
.QwdNae7qyGo- .RKDCa-F51uA- {
  aspect-ratio: 1;
  width: 20px;
}
.gfH-5yhErEw- {
  background: #262b34;
  position: relative;
}
.gfH-5yhErEw-.zny-h-wOMDQ- {
  filter: brightness(0.333);
}
.gfH-5yhErEw- {
  transition: filter 0.2s ease-in-out;
}
.gfH-5yhErEw-:hover {
  filter: brightness();
  outline: 2px solid #fff;
}
.gfH-5yhErEw- .qbsxSRZc5FI- {
  gap: 1px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
.gfH-5yhErEw- .qbsxSRZc5FI- .kxZfjkEvZ6c-,
.gfH-5yhErEw- .qbsxSRZc5FI- ._3oUkt3lGODw-,
.gfH-5yhErEw- .qbsxSRZc5FI- .W--iOqX4elA-,
.gfH-5yhErEw- .qbsxSRZc5FI- .z20-5XzomdA-,
.gfH-5yhErEw- .qbsxSRZc5FI- ._8mffKPxmPPs- {
  background: #333;
  width: 12px;
  height: 12px;
  display: flex;
}
._7-YnTYBrWGM- {
  opacity: 0;
  background: #070707;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
._7-YnTYBrWGM- .tK5agp5sRy8- {
  scroll-margin-top: 150px;
  scroll-margin-bottom: 100px;
}
._7-YnTYBrWGM- img {
  width: 100%;
  display: block;
}
._7-YnTYBrWGM-.CZIkT3axIG8- {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
._7-YnTYBrWGM-.QZ-BCWkxxn0- {
  aspect-ratio: 1;
}
._7-YnTYBrWGM-.P-hrWw6KqUE- {
  aspect-ratio: 16 / 9;
}
._7-YnTYBrWGM-.kUR8PF3keI4- {
  aspect-ratio: 4 / 3;
}
._7-YnTYBrWGM-.sSHup54TcdY- {
  aspect-ratio: 948 / 470;
}
.TjfxYFRbvW0-,
.uIIQhHbzpwA-,
.aXrOhtp-f6M-,
.Vgwo-lFsJ2s-,
.ccp2Ydcl5AQ-,
.QkjOt39blJA- {
  background: #333;
  width: 16px;
  height: 16px;
  padding: 2px;
  display: flex;
}
.aXrOhtp-f6M- {
  justify-content: center;
  align-items: center;
}
.aXrOhtp-f6M- svg {
  width: 12px;
  height: 12px;
  color: var(--color-green-7);
}
.Vgwo-lFsJ2s- {
  justify-content: center;
  align-items: center;
}
.Vgwo-lFsJ2s- svg {
  width: 12px;
  height: 12px;
  color: var(--color-red-10);
}
.QmqsdxxVc-4- {
  background: #5c7e10;
  width: 16px;
  height: 16px;
  padding: 2px;
  display: flex;
}
.nqCzE8rZBhc- {
  color: #000;
  background: #bd9751;
  width: 16px;
  height: 16px;
  padding: 2px;
  display: flex;
}
@keyframes sLCRnnVstJc- {
  0% {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes GeSgFNUzEcg- {
  0% {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes moNE6awDvX8- {
  0% {
    color: #8b929a;
    background: #3d4450;
  }
  to {
    color: #fff;
    background: #23262e;
  }
}
@keyframes -tNI5svmoNQ- {
  0% {
    color: #8b929a;
    background: #23262e;
  }
  to {
    color: #fff;
    background: #383a41;
  }
}
@keyframes xkyoolrifCQ- {
  0% {
    color: #8b929a;
    background: #ffffff40;
  }
  to {
    color: #fff;
    background: #ffffff26;
  }
}
@keyframes zpJShiTR-7s- {
  0% {
    color: #fff;
    background: #8b929a;
  }
  to {
    color: #fff;
    background: #67707b;
  }
}
@keyframes rxBghga3EMM- {
  0% {
    color: #fff;
    background: #ffffff4d;
  }
  to {
    color: #fff;
    background: #ffffff1a;
  }
}
@keyframes wNwB6GxLF-4- {
  0% {
    color: #fff;
    background: #ffffff80;
  }
  to {
    color: #fff;
    background: #fff3;
  }
}
@keyframes _4pDPHZRIhjI- {
  0% {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes HpbQA0aBPq4- {
  0% {
    color: #8b929a;
    background: #c9ffc9;
  }
  to {
    color: #fff;
    background: #59bf40;
  }
}
@keyframes dBkCXLrruBQ- {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  to {
    opacity: 0.8;
    background-position: -180% 0;
  }
}
@keyframes MQbUfKk0KcI- {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 50% 0;
  }
}
.oANGzvAVSAs- {
  z-index: 5000;
  text-shadow: 1px 1px 2px #0000004d;
  background: #344352;
  max-width: 340px;
  max-height: 50vh;
  font-family:
    Motiva Sans,
    sans-serif;
  position: relative;
  box-shadow: 4px 4px 10px #000000bf;
}
.oANGzvAVSAs- .aP4Gy0iCXGk- {
  color: #fff;
  margin-bottom: 10px;
  font-size: 17px;
}
.oANGzvAVSAs- .y0E8iqKrgIk- {
  overflow-wrap: break-word;
  color: var(--color-text-body-body);
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.oANGzvAVSAs- .Hwk2iwzQzLk- {
  color: var(--color-text-body-body);
  opacity: 0.8;
  margin-top: 5px;
  margin-bottom: 5px;
}
.oANGzvAVSAs- .kNiYVnGBT4s- {
  border-top: 1px solid #82807c;
  margin-top: 5px;
  padding-top: 5px;
}
.oANGzvAVSAs- .y-EAQH8Pox0- {
  color: var(--color-text-body-body);
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  font-size: 12px;
  display: flex;
}
.oANGzvAVSAs- .VxIeTz3s0GQ- {
  width: 50px;
  min-height: 28.125px;
}
.oANGzvAVSAs- .QDN3gIbHDvM- {
  color: #fff;
  text-wrap: nowrap;
  background-color: var(--color-dull-8);
  justify-content: center;
  align-items: center;
  width: 50px;
  display: flex;
}
.oANGzvAVSAs- .o-1nl4PVk5c- {
  color: #fff;
  background-color: #ffffff17;
  padding: 4px 8px;
  font-size: 12px;
}
.CjYXupratSE- {
  min-width: 430px;
  max-width: 50vw;
}
.CjYXupratSE- .DpTRucSz4GM- {
  background: #00000080;
  max-height: 50vh;
  margin-top: 10px;
  padding: 5px;
  overflow-y: scroll;
}
.CjYXupratSE- .L4HeIBwT4P4-,
.CjYXupratSE- .L4HeIBwT4P4- ._47WVf1GTq30- {
  width: 100px;
}
.FekZSwYnr1c- {
  cursor: pointer;
  aspect-ratio: 16 / 9;
  background: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.FekZSwYnr1c-._2M3xIxqLmX8- {
  filter: grayscale();
}
.FekZSwYnr1c- img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
}
.gnz9d4vMotk- {
  width: auto;
  height: 100%;
}
.x8orf3DM730- {
  width: 100%;
  position: relative;
}
.x8orf3DM730- .Qi-UgM4WsRo- {
  z-index: 1;
  cursor: pointer;
  background: #000c;
  width: 40px;
  height: 90px;
  display: none;
}
.x8orf3DM730- .Qi-UgM4WsRo-:hover svg {
  fill: #fff;
  color: #fff;
}
.x8orf3DM730- .Qi-UgM4WsRo-._2i9InboilFc- {
  position: absolute;
  top: 0;
  left: 0;
}
.x8orf3DM730- .Qi-UgM4WsRo-.qdGGKLZFJX4- {
  position: absolute;
  top: 0;
  right: 0;
}
.x8orf3DM730- .Qi-UgM4WsRo-.KTGtVqzbnVU- {
  display: block;
}
.-V6vKn-OSdA- {
  height: 102px;
  position: relative;
  overflow: scroll hidden;
}
.-V6vKn-OSdA- ._2rWVHOBfiqk- {
  aspect-ratio: 16 / 9;
  cursor: pointer;
  background-color: #000;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 90px;
  scroll-margin-inline: 25px;
  display: flex;
  position: relative;
}
.-V6vKn-OSdA- ._2rWVHOBfiqk- img {
  width: 100%;
  height: auto;
}
.-V6vKn-OSdA- ._2rWVHOBfiqk- img.IkG-QGVb-sQ- {
  width: unset;
}
.-V6vKn-OSdA- ._2rWVHOBfiqk-.Lmu0WjZ9ob4-:after,
.-V6vKn-OSdA- ._2rWVHOBfiqk-:hover:after {
  content: "";
  z-index: 1;
  border: 1px solid #fff;
  position: absolute;
  inset: 0;
}
.-V6vKn-OSdA- ._2rWVHOBfiqk- .WmyUpASx6iA- {
  justify-content: center;
  align-items: center;
  height: 90px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.eXJaoCIQubs- {
  width: 100%;
  height: 100%;
  position: relative;
}
.eXJaoCIQubs- .ZfuTb5z2GO0- {
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.eXJaoCIQubs- .ZfuTb5z2GO0- ::-webkit-scrollbar {
  display: none;
}
.gThommZo0i8- {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
