.ggzXZcP3Klw- > * {
  --height: auto !important;
}
.ggzXZcP3Klw- img {
  max-width: 100%;
  height: auto;
  display: block;
}
.Qv1YbBl8g5E- {
  background: #171d25;
}
.n07JNVB2Q7s- {
  overscroll-behavior: contain;
  padding-bottom: var(--spacing-5);
  -webkit-mask-image: linear-gradient(
    to bottom,
    black calc(100% - var(--spacing-5)),
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - var(--spacing-5)),
    transparent
  );
  overflow-y: auto;
}
.kC6ru6-I1r0- {
  outline: none;
  width: min(1000px, 90vw);
  height: min(800px, 90vh);
}
._7d6HTK1LzyY- {
  flex-direction: column;
  display: flex;
  overflow: hidden;
}
._7d6HTK1LzyY- > form {
  flex: auto;
  min-height: 0;
}
.zixqJITMO7o- {
  top: var(--spacing-2);
  right: var(--spacing-4);
  transition: color 0.15s ease-in-out;
  position: absolute;
}
.zixqJITMO7o-:hover {
  cursor: pointer;
  color: var(--color-text-body-title);
}
.rGIUK5uJ--U- {
  font-size: var(--text-size-3);
}
.rGIUK5uJ--U- > * > :first-child:not(input) {
  padding-right: 2px;
}
.rGIUK5uJ--U- > * {
  --padding: 0 var(--spacing-2);
}
.rGIUK5uJ--U-.N-lG1-jHvew- > * {
  --padding: 0;
}
