.h2hJmhz41JY- {
  background: var(--popover-background, #3d4450);
  box-shadow: var(--popover-shadow, 3px 3px 5px -3px #000);
  opacity: 0;
  transition:
    display 0.15s allow-discrete,
    overlay 0.15s allow-discrete,
    opacity 0.15s linear;
  border: none;
  margin: 0;
  padding: 0;
}
.h2hJmhz41JY-:not(:popover-open):not(.\:popover-open) {
  display: none !important;
}
.h2hJmhz41JY-:popover-open {
  opacity: 1;
  transition: none;
}
.h2hJmhz41JY-.\:popover-open {
  opacity: 1;
  transition: none;
}
