.LY1MepRH-JM- {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  background-color: #0000;
}
.LY1MepRH-JM-[data-active="1"]:hover:not(.LlXL2-xu2kE-) {
  cursor: pointer;
  background-color: var(--color-dull-10);
  transition: background 0.1s ease-in-out;
}
.LY1MepRH-JM-.LlXL2-xu2kE- {
  background-color: var(--color-accent-8);
}
.LY1MepRH-JM-.iO9Tcm4Ic-c- {
  aspect-ratio: 1;
}
