:where(.Qhm6jOAQZog-) {
  box-sizing: border-box;
  display: flex;
}
.EnFuoPFRUQw- {
  flex-direction: var(--direction);
}
.Psv8L3U3Y44- {
  justify-content: var(--justify);
}
._0Yp9qPJ4rvQ- {
  align-items: var(--align);
}
.sI7wun-GD7g- {
  gap: var(--gap);
}
.EJ5nTwCNNaQ- {
  column-gap: var(--gap-x);
}
.-O4XGIBjnX8- {
  row-gap: var(--gap-y);
}
.yXbd0191s9A- {
  flex-wrap: var(--wrap);
}
._2FdmsjGPIgk- {
  display: inline-flex;
}
