.u3HUmbe6dOE- blockquote {
  border-inline-start: 4px solid gray;
  margin-block: 0.4em;
  margin-inline-start: 0;
  padding-block: 0.6em;
  padding-inline-start: 18px;
}
._3LVD7G4n5nA- {
  vertical-align: text-bottom;
  width: 18px;
  height: 18px;
}
.owyis6wDGNs- {
  white-space: nowrap;
  background-color: #3b3938;
  border: 1px solid #797979;
  gap: 8px;
  padding: 6px 10px 6px 6px;
  font-size: 13px;
  display: flex;
  box-shadow: 0 0 12px #000;
}
.uTEsChXJO-0- {
  flex-shrink: 0;
  width: 54px;
  height: 54px;
}
.-WgW11GfYcE- {
  color: #898989;
  padding-block-start: 8px;
}
._5QTpnty2M8A- {
  color: #686868;
}
