.SQ5wolcGwDg- {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
}
.SQ5wolcGwDg- col.r6O4u0gg-nI- {
  width: 150px;
}
.SQ5wolcGwDg- col.rwsGNcJUwZk- {
  width: 130px;
}
.SQ5wolcGwDg- col.IcWxauXkZXQ-,
.SQ5wolcGwDg- col._8-T8QbMKCTw- {
  width: 180px;
}
.SQ5wolcGwDg- col.j5aq6ahYi7M- {
  width: 220px;
}
.SQ5wolcGwDg- th {
  text-align: start;
}
.SQ5wolcGwDg- th,
.SQ5wolcGwDg- td {
  vertical-align: top;
  padding: 4px 8px;
}
.SQ5wolcGwDg- th:not(:first-child),
.SQ5wolcGwDg- td:not(:first-child) {
  border-left: 1px solid #80808040;
}
.SQ5wolcGwDg- tbody tr:nth-child(2n) {
  background-color: #80808014;
}
.YpeRZQtWWaw- {
  align-items: center;
  gap: 6px;
  min-width: 0;
  display: flex;
}
.YpeRZQtWWaw- > a:first-child {
  flex-shrink: 0;
}
.eq-yGZO5jJ4- {
  min-width: 0;
  max-width: 10ch;
}
.VWz-fkV5qwY- {
  width: 400px;
}
.VWz-fkV5qwY- select {
  width: 100%;
}
.VWz-fkV5qwY- .WBg-6pNkjY4- {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.DGGxOZ1t-hA- {
  margin-bottom: 10px;
}
.-Qv4bIDfMgk- {
  box-sizing: border-box;
  width: 100%;
}
