.kC6ru6-I1r0- {
  outline: none;
  width: min(1000px, 90vw);
  height: min(800px, 90vh);
}
._7d6HTK1LzyY- {
  flex-direction: column;
  display: flex;
  overflow: hidden;
}
._7d6HTK1LzyY- > form {
  flex: auto;
  min-height: 0;
}
.zixqJITMO7o- {
  top: var(--spacing-2);
  right: var(--spacing-4);
  transition: color 0.15s ease-in-out;
  position: absolute;
}
.zixqJITMO7o-:hover {
  cursor: pointer;
  color: var(--color-text-body-title);
}
