@keyframes Ree-xwdWV7A- {
  0% {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes QsQfjhaBe1k- {
  0% {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes gNxU6tiNOKs- {
  0% {
    color: #8b929a;
    background: #3d4450;
  }
  to {
    color: #fff;
    background: #23262e;
  }
}
@keyframes uLd3LndeUiw- {
  0% {
    color: #8b929a;
    background: #23262e;
  }
  to {
    color: #fff;
    background: #383a41;
  }
}
@keyframes NmjIpHF1xyQ- {
  0% {
    color: #8b929a;
    background: #ffffff40;
  }
  to {
    color: #fff;
    background: #ffffff26;
  }
}
@keyframes Qsuwlfzy28A- {
  0% {
    color: #fff;
    background: #8b929a;
  }
  to {
    color: #fff;
    background: #67707b;
  }
}
@keyframes Mo2lErCghaI- {
  0% {
    color: #fff;
    background: #ffffff4d;
  }
  to {
    color: #fff;
    background: #ffffff1a;
  }
}
@keyframes _4TilQxQYiyw- {
  0% {
    color: #fff;
    background: #ffffff80;
  }
  to {
    color: #fff;
    background: #fff3;
  }
}
@keyframes _7D76-gICm3w- {
  0% {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes efsUhwAOujU- {
  0% {
    color: #8b929a;
    background: #c9ffc9;
  }
  to {
    color: #fff;
    background: #59bf40;
  }
}
@keyframes aT66hTA8x40- {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  to {
    opacity: 0.8;
    background-position: -180% 0;
  }
}
@keyframes _-566os8Rc40- {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 50% 0;
  }
}
.SVGIcon_Button {
  fill: #fff;
  width: 100%;
  max-width: 320px;
  height: 100%;
  max-height: 320px;
  overflow: visible;
}
.HhcmigSdDvI-:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  scale: -1 1;
}
.eGRxEltNYsA- {
  position: absolute;
  inset: -15px 0 0;
}
.k6dTwDGqvRE- {
  opacity: 0.4;
  fill: #231f20;
}
._-3Nq6MN9pq0- {
  fill: #e41e25;
}
.rTHvzieqSyQ- {
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background-color: #000000b3;
  border-radius: 20px;
  align-items: center;
  padding: 2px;
  display: flex;
}
.wHronjraza4-,
.gx6PevdovZM-,
.u4mlVHC9Hs8- {
  width: 20px;
  height: 20px;
}
._9c9PgR2wOfA- {
  color: #59bf40;
}
.LpOtBbV56Oo- {
  color: #ffc82c;
}
.qfctVHp2qgo-,
.ORFpA46KHpU-,
.SM-5IduFq-w- {
  color: #dcdedf;
}
.aT7FoND2RYo- {
  color: #199fff;
}
.ZaMNEMQ1BvY-:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  )
  .rfSkmA3oSXM- {
  transform: translate(730px);
}
:is(
    .ZaMNEMQ1BvY-:is(
        :lang(ae),
        :lang(ar),
        :lang(arc),
        :lang(bcc),
        :lang(bqi),
        :lang(ckb),
        :lang(dv),
        :lang(fa),
        :lang(glk),
        :lang(he),
        :lang(ku),
        :lang(mzn),
        :lang(nqo),
        :lang(pnb),
        :lang(ps),
        :lang(sd),
        :lang(ug),
        :lang(ur),
        :lang(yi)
      )
      .P7CxduP4-uA-,
    .ZaMNEMQ1BvY-:is(
        :lang(ae),
        :lang(ar),
        :lang(arc),
        :lang(bcc),
        :lang(bqi),
        :lang(ckb),
        :lang(dv),
        :lang(fa),
        :lang(glk),
        :lang(he),
        :lang(ku),
        :lang(mzn),
        :lang(nqo),
        :lang(pnb),
        :lang(ps),
        :lang(sd),
        :lang(ug),
        :lang(ur),
        :lang(yi)
      )
      .vMpP5-3VRIg-
  ) {
  transform: translate(-300px);
}
.CcNP7ika-nU-:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  scale: -1 1;
}
