.zXxOGQApE0w-,
.PJY0IXdB1yM- {
  font-size: 12px;
}
.zXxOGQApE0w- button,
.zXxOGQApE0w- a,
.PJY0IXdB1yM- button,
.PJY0IXdB1yM- a {
  text-align: left;
  justify-content: flex-start;
}
.qDlq4c2OfSk- {
  vertical-align: middle;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  display: inline-flex;
}
.qDlq4c2OfSk- svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}
.qDlq4c2OfSk- img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.afc--dfmbc4- {
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  margin-bottom: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  display: flex;
}
.afc--dfmbc4-.TdkrpfF-1qU- {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.afc--dfmbc4-.zLOiv2hPSok- {
  cursor: pointer;
}
.afc--dfmbc4-.zLOiv2hPSok-:hover {
  color: #fff;
}
.afc--dfmbc4- svg {
  height: 13px;
}
._6TX064AN2B0- {
  opacity: 0.5;
  white-space: nowrap;
}
.tfNAL9omQ-c- {
  min-width: 620px;
  max-width: 85vw;
  font-size: 12px;
}
.jE6ETTHJPTY- {
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 12px;
  display: grid;
}
.S0YRcy2TYtE- {
  flex-direction: column;
  max-height: 40vh;
  display: flex;
  overflow-y: auto;
}
.S0pKdpRn0zk- {
  color: inherit;
  font-size: inherit;
  text-align: left;
  cursor: pointer;
  background: 0 0;
  border: none;
  align-items: center;
  gap: 8px;
  max-width: 20vw;
  padding: 4px;
  display: flex;
}
.S0pKdpRn0zk-:hover {
  background-color: #292c33;
}
.S0pKdpRn0zk-:disabled {
  opacity: 0.5;
  cursor: default;
}
.S0pKdpRn0zk- span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bbc8V4hCEgg- {
  color: #97a0ab;
  margin-left: 28px;
  font-size: 12px;
}
.dd3267kY3pE-,
._2vP9uACoRsI- {
  min-width: 620px;
  max-width: 800px;
}
