.vrVtCUKAZVI- {
  box-sizing: border-box;
  overscroll-behavior: contain;
  background: #000;
  width: 100vw;
  max-width: none;
  height: 100vh;
  max-height: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.vrVtCUKAZVI-::backdrop {
  overscroll-behavior: contain;
}
.vrVtCUKAZVI- img {
  max-width: 100%;
  max-height: 100%;
}
.nhq4Qsb9lfI- {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s linear;
  display: flex;
  position: absolute;
  inset: 0;
}
.-XYXK9nnfkQ- {
  transform: translate(0);
}
.-iR4Fro7N6M- {
  transform: translate(-100vw);
}
.m1RsyJLIWwI- {
  transform: translate(100vw);
}
.GBuw9nYknm4- {
  justify-content: space-between;
  height: 50px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.riqWymU-le0- {
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  padding-left: 20px;
  font-size: 120%;
  line-height: 50px;
  overflow: hidden;
}
.sAmFtFKXEOs- {
  align-items: center;
  padding-right: 20px;
  display: flex;
}
@media screen and (width <= 768px) {
  .sAmFtFKXEOs- {
    padding-right: 40px;
  }
}
.WtZaeonT-iA- {
  cursor: pointer;
  opacity: 0.7;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=)
    50% no-repeat;
  border: none;
  width: 40px;
  height: 35px;
}
.EvR2lEzcQkU-,
.pCeLTUsGEdU- {
  cursor: pointer;
  opacity: 0.7;
  border: none;
  width: 20px;
  height: 34px;
  margin: auto;
  padding: 40px 30px;
  position: absolute;
  top: 0;
  bottom: 0;
}
@media screen and (width <= 768px) {
  .EvR2lEzcQkU-,
  .pCeLTUsGEdU- {
    height: auto;
    padding: 0 20px;
  }
}
.EvR2lEzcQkU- {
  background: #0003
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==)
    50% no-repeat;
  left: 0;
}
.pCeLTUsGEdU- {
  background: #0003
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+)
    50% no-repeat;
  right: 0;
}
