.eDVdMzW4Ol4- .mMgapAIqxds- {
  scroll-snap-align: start;
  flex-wrap: nowrap;
  padding-top: 20px;
  padding-bottom: 12px;
  display: flex;
}
html.responsive.touch .eDVdMzW4Ol4- .mMgapAIqxds- {
  overflow: scroll hidden;
}
@media screen and (width <= 910px) {
  html.responsive .eDVdMzW4Ol4- .mMgapAIqxds- {
    overflow: scroll hidden;
  }
}
.eDVdMzW4Ol4- .mMgapAIqxds- .UzmBdjUEGaQ- {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 500;
}
.eDVdMzW4Ol4- .mMgapAIqxds- .UzmBdjUEGaQ- a {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
  transition: opacity 0.2s;
}
.eDVdMzW4Ol4- .mMgapAIqxds- .UzmBdjUEGaQ- a:hover {
  opacity: 1;
}
.eDVdMzW4Ol4- .mMgapAIqxds- .UzmBdjUEGaQ-.Ldik1p0iuKE- {
  border-bottom: 3px solid #1a9fff;
}
.eDVdMzW4Ol4- .mMgapAIqxds- .UzmBdjUEGaQ-.Ldik1p0iuKE- a {
  opacity: 1;
}
.q-sr-92xHKc- {
  padding: 20px;
}
.q-sr-92xHKc- .JDHw5NEYEgM- {
  background-color: var(--color-dull-9);
  padding: 10px;
}
