.yOY-Rl-WjJM- {
  pointer-events: none;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
}
.Tpxb7NnXX7o- {
  pointer-events: none;
  outline-offset: 2px;
  outline: 2px solid #fff9;
  animation:
    0.5s NuGSaFN8arU-,
    0.4s LYsSzjcKWnk-,
    0.4s D0Q3JBW2hCM-,
    1.2s ease-in-out 0.4s 20 hy-uqp3BILA-;
  position: absolute;
}
.Tpxb7NnXX7o-._3EWnsU1eh9E- {
  outline-color: #ff0;
}
.z8kyCMj00tI-._3EWnsU1eh9E- {
  outline-offset: 2px;
  background-color: red;
  outline-color: red;
}
@keyframes NuGSaFN8arU- {
  0% {
    background-color: #ffffff14;
  }
  to {
    background-color: #fff0;
  }
}
@keyframes LYsSzjcKWnk- {
  0% {
    outline: 12px solid;
  }
  to {
    outline: 2px solid;
  }
}
@keyframes D0Q3JBW2hCM- {
  0% {
    outline-color: #fff0;
  }
  to {
    outline-color: #fff9;
  }
}
@keyframes hy-uqp3BILA- {
  50% {
    opacity: 0.4;
  }
}
