:where(._6ogph74EeuE-) {
  box-sizing: border-box;
  display: block;
}
:where(.mMHE23-XFxU-):where(body, blockquote, dl, dd, figure, p) {
  margin: 0;
}
:where(.mMHE23-XFxU-):where(
    address,
    b,
    cite,
    code,
    dfn,
    em,
    i,
    kbd,
    q,
    samp,
    small,
    strong,
    var
  ) {
  font: unset;
}
:where(.mMHE23-XFxU-):where(h1, h2, h3, h4, h5, h6) {
  font: unset;
  margin: 0;
}
:where(.mMHE23-XFxU-):where(a) {
  all: unset;
  -webkit-tap-highlight-color: transparent;
}
:where(.mMHE23-XFxU-):where(
    button,
    select,
    [type="button"],
    [type="image"],
    [type="reset"],
    [type="submit"],
    [type="checkbox"],
    [type="color"],
    [type="radio"],
    [type="range"]
  ) {
  all: unset;
  text-indent: initial;
  -webkit-tap-highlight-color: transparent;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
}
:where(.mMHE23-XFxU-):where(label) {
  -webkit-tap-highlight-color: transparent;
}
:where(.mMHE23-XFxU-):where(select) {
  text-align: start;
  font-style: normal;
  font-weight: 400;
}
:where(.mMHE23-XFxU-):where(
    textarea,
    input:not(
        [type="button"],
        [type="image"],
        [type="reset"],
        [type="submit"],
        [type="checkbox"],
        [type="color"],
        [type="radio"],
        [type="range"]
      )
  ) {
  all: unset;
  text-align: start;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  text-indent: initial;
  -webkit-tap-highlight-color: transparent;
  cursor: text;
  white-space: pre-wrap;
  font-style: normal;
  font-weight: 400;
  display: block;
}
:where(.mMHE23-XFxU-):where(:focus) {
  outline: none;
}
:where(.mMHE23-XFxU-)::placeholder {
  color: unset;
  opacity: unset;
  -webkit-user-select: none;
  user-select: none;
}
:where(.mMHE23-XFxU-):where(table) {
  all: unset;
  text-indent: initial;
  display: table;
}
:where(.mMHE23-XFxU-):where(caption) {
  text-align: inherit;
}
:where(.mMHE23-XFxU-):where(td) {
  padding: 0;
}
:where(.mMHE23-XFxU-):where(th) {
  font-weight: unset;
  text-align: inherit;
  padding: 0;
}
:where(.mMHE23-XFxU-):where(abbr, acronym) {
  text-decoration: none;
}
:where(.mMHE23-XFxU-):where(canvas, object, picture, summary) {
  display: block;
}
:where(.mMHE23-XFxU-):where(del, s) {
  -webkit-text-decoration: unset;
  text-decoration: unset;
}
:where(.mMHE23-XFxU-):where(fieldset, hr) {
  all: unset;
  display: block;
}
:where(.mMHE23-XFxU-):where(legend) {
  cursor: default;
  border: none;
  padding: 0;
}
:where(.mMHE23-XFxU-):where(li) {
  text-align: unset;
  display: block;
}
:where(.mMHE23-XFxU-):where(ol, ul) {
  margin: 0;
  padding: 0;
  list-style: none;
}
:where(.mMHE23-XFxU-):where(iframe) {
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  width: stretch;
  display: block;
}
:where(.mMHE23-XFxU-):where(ins, u) {
  text-decoration: none;
}
:where(.mMHE23-XFxU-):where(img) {
  max-width: 100%;
  display: block;
}
:where(.mMHE23-XFxU-):where(svg) {
  flex-shrink: 0;
  max-width: 100%;
  display: block;
}
:where(.mMHE23-XFxU-):where(mark) {
  all: unset;
}
:where(.mMHE23-XFxU-):where(pre) {
  font: unset;
  margin: unset;
}
:where(.mMHE23-XFxU-):where(q):before,
:where(.mMHE23-XFxU-):where(q):after {
  content: "";
}
:where(.mMHE23-XFxU-):where(sub, sup) {
  font: unset;
  vertical-align: unset;
}
:where(.mMHE23-XFxU-):where(details) ::marker {
  content: none;
}
:where(.mMHE23-XFxU-):where(summary)::marker {
  content: none;
}
:where(.mMHE23-XFxU-):where(video) {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  display: block;
}
:where(.mMHE23-XFxU-):where(:any-link) {
  cursor: var(--cursor-link);
}
:where(.mMHE23-XFxU-):where(button) {
  cursor: var(--cursor-button);
}
:where(.mMHE23-XFxU-):where(:disabled, [data-disabled]) {
  cursor: var(--cursor-disabled);
}
:where(.mMHE23-XFxU-):where(input[type="checkbox"]) {
  cursor: var(--cursor-checkbox);
}
:where(.mMHE23-XFxU-):where(input[type="radio"]) {
  cursor: var(--cursor-radio);
}
:where(.mMHE23-XFxU-):where([popover]) {
  inset: unset;
  color: inherit;
  background: 0 0;
  border: none;
  padding: 0;
  top: 0;
  left: 0;
}
