.m0FGLQCyzgQ- {
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  position: absolute;
}
.m0FGLQCyzgQ-.OVPY-JTSlYE- {
  opacity: 1;
}
.m0FGLQCyzgQ-.JFXEmy9-6do- {
  display: none;
}
.HzpMEzz9LYo- {
  pointer-events: all;
}
.Xps4DCuHIkk- {
  z-index: 2001;
}
.thT7nQQQA-w- {
  text-transform: initial;
  letter-spacing: initial;
  text-align: initial;
  font-weight: initial;
  pointer-events: none;
  z-index: 2000;
  width: 100%;
  height: 100%;
  color: inherit;
  background: 0 0;
  border: none;
  position: fixed;
  inset: 0;
  overflow: hidden;
}
.thT7nQQQA-w-.Xps4DCuHIkk- {
  z-index: 2001;
}
.oQJ4ZJN3E6g- {
  box-sizing: border-box;
  color: #17181c;
  text-shadow: 1px 1px 2px #ffffff4d;
  -webkit-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  background: radial-gradient(
    62.67% 62.67% at 62.67% 100%,
    #cfd1d3 0%,
    #b3b8bc 100%
  );
  border-radius: 2px;
  max-width: 300px;
  padding: 5px 8px;
  font-family:
    Motiva Sans,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 13px;
  overflow: hidden;
  box-shadow:
    1px 1px 8px #0005,
    2px 2px 16px 1px #0005;
}
@media (prefers-contrast: more) {
  .oQJ4ZJN3E6g- {
    color: #fff;
    background: #000;
    border: 1px solid #fff;
  }
}
.b1ZLfKTPdqk- {
  box-sizing: border-box;
  color: #e0e1e6;
  -webkit-user-select: none;
  user-select: none;
  background-color: #696773;
  border-radius: 2px;
  max-width: 300px;
  padding: 6px 8px;
  font-size: 13px;
  box-shadow:
    1px 1px 8px #0005,
    2px 2px 16px 1px #0005;
}
.b1ZLfKTPdqk- .vtRYLIn3i-k- {
  color: #e0e1e6;
}
.b1ZLfKTPdqk- .vtRYLIn3i-k-.EaAEPAFoWlA- {
  text-align: center;
}
.b1ZLfKTPdqk- .QGupySGO-1A- {
  color: #aaacb6;
  margin: 6px 4px;
}
@media (prefers-contrast: more) {
  .b1ZLfKTPdqk- {
    color: #fff;
    background: #000;
    border: 1px solid #fff;
  }
}
