.Rtlc-BB1aJFRIM1lH4zN1 {
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  bottom: 32px;
  -webkit-app-region: no-drag;
  z-index: 50;
}
.Rtlc-BB1aJFRIM1lH4zN1.i9zrHPy0-LgZONeZE4fgG {
  z-index: 52;
}
._1Ob4AvWwUMx67yR7owjqse {
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-rows: 16px auto 16px;
  grid-gap: 0;
  grid-row-gap: 0;
  margin-left: -16px;
  margin-top: -16px;
  -webkit-app-region: no-drag;
}
._2stP4WlwIxd0-9GjYyI7vF {
  background-color: rgba(92, 191, 230, 0.192);
  width: 100%;
  height: 100%;
  -webkit-app-region: no-drag;
}
._2stP4WlwIxd0-9GjYyI7vF.Clgi---P85XXv25yLZwB0 {
  border-right: 2px dotted #008ada;
  border-bottom: 2px dotted #008ada;
  cursor: nwse-resize;
}
._2stP4WlwIxd0-9GjYyI7vF._2Z9VyBAzofV3JvK__dECbX {
  border-bottom: 2px dotted #008ada;
  background: linear-gradient(
    to top,
    rgba(1, 153, 255, 0.5) -50%,
    rgba(29, 30, 35, 0) 100%
  );
  cursor: ns-resize;
}
._2stP4WlwIxd0-9GjYyI7vF._2-8DbI8PAEkk6i_0CoUeKM {
  border-left: 2px dotted #008ada;
  border-bottom: 2px dotted #008ada;
  cursor: nesw-resize;
}
._2stP4WlwIxd0-9GjYyI7vF._3ZwUw4ojIRguwHHAcn2Y4y {
  border-right: 2px dotted #008ada;
  background: linear-gradient(
    to left,
    rgba(1, 153, 255, 0.5) -50%,
    rgba(29, 30, 35, 0) 100%
  );
  cursor: ew-resize;
}
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN {
  cursor: move;
  background-color: rgba(191, 202, 250, 0.133);
}
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN ._3Hb3w5_ECwPKcEr5QSAsNk {
  width: 20px;
  height: 20px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: default;
  opacity: 0;
  -webkit-app-region: no-drag;
  transition-property: opacity;
  transition-duration: 0.21s;
  transition-timing-function: ease-in-out;
}
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN .VazMl4niFnodlVJhHIGlL {
  width: 20px;
  height: 20px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 8px;
  top: 8px;
  cursor: default;
  opacity: 0;
  -webkit-app-region: no-drag;
  transition-property: opacity;
  transition-duration: 0.21s;
  transition-timing-function: ease-in-out;
}
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN ._3Hb3w5_ECwPKcEr5QSAsNk line,
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN .VazMl4niFnodlVJhHIGlL line {
  stroke-width: 26px;
  stroke: #008ada;
  transition-property: stroke, stroke-width;
  transition-duration: 0.21s;
  transition-timing-function: ease-in-out;
}
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN:hover
  ._3Hb3w5_ECwPKcEr5QSAsNk:hover
  line,
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN:hover
  .VazMl4niFnodlVJhHIGlL:hover
  line {
  stroke: #cce0ff;
}
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN:hover ._3Hb3w5_ECwPKcEr5QSAsNk,
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN:hover .VazMl4niFnodlVJhHIGlL {
  opacity: 1;
}
._2stP4WlwIxd0-9GjYyI7vF._3h5fKwHq9Uj2VGs8qxxtLl {
  border-left: 2px dotted #008ada;
  background: linear-gradient(
    to right,
    rgba(1, 153, 255, 0.5) -50%,
    rgba(29, 30, 35, 0) 100%
  );
  cursor: ew-resize;
}
._2stP4WlwIxd0-9GjYyI7vF._2CQe0cOBOLqq6y6KAUXqH3 {
  border-right: 2px dotted #008ada;
  border-top: 2px dotted #008ada;
  cursor: nesw-resize;
}
._2stP4WlwIxd0-9GjYyI7vF.sIHlK9sN2255-irERXD_V {
  border-top: 2px dotted #008ada;
  background: linear-gradient(
    to bottom,
    rgba(1, 153, 255, 0.5) -50%,
    rgba(29, 30, 35, 0) 100%
  );
  cursor: ns-resize;
}
._2stP4WlwIxd0-9GjYyI7vF._3lnwjSWK9Gh1dFkD46NTpP {
  border-left: 2px dotted #008ada;
  border-top: 2px dotted #008ada;
  cursor: nwse-resize;
}
.Rtlc-BB1aJFRIM1lH4zN1._3W096h6Ka6U7sOZVa9lXQo
  ._2stP4WlwIxd0-9GjYyI7vF.Clgi---P85XXv25yLZwB0,
.Rtlc-BB1aJFRIM1lH4zN1._1iRW1Msfh60zHqD-xe4EAk
  ._2stP4WlwIxd0-9GjYyI7vF._2Z9VyBAzofV3JvK__dECbX,
.Rtlc-BB1aJFRIM1lH4zN1._1Yrl7AkNVVGwbM2vyL8yY1
  ._2stP4WlwIxd0-9GjYyI7vF._2-8DbI8PAEkk6i_0CoUeKM,
.Rtlc-BB1aJFRIM1lH4zN1._2iBrmAEyXuaKAeZ-g-4CPF
  ._2stP4WlwIxd0-9GjYyI7vF._3ZwUw4ojIRguwHHAcn2Y4y,
.Rtlc-BB1aJFRIM1lH4zN1._15t6A4l27DY4KRL1aAUTTS
  ._2stP4WlwIxd0-9GjYyI7vF._3h5fKwHq9Uj2VGs8qxxtLl,
.Rtlc-BB1aJFRIM1lH4zN1._3SdBcnCBApw0fQ886qgsUx
  ._2stP4WlwIxd0-9GjYyI7vF._2CQe0cOBOLqq6y6KAUXqH3,
.Rtlc-BB1aJFRIM1lH4zN1._2kzZ9Ilwo92sEI9LXTtZjN
  ._2stP4WlwIxd0-9GjYyI7vF.sIHlK9sN2255-irERXD_V,
.Rtlc-BB1aJFRIM1lH4zN1._2AKXkFPsIBpG-HeeN58Rti
  ._2stP4WlwIxd0-9GjYyI7vF._3lnwjSWK9Gh1dFkD46NTpP {
  border-color: #fff;
}
._2stP4WlwIxd0-9GjYyI7vF:hover {
  border-color: #7eadf8;
}
.i9zrHPy0-LgZONeZE4fgG._1CS75ZrrDXna6xatw5ZvPR
  ._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN,
._2stP4WlwIxd0-9GjYyI7vF._1HecozzoSZfUZSci9dLkxN:hover {
  z-index: 10;
  background-color: rgba(133, 156, 255, 0.171);
}
.i9zrHPy0-LgZONeZE4fgG._1CS75ZrrDXna6xatw5ZvPR
  ._2stP4WlwIxd0-9GjYyI7vF._3h5fKwHq9Uj2VGs8qxxtLl,
.i9zrHPy0-LgZONeZE4fgG._1CS75ZrrDXna6xatw5ZvPR
  ._2stP4WlwIxd0-9GjYyI7vF.sIHlK9sN2255-irERXD_V,
.i9zrHPy0-LgZONeZE4fgG._1CS75ZrrDXna6xatw5ZvPR
  ._2stP4WlwIxd0-9GjYyI7vF._2Z9VyBAzofV3JvK__dECbX,
.i9zrHPy0-LgZONeZE4fgG._1CS75ZrrDXna6xatw5ZvPR
  ._2stP4WlwIxd0-9GjYyI7vF._3ZwUw4ojIRguwHHAcn2Y4y {
  border-color: #fff;
}
._1ZJ42NPmBFvIcOai51ZKv3 .nN2Q1qGmO2BGMhVnIVMce {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
}
._3TiV7d40PX30wy8UghFCaJ {
  background-color: #000;
  padding: 10px;
}
._2TAc2iPcWUHTtwlg7urHv8 {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
._3qfqTaQ35U6AO3FNeijcFV {
  position: relative;
  margin: 0px auto;
}
._1RI-QM2ZjK9MaVjeCLE_LF {
  margin: 10px auto;
}
._3_zyLDUyxZNyexfX3kNOPv {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
._2RL1a79W53-tCW7090DcUp,
.wn604fTvW5SH1o852jAnI {
  border: 1px dashed #06beff;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  top: 50%;
  margin-top: 10px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  max-width: calc(88vw - 48px);
}
.wn604fTvW5SH1o852jAnI {
  border-color: #add8e6;
  background: rgba(6, 190, 255, 0.2);
  box-shadow: 0 0 10px #06beff inset;
}
._2Zk7b2c_FLMvZPqYvzTzt5 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 12px;
}
._2Zk7b2c_FLMvZPqYvzTzt5 label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
._2Zk7b2c_FLMvZPqYvzTzt5 label span {
  margin-right: 8px;
}
._3Cd9cpywFS-01PilCrgOQo {
  color: #dfe3e6;
  transition-property: background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
  background-position: 25%;
  background-size: 330% 100%;
  padding: 8px 25px;
  line-height: 20px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
._3Cd9cpywFS-01PilCrgOQo:hover {
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
  background-position: 0%;
  background-size: 330% 100%;
  color: #fff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
body,
body._2LxgdMcpWJRjkxZKbmeEEb {
  color: #969696;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}
button {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}
img {
  -webkit-user-drag: none;
}
::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: rgba(0, 0, 0, 0);
  z-index: 12;
  overflow: visible;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #434953;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color 0.32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4e5157;
}
::-webkit-scrollbar-corner {
  background: #202020;
}
::selection {
  background: #54a5d4;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6666666667);
  color: #fff;
}
.vg0EOhKTLB3tLvshHMr7l {
  color: gray;
  font-size: 10px;
}
._33hdFBTwBs64Fcp-bPdf4E {
  width: 34px;
  height: 34px;
  border-radius: 25%;
  overflow: hidden;
  margin-right: 4px;
}
._2OYADGuBPiyF7h50OJ0P1B {
  width: 70px;
  height: 45px;
  border-radius: 25%;
  overflow: hidden;
  margin-right: 4px;
}
._2CQYcCggCXwVzZj2GWng5- {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  position: relative;
}
._2CQYcCggCXwVzZj2GWng5-:after {
  content: "N/A";
  display: block;
  color: #555;
  font-size: 10px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #201e25;
}
.Yncr-T63YFSJ46cq4Z2BJ ._2CQYcCggCXwVzZj2GWng5- {
  border: 2px solid red;
}
._1cUR_vD8IvfJgOK1r89j4o {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201e25;
}
.VsZ-bdWSNpnM9Vg6gkSyD {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0);
  border: 1px #7d6ebc solid;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 2px;
  font-size: 14px;
  color: #7d6ebc;
  user-select: none;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 4px;
}
.VsZ-bdWSNpnM9Vg6gkSyD._3M4j828iWSVEZZAkypcBi1 {
  font-size: 9px;
  padding: 4px 8px;
}
._1R3ycnbAGUAy01o0TW7NNo {
  display: flex;
  align-items: center;
  justify-content: center;
}
._3m7p67FD1Ynjm3BnyyjSSS {
  height: 100%;
  min-height: 420px;
}
._1WqumifyJucGDxm2oI6yRQ {
  text-decoration: underline;
  color: inherit;
}
.cNMZ-dcMVhaQJFes_Ivwo {
  width: 100%;
  resize: none;
  max-height: 100px;
  background: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 14px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 4px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  transition-property: background, box-shadow, padding-left;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.cNMZ-dcMVhaQJFes_Ivwo:focus {
  background: rgba(67, 73, 83, 0.6);
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.6666666667);
  padding-left: 6px;
  outline: none;
}
._3NeLW5LAka4S9__PaMFE_J {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.tool-tip-source {
  cursor: default;
}
.react-select-container .react-select__control {
  background: rgba(220, 232, 251, 0.0784313725);
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.react-select-container .react-select__control:hover {
  background: #464d58;
  border-color: rgba(0, 0, 0, 0);
}
.react-select-container .react-select__control .react-select__single-value {
  color: #d9dde1;
}
.react-select-container .react-select__control .react-select__input-container {
  color: #d9dde1;
}
.react-select-container
  .react-select__control
  input[type="text"].react-select__input {
  color: #d9dde1;
  box-shadow: unset;
}
.react-select-container
  .react-select__control
  .react-select__indicator-separator {
  background-color: #42494d;
}
.react-select-container .react-select__menu {
  background-color: #373c44;
  margin-top: 2px;
}
.react-select-container .react-select__menu .react-select__option {
  color: #d9dde1;
}
.react-select-container .react-select__menu .react-select__option--is-focused {
  color: #d9dde1;
  background-color: #3e444d;
}
.react-select-container .react-select__menu .react-select__option--is-selected {
  background-color: #1c8cde;
}
._2VqhO10AlkJOsh7sPoqPcp {
  width: 28px;
  margin-left: 10px;
  height: 26px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #e1e1e1;
  cursor: pointer;
}
._5jKe2NV9CM3JA3hcMALLw {
  margin: 10px auto 5px auto;
  width: fit-content;
}
._5jKe2NV9CM3JA3hcMALLw svg {
  display: flex;
  padding: 5px 10px;
  margin: auto;
  width: 18px;
}
._5jKe2NV9CM3JA3hcMALLw ._3afPQT_fEWmhHhFHS-WIk7 {
  border: 1px solid #67707b;
}
._5jKe2NV9CM3JA3hcMALLw input {
  background-color: #fff;
}
.Nn2-w0eqLuugAR-Udm--3 input {
  background-color: #fff;
}
._32PwNSgquR6tGAPIBcWgVq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
._32PwNSgquR6tGAPIBcWgVq .DialogLabel {
  font-size: 18px;
  text-transform: none;
  color: #fff;
  font-weight: 500;
}
._2N7bWzRE2_6yMlW8HoWwKL {
  width: 100%;
  border-bottom: 1px solid #93979a;
}
._1YyjMfNhBo6lWsvunbhkmG {
  text-align: right;
  margin-bottom: 0;
}
._1kVAFKlQN-iaGJNQM64lbU {
  position: relative;
  background: #e1c48a;
  color: #000;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 24px;
}
._1kVAFKlQN-iaGJNQM64lbU._3acPE1-7PEV9Fv1BIkpb1d {
  background: #2a2d32;
  color: #969696;
}
._1kVAFKlQN-iaGJNQM64lbU._3acPE1-7PEV9Fv1BIkpb1d:after {
  border-bottom-color: #2a2d32;
}
._1kVAFKlQN-iaGJNQM64lbU :nth-child(1) {
  flex-grow: 0;
}
._1kVAFKlQN-iaGJNQM64lbU :nth-child(2) {
  flex-grow: 1;
}
._1kVAFKlQN-iaGJNQM64lbU :nth-child(3) {
  flex-grow: 0;
}
._1kVAFKlQN-iaGJNQM64lbU ._2bw5Zr8a6ik4-NIjVgcZSn {
  color: #a4d007;
}
._1kVAFKlQN-iaGJNQM64lbU button {
  padding: 3px 8px;
  background: #6fa720;
  background: -webkit-linear-gradient(top, #6fa720 5%, #588a1b 95%);
  background: linear-gradient(to bottom, #6fa720 5%, #588a1b 95%);
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
._1kVAFKlQN-iaGJNQM64lbU:after {
  bottom: 100%;
  left: 5%;
  border: solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(225, 196, 138, 0);
  border-bottom-color: #e1c48a;
  border-width: 10px;
  margin-left: -10px;
}
._1kVAFKlQN-iaGJNQM64lbU ._3cgXyLkVbKXYv6hxcrj0P9 {
  display: block;
  padding-left: 25px;
  background-repeat: no-repeat;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
}
.WKVcCeIwShQXxr0XjInT9 {
  overflow-y: scroll;
  padding-bottom: 36px;
}
.WKVcCeIwShQXxr0XjInT9 h2 {
  margin-bottom: 12px;
}
._34AP-LqjTCmVO7oQmBRksn {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
._34AP-LqjTCmVO7oQmBRksn svg {
  width: 18px;
  height: 18px;
  fill: red;
}
._34AP-LqjTCmVO7oQmBRksn ._3OPqG7OUgCU252R-DdB0Qj {
  display: flex;
  flex-direction: column;
  align-items: start;
}
._34AP-LqjTCmVO7oQmBRksn ._3OPqG7OUgCU252R-DdB0Qj div {
  color: red;
  font-size: 12px;
}
.zHZhZ_cYU43MhqpRkvAuR {
  display: flex;
  justify-content: right;
  gap: 8px;
  padding-top: 8px;
}
.zHZhZ_cYU43MhqpRkvAuR button {
  flex-basis: 80px;
  padding: 8px 12px;
}
.N1f8Ye9Eude7K2vJSL7AZ {
  padding-bottom: 12px;
}
.N1f8Ye9Eude7K2vJSL7AZ .WLQyL6JRweNM6PHgWKRaB {
  display: flex;
  margin: 18px 0px;
}
.N1f8Ye9Eude7K2vJSL7AZ .WLQyL6JRweNM6PHgWKRaB input {
  flex-grow: 1;
}
.N1f8Ye9Eude7K2vJSL7AZ table {
  border-collapse: collapse;
  max-width: 98%;
}
.N1f8Ye9Eude7K2vJSL7AZ thead {
  background: #434953;
  color: #93979a;
  text-transform: capitalize;
}
.N1f8Ye9Eude7K2vJSL7AZ ._1YtkUWpJ0G7lnnX5bj8X7_ > td {
  color: #808285;
}
.N1f8Ye9Eude7K2vJSL7AZ ._1_2YmmBAHhhpvApS2NQe-r > td {
  color: #a4d007;
}
.N1f8Ye9Eude7K2vJSL7AZ ._2o-Djga-h_lkGoTFS-PjlF > td {
  color: #ffa;
}
.N1f8Ye9Eude7K2vJSL7AZ ._29O7AlK2wwhmKjrCxAPIRk > td {
  color: #82a6d7;
}
._21ABdLhAaZ1KIV7osV-RYV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
._1K9mhqXjo6xi6qVHMBwcTQ {
  margin-top: 12px;
}
._1K9mhqXjo6xi6qVHMBwcTQ ._3oC7Qb8-E-MF_hxZKzOPyQ {
  display: flex;
  justify-content: right;
  margin: 12px 8px 8px 8px;
}
._1K9mhqXjo6xi6qVHMBwcTQ ._2F05QhQ_9_rf7qryFDLsh6 {
  color: #a4d007;
}
._1K9mhqXjo6xi6qVHMBwcTQ ._2DTeKovr7g8Z4rrBjVNTZb {
  color: #a4d007;
}
._1K9mhqXjo6xi6qVHMBwcTQ ._29pcde0Q7kd7ClgWo9w5NB {
  color: #808285;
}
._1K9mhqXjo6xi6qVHMBwcTQ img {
  width: 95%;
  aspect-ratio: 748 / 896;
  margin: 8px auto;
}
._1K9mhqXjo6xi6qVHMBwcTQ ._1RWj0soRG2Y-mtoq_nOEe3 {
  position: relative;
  border: 1px solid gray;
  margin: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 48px;
}
._1K9mhqXjo6xi6qVHMBwcTQ ._1RWj0soRG2Y-mtoq_nOEe3 ._3-2d6qJPYFImAjNB825gPq {
  font-size: 10px;
}
._1K9mhqXjo6xi6qVHMBwcTQ ._1RWj0soRG2Y-mtoq_nOEe3 ._2FAmjUnpcILnVdO29vdLn6 {
  font-size: 24px;
}
._1K9mhqXjo6xi6qVHMBwcTQ ._1RWj0soRG2Y-mtoq_nOEe3 .D_kqKamsBe39qbMqcuino {
  cursor: pointer;
  margin-bottom: 10px;
}
._20-2lEQLGnc64V46i5khL- {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  color: red;
  margin-left: 12px;
  font-size: 12px;
}
._20-2lEQLGnc64V46i5khL- svg {
  width: 18px;
  height: 18px;
  fill: red;
}
._20wBVZiv8PNqku4mQTONkN {
  display: block;
  width: 90%;
  margin: auto;
  min-height: 100px;
}
._2mHXbGuTlraXe_Q1JYKmJZ {
  display: flex;
  flex-direction: row;
}
._2mHXbGuTlraXe_Q1JYKmJZ._2JigUHOJ_OTCRjbohXgz9q {
  max-width: 320px;
  background: #000;
  padding: 16px;
}
._2mHXbGuTlraXe_Q1JYKmJZ .AVZgMOcgNdb95embDq8g1 {
  flex: 1;
}
._2mHXbGuTlraXe_Q1JYKmJZ ._1R5w2idIf5H3xZh7C6ObQL {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
._2mHXbGuTlraXe_Q1JYKmJZ ._1R5w2idIf5H3xZh7C6ObQL ._3TcEpA8cfRVBTd8q_vvFWu {
  flex: 1;
  margin-right: 16px;
}
._2mHXbGuTlraXe_Q1JYKmJZ
  ._1R5w2idIf5H3xZh7C6ObQL
  ._3TcEpA8cfRVBTd8q_vvFWu.kNcnUbYODwtyQ3AZp_VUM {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-bottom: 12px;
}
._2mHXbGuTlraXe_Q1JYKmJZ
  ._1R5w2idIf5H3xZh7C6ObQL
  ._3TcEpA8cfRVBTd8q_vvFWu._2TBzK4oRpgLv5hHxtojPq5 {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 12px;
}
._2mHXbGuTlraXe_Q1JYKmJZ ._1R5w2idIf5H3xZh7C6ObQL ._22a0aPwQVuTJx58YZQWYBd {
  width: 16px;
  height: 16px;
  padding: 8px;
  background: linear-gradient(to right, #47bfff 5%, #1a8cc2 60%);
  border-radius: 3px;
}
._1olrpCNFeNf7UfruKHLVhY {
  margin-bottom: 15px;
}
._1olrpCNFeNf7UfruKHLVhY .M3h38e4KnwYsDvQP72dg0 {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #808285;
  margin-bottom: 3px;
}
._1olrpCNFeNf7UfruKHLVhY ._4jS-jBGyvj3mr8jkJ46Gc {
  line-height: 21px;
  font-size: 20px;
}
._1olrpCNFeNf7UfruKHLVhY .eEhAf6mE-OR6VCf4eHEkC {
  color: #fff;
}
._3HyTVTASSmLacvaM964sgu:first-child {
  margin-bottom: 12px;
}
._3HyTVTASSmLacvaM964sgu:last-child {
  margin-bottom: 0px;
}
._2lG5hFYhu9PGPn6RoFeQOL {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 3px;
  position: relative;
}
._1she-lvNiCP3ASjTnl4q7x {
  line-height: 24px;
}
._1fCy4cz5Hyj9wDivcVseuc input._3JGsBe8Ou5QGqfihv0OPed {
  font-size: 15px;
}
._2QIVvn2p9gUwsAlifi-nkM {
  margin-left: 20px;
  margin-top: 8px;
}
._2P2kw0vHZogg7Ny7cAjQBo {
  max-width: 200px;
}
._3JGsBe8Ou5QGqfihv0OPed {
  max-width: 100px;
}
._18FxDrpsfO5Tt8EFui49hV {
  display: block;
  line-height: 22px;
  padding: 10px;
  font-size: 14px;
}
.-x3Rw6W2fJfWRMs7vKr1I {
  padding: 10px;
}
.TzhaDn0jN2ILks403xqXQ {
  align-self: center;
  margin-left: 8px;
  padding: 0;
  background: none;
  border: none;
  color: #67c1f5;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 0;
  cursor: pointer;
}
.TzhaDn0jN2ILks403xqXQ:hover {
  color: #fff;
  text-decoration: underline;
}
._1_H1sN2GVTzxSaz55gv03s._2xLBsAMYVDoygyWbl2YIzI {
  margin-right: 8px;
}
.BWmgg29ZeDbO6oj7Z1U7T {
  justify-content: flex-start;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(57, 61, 71, 0.5);
}
._3ECiyuGLUqPzuS1hKCdfDm {
  margin-top: 5px;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-left: 20px;
  border-left: #399aec 1px solid;
}
._3ECiyuGLUqPzuS1hKCdfDm > ._1BIlZEGSO_4tw5Lmc1Kkbf {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  width: 50%;
}
._3ECiyuGLUqPzuS1hKCdfDm > .jwuNowbLB28M6nkqFkF_C > span {
  margin-bottom: 0px;
}
._3B0QM3cOEqER2AD2Y85NFy {
  display: flex;
  flex-direction: column;
}
._1WleIEEiF-9nJ57tLWkRmS {
  padding: 10px;
  border-radius: 3px;
  background: rgba(57, 61, 71, 0.5);
}
._4gWwydbAbp2t1NCeW9LLV {
  margin-top: 12px;
}
._1Ao_g72kBAdoOo0lGUG7Mr {
  position: absolute;
  top: -13px;
  left: 30px;
  background: #744f4f;
  padding: 2px 8px 2px 2px;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #000;
}
._1Ao_g72kBAdoOo0lGUG7Mr img {
  margin-right: 4px;
}
.RKE7g5McLhANBdiTzm-ai > .DialogContent_InnerWidth {
  max-width: 920px;
}
._32CdqVuKRqrf1SR8Hday6v {
  min-width: 800px;
  margin-bottom: 16px;
}
._gUUe9JABsRpGmdkooO11 {
  display: flex;
  flex-direction: column;
  min-height: 375px;
}
.xebmA68ybtGEgyG_oVMM0 {
  margin-bottom: 7px;
  font-family: "Motiva Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #bfbfbf;
}
._3egfk1DBae-OZSZtcwrDDq {
  margin-top: 8px;
  font-size: 12px;
}
.eZhskcRU_Ejw5kmSBLRTU {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 18px;
  flex: 1;
}
._1iIVgx9LfomTs6Ycj6qYgV {
  color: #0ea5cf;
  margin-bottom: 16px;
}
._2-dra08qCgH_F_0T756AwP {
  position: relative;
  background: #333;
  border: 1px solid #c6670e;
  padding: 9px 12px;
  font-family: "Motiva Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin: 14px 0 20px 0;
  color: #ff8a1c;
}
._2-dra08qCgH_F_0T756AwP:after {
  top: 100%;
  left: 24%;
  border: solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(198, 103, 14, 0);
  border-top-color: #c6670e;
  border-width: 10px;
  margin-left: -10px;
}
._27JIJRbunDgYqS_xDV7Xha {
  margin: 4px 0 24px 0;
  padding: 12px;
  background: linear-gradient(
    135deg,
    rgba(146, 3, 3, 0.8) 5.43%,
    rgba(112, 49, 20, 0.301) 100%
  );
  color: #fff;
  animation-duration: 1s;
  animation-name: bXT6nAG7o3DqMjoZ_zWJ;
}
@keyframes bXT6nAG7o3DqMjoZ_zWJ {
  from {
    filter: brightness(1);
  }
  25% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}
._1A6oRywbsuzGxawqTexX6G {
  color: #999;
}
._1x7wvgGW08t0c2auyfWyAs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
._2Vsz0Teq375iSLvbdoaCw0 {
  width: 50%;
  margin: 0px auto;
}
._1898rmbQKDsZukkFbEda-H {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 13;
}
.wUyDKp6qikfxWISsHWYI5 {
  margin: 8px;
}
._2sh7mSiQmyBdLyJPYPva2L {
  color: #943636;
  font-size: 12px;
  font-weight: bold;
}
.-khhIHR9pWYus_nTScWdO {
  color: #ffb15d;
  background-color: #707070;
  padding: 2px 0;
  font-size: 12px;
}
._3kt_NxdtRh4OR_iFeApvM9 {
  color: silver;
  background-color: #707070;
  padding: 2px 0;
  font-size: 12px;
}
._3dSNtZdgIHIa6P9ZODRBJs {
  width: 300px;
  background-color: gray;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 0px 10px #000;
  margin: 8px;
  position: relative;
}
._3dSNtZdgIHIa6P9ZODRBJs > div {
  margin-bottom: 8px;
}
.a4db1xuziijkLJ6HQXeEs {
  height: 120px;
  background: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 8px;
}
.a4db1xuziijkLJ6HQXeEs video {
  width: 100%;
}
.ddYEDOKiU6ZFhNI4sb_eQ {
  position: absolute;
  padding: 1px;
  left: 10px;
  margin-bottom: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.ddYEDOKiU6ZFhNI4sb_eQ:hover {
  background-color: #000;
  border: 1px solid #fff;
}
