._1UhmxrINvvaNnHzhCPoill {
  margin-bottom: 8px;
  margin-top: 8px;
  border-top: 2px solid #333740;
  border-bottom: 2px solid #333740;
  padding-top: 2px;
  padding-bottom: 2px;
}
._1UhmxrINvvaNnHzhCPoill ._28TC1EYm0jlWPjyk89xXCL {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2b2e36;
  padding: 4px;
  margin-bottom: 2px;
  user-select: none;
  box-sizing: border-box;
}
._1UhmxrINvvaNnHzhCPoill ._28TC1EYm0jlWPjyk89xXCL .IY3dF3eWXX1OmE8oYcQKp {
  width: 34px;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #2a2e34;
  margin-right: 8px;
  padding: 0 4px 0 6px;
}
._1UhmxrINvvaNnHzhCPoill
  ._28TC1EYm0jlWPjyk89xXCL
  .IY3dF3eWXX1OmE8oYcQKp._2VzE-3UQEHXyAext8t7gLW {
  cursor: not-allowed;
}
._1UhmxrINvvaNnHzhCPoill
  ._28TC1EYm0jlWPjyk89xXCL
  .IY3dF3eWXX1OmE8oYcQKp._1vSZ5gJndAOamRhVGni8HG {
  opacity: 0.5;
}
._1UhmxrINvvaNnHzhCPoill ._28TC1EYm0jlWPjyk89xXCL._31uDZXKZQlYMd8FK9xdaJb {
  pointer-events: none;
}
._1UhmxrINvvaNnHzhCPoill ._28TC1EYm0jlWPjyk89xXCL._3bfDVSvzMDkk4s1j0Vw8jI {
  animation: oABTo2lkoYYI5YMYaeq_Q 0.5s ease-out;
}
@keyframes oABTo2lkoYYI5YMYaeq_Q {
  0% {
    background-color: #b0b0b0;
  }
  100% {
    background-color: #333740;
  }
}
._1UhmxrINvvaNnHzhCPoill ._28TC1EYm0jlWPjyk89xXCL._3y7I4DL9Hua5OhZ4HgcBB5 {
  opacity: 0.5;
}
._1UhmxrINvvaNnHzhCPoill ._61nYWo98IhSjR8PWtQX9O {
  pointer-events: none;
  box-shadow:
    0 12px 16px rgba(0, 0, 0, 0.3),
    0 -6px 12px rgba(0, 0, 0, 0.15);
}
.riuelIz655g_IBddWfLQ- {
  cursor: grab;
}
._1vSZ5gJndAOamRhVGni8HG {
  cursor: grabbing;
}
._2K0C_m1AZvB6yeNaEXXjDD {
  cursor: not-allowed;
}
._3DGjmH9KW9BAXsEYwH1WpE {
  margin-right: 8px;
}
._3DGjmH9KW9BAXsEYwH1WpE._1vSZ5gJndAOamRhVGni8HG {
  opacity: 0.5;
}
._1hSqlvDTyj9P6eWTHXutUt {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
._2jRMC5JVSK6dsktYus9Gjf {
  position: relative;
  height: 0;
  pointer-events: none;
  z-index: 1;
}
._2jRMC5JVSK6dsktYus9Gjf .Y9ryg1Npznt3dpkr7BGp1 {
  height: 2px;
  background-color: #ddd;
  position: absolute;
  top: -1;
}
body,
body._2LxgdMcpWJRjkxZKbmeEEb {
  color: #969696;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}
button {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}
img {
  -webkit-user-drag: none;
}
::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: rgba(0, 0, 0, 0);
  z-index: 12;
  overflow: visible;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #434953;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color 0.32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4e5157;
}
::-webkit-scrollbar-corner {
  background: #202020;
}
::selection {
  background: #54a5d4;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6666666667);
  color: #fff;
}
.vg0EOhKTLB3tLvshHMr7l {
  color: gray;
  font-size: 10px;
}
._33hdFBTwBs64Fcp-bPdf4E {
  width: 34px;
  height: 34px;
  border-radius: 25%;
  overflow: hidden;
  margin-right: 4px;
}
._2OYADGuBPiyF7h50OJ0P1B {
  width: 70px;
  height: 45px;
  border-radius: 25%;
  overflow: hidden;
  margin-right: 4px;
}
._2CQYcCggCXwVzZj2GWng5- {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  position: relative;
}
._2CQYcCggCXwVzZj2GWng5-:after {
  content: "N/A";
  display: block;
  color: #555;
  font-size: 10px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #201e25;
}
.Yncr-T63YFSJ46cq4Z2BJ ._2CQYcCggCXwVzZj2GWng5- {
  border: 2px solid red;
}
._1cUR_vD8IvfJgOK1r89j4o {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201e25;
}
.VsZ-bdWSNpnM9Vg6gkSyD {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0);
  border: 1px #7d6ebc solid;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 2px;
  font-size: 14px;
  color: #7d6ebc;
  user-select: none;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 4px;
}
.VsZ-bdWSNpnM9Vg6gkSyD._3M4j828iWSVEZZAkypcBi1 {
  font-size: 9px;
  padding: 4px 8px;
}
._1R3ycnbAGUAy01o0TW7NNo {
  display: flex;
  align-items: center;
  justify-content: center;
}
._3m7p67FD1Ynjm3BnyyjSSS {
  height: 100%;
  min-height: 420px;
}
._1WqumifyJucGDxm2oI6yRQ {
  text-decoration: underline;
  color: inherit;
}
.cNMZ-dcMVhaQJFes_Ivwo {
  width: 100%;
  resize: none;
  max-height: 100px;
  background: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 14px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 4px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  transition-property: background, box-shadow, padding-left;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.cNMZ-dcMVhaQJFes_Ivwo:focus {
  background: rgba(67, 73, 83, 0.6);
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.6666666667);
  padding-left: 6px;
  outline: none;
}
._3NeLW5LAka4S9__PaMFE_J {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.tool-tip-source {
  cursor: default;
}
.react-select-container .react-select__control {
  background: rgba(220, 232, 251, 0.0784313725);
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.react-select-container .react-select__control:hover {
  background: #464d58;
  border-color: rgba(0, 0, 0, 0);
}
.react-select-container .react-select__control .react-select__single-value {
  color: #d9dde1;
}
.react-select-container .react-select__control .react-select__input-container {
  color: #d9dde1;
}
.react-select-container
  .react-select__control
  input[type="text"].react-select__input {
  color: #d9dde1;
  box-shadow: unset;
}
.react-select-container
  .react-select__control
  .react-select__indicator-separator {
  background-color: #42494d;
}
.react-select-container .react-select__menu {
  background-color: #373c44;
  margin-top: 2px;
}
.react-select-container .react-select__menu .react-select__option {
  color: #d9dde1;
}
.react-select-container .react-select__menu .react-select__option--is-focused {
  color: #d9dde1;
  background-color: #3e444d;
}
.react-select-container .react-select__menu .react-select__option--is-selected {
  background-color: #1c8cde;
}
.wW1AV4_YscO4bfrtkjtze {
  background: hotpink;
}
._1iI4q9Lh3S4b7MvHV8-9FH {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #2c2e35;
  padding: 8px 16px;
}
._1iI4q9Lh3S4b7MvHV8-9FH .w1hcRNJLqJaIKpJvsg7Ry {
  font-size: 14px;
  font-size: 500;
}
._1hc3z1Nc69lLtW0CcBDuKw {
  color: #52f376;
}
._2wjO9uz2L07SVsQytkYTK4 {
  color: #cb5542;
}
._2if7kNiDu3IhmR0s4wtbL {
  color: gray;
}
.NH6z72lFUwnDiY97gSiGV {
  flex-basis: 1;
  flex-shrink: 0;
}
.NH6z72lFUwnDiY97gSiGV .isMdaGLB3GPUYQ3vT6NhF {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  background: #000;
  padding: 6px;
}
.NH6z72lFUwnDiY97gSiGV .isMdaGLB3GPUYQ3vT6NhF table {
  width: 100%;
}
._1Ta3Hfqsq1RBzrU1mcMgML {
  flex-basis: 2;
  flex-shrink: 0;
}
._2KbZZ6bPBB-Bk4MTv5bxF2 {
  flex-basis: 1;
  flex-shrink: 0;
}
._1uO2EvuPAL3GIaEHpPWmOA {
  display: flex;
  flex-direction: row;
}
._1Pdhl5fZ9jbDwMpDg_IxT4 {
  display: flex;
  flex-direction: column;
}
._3Kk39B7jUhr6BVRn9v4WNF {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}
._3Kk39B7jUhr6BVRn9v4WNF > div {
  width: 25%;
  font-size: 14px;
}
._3Kk39B7jUhr6BVRn9v4WNF ._1KDJ1W0K9UA9kAgQCL5jfP {
  width: 25%;
}
._3Kk39B7jUhr6BVRn9v4WNF a {
  display: block;
}
._3Kk39B7jUhr6BVRn9v4WNF img {
  width: 100%;
  height: auto;
  display: block;
}
._2iHxOX8wNwHbuhDCSU2Sfd {
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}
._2PNltetEpoiiz7epQREfdS ._3TtwdJ1FSNAJ0zZMo6okKJ {
  color: #52f376;
  font-weight: 500;
  font-style: italic;
}
._2PNltetEpoiiz7epQREfdS ._2QGX0lv5drCYBScHjSBfhm {
  color: #a667f5;
  font-weight: 500;
  font-style: italic;
}
._2PNltetEpoiiz7epQREfdS ._18G4mH1Yb9Sjc8DbqBwTjj {
  color: #ff4500;
  font-weight: 500;
  font-style: italic;
}
._3Ep6vWtYwtiBwQ3kOcZR1a {
  max-width: 25%;
}
._11xa2NywK-XoPRPzAprmhr {
  width: 100%;
  font-size: 32px;
  color: #fff;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 8px 40px;
  box-sizing: border-box;
}
._11xa2NywK-XoPRPzAprmhr ._31Lp_UMwj_nvMZg4wGKeqr {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 25%;
}
._16bPPRfJgTdFDNoMeEHx96 {
  margin: 0px 40px 8px 40px;
  font-size: 15px;
}
._1rdzNwXOoo1-LmnB-gVa8L {
  border: 2px solid darkred;
  height: 0px;
  margin-bottom: 32px;
}
._7a7-wklt6L9bHpSe8uw95 {
  display: flex;
  width: 100%;
  margin-top: 16px;
}
._7a7-wklt6L9bHpSe8uw95 button {
  flex-basis: 150px;
  margin-left: 8px;
  margin-right: 8px;
}
._7a7-wklt6L9bHpSe8uw95 button:first-child {
  margin-left: auto;
}
.YMtVaSAftRDKdmUzno1V- ._1vjux5UePGI2QR8pgGS5s9 {
  width: 100%;
}
.YMtVaSAftRDKdmUzno1V- ._1vjux5UePGI2QR8pgGS5s9 ._12BB3TMamY8yT5zyDnNr5Y {
  display: flex;
}
.YMtVaSAftRDKdmUzno1V- ._1vjux5UePGI2QR8pgGS5s9 ._12BB3TMamY8yT5zyDnNr5Y a {
  cursor: pointer;
  width: 50%;
}
.YMtVaSAftRDKdmUzno1V- ._1vjux5UePGI2QR8pgGS5s9 ._12BB3TMamY8yT5zyDnNr5Y a b {
  color: #fff;
  font-size: 14px;
}
.YMtVaSAftRDKdmUzno1V-
  ._1vjux5UePGI2QR8pgGS5s9
  ._12BB3TMamY8yT5zyDnNr5Y
  ._2rg93RSnGgt35AemsbS3XN {
  width: 5%;
}
.YMtVaSAftRDKdmUzno1V-
  ._1vjux5UePGI2QR8pgGS5s9
  ._12BB3TMamY8yT5zyDnNr5Y
  ._1qSt9f_EVF7MmpIxINFOnq {
  width: 20%;
}
.YMtVaSAftRDKdmUzno1V-
  ._1vjux5UePGI2QR8pgGS5s9
  ._12BB3TMamY8yT5zyDnNr5Y
  ._2VMbzBly9fJ6k58VPyo5Dw {
  width: 25%;
}
.hDZX9jvA2yVDsxIl25krT {
  width: 600px;
}
.hDZX9jvA2yVDsxIl25krT ._33SvLrTusAraXr9O6rG1RK {
  margin-bottom: 16px;
}
.hDZX9jvA2yVDsxIl25krT ._33SvLrTusAraXr9O6rG1RK ._1COCuEUNPkqoSthDBf5dKb {
  width: 95%;
  margin-bottom: 0;
  display: flex;
}
.hDZX9jvA2yVDsxIl25krT ._33SvLrTusAraXr9O6rG1RK ._1COCuEUNPkqoSthDBf5dKb > div {
  flex-grow: 1;
  width: 50%;
}
.hDZX9jvA2yVDsxIl25krT ._33SvLrTusAraXr9O6rG1RK button {
  width: 120px;
  margin-right: auto;
}
.hDZX9jvA2yVDsxIl25krT ._1vjux5UePGI2QR8pgGS5s9 {
  border: 1px solid gray;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
}
._1h-LQnwvNcayOGn1YjEAw8 {
  margin-left: auto;
  font-size: 13px;
  display: flex;
  overflow: hidden;
  max-width: 70%;
  flex-wrap: wrap;
}
._1h-LQnwvNcayOGn1YjEAw8 ._17Lm214eZBjzdDsBlWCP0y {
  text-transform: uppercase;
  display: inline;
  margin-left: 4px;
  flex-shrink: 0;
  font-weight: bold;
}
._1h-LQnwvNcayOGn1YjEAw8 .uZOnNO-9GSMjuZg73yUDz {
  font-size: 12px;
  opacity: 70%;
  display: inline;
  margin: 0 4px;
  flex-shrink: 0;
}
._3IZil2pI21oJCdU0WQn6Z3 {
  background-color: rgba(128, 0, 0, 0.4);
  border: 1px solid red;
  padding: 2px;
}
._1PUg8GjnBeN7rBK-dcyQFl:focus-visible {
  outline: none;
}
._1PUg8GjnBeN7rBK-dcyQFl {
  filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.2));
  overscroll-behavior: contain;
}
._20oF9tLSfptitLraDOp6X6 {
  color: var(--color-text-body-subtitle);
  font-weight: var(--font-weight-regular);
  font-size: var(--text-size-2);
  cursor: pointer;
}
._20oF9tLSfptitLraDOp6X6[data-focused="true"] {
  background: var(--color-dull-9);
  color: #fff;
}
._20oF9tLSfptitLraDOp6X6[data-selected="true"] {
  background: var(--color-dull-9);
}
._20oF9tLSfptitLraDOp6X6:focus-visible {
  outline: none;
}
._20oF9tLSfptitLraDOp6X6[aria-disabled="true"] {
  background: var(--color-dull-7);
  color: var(--color-text-body-note);
  cursor: default;
}
:where(.xqG5GdDEeYauX2ots2DLl) {
  --bg-color: var(--color-dull-8);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: var(--color-dull-9);
  --bg-color-active: var(--color-dull-9);
  --bg-highlight-color: var(--color-accent-8);
  --text-color: #ffffff;
  --text-muted-color: #acb2b8;
  --padding: 0 var(--spacing-2);
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}
:where(.xqG5GdDEeYauX2ots2DLl)._1K_Ve980-qBq8l1-cZJdw1 {
  --padding: 0 var(--spacing-3);
}
:where(.xqG5GdDEeYauX2ots2DLl):focus-visible:not(textarea) {
  outline: 2px solid #fff;
  outline-offset: -2px;
}
:where(.xqG5GdDEeYauX2ots2DLl):hover {
  box-shadow: var(--box-shadow-elevation-1);
}
:where(._2Z-Zr4UW8-jHrU5olM_rpn) {
  --bg-color: #1d1f23;
  --bg-color-hover: var(--bg-color);
  --bg-color-focus: var(--bg-color);
  --bg-color-active: var(--bg-color);
  --bg-highlight-color: #3d4450;
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0 var(--spacing-3);
  box-shadow: var(--box-shadow-elevation--1);
}
:where(._2Z-Zr4UW8-jHrU5olM_rpn)[data-has-value="true"] {
  outline: 1px solid var(--color-accent-8);
  outline-offset: -1px;
}
:where(._2RYWJyn7v0tvoY5cR63QuI) {
  --bg-color: var(--color-dull-8);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: rgb(from var(--color-dull-8) r g b / 50%);
  --bg-color-active: var(--bg-color);
  --bg-highlight-color: var(--color-dull-8);
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0 var(--spacing-3);
}
:where(._2RYWJyn7v0tvoY5cR63QuI)._1cd-wdIp5lIWsydAxII-vY:focus,
:where(._2RYWJyn7v0tvoY5cR63QuI)._1cd-wdIp5lIWsydAxII-vY:focus-within {
  box-shadow: var(--box-shadow-elevation--1);
}
:where(._32JdL4FubsmwHfHXm6OB9I) {
  --bg-color: rgb(from var(--color-dull-12) r g b / 50%);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: rgb(from var(--color-dull-8) r g b / 50%);
  --bg-color-active: var(--color-dull-12);
  --bg-highlight-color: white;
  --text-color: #222222;
  --text-muted-color: white;
  --padding: 0 var(--spacing-3);
  box-shadow: var(--box-shadow-elevation--1);
}
:where(.yV_Aq5WutzzittgbOJ1R-) {
  --bg-color: transparent;
  --bg-color-hover: var(--bg-color);
  --bg-color-focus: var(--bg-color);
  --bg-color-active: var(--bg-color);
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0;
  border-bottom: 1px solid var(--color-dull-11);
}
:where(.yV_Aq5WutzzittgbOJ1R-)._1cd-wdIp5lIWsydAxII-vY:focus,
:where(.yV_Aq5WutzzittgbOJ1R-)._1cd-wdIp5lIWsydAxII-vY:focus-within {
  border-color: var(--color-accent-8);
}
:where(._2qQgKJgeeqc9lEI-i7HdsM) {
  --bg-color: var(--color-dull-6);
  --bg-color-hover: var(--bg-color);
  --bg-color-focus: var(--bg-color);
  --bg-color-active: var(--bg-color);
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0 var(--spacing-2);
}
:where(._2qQgKJgeeqc9lEI-i7HdsM):hover {
  box-shadow: var(--box-shadow-elevation-1);
}
:where(.EFvA4gLIikUE06LDGCqg5) {
  --bg-color: var(--color-dull-8);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: var(--color-dull-9);
  --bg-color-active: var(--color-dull-9);
  --text-color: var(--color-dull-12);
  --text-muted-color: var(--color-dull-12);
  --padding: 0 var(--spacing-2);
}
:where(.EFvA4gLIikUE06LDGCqg5)._1K_Ve980-qBq8l1-cZJdw1 {
  --padding: 0 var(--spacing-3);
}
:where(.EFvA4gLIikUE06LDGCqg5)[data-has-value="true"] {
  outline: 1px solid var(--color-accent-8);
  outline-offset: -1px;
  --bg-color: var(--color-dull-8);
}
:where(.EFvA4gLIikUE06LDGCqg5):focus-visible:not(textarea) {
  outline: 2px solid #fff;
  outline-offset: -2px;
}
:where(.EFvA4gLIikUE06LDGCqg5):hover {
  box-shadow: var(--box-shadow-elevation-1);
}
:where(._2gL71Yq-HzVI9oOGyWu3jH) {
  background-color: var(--bg-color, var(--color-debug));
  transition: background-color 0.2s ease-in-out;
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._8JNTStqpIYaMWQJx6g6hK:hover {
  background-color: var(--bg-color-hover, var(--color-debug));
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._1KONo9A0HE0_NOK2F6uvXy:active {
  background-color: var(--bg-color-active, var(--color-debug));
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._1cd-wdIp5lIWsydAxII-vY:focus-visible,
:where(._2gL71Yq-HzVI9oOGyWu3jH)._1cd-wdIp5lIWsydAxII-vY:focus-within {
  background-color: var(--bg-color-focus, var(--color-debug));
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._2I6xXve3oCxh8fra7SWTnq {
  opacity: 0.35;
  cursor: default;
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._2I6xXve3oCxh8fra7SWTnq:focus-visible,
:where(._2gL71Yq-HzVI9oOGyWu3jH)._2I6xXve3oCxh8fra7SWTnq:focus-within {
  outline: 1px solid #fff;
}
:where(._2gL71Yq-HzVI9oOGyWu3jH) {
  position: relative;
  color: var(--text-color);
  padding: var(--padding);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  border-radius: 2px;
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._2e1xlPghh48rkP13ydQOPb {
  min-height: var(--control-height-1);
  --font-size: var(--text-size-2);
  --line-height: var(--line-height-2);
  --letter-spacing: var(--letter-spacing-2);
}
:where(._2gL71Yq-HzVI9oOGyWu3jH).B7HtDxiiORArIRcBR9kVB {
  min-height: var(--control-height-2);
  --font-size: var(--text-size-3);
  --line-height: var(--line-height-3);
  --letter-spacing: var(--letter-spacing-3);
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._1K_Ve980-qBq8l1-cZJdw1 {
  min-height: var(--control-height-3);
  --font-size: var(--text-size-4);
  --line-height: var(--line-height-4);
  --letter-spacing: var(--letter-spacing-4);
}
._2Vc3a-PM4tOhJcD72NEq1U {
  color: var(--icon-color);
}
._20lX82QaoUw-iHboSsmZBI {
  width: var(--font-size, var(--default-font-size));
  height: var(--font-size, var(--default-font-size));
  --hit-slop: calc(var(--font-size, var(--default-font-size)) / 2);
}
._1zRMg9IjPqEIAejKQDDLYW {
  width: var(--text-size-1);
  height: var(--text-size-1);
  --hit-slop: calc(var(--text-size-1) / 2);
}
._3dn_hJnXYKfl38rjqz4y91 {
  width: var(--text-size-2);
  height: var(--text-size-2);
  --hit-slop: calc(var(--text-size-2) / 2);
}
._2aoIykgGddbEHeCGgMR79l {
  width: var(--text-size-3);
  height: var(--text-size-3);
  --hit-slop: calc(var(--text-size-3) / 2);
}
._1Ypu_MleveHHMyLy8PVNy {
  width: var(--text-size-4);
  height: var(--text-size-4);
  --hit-slop: calc(var(--text-size-4) / 2);
}
.e8vp9esm_uAhUEdfq5zjr {
  width: var(--text-size-5);
  height: var(--text-size-5);
  --hit-slop: calc(var(--text-size-5) / 2);
}
.hXAsxCohKrk8qBq6Enfgt {
  width: var(--text-size-6);
  height: var(--text-size-6);
  --hit-slop: calc(var(--text-size-6) / 2);
}
._5TifSVb5dMP2wAaHIDqM_ {
  width: var(--text-size-7);
  height: var(--text-size-7);
  --hit-slop: calc(var(--text-size-7) / 2);
}
._32KP-QSJpecoxuWZfWkqmy {
  width: var(--text-size-8);
  height: var(--text-size-8);
  --hit-slop: calc(var(--text-size-8) / 2);
}
._3TcYJ4xwprVIVhcdzwF17m {
  width: var(--text-size-9);
  height: var(--text-size-9);
  --hit-slop: calc(var(--text-size-9) / 2);
}
._1tiFDvBjIAQRZDbVwz8k2u {
  margin: calc(var(--hit-slop-custom, var(--hit-slop)) * -1);
  padding: var(--hit-slop-custom, var(--hit-slop));
}
._1kIuUssJvopWbHik1IKMG6 {
  --icon-color: var(--color-accent-8, white);
  --checkbox-size: calc(var(--spacing-4) + var(--spacing-1));
  --bg-default: var(--color-dull-8);
  --bg-focus: var(--color-dull-9);
  --bg-disabled: rgb(from var(--bg-focus) r g b / 50%);
}
._1kIuUssJvopWbHik1IKMG6.zcrlDqGBY0Lrl7faLFoJI {
  --bg-default: var(--color-dull-9);
  --bg-focus: var(--color-dull-8);
  --bg-disabled: rgb(from var(--bg-focus) r g b / 50%);
}
._1kIuUssJvopWbHik1IKMG6._3b6kFRuG8ILziz88w8GESp {
  --bg-default: var(--color-dull-6);
  --bg-focus: var(--color-dull-8);
  --bg-disabled: rgb(from var(--bg-focus) r g b / 50%);
}
._1kIuUssJvopWbHik1IKMG6.wlcXkTKJWe-SE0fCwIRwQ {
  --bg-default: transparent;
  --bg-focus: rgb(from var(--color-dull-8) r g b / 50%);
  --bg-disabled: transparent;
  --border-color: var(--color-dull-8);
  --border-width: 2px;
}
._1kIuUssJvopWbHik1IKMG6 {
  display: flex;
  gap: var(--spacing-2);
  --background-color: var(--bg-default);
}
._1kIuUssJvopWbHik1IKMG6:disabled,
._1kIuUssJvopWbHik1IKMG6.kLcGKsNxkoEqxgok6YzML {
  --icon-color: rgb(from var(--color-dull-11) r g b / 50%);
  --background-color: var(--bg-disabled);
}
._1kIuUssJvopWbHik1IKMG6 ._3babFLLB0YYBf8znrlE7Dt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--radius-sm);
  background-color: var(--background-color);
  border: var(--border-width, 1px) solid var(--border-color, transparent);
  width: var(--checkbox-size);
  min-width: var(--checkbox-size);
  height: var(--checkbox-size);
  min-height: var(--checkbox-size);
  color: var(--icon-color);
}
._1kIuUssJvopWbHik1IKMG6 ._3babFLLB0YYBf8znrlE7Dt .cngAYeP7ZvFo2pT_v3-xO {
  width: 14px;
  height: 14px;
}
._1kIuUssJvopWbHik1IKMG6 ._3babFLLB0YYBf8znrlE7Dt svg {
  width: 16px;
  height: 16px;
}
._1kIuUssJvopWbHik1IKMG6 ._3babFLLB0YYBf8znrlE7Dt:hover {
  cursor: pointer;
}
._1kIuUssJvopWbHik1IKMG6:hover {
  --background-color: var(--bg-focus);
}
._1kIuUssJvopWbHik1IKMG6:focus-visible {
  outline: none;
}
._1kIuUssJvopWbHik1IKMG6:focus-visible ._3babFLLB0YYBf8znrlE7Dt {
  outline: 2px solid #fff;
}
