._29pWRqlLzXWmdfm9jQotLf {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px 0px;
}
._2e_AjtgYgeY8hjzF3Goou9,
._3AvjWe0En0PozNr2uWq1r0 {
  display: flex;
  flex-direction: row;
  background: #323539;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}
._2e_AjtgYgeY8hjzF3Goou9 ._4HW1z_vZiwa5tVKechGQK,
._3AvjWe0En0PozNr2uWq1r0 ._4HW1z_vZiwa5tVKechGQK {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-right: 10px;
}
._2e_AjtgYgeY8hjzF3Goou9 ._4HW1z_vZiwa5tVKechGQK .JRDwuzkZKRnaByXxb-DG7,
._3AvjWe0En0PozNr2uWq1r0 ._4HW1z_vZiwa5tVKechGQK .JRDwuzkZKRnaByXxb-DG7 {
  padding-top: 10px;
}
._2e_AjtgYgeY8hjzF3Goou9 ._4HW1z_vZiwa5tVKechGQK ._29hxZjsck3IZwVGYrTjqX_,
._3AvjWe0En0PozNr2uWq1r0 ._4HW1z_vZiwa5tVKechGQK ._29hxZjsck3IZwVGYrTjqX_ {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}
._2e_AjtgYgeY8hjzF3Goou9 ._4HW1z_vZiwa5tVKechGQK ._2OZwaevyq145GHbte-cYD4,
._3AvjWe0En0PozNr2uWq1r0 ._4HW1z_vZiwa5tVKechGQK ._2OZwaevyq145GHbte-cYD4 {
  flex: 1;
  align-content: end;
}
._2e_AjtgYgeY8hjzF3Goou9
  ._4HW1z_vZiwa5tVKechGQK
  ._2OZwaevyq145GHbte-cYD4
  > span,
._3AvjWe0En0PozNr2uWq1r0
  ._4HW1z_vZiwa5tVKechGQK
  ._2OZwaevyq145GHbte-cYD4
  > span {
  padding-right: 5px;
  color: #ff4500;
}
.Ea6FTud7MSP13e5WFg5YS {
  font-weight: 700;
}
._5mT3lMk6N-ZIEsrzWPbEO {
  font-weight: 700;
}
.Pr_M36YkNFA-weFm4NdGx {
  padding-bottom: 10px;
}
.Pr_M36YkNFA-weFm4NdGx .nB4-Z0d1bJEAy5sMjXfJv {
  color: #fff;
}
._1jNEwMKIFCwXh-4DQ7m6-a {
  display: inline;
  background: orange;
  padding: 1px 6px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  vertical-align: middle;
  margin-left: 10px;
}
._3LG2xiBJ11-gUCa2URMnOh {
  display: grid;
  padding: 10px 10px;
  grid-template-columns: max-content max-content;
}
._3LG2xiBJ11-gUCa2URMnOh :nth-child(2n + 2) {
  padding-left: 20px;
}
._1RmBbSb73HqJGS6dNMtvst {
  color: #ffc82c;
}
._2p3PivHhvkmywVnWGm9N9o {
  color: #59bf40;
}
._2pt1VafEKP9iTeTSzZSzMN {
  color: #1a9fff;
}
._24ZtoEB6cRFTE5Jdaj7Pdv {
  color: #ad66bb;
}
._3fBvrj-Tz2MUdgTtvZ5pXt {
  color: #dcdedf;
}
._319-NqR7LCiXHwG7vQdOAK {
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
  margin-bottom: 4px;
  padding-right: 10px;
}
._2DbhtcavqjsNhrVSLbD9wI {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
._3HyTVTASSmLacvaM964sgu:first-child {
  margin-bottom: 12px;
}
._3HyTVTASSmLacvaM964sgu:last-child {
  margin-bottom: 0px;
}
._2lG5hFYhu9PGPn6RoFeQOL {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 3px;
  position: relative;
}
._1she-lvNiCP3ASjTnl4q7x {
  line-height: 24px;
}
._1fCy4cz5Hyj9wDivcVseuc input._3JGsBe8Ou5QGqfihv0OPed {
  font-size: 15px;
}
._2QIVvn2p9gUwsAlifi-nkM {
  margin-left: 20px;
  margin-top: 8px;
}
._2P2kw0vHZogg7Ny7cAjQBo {
  max-width: 200px;
}
._3JGsBe8Ou5QGqfihv0OPed {
  max-width: 100px;
}
._18FxDrpsfO5Tt8EFui49hV {
  display: block;
  line-height: 22px;
  padding: 10px;
  font-size: 14px;
}
.-x3Rw6W2fJfWRMs7vKr1I {
  padding: 10px;
}
._1_H1sN2GVTzxSaz55gv03s._2xLBsAMYVDoygyWbl2YIzI {
  margin-right: 8px;
}
.BWmgg29ZeDbO6oj7Z1U7T {
  justify-content: flex-start;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(57, 61, 71, 0.5);
}
._3ECiyuGLUqPzuS1hKCdfDm {
  margin-top: 5px;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-left: 20px;
  border-left: #399aec 1px solid;
}
._3ECiyuGLUqPzuS1hKCdfDm > ._1BIlZEGSO_4tw5Lmc1Kkbf {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  width: 50%;
}
._3ECiyuGLUqPzuS1hKCdfDm > .jwuNowbLB28M6nkqFkF_C > span {
  margin-bottom: 0px;
}
._3B0QM3cOEqER2AD2Y85NFy {
  display: flex;
  flex-direction: column;
}
._1WleIEEiF-9nJ57tLWkRmS {
  padding: 10px;
  border-radius: 3px;
  background: rgba(57, 61, 71, 0.5);
}
._4gWwydbAbp2t1NCeW9LLV {
  margin-top: 12px;
}
._1Ao_g72kBAdoOo0lGUG7Mr {
  position: absolute;
  top: -13px;
  left: 30px;
  background: #744f4f;
  padding: 2px 8px 2px 2px;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #000;
}
._1Ao_g72kBAdoOo0lGUG7Mr img {
  margin-right: 4px;
}
._2g5oNomwd2lv8wL2qlsLVA {
  display: flex;
  justify-content: space-between;
}
._2g5oNomwd2lv8wL2qlsLVA .DialogButton {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
._2g5oNomwd2lv8wL2qlsLVA .DialogButton SVG {
  width: 16px;
  height: 16px;
}
.RGHKm1_KeaBjdzuvisfYN {
  display: flex;
  gap: 5px;
  margin-right: 5px;
}
._3yDPZjnsoLc2FkrAH2UOEd {
  display: flex;
}
._3yDPZjnsoLc2FkrAH2UOEd:not(:first-child) {
  margin-top: 60px;
}
._2g5oNomwd2lv8wL2qlsLVA .EventEditorTextTitle {
  padding-top: 6px;
}
.VM14UGwmk4Ng_GDgIOldV {
  background: #233e4e;
  padding: 7px 12px 0px 12px;
  margin-top: 30px;
}
._2db7mqsWVB9uITzObYYyl_ {
  position: relative;
  width: 100%;
  min-height: 189px;
  display: flex;
  flex-direction: row;
  background: #2e3138;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding: 12px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
._2db7mqsWVB9uITzObYYyl_ ._2-QYplON9ZYDL8F7UCPKkn {
  background-color: pink;
}
._2db7mqsWVB9uITzObYYyl_ ._8kkOBQP9vZs4Sc5e-D6Nx {
  width: 300px;
}
._1r2iOIGkkE_H-dtyZl9UIA {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
._2nKNyFzGZRK6V4byOFHBxY {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._2nKNyFzGZRK6V4byOFHBxY ._2jqGLvwK_rnnuqv5Bhw7D4 {
  flex-shrink: 0;
}
._3B_85IU-BWQ7IsZ1IvtON4 {
  background: #17181c;
  padding: 4px 8px;
  font-size: 12px;
  margin-top: 8px;
}
._3B_85IU-BWQ7IsZ1IvtON4 p {
  font-size: 14px;
  color: #ccc;
}
._3FTQ3un50thBT-7xji_vdf {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 16px;
}
._3FTQ3un50thBT-7xji_vdf ._1Y3gQeVyRPx26BMlVqCC90 {
  font-size: 20px;
  color: #fff;
}
._3FTQ3un50thBT-7xji_vdf ._1ICOQoKc9Yus7L-CxMdL5i {
  margin-top: 8px;
  font-size: 14px;
  color: #ccc;
}
._3FTQ3un50thBT-7xji_vdf ._3eS-zxfXPqFdoQWy6KV0Yl {
  margin-top: 8px;
}
._3FTQ3un50thBT-7xji_vdf ._3eS-zxfXPqFdoQWy6KV0Yl span {
  display: inline-block;
  padding: 2px 6px;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}
._2jqGLvwK_rnnuqv5Bhw7D4 {
  width: 200px;
}
._1HUphXBGHaXuM6Vt-_xH_j {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.-HWZKyvQQSbeyYiwDC76A {
  display: flex;
  flex-direction: row;
}
.sNv3-Ibnicq6cU_RV724_ {
  margin-bottom: 30px;
}
