._36QJs1BZ3so19Xl2es3ihH {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--fancy-table-row-background, #444);
}
._36QJs1BZ3so19Xl2es3ihH[data-even="true"] {
  background-color: var(--fancy-table-even-row-background, #666);
}
.g86xV6xEGOZ54uRvK3oQ4 {
  background-color: var(--fancy-table-expandable-row-background, #303238);
  color: var(--fancy-table-expandable-row-color, #8f96a3);
  padding-top: 8px;
  padding-bottom: 2px;
}
.g86xV6xEGOZ54uRvK3oQ4[data-even="true"] {
  background-color: var(--fancy-table-expandable-even-row-background, #303238);
}
._2mHaS291U0AFO1q99AVdLy {
  background-color: var(--fancy-table-header-background, #333);
}
._4y4yrbyr89wNqTGLp049k {
  position: sticky;
  top: 0;
  z-index: 1;
}
:where(._3m5AH2HSnsvjImS7uUpvxv) {
  padding: var(--fancy-table-cell-padding, 4px);
  box-sizing: border-box;
  background-color: var(--fancy-table-row-background, #444);
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100%;
}
[data-even="true"] > :where(._3m5AH2HSnsvjImS7uUpvxv) {
  background-color: var(--fancy-table-even-row-background, #666);
}
:where(._3m5AH2HSnsvjImS7uUpvxv):not(
    :nth-last-child(1 of ._3m5AH2HSnsvjImS7uUpvxv)
  ) {
  border-right: var(--fancy-table-cell-border, 1px solid #aaa);
}
:where(._3m5AH2HSnsvjImS7uUpvxv) input {
  scroll-margin: var(--fancy-table-scroll-margin);
}
._2xr81ssapVQO5aalcANmCk {
  padding: 0;
  text-align: initial;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}
._2XdcqH-eLWVp_qatDebc6J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: var(--fancy-table-column-header-align-items, center);
  justify-content: center;
  padding: var(--fancy-table-column-header-padding, 4px);
  font-weight: bold;
  box-sizing: border-box;
  text-shadow: var(--fancy-table-header-text-shadow, none);
  background-color: var(--fancy-table-header-background, #333);
}
._2XdcqH-eLWVp_qatDebc6J[aria-sort] {
  background-color: var(--fancy-table-column-header-sorted-background, #9297a5);
}
._2XdcqH-eLWVp_qatDebc6J[data-pinned="true"] {
  background-color: var(
    --fancy-table-pinned-column-header-background,
    var(--fancy-table-header-background, #333)
  );
}
._2XdcqH-eLWVp_qatDebc6J:not(:nth-last-child(1 of ._2XdcqH-eLWVp_qatDebc6J)) {
  border-right: var(--fancy-table-cell-border, 1px solid #aaa);
}
._2XdcqH-eLWVp_qatDebc6J:hover {
  background-color: var(--fancy-table-header-hover, #1a1a1a);
}
.USh_UNRX22s8Wml0mCY3M {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 5px;
  padding: 0;
  opacity: 0;
  border: none;
  cursor: ew-resize;
  user-select: none;
  touch-action: none;
}
.USh_UNRX22s8Wml0mCY3M._3wzyEuMO8BdQHAkXnneNRR {
  right: unset;
  left: 0;
}
._6z0ftV9RCqbZFmC4EOzYZ {
  margin-left: auto;
  margin-right: 5px;
}
._6z0ftV9RCqbZFmC4EOzYZ::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid var(--fancy-table-sort-arrow-color, currentColor);
}
[aria-sort="descending"] > ._6z0ftV9RCqbZFmC4EOzYZ::after {
  border-bottom: none;
  border-top: 6px solid var(--fancy-table-sort-arrow-color, currentColor);
  color: var(--fancy-table-sort-arrow-color, currentColor);
}
._3I86V1lT4xbDJ6FDjMIaMq {
  margin-inline-start: auto;
  margin-inline-end: 10px;
}
._3I86V1lT4xbDJ6FDjMIaMq::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid var(--fancy-table-sort-arrow-color, currentColor);
  transition: transform 80ms linear;
  transform: rotate(90deg);
}
[aria-expanded="true"] > ._3I86V1lT4xbDJ6FDjMIaMq::after {
  transform: rotate(180deg);
}
._uckWydn-lyPGWjFKZ4Tm {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: inherit;
  border: none;
  position: sticky;
  left: 0;
  padding: 2px 5px;
  font-size: 12px;
}
._3xrKIJ4u3oGwIbDNHLiE3U {
  color: #82a6d7;
}
.rdMe4z7G3RiS3aOmPBXjp {
  color: #ff9100;
}
.HFkBG6GEWlzLQZ3MWCZfy {
  color: #8bb006;
}
