._1DLGHwAfYnbFVIwbZjO2cn,
._30P9kUCljAZzX5fl1DHGJe {
  color: var(--text-color, var(--color-blue-10));
  box-sizing: border-box;
  font-size: var(--font-size, var(--default-font-size));
  line-height: var(--line-height, var(--default-line-height));
  letter-spacing: var(--letter-spacing, var(--default-letter-spacing));
}
._1DLGHwAfYnbFVIwbZjO2cn:where(._1FVRWG5uD8VhzoEiOZWrEo),
._30P9kUCljAZzX5fl1DHGJe:where(._1FVRWG5uD8VhzoEiOZWrEo) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
._30P9kUCljAZzX5fl1DHGJe {
  cursor: pointer;
}
:where(._3ASRyX4FTT_eMM5S5yrkwK) {
  text-decoration: underline;
}
:where(._1gsOIvG4APXjSra-_55rdz) {
  text-decoration: none;
}
:where(._2OgYmw12nDHXtyT9za9yzL),
:where(._3RITvcDUZq-hpnXRpiayfs) {
  text-decoration: none;
}
:where(._2OgYmw12nDHXtyT9za9yzL):hover,
:where(._3RITvcDUZq-hpnXRpiayfs):hover {
  text-decoration: underline;
}
._3xrKIJ4u3oGwIbDNHLiE3U {
  color: #82a6d7;
}
.rdMe4z7G3RiS3aOmPBXjp {
  color: #ff9100;
}
.HFkBG6GEWlzLQZ3MWCZfy {
  color: #8bb006;
}
._98APa3FIHhT6HoHQPTdP- {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}
._2GBqA5FVPnXDKN337UQTQF {
  color: #b2b2b2;
  justify-content: center;
}
._1lW7HuIHz1dVNCRWv6gDDu {
  justify-content: center;
}
.x7PYG4YYyYUVdJCTlosQh {
  justify-content: center;
}
._29xcvKUrOD3qIkctp2Fo_N {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
  margin-top: 12px;
}
._1kDnDjWEynufWnYI9AFl3l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 6px;
  border-bottom: 1px solid #000;
  margin-bottom: 6px;
}
._12ldq1_X5RuLWAAs_ODwt7 {
  color: var(--text-color, var(--color-text-body-title));
  font-size: var(--font-size, var(--default-font-size));
  line-height: var(--line-height, var(--default-line-height));
  letter-spacing: var(--letter-spacing, var(--default-letter-spacing));
}
:where(._12ldq1_X5RuLWAAs_ODwt7) {
  margin: 0;
}
.-YHuRmP6nUp0IqPQ4F3wk {
  --font-size: var(--text-size-1);
  --line-height: var(--heading-line-height-1);
  --letter-spacing: var(--heading-letter-spacing-1);
}
._20m6yPkrPwQ8XwlhPdMtqu {
  --font-size: var(--text-size-2);
  --line-height: var(--heading-line-height-2);
  --letter-spacing: var(--heading-letter-spacing-2);
}
._2jvih9p3Mc3zUn2nnxzDv7 {
  --font-size: var(--text-size-3);
  --line-height: var(--heading-line-height-3);
  --letter-spacing: var(--heading-letter-spacing-3);
}
._1zvMJY9dUjwMSI0j5QoEdq {
  --font-size: var(--text-size-4);
  --line-height: var(--heading-line-height-4);
  --letter-spacing: var(--heading-letter-spacing-4);
}
._1196Oisy8jDA4szPu-KrKP {
  --font-size: var(--text-size-5);
  --line-height: var(--heading-line-height-5);
  --letter-spacing: var(--heading-letter-spacing-5);
}
.R1W-zMFN4WGw9JK48Yqez {
  --font-size: var(--text-size-6);
  --line-height: var(--heading-line-height-6);
  --letter-spacing: var(--heading-letter-spacing-6);
}
.Ena8Nl7MJg7YAYsWql_jo {
  --font-size: var(--text-size-7);
  --line-height: var(--heading-line-height-7);
  --letter-spacing: var(--heading-letter-spacing-7);
}
.jyf9-rlT4iFrHQOAVn298 {
  --font-size: var(--text-size-8);
  --line-height: var(--heading-line-height-8);
  --letter-spacing: var(--heading-letter-spacing-8);
}
._3L0vs4_Y96AtsR3P5GUkUa {
  --font-size: var(--text-size-9);
  --line-height: var(--heading-line-height-9);
  --letter-spacing: var(--heading-letter-spacing-9);
}
._3OVilOdb2tSBtG90cwqGUo {
  color: #b2b2b2;
  --fancy-table-header-background: #3e424c;
  --fancy-table-row-background: #23262b;
  --fancy-table-even-row-background: #23262b;
  --fancy-table-cell-border: 1px solid #1b1e22;
  --fancy-table-row-border: 2px solid #1b1e22;
  --fancy-table-cell-padding: 6px 6px 6px 12px;
  --fancy-table-header-padding: 6px;
  --fancy-table-header-background: #434953;
}
._3OVilOdb2tSBtG90cwqGUo._3C2djc2HxWtHJaUqVq-cKt {
  --fancy-table-cell-border: 0px solid #1b1e22;
}
