._2j-z9aXG_KoPSY-SYZ0fkF {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
._2j-z9aXG_KoPSY-SYZ0fkF ._185dckQ4O6j7fFSauUkttX {
  flex-grow: 1;
  position: relative;
}
._2j-z9aXG_KoPSY-SYZ0fkF .fKA16ZB7sn97FP66zTggw {
  background: #303238;
  padding: 16px 0px 0px 16px;
  color: #fff;
  font-size: 13px;
  flex-shrink: 1;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
._2j-z9aXG_KoPSY-SYZ0fkF .fKA16ZB7sn97FP66zTggw ::-webkit-scrollbar {
  display: block;
}
._2j-z9aXG_KoPSY-SYZ0fkF .fKA16ZB7sn97FP66zTggw ::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
}
._2j-z9aXG_KoPSY-SYZ0fkF .fKA16ZB7sn97FP66zTggw .OVDCtDCCkCZr1my3nFNXX {
  padding: 0;
  border-right: 1px solid #303238;
}
._2j-z9aXG_KoPSY-SYZ0fkF ._1Z7LLb7cP6pLH8XwOgDkP {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
  margin: 0px 40px 8px 40px;
  justify-content: flex-start;
}
._2j-z9aXG_KoPSY-SYZ0fkF ._1Z7LLb7cP6pLH8XwOgDkP > * {
  width: fit-content;
}
._2j-z9aXG_KoPSY-SYZ0fkF
  ._1Z7LLb7cP6pLH8XwOgDkP
  ._1PrsCGcbjJ61fDm8stNJd2
  ._DialogLayout {
  background-color: rgba(59, 63, 72, 0.2);
  border-radius: 3px;
  margin-bottom: 0;
  padding: 10px 20px 10px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
._2j-z9aXG_KoPSY-SYZ0fkF
  ._1Z7LLb7cP6pLH8XwOgDkP
  ._1PrsCGcbjJ61fDm8stNJd2._39j_Zq7q7VRXEb-7tZMUSx
  ._DialogLayout {
  border: 1px dashed #c22d00;
  padding: 9px 20px 9px 10px;
}
._1kvIFs23dRUETqkaH0d_RW {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
._1kvIFs23dRUETqkaH0d_RW ._1eoBYSPbVZ6MoUNDkL_xbp {
  text-align: center;
}
._1kvIFs23dRUETqkaH0d_RW ._3ffEWbT5mrSdmmCBQsjpmC {
  display: block;
  width: 200px;
  max-height: 18px;
  padding: 0 8px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  color: #9499a4;
  font-weight: normal;
}
._1kvIFs23dRUETqkaH0d_RW .MltPJcBZanYmXvQaiTTTg {
  position: absolute;
  top: 6px;
  right: 4px;
}
.CompactMode ._1kvIFs23dRUETqkaH0d_RW ._3ffEWbT5mrSdmmCBQsjpmC {
  display: none;
}
._2xa-P-_4oTPXUvGstrnphV {
  --fancy-table-pinned-column-header-background: #4f5463;
  --fancy-table-cell-padding: 0;
  --fancy-table-row-background: #23262b;
  --fancy-table-even-row-background: var(--fancy-table-row-background);
  --fancy-table-cell-border: 1px solid #303238;
  --fancy-table-header-background: #3e424c;
  --fancy-table-header-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
.PendingVisible ._2xa-P-_4oTPXUvGstrnphV {
  padding-bottom: 72px;
}
.PendingVisible ._2xa-P-_4oTPXUvGstrnphV > div {
  padding-bottom: 72px;
}
div._1OS2vdfTf7vsWj8VhNKlXu {
  z-index: 2000;
}
.formatterCell {
  width: 100%;
}
body,
body._2LxgdMcpWJRjkxZKbmeEEb {
  color: #969696;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}
button {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}
img {
  -webkit-user-drag: none;
}
::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: rgba(0, 0, 0, 0);
  z-index: 12;
  overflow: visible;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #434953;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color 0.32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4e5157;
}
::-webkit-scrollbar-corner {
  background: #202020;
}
::selection {
  background: #54a5d4;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6666666667);
  color: #fff;
}
.vg0EOhKTLB3tLvshHMr7l {
  color: gray;
  font-size: 10px;
}
._33hdFBTwBs64Fcp-bPdf4E {
  width: 34px;
  height: 34px;
  border-radius: 25%;
  overflow: hidden;
  margin-right: 4px;
}
._2OYADGuBPiyF7h50OJ0P1B {
  width: 70px;
  height: 45px;
  border-radius: 25%;
  overflow: hidden;
  margin-right: 4px;
}
._2CQYcCggCXwVzZj2GWng5- {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  position: relative;
}
._2CQYcCggCXwVzZj2GWng5-:after {
  content: "N/A";
  display: block;
  color: #555;
  font-size: 10px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #201e25;
}
.Yncr-T63YFSJ46cq4Z2BJ ._2CQYcCggCXwVzZj2GWng5- {
  border: 2px solid red;
}
._1cUR_vD8IvfJgOK1r89j4o {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201e25;
}
.VsZ-bdWSNpnM9Vg6gkSyD {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0);
  border: 1px #7d6ebc solid;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 2px;
  font-size: 14px;
  color: #7d6ebc;
  user-select: none;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 4px;
}
.VsZ-bdWSNpnM9Vg6gkSyD._3M4j828iWSVEZZAkypcBi1 {
  font-size: 9px;
  padding: 4px 8px;
}
._1R3ycnbAGUAy01o0TW7NNo {
  display: flex;
  align-items: center;
  justify-content: center;
}
._3m7p67FD1Ynjm3BnyyjSSS {
  height: 100%;
  min-height: 420px;
}
._1WqumifyJucGDxm2oI6yRQ {
  text-decoration: underline;
  color: inherit;
}
.cNMZ-dcMVhaQJFes_Ivwo {
  width: 100%;
  resize: none;
  max-height: 100px;
  background: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 14px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 4px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  transition-property: background, box-shadow, padding-left;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.cNMZ-dcMVhaQJFes_Ivwo:focus {
  background: rgba(67, 73, 83, 0.6);
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.6666666667);
  padding-left: 6px;
  outline: none;
}
._3NeLW5LAka4S9__PaMFE_J {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.tool-tip-source {
  cursor: default;
}
.react-select-container .react-select__control {
  background: rgba(220, 232, 251, 0.0784313725);
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.react-select-container .react-select__control:hover {
  background: #464d58;
  border-color: rgba(0, 0, 0, 0);
}
.react-select-container .react-select__control .react-select__single-value {
  color: #d9dde1;
}
.react-select-container .react-select__control .react-select__input-container {
  color: #d9dde1;
}
.react-select-container
  .react-select__control
  input[type="text"].react-select__input {
  color: #d9dde1;
  box-shadow: unset;
}
.react-select-container
  .react-select__control
  .react-select__indicator-separator {
  background-color: #42494d;
}
.react-select-container .react-select__menu {
  background-color: #373c44;
  margin-top: 2px;
}
.react-select-container .react-select__menu .react-select__option {
  color: #d9dde1;
}
.react-select-container .react-select__menu .react-select__option--is-focused {
  color: #d9dde1;
  background-color: #3e444d;
}
.react-select-container .react-select__menu .react-select__option--is-selected {
  background-color: #1c8cde;
}
._353rnPLVzyQBQhakxhkl7u {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0px 0px 0px;
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
}
._2m-_VofgoRb-uGQMrewYq3 {
  font-size: 32px;
  color: #fff;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 40px 8px 40px;
}
._1FK58fndqHlADYEX-58V0C {
  flex-grow: 1;
}
._2H9KzQ8SQGvqGhbWidWzf4 {
  position: relative;
  background: #662b18;
  color: #ed8d8d;
  font-size: 15px;
  font-weight: 200;
  padding: 6px 8px;
  box-sizing: border-box;
  margin: 0px 40px;
}
._21EsxksQjCwl-Xz3TNuoPc {
  margin-top: 24px;
  width: 120px;
  height: 120px;
}
._190uxu3FVS6Fx-IbDsfCyd {
  margin-top: 24px;
  font-size: 30px;
  color: red;
  text-align: center;
}
._2peTiEFo27_zkZA0TzjnD4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
}
._2peTiEFo27_zkZA0TzjnD4 button.DialogButton {
  margin-left: 4px;
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
}
.responsive_footer_ctn {
  display: none;
}
._3LMXjfy-EuA2ZWoW660vuc {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 7px;
  box-sizing: border-box;
  font-weight: 400;
  background-color: #3e424c;
  transition: background-color 2s ease-out;
}
._3LMXjfy-EuA2ZWoW660vuc:hover,
._3LMXjfy-EuA2ZWoW660vuc._2BLece8YI3va6GD9JEUxjL:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
._3LMXjfy-EuA2ZWoW660vuc._2lxTisamKtJUowDlNKSrzG {
  background-color: #404a62;
}
._15fBcZwmM-nap1QbkpRc2G ._3LMXjfy-EuA2ZWoW660vuc {
  background-color: #404a62;
}
._3LMXjfy-EuA2ZWoW660vuc ._2bJFFj7RfHL_P4P-MJlzK4 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 17px;
  margin-bottom: 4px;
}
._3LMXjfy-EuA2ZWoW660vuc ._2bJFFj7RfHL_P4P-MJlzK4 ._1XHd3t0XU1SfpsraST5Ovy {
  position: absolute;
  top: -5px;
  right: 4px;
  font-size: 10px;
}
._3LMXjfy-EuA2ZWoW660vuc._2BLece8YI3va6GD9JEUxjL {
  border: 1px solid #4c6b22;
}
._3LMXjfy-EuA2ZWoW660vuc._2BLece8YI3va6GD9JEUxjL ._2bJFFj7RfHL_P4P-MJlzK4 {
  color: #a4d007;
}
._3LMXjfy-EuA2ZWoW660vuc ._2kY09NU8R-tjOVYmIwZ98B {
  font-size: 12px;
  color: #c1c5cd;
  display: flex;
  flex-wrap: wrap;
}
._3LMXjfy-EuA2ZWoW660vuc ._2kY09NU8R-tjOVYmIwZ98B ._312igBJXB0MifodN4IBq1i {
  white-space: nowrap;
}
._3LMXjfy-EuA2ZWoW660vuc ._2kY09NU8R-tjOVYmIwZ98B .OAAVWKvssJLy0QM6mVcw6 {
  margin-left: 5px;
  white-space: nowrap;
}
._3LMXjfy-EuA2ZWoW660vuc .VZ3pVxXbvFNzdGOkOrNGU {
  font-size: 13px;
  color: #999;
}
._3LMXjfy-EuA2ZWoW660vuc ._2iuUu1K5b1e71DnJKkBtHH {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-end;
}
._3LMXjfy-EuA2ZWoW660vuc ._2iuUu1K5b1e71DnJKkBtHH ._2tr5XTQIvHNQiu4IZKMi7Z {
  display: flex;
  flex-direction: column;
}
._3LMXjfy-EuA2ZWoW660vuc
  ._2iuUu1K5b1e71DnJKkBtHH
  ._2tr5XTQIvHNQiu4IZKMi7Z:first-child {
  margin-right: 10px;
}
._3LMXjfy-EuA2ZWoW660vuc ._2iuUu1K5b1e71DnJKkBtHH ._3mO71T0Q_migmtLfYRFb-6 {
  font-size: 13px;
  color: #8f95a3;
  line-height: 14px;
}
._3LMXjfy-EuA2ZWoW660vuc ._2iuUu1K5b1e71DnJKkBtHH ._1pDZ1lHiN5RohGZxcDAyCK {
  font-size: 16;
  color: #fff;
}
._3LMXjfy-EuA2ZWoW660vuc._36G76FOe3fZ8csab26PcL8 {
  background-color: #838ba0;
  text-shadow: none;
  transition: background-color 0s ease-out;
}
._3LMXjfy-EuA2ZWoW660vuc._36G76FOe3fZ8csab26PcL8 ._2kY09NU8R-tjOVYmIwZ98B {
  color: #000;
}
._3LMXjfy-EuA2ZWoW660vuc._36G76FOe3fZ8csab26PcL8 .VZ3pVxXbvFNzdGOkOrNGU {
  color: #000;
}
._3LMXjfy-EuA2ZWoW660vuc._36G76FOe3fZ8csab26PcL8
  ._2iuUu1K5b1e71DnJKkBtHH
  ._3mO71T0Q_migmtLfYRFb-6 {
  color: #2a2f32;
}
._3LMXjfy-EuA2ZWoW660vuc._36G76FOe3fZ8csab26PcL8
  ._2iuUu1K5b1e71DnJKkBtHH
  ._1pDZ1lHiN5RohGZxcDAyCK {
  color: #000;
}
._36hxaHrRvc7ct9bb0Aeza3 {
  background-color: #1b1e22;
  padding: 8px;
}
._3RF-6YnSS_2OpJmOo0BV6_ {
  margin-left: 4px;
}
._1a_LwvXaB11PNusz9GPz98,
._12zwKFzckK0AkG-lS95iTK,
._1yW70vcAdwnrMIrVE8y03S {
  color: #bbb;
}
._1a_LwvXaB11PNusz9GPz98 a,
._12zwKFzckK0AkG-lS95iTK a,
._1yW70vcAdwnrMIrVE8y03S a {
  text-decoration: none;
}
._1a_LwvXaB11PNusz9GPz98 a:hover,
._12zwKFzckK0AkG-lS95iTK a:hover,
._1yW70vcAdwnrMIrVE8y03S a:hover {
  text-decoration: underline;
}
._1a_LwvXaB11PNusz9GPz98,
._12zwKFzckK0AkG-lS95iTK {
  justify-content: end;
  padding-right: 8px;
}
._1yW70vcAdwnrMIrVE8y03S {
  padding: 0;
  border-right: 1px solid #303238;
}
._1yW70vcAdwnrMIrVE8y03S ._15fBcZwmM-nap1QbkpRc2G {
  background-color: inherit;
}
.r2FLR3ukmK3cVbBV-j8Aa {
  height: 24px;
  width: 24px;
}
._2Z65Kc_3FxlP0E15rMFuVC,
.O-95g3EzyTgFwNJ8ATC-e {
  background-color: #303238;
  height: 27px;
  margin-top: 2px;
}
._2Z65Kc_3FxlP0E15rMFuVC .DialogInputLabelGroup,
.O-95g3EzyTgFwNJ8ATC-e .DialogInputLabelGroup {
  margin-bottom: 0px;
}
._2Z65Kc_3FxlP0E15rMFuVC .DialogDropDown,
.O-95g3EzyTgFwNJ8ATC-e .DialogDropDown {
  padding: 4px;
}
._2Z65Kc_3FxlP0E15rMFuVC .DialogDropDown .DialogDropDown_CurrentDisplay,
.O-95g3EzyTgFwNJ8ATC-e .DialogDropDown .DialogDropDown_CurrentDisplay {
  white-space: initial;
}
._2nnB1eMYflFLLmMAi7_jJV {
  box-sizing: border-box;
  height: 100%;
  padding: 8px;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.O-95g3EzyTgFwNJ8ATC-e {
  height: fit-content;
}
._2gGuz_TA8axLQOqAtwurFU ._DialogInputContainer,
._1jj2uEuCns_K_cIfGZcKl6 ._DialogInputContainer {
  padding: 6px;
}
._2gGuz_TA8axLQOqAtwurFU ._3wPHxQWhohHATqjvN6B2l3,
._2gGuz_TA8axLQOqAtwurFU ._1ORamDcYtEN8wS1voTsWE,
._1jj2uEuCns_K_cIfGZcKl6 ._3wPHxQWhohHATqjvN6B2l3,
._1jj2uEuCns_K_cIfGZcKl6 ._1ORamDcYtEN8wS1voTsWE {
  padding: 4px 0;
}
._2A9meAsgvbqtRE-WwcWklJ {
  padding-top: 8px;
}
._3BpoblG0qqkekq9SESFn1s {
  display: flex;
  flex-direction: column;
}
._3BpoblG0qqkekq9SESFn1s ._3u7Vn4B-hH3ntVFvWBlMWP {
  width: 50%;
  margin: 0 8px;
}
._3BpoblG0qqkekq9SESFn1s ._3OJwY0KsAdtSzzFuOdWl8l {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  min-height: 57px;
}
._3BpoblG0qqkekq9SESFn1s ._3zj1IiybB-MxMlHawZLJeQ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding: 4px 0px 4px 8px;
  background: rgba(0, 0, 0, 0.2);
}
._3BpoblG0qqkekq9SESFn1s ._3zj1IiybB-MxMlHawZLJeQ button {
  line-height: 16px;
  min-height: 57px;
}
._3BpoblG0qqkekq9SESFn1s ._3zj1IiybB-MxMlHawZLJeQ button span {
  font-size: 12px;
  display: block;
  color: #97a0af;
}
._3BpoblG0qqkekq9SESFn1s span._2QfyWyy2Z0gPCqVTApBKNV {
  font-size: 12px;
  width: 60%;
}
._1P_KJVQc3vmgxCssmhFas0 {
  color: #a4d007;
  padding: 16px;
}
._289pBSstep6RsTe3aedebA {
  padding: 8px 0;
}
._1VTD4841BG3WozX_i1yNEd {
  padding: 4px;
  color: #a15212;
  max-height: 200px;
  overflow-y: auto;
}
