._340f4eUQ6g1wEP6XkvOi2m {
  background-color: #1c1e26;
  padding: 10px;
}
.ZcSEHEBy6UFM8ApdYw48V {
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 3px;
}
.tGyGdizK9jd1VLqtQkToE {
  width: calc(100% - 20px);
  height: 200px;
}
._2hGcij8WDcw-rJXIjWEBu {
  text-overflow: ellipsis;
  overflow: hidden;
}
