._1lo3nIamSX1TzzE4TlhFXA {
  position: fixed;
  background: #ccc;
  color: #000;
  padding: 4px;
}
._1ds3uh7ntoekPm635F2Ziv {
  font-size: 12px;
}
._3Vn5X8bzPjWx5p545nkB6k {
  font-size: 10px;
  font-weight: italic;
}
._3l7NrcIIw_fedlHdVwJMVE {
  position: relative;
  flex-grow: 1;
}
._3PGiW8qQcZDfnK9rOz7sjY {
  position: absolute;
  right: 8px;
  top: 8px;
  opacity: 1;
  transition: opacity 0.25s;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
}
._2tY4qnv8tygCT7s94cB4vX {
  position: relative;
}
button.DialogButton.JBYdBhACB7UzXP4l_tpF2 {
  margin-left: 10px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button.DialogButton.JBYdBhACB7UzXP4l_tpF2 svg {
  width: 70%;
  height: auto;
}
.Hd3q3Z7if0Z5H7rKMfqGN {
  min-width: 500px;
}
._3wHfIq4f1KlUL4-fKL0jLv {
  width: 100%;
  display: flex;
  flex-direction: row;
}
._3wHfIq4f1KlUL4-fKL0jLv > div {
  margin-right: 8px;
}
._3WxO3z6DufUbRu-axJjjqp.DialogTextInputBase {
  width: 100%;
  padding: 11px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  outline: none;
}
._2h37cwEb2SfJphgpbu-dPv {
  position: relative;
}
.kI20RMKnHD3qdQhl-Hr4K {
  position: absolute;
  right: 8px;
  top: 8px;
  opacity: 1;
  transition: opacity 0.25s;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
}
._9JDWJYvoHTETKmebCO7iE {
  min-width: 500px;
}
._1h-JdwvtVK38j8M4EXeUah {
  border: 1px solid #4d5560;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 12px;
}
._1h-JdwvtVK38j8M4EXeUah img {
  max-width: 100%;
}
._5o_Ifm1O6jf-4Iq4Kv07F {
  margin-left: 36px;
  margin-bottom: 12px;
}
._5o_Ifm1O6jf-4Iq4Kv07F .DialogInput_Wrapper {
  max-width: 25%;
}
._1Kt8VfgLBvg0tD86og8ps7 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}
._1Kt8VfgLBvg0tD86og8ps7 button.DialogButton {
  padding: 3px 6px;
  text-align: left;
  background: rgba(0, 0, 0, 0);
  border: 1px solid hsla(0, 0%, 100%, 0.425);
}
