._2bD720Zjxza1mHMOZ6URrU {
  color: #000;
  text-decoration: underline;
}
._2njnWu1if_8cDnjWtpuBMQ {
  color: #000;
  text-decoration: underline;
}
._2oU42aqXAKCuhoH2GmPkWD {
  margin-left: 5px;
}
._3-_nsU7fX4Uep5Nr-eATPw {
  text-align: center;
}
