._59oO6wefB3rQ2vFht_b50 {
  background: #24282e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}
.tIxuPSrF_izJyj_xSBAu {
  background-color: #2e3138;
  width: 100%;
  padding: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
._1fVLwDLknGBvNqXvbz5ieq {
  display: flex;
  justify-content: space-between;
}
._1fVLwDLknGBvNqXvbz5ieq ._14k5Nx2pbJlfrumOKYilwb {
  font-size: 24px;
  margin-right: 8px;
  text-transform: uppercase;
}
._1fVLwDLknGBvNqXvbz5ieq .MuQkNExZZvUGyooMU1W63 {
  display: flex;
}
._1fVLwDLknGBvNqXvbz5ieq .MuQkNExZZvUGyooMU1W63 button.DialogButton {
  padding: 6px 30px;
  box-sizing: border-box;
  margin-right: 24px;
  white-space: nowrap;
}
button._3VW3jphjSrFsWyh8CQ7qkl._3VW3jphjSrFsWyh8CQ7qkl {
  background-color: green;
  color: #fff;
  padding: 0 12px;
}
button._3VW3jphjSrFsWyh8CQ7qkl._3VW3jphjSrFsWyh8CQ7qkl:disabled,
button._3VW3jphjSrFsWyh8CQ7qkl._3VW3jphjSrFsWyh8CQ7qkl:disabled:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
._2053etsNH77sMt0UGZ7Gkf ._3qsK9sWwA8-5XRJijxOyAq {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 12px;
  padding: 8px;
  color: #909090;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  box-shadow: 0 0 5px #000 inset;
}
._1MkpMd3IngFLh9Lj1YdVaZ {
  font-size: 32px;
  padding: 8px;
}
._1m9z-QOtKB83PPSMvFp2qj {
  display: flex;
  padding: 16px 0px 6px;
  font-size: 14px;
  text-transform: uppercase;
}
._29DifZl5OcFsMPwjVeSKul {
  padding: 3px 6px;
  font-size: 13px;
}
._29DifZl5OcFsMPwjVeSKul._1fuClf4BBhhdkGW2AiR9xz {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._29DifZl5OcFsMPwjVeSKul._31hg_XZCfqD4KpN77UoWpB {
  width: 100px;
  justify-content: flex-end;
  text-align: right;
}
._1m9z-QOtKB83PPSMvFp2qj ._29DifZl5OcFsMPwjVeSKul {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
._1m9z-QOtKB83PPSMvFp2qj
  ._29DifZl5OcFsMPwjVeSKul._2dUdD5Bxvl5g7AXm74jlY-:hover {
  background-color: #4b5362;
  cursor: pointer;
}
._1m9z-QOtKB83PPSMvFp2qj ._29DifZl5OcFsMPwjVeSKul ._30b5IzshpNjcRcDjnbiHHV {
  display: none;
  height: 16px;
  width: 16px;
  margin: 3px 6px;
}
._1m9z-QOtKB83PPSMvFp2qj ._29DifZl5OcFsMPwjVeSKul._3_SL2rzskqZJldo0NVDRPy {
  font-weight: 600;
}
._1m9z-QOtKB83PPSMvFp2qj
  ._29DifZl5OcFsMPwjVeSKul._3_SL2rzskqZJldo0NVDRPy
  ._30b5IzshpNjcRcDjnbiHHV {
  display: block;
}
._1kNWcaTgntfwrNOrNOdLEs {
  color: #b36f6f;
}
.pbhW7T1VOciPsM4805I5i {
  color: #47bfff;
}
._2sNUoEB66JUcm-Y3kKrdL8 {
  color: #889396;
}
.M3TAP-1MxenvBQsT-eXlR {
  color: #35b435;
}
.Q8C5pKiJQWiQxpeE9g5A0 {
  background-color: dimgray;
  padding: 2px 5px;
}
.kcPTyksATgiPUcmwAwGOe {
  margin: 4px 0px;
  padding: 12px;
  display: flex;
  background-color: #40454f;
  color: #d3d3d3;
  border-radius: 3px;
}
.kcPTyksATgiPUcmwAwGOe:hover {
  color: #d3d3d3;
  background-color: #4b5362;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
._1sL5ykMb1b1-WfHxwf8L1K {
  font-size: 18px;
  padding-left: 6px;
}
._1LhItwhLHspVcQdfcbd2Sg {
  width: 100%;
  height: 100%;
  color: #ebebeb;
}
.D-1dlROLVuva-sb6tFgwU {
  margin: 10px auto;
  max-width: 450px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.D-1dlROLVuva-sb6tFgwU button {
  padding: 0px 20px;
}
.D-1dlROLVuva-sb6tFgwU ._9189ilzQ3YES-a-6DyBhR {
  margin: 10px auto;
}
.WyfyxbGrKQq8cKMK5kfxE {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.vp5PFufZdDer7tZRg3jrX .DialogBodyText {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._1VzmzM94XEt-kbk5N0Xcwm {
  display: flex;
  padding: 14px 30px;
  font-size: 18px;
  font-weight: 700;
}
._3qgdWDwppIPmVUI3_-IoWg {
  overflow: auto;
}
._1I_jAq3MJfhGnx3-H9fkRc.DialogCheckbox_Container {
  padding: 0 0 10px 0;
  border-bottom: 1px solid dimgray;
}
._1llVI6GfKRzbQRSS7bS9sI.DialogCheckbox_Container {
  padding: 0;
}
._2S_PZcuwqHb1BUGrd6Xvnk {
  display: flex;
  font-size: 15px;
}
._13DIWnUBOf_d2HSzZWW_72 {
  width: 200px;
}
.hGncGWqE9kTLXhxQe4SJ2 {
  font-style: italic;
}
._1s2UZCHSCadxdeXsd6fbj6 {
  width: 600px;
  height: 8px;
  background: rgba(0, 0, 0, 0.5);
  margin: 12px 0;
}
._1s2UZCHSCadxdeXsd6fbj6 ._2q-TdYLM1Zgn9tPZ3_1wCx {
  background-color: #20aaeb;
  height: 100%;
  transition: width 0.4s ease-out;
}
._1MsSLkJk0mX4ITyxy8mpEJ,
._28hYlCdWipXh9xN8jgf8ZT {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._28hYlCdWipXh9xN8jgf8ZT {
  width: 65%;
}
._2FKxIYwCCRBm_BH0BsKyem {
  padding: 12px 0;
}
._2FKxIYwCCRBm_BH0BsKyem ._1_icUC7cNPpNZvq_qgQ33D {
  font-weight: bold;
  padding-bottom: 8px;
}
._2FKxIYwCCRBm_BH0BsKyem ._3h1LkNfeVLc44BAuHSBudK {
  display: flex;
}
._2FKxIYwCCRBm_BH0BsKyem .MxoxU6nWqZvCxgOlJxTvE {
  width: 35%;
}
._8rlUGGeBnYbuZpSoMtPGY {
  color: #b36f6f;
}
.pZM2L30-1FOU9cbzqy1AQ {
  color: #9a7a3a;
}
._3NvasCX7YWBZpC8aibkm0E {
  margin-top: var(--spacing-0);
  margin-right: var(--spacing-0);
  margin-bottom: var(--spacing-0);
  margin-left: var(--spacing-0);
}
._37cUiZ5UzC1qHmlFJaMIAr {
  margin-top: var(--spacing-1);
  margin-right: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  margin-left: var(--spacing-1);
}
._22pmrTZIf7_RclhN_Za_yk {
  margin-top: var(--spacing-2);
  margin-right: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  margin-left: var(--spacing-2);
}
._2xmWKu-UddfctI38U1zCEJ {
  margin-top: var(--spacing-3);
  margin-right: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  margin-left: var(--spacing-3);
}
._3zdjzY_LgHtL18eXyDfTPX {
  margin-top: var(--spacing-4);
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-4);
  margin-left: var(--spacing-4);
}
._3Rlz0SKD-6_YdCp2lqn9vN {
  margin-top: var(--spacing-5);
  margin-right: var(--spacing-5);
  margin-bottom: var(--spacing-5);
  margin-left: var(--spacing-5);
}
._3r8BgGiIlHywi0ZHwZwQ06 {
  margin-top: var(--spacing-6);
  margin-right: var(--spacing-6);
  margin-bottom: var(--spacing-6);
  margin-left: var(--spacing-6);
}
.N4_w_lLzz5mWWR8OXme85 {
  margin-top: var(--spacing-7);
  margin-right: var(--spacing-7);
  margin-bottom: var(--spacing-7);
  margin-left: var(--spacing-7);
}
._9RIErOlJkYsmKjLXHdh97 {
  margin-top: var(--spacing-8);
  margin-right: var(--spacing-8);
  margin-bottom: var(--spacing-8);
  margin-left: var(--spacing-8);
}
._3z-GriX8_kmVXisqGPQP4v {
  margin-top: var(--spacing-9);
  margin-right: var(--spacing-9);
  margin-bottom: var(--spacing-9);
  margin-left: var(--spacing-9);
}
._3-jQFfu-TMQAisG5aNNkWL {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
}
._3BMISfIZLtYzhHW9gLrAhg {
  margin-left: var(--spacing-1);
  margin-right: var(--spacing-1);
}
._1qzk80q4_oPzj26TeKpTx4 {
  margin-left: var(--spacing-2);
  margin-right: var(--spacing-2);
}
._3chNW-hTH9zf2lM67pGxrc {
  margin-left: var(--spacing-3);
  margin-right: var(--spacing-3);
}
._3frK-RoVzz1_EkxXrUWrpa {
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
}
._3d0EunwtOvStQ2yDju5Spo {
  margin-left: var(--spacing-5);
  margin-right: var(--spacing-5);
}
.UjWcrV75gIWdphzCurEvP {
  margin-left: var(--spacing-6);
  margin-right: var(--spacing-6);
}
._15ha2x6_NUFo1Tv6qK8b78 {
  margin-left: var(--spacing-7);
  margin-right: var(--spacing-7);
}
._1RQYcsmS0CjJeuzIfLKoED {
  margin-left: var(--spacing-8);
  margin-right: var(--spacing-8);
}
._2HJM3M2-vhQ5LBWCEaHOwi {
  margin-left: var(--spacing-9);
  margin-right: var(--spacing-9);
}
._3QML-HLKdsHN3lQ1vnk92D {
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-0);
}
._1k6paF6gdfFzTl10WpotUM {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
.xSx33Q9HV5Ghqo03_YD5k {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
._3BN9zmVvKsCyZ0tUXADLZM {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
._3uyKbdicYj323IQJk-C8pG {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
.IxdkD105ge_zVEjQSuOId {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}
.PmQV_ETAJ2g68DVWZEwxP {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}
._2q2PjZKCT0YIQ-64rWcY5q {
  margin-top: var(--spacing-7);
  margin-bottom: var(--spacing-7);
}
.atp0PA3O78rEG05sop1fy {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}
.vwwFwt8PahbfVSHR8_dJ5 {
  margin-top: var(--spacing-9);
  margin-bottom: var(--spacing-9);
}
._109GkAGFgOGiAPmVWK0m0J {
  margin-top: var(--spacing-0);
}
.gcFbF6YCx-Lp1Wp7EW130 {
  margin-top: var(--spacing-1);
}
._1UhHoqACuXOxmpTTta5IYN {
  margin-top: var(--spacing-2);
}
._21w5WD7DxSnCFirjLtmLln {
  margin-top: var(--spacing-3);
}
.dC3DCnUnyoa2MZdUTN--9 {
  margin-top: var(--spacing-4);
}
._1tHqS2kAVIkraAPe_emo_I {
  margin-top: var(--spacing-5);
}
._18dOE6TP4mRA7O3QdHL6GB {
  margin-top: var(--spacing-6);
}
._3PdDVSTb3FR6m2brEsXliC {
  margin-top: var(--spacing-7);
}
.uiWkru3-06GVOmizQovm9 {
  margin-top: var(--spacing-8);
}
._26krDKtA7KTg210iFtKDvs {
  margin-top: var(--spacing-9);
}
._2JK4igEQnowNhIS95PjlpW {
  margin-right: var(--spacing-0);
}
.Xy_RM1YHfHueMwZ6Smuf- {
  margin-right: var(--spacing-1);
}
.jdWkWN_Qu1mD2tI-a-hQI {
  margin-right: var(--spacing-2);
}
._3XSARDxZN9Hes-RhIbMx6g {
  margin-right: var(--spacing-3);
}
._1_SfHa_DzTvF9H2i4FTAZb {
  margin-right: var(--spacing-4);
}
._2fcrNE3XTDZqsIqbhDJ1YS {
  margin-right: var(--spacing-5);
}
._1ia3k6QUCE9Yr5JEqjwWms {
  margin-right: var(--spacing-6);
}
.RlFjDLmdHRJ7-0VSHDiv8 {
  margin-right: var(--spacing-7);
}
._1wvVeysP-cva7unTTk4TZu {
  margin-right: var(--spacing-8);
}
._37_fmgsAoPlUU-EINA3iw3 {
  margin-right: var(--spacing-9);
}
._2c4TKzSjS2WAfq0403RDx_ {
  margin-bottom: var(--spacing-0);
}
._2dEkpD7AbUbQ3ubo7no0-o {
  margin-bottom: var(--spacing-1);
}
._2nC6jKijNLiq9As21KIMXB {
  margin-bottom: var(--spacing-2);
}
._2XlwuDp5QXfLFNpocL5Gz_ {
  margin-bottom: var(--spacing-3);
}
._2UcIPijJhD703NF_kYKayO {
  margin-bottom: var(--spacing-4);
}
._1sK8Yda13RgoRePOBe5B55 {
  margin-bottom: var(--spacing-5);
}
._3NZ41YJjSNKcAe_AtsA6uC {
  margin-bottom: var(--spacing-6);
}
.U9w5sJKetkMqDM2HfepP1 {
  margin-bottom: var(--spacing-7);
}
.dlBjE6HR2ixI9oVDz1vWu {
  margin-bottom: var(--spacing-8);
}
._3DrMY_KKwfmYDJgrscjEOe {
  margin-bottom: var(--spacing-9);
}
._3zSVo1Cbe-CqaT7Tk5n00K {
  margin-left: var(--spacing-0);
}
._38GBx2G5jz8pj4-KsL5pNh {
  margin-left: var(--spacing-1);
}
._21QgAfqz5ZMSV25FtObliZ {
  margin-left: var(--spacing-2);
}
._3FxuHgd44pkOHaYIItfdVa {
  margin-left: var(--spacing-3);
}
._36ths_LJ_HGQ8jpAbKPpMt {
  margin-left: var(--spacing-4);
}
._3tCyVpWgPiEL92a-_i5aQU {
  margin-left: var(--spacing-5);
}
._3XYrr-ZC8Fcj0IeAxg2ZPm {
  margin-left: var(--spacing-6);
}
._37tKLSzsW0G30aS_wy80eT {
  margin-left: var(--spacing-7);
}
.F5R9g8RmAnrtQbyPV5ix3 {
  margin-left: var(--spacing-8);
}
._3l1WU4ErogK0pPSexH-wDD {
  margin-left: var(--spacing-9);
}
._3njyHGeybkRb9Tkhnvez7I {
  margin-inline-start: var(--spacing-0);
}
._28bOBaeV2RCbmBFHJsWm-c {
  margin-inline-start: var(--spacing-1);
}
._1FyNN6wyWXfHg1IgElwi07 {
  margin-inline-start: var(--spacing-2);
}
.dOT_kJXMOV19jz3wVY6Gl {
  margin-inline-start: var(--spacing-3);
}
._1KxJd_wdpzNBCEgFoLrNU- {
  margin-inline-start: var(--spacing-4);
}
._1iFDsUip64LQ5I7jDHGZWr {
  margin-inline-start: var(--spacing-5);
}
.NcnhIjMDlF-VszAnqcNmc {
  margin-inline-start: var(--spacing-6);
}
._2shlV62iI1JzPuigy4vCOZ {
  margin-inline-start: var(--spacing-7);
}
._1nRQe9Tok999PkIvZs-12P {
  margin-inline-start: var(--spacing-8);
}
.ScfhtCsVc5qHrAoq5F2pF {
  margin-inline-start: var(--spacing-9);
}
._3P4irYonZp8u26fxPtv4Nu {
  margin-inline-end: var(--spacing-0);
}
._2ySaED3jKKFQf2zMRk3Rrj {
  margin-inline-end: var(--spacing-1);
}
._3EwtwYs1IJen6Q8oYLcXoU {
  margin-inline-end: var(--spacing-2);
}
._2Hu5i9cD0OJwOqHspAcFG_ {
  margin-inline-end: var(--spacing-3);
}
._3SvsLTqeLQeoMpJDf7zKCE {
  margin-inline-end: var(--spacing-4);
}
._1LVPNo6zmpoM4iWtgTVhyR {
  margin-inline-end: var(--spacing-5);
}
.kwh-P2VVDak-g1WdnFL7 {
  margin-inline-end: var(--spacing-6);
}
._2Be9rYdptPKMP6utQjbwTH {
  margin-inline-end: var(--spacing-7);
}
._2xizOoRBQMN0dHkDzQZHou {
  margin-inline-end: var(--spacing-8);
}
._1BSTIpDP6bWPxnp1OaBYS4 {
  margin-inline-end: var(--spacing-9);
}
.VPuVpAjInCFCHJpawNhv {
  padding-top: var(--spacing-0);
  padding-right: var(--spacing-0);
  padding-bottom: var(--spacing-0);
  padding-left: var(--spacing-0);
}
._2EfaZiZ2t3m99ha3hRtrK_ {
  padding-top: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
}
.Cgo8G5L7D0oP0OHVGcq_D {
  padding-top: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-2);
}
._2Cp-F0qCW7cAQbmpJCHIuk {
  padding-top: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  padding-left: var(--spacing-3);
}
._1NBFz9qQu7S4tSVNyypXBZ {
  padding-top: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
}
._1l2NMjcaz7o9zoIcsd2qz6 {
  padding-top: var(--spacing-5);
  padding-right: var(--spacing-5);
  padding-bottom: var(--spacing-5);
  padding-left: var(--spacing-5);
}
._2ilEUuArzl2bxfBeqH56xR {
  padding-top: var(--spacing-6);
  padding-right: var(--spacing-6);
  padding-bottom: var(--spacing-6);
  padding-left: var(--spacing-6);
}
._1pYnEk5gbmwcthm_TJ9jVl {
  padding-top: var(--spacing-7);
  padding-right: var(--spacing-7);
  padding-bottom: var(--spacing-7);
  padding-left: var(--spacing-7);
}
._1Uh6oJUxQ_yWTMS4b2nhqd {
  padding-top: var(--spacing-8);
  padding-right: var(--spacing-8);
  padding-bottom: var(--spacing-8);
  padding-left: var(--spacing-8);
}
._2U-PgKEiAsQ6I5CX1Bcivc {
  padding-top: var(--spacing-9);
  padding-right: var(--spacing-9);
  padding-bottom: var(--spacing-9);
  padding-left: var(--spacing-9);
}
._25BvgupZw3IC6Py6Q1SRSA {
  padding-left: var(--spacing-0);
  padding-right: var(--spacing-0);
}
._3dcUlSOoU-08fUdJFUbvvv {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}
._3SAnkvn0B-LMdMFaduuu-r {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}
._1PBYi_MJRnTnb78ieSkZdM {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}
.ZBrEpMlUTpZXA3Jtzp7Td {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}
._3I3zmPr3ESw4zOzOGDASW_ {
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
}
.CwtOBEDDfH99-w_bGE3IG {
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}
._3xUq6lmbysdSG1UfHHUa5Z {
  padding-left: var(--spacing-7);
  padding-right: var(--spacing-7);
}
._28tN4C6v8VW2ejxRY2B1tu {
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}
._2hqyltVU3s67q6p-4i9NSC {
  padding-left: var(--spacing-9);
  padding-right: var(--spacing-9);
}
._39VRdJWq8EW9_zxn56glGF {
  padding-top: var(--spacing-0);
  padding-bottom: var(--spacing-0);
}
._3L7uZ9UMb8zNWkAfISDalH {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}
._17dh99ftEgW6MqUUyBEx9n {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
._3rxHYJ-yn5HnVZXyo_UIr6 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}
._1e1cmGasx_GOrdyo8scISG {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}
._3keWdP7JZkvrPRNcvaiLCP {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}
._3PN00WLNv23XSFFf8pTRJA {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}
._3juWwdcO32MpzR8tsdQagh {
  padding-top: var(--spacing-7);
  padding-bottom: var(--spacing-7);
}
.JiHYKdA6XyJ0Ptq-KhzCw {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}
.noBlhkZf0RHZhYXB-u8Cn {
  padding-top: var(--spacing-9);
  padding-bottom: var(--spacing-9);
}
._3hle3vTNIOsz-LDRsBRY8e {
  padding-top: var(--spacing-0);
}
._2QX6zl8-FIRfsfskDVA813 {
  padding-top: var(--spacing-1);
}
._3tkNlRPf8fhD5yVwtPBwVh {
  padding-top: var(--spacing-2);
}
._1_Rc7SQfN5Qkd681XnezIM {
  padding-top: var(--spacing-3);
}
._2FUhFn7oE7LBNBVeff9nq_ {
  padding-top: var(--spacing-4);
}
._2e8IX6nBIj88MV99s7B1Lg {
  padding-top: var(--spacing-5);
}
._15WvEWMiZeootsczTe36Jy {
  padding-top: var(--spacing-6);
}
._3ziqLpUqFx5xC0N3ooqjiH {
  padding-top: var(--spacing-7);
}
._3GaJ_-CpZ5lNNdCbGXUXg7 {
  padding-top: var(--spacing-8);
}
._2MtXtdpOAGbSL6TlapM8EC {
  padding-top: var(--spacing-9);
}
._2Ympx2cMMCrdz4V95G2ArW {
  padding-right: var(--spacing-0);
}
._1bNQ5TKTK_j6u8lPYqL0yW {
  padding-right: var(--spacing-1);
}
._2uSxeDaa_JQTOmz7yV0k8E {
  padding-right: var(--spacing-2);
}
.m4LxyG5E129U0MbPfIf2T {
  padding-right: var(--spacing-3);
}
._3Do03S0ZKwn8pLCE8Qrvf7 {
  padding-right: var(--spacing-4);
}
._1C5Zb1kX29DZRamONPSGC6 {
  padding-right: var(--spacing-5);
}
._11ql9N5bOqmptua-6sFC5f {
  padding-right: var(--spacing-6);
}
._2fJem-j6vjo97DOzx4R0EL {
  padding-right: var(--spacing-7);
}
._2Dzi0GwXUgs6NmegaXqHo_ {
  padding-right: var(--spacing-8);
}
._1nyIrDj-Uw95ptRpWlupdl {
  padding-right: var(--spacing-9);
}
._2smsNZjXQrK7RAddM9a-pT {
  padding-bottom: var(--spacing-0);
}
._3tCFi-k_DFQJBNrBUX5eSf {
  padding-bottom: var(--spacing-1);
}
._1-lbnfCiPUSAWURO2UI3yE {
  padding-bottom: var(--spacing-2);
}
._3aguvGoDSU7aRkd1Pur1eb {
  padding-bottom: var(--spacing-3);
}
._3Kq594Fr1cFP11xSUJXOTu {
  padding-bottom: var(--spacing-4);
}
._2kn-Aabzv0bclc3Cko9_kY {
  padding-bottom: var(--spacing-5);
}
._2Hg_TxQ7ZUT2jmQhEgZFZC {
  padding-bottom: var(--spacing-6);
}
.KjcAwdvbyLZzlxD_leTPh {
  padding-bottom: var(--spacing-7);
}
._3R4_1rHsnIpPTSCsL5Hom6 {
  padding-bottom: var(--spacing-8);
}
._2qBwHRV-c4v57-RsAc4AOV {
  padding-bottom: var(--spacing-9);
}
._3Sp8OG8KyWGRbDbGEZNtrB {
  padding-left: var(--spacing-0);
}
.uslfTkLL92njN_sKYxRuZ {
  padding-left: var(--spacing-1);
}
._1SbormTNbavQKl4LhoMRr7 {
  padding-left: var(--spacing-2);
}
._7zDvGqiHcip7DNtejXiKQ {
  padding-left: var(--spacing-3);
}
._1_K_p2jSw_PhXIjkgs-u39 {
  padding-left: var(--spacing-4);
}
._3cpeFONZg59MSkpRb37D3a {
  padding-left: var(--spacing-5);
}
._3yAkjKQ0-lA5EvX8FC25gk {
  padding-left: var(--spacing-6);
}
._3PV5AGRGFKuO_PmlQysycB {
  padding-left: var(--spacing-7);
}
._3pycPOPwDSDTSqjC-9NkYE {
  padding-left: var(--spacing-8);
}
.H-SWK55qJtoBpyxa-msy0 {
  padding-left: var(--spacing-9);
}
._19TCeDxrlkMt1KFHsMZHWZ {
  padding-inline-start: var(--spacing-0);
}
.gpKT68PBrX7DZDHaRwvHr {
  padding-inline-start: var(--spacing-1);
}
._2H7vgbK2JbmsTPE5YJ49Di {
  padding-inline-start: var(--spacing-2);
}
._3ZKIkWDed2-7jp2Ltw8JNK {
  padding-inline-start: var(--spacing-3);
}
.T7pWU2K-ISGDGkIfHakgE {
  padding-inline-start: var(--spacing-4);
}
.kTAojgnIXoRu9N3Xmtvu6 {
  padding-inline-start: var(--spacing-5);
}
._2FxHVaVxFxbe-gywGTBYLr {
  padding-inline-start: var(--spacing-6);
}
._1OIzwZrMIFGImS2JjitYmZ {
  padding-inline-start: var(--spacing-7);
}
._3CFOeSMptqFOpNamNhVKXi {
  padding-inline-start: var(--spacing-8);
}
._2-Km8hDA6U_3Ushrcpw5fF {
  padding-inline-start: var(--spacing-9);
}
._27a8xQ-ReVtGIErEP4KSqS {
  padding-inline-end: var(--spacing-0);
}
._3Z8vgpLcNnDj_CKZt5t3iC {
  padding-inline-end: var(--spacing-1);
}
._1r4cicsHCcd-zPwDUlnDne {
  padding-inline-end: var(--spacing-2);
}
._1W06WZT9fE3UheEUPZ6j-T {
  padding-inline-end: var(--spacing-3);
}
._1SnH8kPcm7zLqpn9jh3213 {
  padding-inline-end: var(--spacing-4);
}
._3a7Hx9u7-0RusYJCnEINZS {
  padding-inline-end: var(--spacing-5);
}
._3GAeIsOY_x_QohkaGqfan9 {
  padding-inline-end: var(--spacing-6);
}
.n-dZaqQUadHY-vI9Wg-dt {
  padding-inline-end: var(--spacing-7);
}
._2UeKFA5h3vFPE0V9JPEIbE {
  padding-inline-end: var(--spacing-8);
}
._1cPkY-6VYkADuCungu6r78 {
  padding-inline-end: var(--spacing-9);
}
._3-4uPm6iJyvxHpK3DT7x6L {
  width: var(--width);
}
._3IiNa2WD-MUmLrad0-RzSC {
  max-width: var(--max-width);
}
._3AocqvUfA7f6sPEQVWiDCC {
  min-width: var(--min-width);
}
._1u7tlq5OcUVR8p7-ic_ZVw {
  height: var(--height);
}
._3N3KVUKs9soeYCWc3BpHkM {
  max-height: var(--max-height);
}
._3ugvZ2nny7eChIYJuwKYO- {
  min-height: var(--min-height);
}
._3swtpIrvrz0futGxsN8SLc {
  flex-basis: var(--flex-basis);
}
._1jkRBcprAG-KoLJ4aRxwVr {
  flex-grow: var(--flex-grow);
}
._1TqZRAPkIEpJ8piAHaVHvn {
  flex-shrink: var(--flex-shrink);
}
._2sNdnlgM-A9e5AfdXG2kmr {
  border-radius: var(--radius-none);
}
._1dhvtWTnQHytZWk5i-f-We {
  border-radius: var(--radius-sm);
}
._3C--qZDFlz6NtkjDDeT2SG {
  border-radius: var(--radius-md);
}
._2RYinm9bxw0vanLueNM8f- {
  border-radius: var(--radius-lg);
}
._1ZmWikEporw6-kCli580bF {
  border-radius: var(--radius-full);
}
._1GQDAOi2OOMjJ6Nj-opqk8 {
  cursor: var(--cursor);
}
._3C1PO6CmOdCmEpWqSSnfgG {
  position: var(--position);
}
._3nwiM11zkcuihmteaUVqjN {
  inset: var(--inset);
}
.MA0AWq66E_Bq_xW4BQWnH {
  grid-column: var(--grid-column);
}
._20b31iGeCAQ2i3C_BMDzpZ {
  grid-column-start: var(--grid-column-start);
}
._3M7MhFYmQEKpfvkfbkxPyt {
  grid-column-end: var(--grid-column-end);
}
._3kxN6A0fo06zQYu6QqPBl2 {
  grid-row: var(--grid-row);
}
.Ln1Z3B34njL8P6RMbyzSc {
  grid-row-start: var(--grid-row-start);
}
._3HjlrI3alztQQ7yy_VjZgU {
  grid-row-end: var(--grid-row-end);
}
.uh0Q7gKQw3ZgTwvd5mQiZ {
  grid-area: var(--grid-area);
}
._1i6AhxSEgz1FAUyiEt1Xsk {
  background: var(--background);
}
._2TSlFWDDfIzDdGWNXFfeFV {
  overflow: var(--overflow);
}
._3MdwIbGpGWeiE-O2owd3VF {
  z-index: var(--z-index);
}
._1jz8vOMNXWjuOs8PNx6twM {
  display: var(--display);
}
._51vKfcQCBgoT8lSk1q3iX[data-elevation="-1"] {
  box-shadow: var(--box-shadow-elevation--1);
}
._51vKfcQCBgoT8lSk1q3iX[data-elevation="0"] {
  box-shadow: var(--box-shadow-elevation-0);
}
._51vKfcQCBgoT8lSk1q3iX[data-elevation="1"] {
  box-shadow: var(--box-shadow-elevation-1);
}
._51vKfcQCBgoT8lSk1q3iX[data-elevation="2"] {
  box-shadow: var(--box-shadow-elevation-2);
}
:where(._2lajVjbyrA4lq9xF0X4NQW) {
  border: var(--border, var(--border-color-border));
}
:where(._1x6gylcu6acqj_bRoqrFHf) {
  --border-color-border: 1px solid;
  border-color: var(--border-color);
}
:where(._2UkNTTzKtJJdhYEnuwtVRd) {
  outline: 1px solid var(--outline-color);
}
:where(.Rrxq_LH_m0cYEls4MuNtG) {
  align-self: var(--align-self);
}
:where(._1i4Rlxj2r-2r2Co6jSOYRL) {
  justify-self: var(--justify-self);
}
:where(._1xbvB3MqxnugiXxR02dPOx) {
  text-align: var(--text-align);
}
._3nHL7awgK1Qei1XivGvHMK {
  box-sizing: border-box;
  display: flex;
}
._3JCkAyd9cnB90tRcDLPp4W {
  flex-direction: var(--direction);
}
._12ampOcrpRamy1y301kEaK {
  justify-content: var(--justify);
}
._1SxQuUnaM-MXeF5UfssWve {
  align-items: var(--align);
}
.ja5o2GZTopxfGJArsZgFh {
  gap: var(--gap);
}
._3KiTPfFvdkPH6ixij56nVM {
  column-gap: var(--gap-x);
}
._38cfDT7owcq-7PHlx-Bx2j {
  row-gap: var(--gap-y);
}
.dB7ipW28YN-_GytLR4EuE {
  flex-wrap: var(--wrap);
}
.LOeaKjPDMbdcAB54IFgyX {
  display: inline-flex;
}
._2QALaQ13bEoS_oLFjL1prx {
  background: #24282e;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto;
  grid-template-areas: "left main";
  min-height: 100vh;
}
._2QALaQ13bEoS_oLFjL1prx ._1DISv1JGZ0pxbGtYHeBsJU {
  grid-area: left;
  background: radial-gradient(
    ellipse farthest-corner at 50% 30%,
    #212329 0%,
    #1e2025 50%,
    #1c1d22 100%
  );
  padding: 16px;
  margin-right: 16px;
}
._2QALaQ13bEoS_oLFjL1prx .sjpl-ow0jbdSysRG8jsFA {
  grid-area: main;
}
._3YIwjQZlP_YdCZH2DIj5f7 {
  background-color: #2e3138;
  max-width: 100%;
  height: calc(100vh - 312px);
  margin: 16px auto;
  padding: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
._3YIwjQZlP_YdCZH2DIj5f7 ._2O3puXm5doASD7CnAby6Uh {
  height: 100%;
}
._3YIwjQZlP_YdCZH2DIj5f7 ._3TyuR_ycmrQIlt-wuVBtaD {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
._3YIwjQZlP_YdCZH2DIj5f7 ._33CjP7i4tMRCeZEcf-utD8 {
  min-width: 398px;
}
button._22iwdea7XXbiuZrrLZUU11._22iwdea7XXbiuZrrLZUU11 {
  background-color: green;
  color: #fff;
  padding: 0 12px;
}
button._22iwdea7XXbiuZrrLZUU11._22iwdea7XXbiuZrrLZUU11:disabled,
button._22iwdea7XXbiuZrrLZUU11._22iwdea7XXbiuZrrLZUU11:disabled:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
._3jk92bsX5BdG6dMFNGNNKa {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 0 4px;
}
._37R-2WttVdEqucotluEzW_ {
  width: 100%;
  display: flex;
  flex-direction: column;
}
._37R-2WttVdEqucotluEzW_ ._2A5OEhQlo5sJWuhIqlkEJL {
  padding: 8px;
  color: #adadad;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  box-shadow: 0 0 5px #000 inset;
  font-size: 20px;
}
.X8FYVDc-yIJ2Vmr_KQW2b {
  height: 100%;
}
.B4ngKzLlL1gvAnj9Vdbt4 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.B4ngKzLlL1gvAnj9Vdbt4 ._1g6voAO3uBDdj9W9WjBB8z {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
}
._1l94et1-5wPLcAMJ3Bx8qq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 12px;
}
._1l94et1-5wPLcAMJ3Bx8qq ._1LIvQOeIKBZzearuGAM7FW {
  font-size: 32px;
  padding: 8px;
}
._1l94et1-5wPLcAMJ3Bx8qq ._3tlrRmfmxrdkbJRk48aZDb {
  font-size: 16px;
  text-decoration: underline;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL {
  margin-bottom: 24px;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._3lz4JUNpNDnahEyzj1eZkK {
  background: #292c33;
  padding: 8px;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._3L68i4ZAokqaCqqk7yhIau {
  padding: 8px;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._23FTZuq9MQrukHrWgZMKrp {
  font-size: 14px;
  padding: 4px 0px;
  color: #c5d6d4;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._16zchT5YPTg-YRcLmO7T1N {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "status_global btn" "status_china btn";
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._16zchT5YPTg-YRcLmO7T1N
  ._272D2JP0YHWH_sY_IP2MJQ {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._16zchT5YPTg-YRcLmO7T1N
  ._272D2JP0YHWH_sY_IP2MJQ._1DcbV58-8H0QRtU4wmimaO {
  grid-area: status_global;
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._16zchT5YPTg-YRcLmO7T1N
  ._272D2JP0YHWH_sY_IP2MJQ._2cUtBQSP-uCM363ee58k-t {
  grid-area: status_china;
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._16zchT5YPTg-YRcLmO7T1N
  .HJUHTdNtL70vwUqYSh-FD {
  grid-area: btn;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._2syC3PimmI-5viillwUd6d {
  margin-top: 8px;
  border-top: 1px solid #40464f;
  padding-top: 8px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "status btn";
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._2syC3PimmI-5viillwUd6d
  .uvzu3hbcsBlAoiPdATNbf {
  color: #d89551;
  font-size: 13px;
  grid-area: status;
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._2syC3PimmI-5viillwUd6d
  ._3P52vp7DdW5ZKRbKrEsr64 {
  grid-area: btn;
}
.pCBfTw19y3z1htRCTD7Sk {
  width: 100%;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}
.pCBfTw19y3z1htRCTD7Sk tr {
  border-collapse: collapse;
  background: #323640;
}
.pCBfTw19y3z1htRCTD7Sk th {
  background: #4e5155;
  padding: 5px 8px;
  color: #e5e5e5;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}
.pCBfTw19y3z1htRCTD7Sk td {
  padding: 5px 8px;
}
._8MIrt7rQXkA0xE5sAjOee {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px;
}
._8MIrt7rQXkA0xE5sAjOee > * {
  flex-grow: 0;
}
._8MIrt7rQXkA0xE5sAjOee > ._22b0C1Xi03QNdTFKsYypHR {
  flex-grow: 1;
}
.yn_yu2EaUigYFm9QQAD7o {
  border: 2px solid red;
  background: rgba(0, 0, 0, 0.4);
  padding: 8px;
  margin: 8px;
}
.yn_yu2EaUigYFm9QQAD7o svg {
  height: 10px;
  width: 10px;
}
:root {
  --main-text-color: #ffffff;
  --main-light-blue-background: #68a2c8;
  --main-text-on-light-blue: rgb(209, 209, 209);
  --main-top-image-bg: #0e2a3d;
  --main-editor-bg-color: #1b2838;
  --main-editor-text-color: #d3e0ea;
  --main-editor-input-bg-color: #30333b;
}
.body {
  background: #1f2126;
}
select {
  color: white;
  background: #32373f;
  border: 1px solid rgba(50, 55, 63, 0);
  padding: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  outline: 0;
}
select option {
  background: #32373f;
}
.DialogContent.ArtworkSelectorDialog {
  width: 900px;
  max-width: unset;
}
.DialogContent.ArtworkSelectorDialog > .DialogContent_InnerWidth {
  max-width: unset;
  padding-right: 20px;
}
.sharedFilePreviewYouTubeVideo {
  overflow: unset;
}
.sharedFilePreviewYouTubeVideo.floatLeft {
  padding: 0px;
  margin: 2px 8px 8px 0px;
  position: relative;
}
.sharedFilePreviewYouTubeVideo.floatRight {
  padding: 0px;
  margin: 2px 0px 8px 8px;
  position: relative;
}
.sharedFilePreviewYouTubeVideo.sizeFull {
  padding: 0px;
  margin: 2px 0px 8px 8px;
  position: relative;
  display: flex;
}
.youtube_play {
  width: 100%;
  height: 100%;
  background-image: url(../../../images/applications/community/icon_playbutton.png?v=valveisgoodatcaching);
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: 50% calc(50% - 4px);
  position: absolute;
  text-align: center;
  padding-top: 8px;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}
.youtube_play:hover {
  cursor: pointer;
  opacity: 1;
}
.EndDateAmount_Ctn .DialogInputLabelGroup {
  margin-bottom: unset;
  flex-grow: 1;
  margin-left: 14px;
}
body.flat_page #footer {
  position: relative;
}
.EventDetailsBody div.bb_h1 {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 6px;
  margin-top: 8px;
  font-size: 19px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
.ttip {
  cursor: default;
}
body.partner_events {
  background: #24282e;
}
body,
textarea,
input {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
}
strong {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
._3TzVFi3VdHXUk1AerBpZc- {
  padding-right: 10px;
}
._1Afx7wzva3-ghxcAy6EQhs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #51545d;
  color: var(--main-text-on-light-blue);
  box-shadow: 0 0 10px #000;
  padding: 4px 20px 4px 4px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}
._1noS58WsfHN3KuGVDzlv9r {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px;
  gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
._1noS58WsfHN3KuGVDzlv9r a,
._1noS58WsfHN3KuGVDzlv9r button {
  white-space: nowrap;
}
._1Afx7wzva3-ghxcAy6EQhs._3zTXCKuKmaCdEoxSBTzPAa {
  background-color: #b6c874;
}
._1Afx7wzva3-ghxcAy6EQhs.pjxnm0P9LLWFXCwsaDKUa {
  background-color: #93b3c8;
}
.pjxnm0P9LLWFXCwsaDKUa {
  color: #c44848;
}
._3zTXCKuKmaCdEoxSBTzPAa {
  color: #a3cf06;
}
._2fUl5vCnrlT9P7kskRIiWx {
  flex-grow: 1;
}
._1y3QVgsz4daj3E3S5wzwt- {
  height: 12px;
  width: 12px;
  padding-top: 3px;
  padding-right: 5px;
}
._2Edwnbc-tjinTT_s7zIKTd {
  display: flex;
  position: relative;
}
._2Edwnbc-tjinTT_s7zIKTd ._2hloqzkRkAWkw50l4XPN-N.DialogButton {
  padding: 4px 10px;
  background: linear-gradient(to right, #6ea720 5%, #598b1c 95%);
  color: #fff;
  width: 150px;
  line-height: 26px;
  margin: 0;
  white-space: nowrap;
  z-index: 3;
}
._2Edwnbc-tjinTT_s7zIKTd ._2hloqzkRkAWkw50l4XPN-N.DialogButton:hover {
  background: linear-gradient(to right, #7dbb27 25%, #598b1c 95%);
}
._2Edwnbc-tjinTT_s7zIKTd
  ._2hloqzkRkAWkw50l4XPN-N.DialogButton._3xoBR2gVk2F0Bmejh20Yhl {
  background: linear-gradient(to right, #d2ba02 5%, #b6a104 95%);
}
._2Edwnbc-tjinTT_s7zIKTd
  ._2hloqzkRkAWkw50l4XPN-N.DialogButton._1bg505mDp3agK0eHP0NoxI {
  background: linear-gradient(to right, #6ea720 5%, #b41414 95%);
  animation: _3oWE-wt1PQ7Rv2IJ0vCmO 1.2s infinite ease-in-out;
}
@keyframes _3oWE-wt1PQ7Rv2IJ0vCmO {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
}
._1gabCN13JTZzv2A2fXqGve {
  position: absolute;
  bottom: 60px;
  inset-inline-start: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  background-color: #32373f;
  border: gray 2px solid;
  border-radius: 3px;
  gap: 10px;
  color: #acb2b8;
  font-size: 15px;
}
._1gabCN13JTZzv2A2fXqGve ._1d5GXYH4AY9WFkoszJVzsQ {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
._1gabCN13JTZzv2A2fXqGve {
  animation-name: _2kGhkRiew8we__yyM1878e, _2oAIIbl5uoREv1Es4TZkUQ;
  animation-duration: 200ms, 200ms;
  animation-timing-function: ease, ease;
  animation-delay: 0ms, 2800ms;
  animation-fill-mode: forwards, forwards;
  will-change: opacity, transform;
}
@keyframes _2kGhkRiew8we__yyM1878e {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes _2oAIIbl5uoREv1Es4TZkUQ {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}
.erZyIOjQA9q0Wv28vQPiN {
  color: #c44848;
}
._13Wz0jEDJuyCYIYT-3Nk8X {
  color: #a3cf06;
}
._3fAcXrEhyNYZKLFAviS1gi {
  font-size: 24px;
  margin-right: 8px;
  text-transform: uppercase;
}
._3A9ciQBxaVrGEWI6kD4zod {
  font-size: 16px;
  color: #ff0;
}
._3A9ciQBxaVrGEWI6kD4zod img {
  margin-left: 8px;
}
._2PQsW53YUsH-Z6TICGEF3K .BB_Header1,
._2PQsW53YUsH-Z6TICGEF3K .BB_Header2,
._2PQsW53YUsH-Z6TICGEF3K .BB_Header3,
._2PQsW53YUsH-Z6TICGEF3K .BB_Header4,
._2PQsW53YUsH-Z6TICGEF3K .BB_Header5 {
  margin-bottom: 8px;
}
.bjwwIcPcDhqU8vTIhRti3 {
  margin-bottom: 12px;
}
.bjwwIcPcDhqU8vTIhRti3.XjQ8ghCC1Ncl0mZyQ3iDM,
.bjwwIcPcDhqU8vTIhRti3.mRx2Io-gR5pz0gqZnF4e7,
.bjwwIcPcDhqU8vTIhRti3._3Hvtr6roA7ZUH4Vmi-YiYS {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
}
.bjwwIcPcDhqU8vTIhRti3.XjQ8ghCC1Ncl0mZyQ3iDM p,
.bjwwIcPcDhqU8vTIhRti3.mRx2Io-gR5pz0gqZnF4e7 p,
.bjwwIcPcDhqU8vTIhRti3._3Hvtr6roA7ZUH4Vmi-YiYS p {
  padding: 0;
}
.bjwwIcPcDhqU8vTIhRti3.XjQ8ghCC1Ncl0mZyQ3iDM {
  border: 1px solid #5eac32;
}
.bjwwIcPcDhqU8vTIhRti3.mRx2Io-gR5pz0gqZnF4e7 {
  border: 1px solid #8bb9e0;
}
.bjwwIcPcDhqU8vTIhRti3._3Hvtr6roA7ZUH4Vmi-YiYS {
  border: 1px solid #a40d36;
}
.bjwwIcPcDhqU8vTIhRti3._3Hvtr6roA7ZUH4Vmi-YiYS h1:first-child,
.bjwwIcPcDhqU8vTIhRti3._3Hvtr6roA7ZUH4Vmi-YiYS h2:first-child,
.bjwwIcPcDhqU8vTIhRti3._3Hvtr6roA7ZUH4Vmi-YiYS h3:first-child,
.bjwwIcPcDhqU8vTIhRti3._3Hvtr6roA7ZUH4Vmi-YiYS h4:first-child,
.bjwwIcPcDhqU8vTIhRti3._3Hvtr6roA7ZUH4Vmi-YiYS h5:first-child {
  color: #fff;
  font-weight: bold;
  margin: 0;
}
._3EebtYBetncFupzjwjtJ8k {
  max-width: 100%;
}
.BB_Header4 {
  margin: 20px 0px 8px 0px;
  padding: 0 0 4px 0;
  font-family: "Motiva Sans", Arial, sans-serif;
  background: url("https://cdn.steamstatic.com/help/images/v6/maincol_gradient_rule.png")
    no-repeat bottom left rgba(0, 0, 0, 0);
}
.BB_TableData {
  vertical-align: top;
}
.schinese .BB_Italic,
.sc_schinese .BB_Italic {
  font-style: normal;
  font-weight: bold;
}
body.help_faqs {
  background: #1b2838;
}
.Ya530FSNxJ-2gfv0qDZYH {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 400px);
  align-items: center;
  padding: 12px 16px;
}
.Ya530FSNxJ-2gfv0qDZYH ._2BcDfuiFQ7l7yWM5Sa57S0 {
  width: 100%;
  max-width: 1030px;
  margin-bottom: 24px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 24px;
  color: #a5adb6;
}
.Ya530FSNxJ-2gfv0qDZYH .HGDD29L4B7rnyrKITC09v {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1030px;
  width: 100%;
}
@media screen and (max-width: 910px) {
  .Ya530FSNxJ-2gfv0qDZYH .HGDD29L4B7rnyrKITC09v {
    flex-direction: column;
  }
}
.Ya530FSNxJ-2gfv0qDZYH .o2y9UpxW9WmUMsLua3flf {
  width: 100%;
  max-width: 706px;
}
.Ya530FSNxJ-2gfv0qDZYH .o2y9UpxW9WmUMsLua3flf ._2n5PMCTXeqy_BxVZeg6Avp {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #00ccff, #3366ff);
}
.Ya530FSNxJ-2gfv0qDZYH ._2Ta3cow-y-8kUgXcCrCP97 {
  width: 300px;
  min-width: 250px;
  margin-left: 16px;
  position: relative;
}
@media screen and (max-width: 910px) {
  .Ya530FSNxJ-2gfv0qDZYH ._2Ta3cow-y-8kUgXcCrCP97 {
    width: 100%;
    margin-left: 0px;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    padding: 12px 12px 0px 0px;
    box-sizing: border-box;
  }
}
.Ya530FSNxJ-2gfv0qDZYH ._2Ta3cow-y-8kUgXcCrCP97 ._2wa31Vkjhr311VBcF_ynDO {
  position: sticky;
  top: 24px;
}
@media screen and (max-width: 910px) {
  .Ya530FSNxJ-2gfv0qDZYH ._2Ta3cow-y-8kUgXcCrCP97 ._2wa31Vkjhr311VBcF_ynDO {
    position: relative;
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .Ya530FSNxJ-2gfv0qDZYH ._2Ta3cow-y-8kUgXcCrCP97 ._2wa31Vkjhr311VBcF_ynDO {
    flex-direction: column;
  }
}
._38QJomTcPqyUVRdLpfVjGA {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  color: #cfd2d3;
  padding-top: 24px;
}
._38QJomTcPqyUVRdLpfVjGA ._3aInU3KIhHHBWOSOjNvcVa {
  font-size: 34px;
  line-height: 39px;
  font-weight: 500;
  color: #fff;
  padding: 0px 0px 24px 0px;
  position: relative;
}
._38QJomTcPqyUVRdLpfVjGA ._2dSVnHyS9mTV4jJctbYCcy {
  padding: 24px 0px;
}
._38QJomTcPqyUVRdLpfVjGA ._2dSVnHyS9mTV4jJctbYCcy a {
  color: #9ad5e4;
  text-decoration: none;
  border-bottom: 1px dotted rgba(176, 233, 255, 0.5);
}
._38QJomTcPqyUVRdLpfVjGA ._2dSVnHyS9mTV4jJctbYCcy a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}
._3AG-7BbBE7Sw0efJrEb417 {
  padding: 4px 0;
}
._3S-XzUnd8sYIE7sDuLmpPo {
  position: relative;
  margin-bottom: 12px;
  padding: 16px 0px 16px 16px;
  box-sizing: border-box;
  color: #a5adb6;
}
._3S-XzUnd8sYIE7sDuLmpPo._2TGFIDdCmMB614_-hieBc7 {
  display: flex;
  flex-direction: row;
}
._3S-XzUnd8sYIE7sDuLmpPo._1DywXfNVrbQvDpTJXgd18z {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
}
@media screen and (max-width: 910px) {
  ._3S-XzUnd8sYIE7sDuLmpPo._1DywXfNVrbQvDpTJXgd18z {
    padding-top: 16px;
  }
}
._3S-XzUnd8sYIE7sDuLmpPo ._3gfCnqvp6FV0m9PqL9XMq svg {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  fill: #a5adb6;
}
._3X6huZLPQI8y6LirxSv4Gy {
  font-size: 18px;
  font-weight: bold;
  color: #d5d8dd;
  margin-bottom: 4px;
}
._3sZ58WE85Tqs8Bv8g-quYc {
  text-align: center;
  margin-top: 8px;
}
._3sZ58WE85Tqs8Bv8g-quYc a {
  margin-left: 0px;
  display: block;
}
._2Dpwh3MWbH9ND0PlNK8G7M {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 12px;
}
._2Dpwh3MWbH9ND0PlNK8G7M ._2dTNxR8PrLvqBwSUnhUVh5 {
  font-size: 32px;
  padding: 8px;
}
._2Dpwh3MWbH9ND0PlNK8G7M ._19BjjT3X_AZgLiL1pFYCDG {
  font-size: 16px;
  text-decoration: underline;
}
