._2IGMSIG6hbIQPg-K1KoY-W {
  border: none;
  background: hsla(0, 0%, 100%, 0);
  color: #c6d4df;
  display: inline;
  cursor: pointer;
  padding: 0;
}
._2IGMSIG6hbIQPg-K1KoY-W svg {
  height: 13px;
  width: 13px;
  stroke: #fff;
  fill: #fff;
}
._1G568MNm7rDJNLFkzReXEc {
  background: #000;
  color: #fff;
  padding: 12px;
}
