@keyframes _295HzH0_Gg7fchG1zO9Km7 {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes _291aUneSnsR7SSD43BPEYt {
  from {
    background: #3d4450;
  }
  to {
    background: #23262e;
  }
}
@keyframes _3T-aeBZd_novjXZhPEqJ_L {
  from {
    background: #3d4450;
    color: #8b929a;
  }
  to {
    background: #23262e;
    color: #fff;
  }
}
@keyframes ekd5ku98aKtUXOuTnlUpj {
  from {
    background: #23262e;
    color: #8b929a;
  }
  to {
    background: #383a41;
    color: #fff;
  }
}
@keyframes peNld_fsioxlGFxQfdd8I {
  from {
    background: hsla(0, 0%, 100%, 0.25);
    color: #8b929a;
  }
  to {
    background: hsla(0, 0%, 100%, 0.15);
    color: #fff;
  }
}
@keyframes _1433gddOHXCko3qPvXFRFS {
  from {
    background: #8b929a;
    color: #fff;
  }
  to {
    background: #67707b;
    color: #fff;
  }
}
@keyframes _3ZEmb3nXVV6Jl3vO3gd3n2 {
  from {
    background: hsla(0, 0%, 100%, 0.3);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.1);
    color: #fff;
  }
}
@keyframes EoCuk2lmX0KUPR7Ja5J0J {
  from {
    background: hsla(0, 0%, 100%, 0.5);
    color: #fff;
  }
  to {
    background: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
}
@keyframes _3FtKchinLpLv8OXrbvS81w {
  from {
    border-color: #67707b;
  }
  to {
    border-color: #3d4450;
  }
}
@keyframes _23vh8vhEvEmJ5bnq2YZfx8 {
  from {
    background: #c9ffc9;
    color: #8b929a;
  }
  to {
    background: #59bf40;
    color: #fff;
  }
}
@keyframes wTWp1KqP_zaAfiOc2ovCo {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }
  100% {
    background-position: -180% 0%;
    opacity: 0.8;
  }
}
@keyframes _2knkM4Dk-kiPNpW81PgE0Y {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}
._2Jd3MGaOu0C9Ydswf8Q4Tn {
  padding-top: 5px;
}
._2Jd3MGaOu0C9Ydswf8Q4Tn h2 {
  font-family: "Motiva Sans", Arial, Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-top: 2px;
}
@media screen and (max-width: 910px) {
  ._3YyCpH32HRhZtt4BOM5wM5 {
    margin-top: 58px;
  }
}
._1HP0yfVUrZ-TPBYhiQkye2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: -21px;
  margin-top: -5px;
}
._3n8swQFM3I_ARVM_5bPhAs {
  background: rgba(0, 0, 0, 0);
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  padding: 2px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
  position: relative;
  bottom: 30px;
}
._3n8swQFM3I_ARVM_5bPhAs:hover {
  border: 1px solid #fff;
}
._1snIw0RvJduvDtqpmwtKJ9 {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow-x: auto;
}
.BasicUI ._1snIw0RvJduvDtqpmwtKJ9 {
  margin: unset;
  gap: var(--gpSpace-Gap);
}
._2vEwZPNBe2qcTuxZf5cpiD {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mq3ROvmcn5_HdCKG6JXDa {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.mq3ROvmcn5_HdCKG6JXDa svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}
._1TRFtE8IfXpDQ_loHnB_bU {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0);
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
}
._1TRFtE8IfXpDQ_loHnB_bU:hover {
  border: 1px solid #fff;
}
