._3oSHTIvUhbK90D9Uvj438V {
  display: flex;
  margin-bottom: 16px;
  border-bottom: 1px solid #67c1f5;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  gap: 16px;
}
._3lJb_YN8uykqLcm4eG1jRF {
  padding: 4px 12px;
  cursor: pointer;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  transition-property: border-bottom-color;
  transition-duration: 0.25s;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}
html.responsive.touch ._3lJb_YN8uykqLcm4eG1jRF {
  font-size: 12px;
}
@media screen and (max-width: 910px) {
  html.responsive ._3lJb_YN8uykqLcm4eG1jRF {
    font-size: 12px;
  }
}
._3lJb_YN8uykqLcm4eG1jRF._8XjrTFzaSA8ubHvHCu44L,
._3lJb_YN8uykqLcm4eG1jRF:hover {
  border-bottom-color: #67c1f5;
  cursor: default;
  cursor: pointer;
}
._3lJb_YN8uykqLcm4eG1jRF._3dlxz6KBJpvmA-qsVAzxs8 {
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
}
._1ZIVlOM_Qz4wInwwXzUHTR {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
._3hS8NFdPTrUehJGNVT0PtV {
  flex-direction: column;
  align-items: stretch;
  border-bottom: none;
  border-right: 1px solid #67c1f5;
  gap: 4px;
  flex-basis: 23%;
  min-width: 320px;
}
._3hS8NFdPTrUehJGNVT0PtV._3dlxz6KBJpvmA-qsVAzxs8 {
  position: sticky;
  top: 0;
}
._3hS8NFdPTrUehJGNVT0PtV._3blAkLFfSQrJjGklUKOP7e ._3lJb_YN8uykqLcm4eG1jRF {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  background: #292b2e;
  padding: 12px;
}
._3hS8NFdPTrUehJGNVT0PtV._3blAkLFfSQrJjGklUKOP7e
  ._3lJb_YN8uykqLcm4eG1jRF._8XjrTFzaSA8ubHvHCu44L {
  background: #5a6068;
}
._3hS8NFdPTrUehJGNVT0PtV._3blAkLFfSQrJjGklUKOP7e
  ._3lJb_YN8uykqLcm4eG1jRF
  ._25U4FBOpeZQAX-v-f9Yosb {
  text-transform: unset;
  font-size: 13px;
}
._3hS8NFdPTrUehJGNVT0PtV._3blAkLFfSQrJjGklUKOP7e
  ._3lJb_YN8uykqLcm4eG1jRF
  ._25U4FBOpeZQAX-v-f9Yosb._1idkU7IA8dDPOIbsU-dRkJ:after {
  width: 14px;
  height: 14px;
  border: solid 1px hsla(0, 0%, 100%, 0.288);
  border-radius: 2px;
  content: "";
  position: absolute;
  right: 8px;
  top: 16px;
}
._3hS8NFdPTrUehJGNVT0PtV._3blAkLFfSQrJjGklUKOP7e
  ._3lJb_YN8uykqLcm4eG1jRF
  ._25U4FBOpeZQAX-v-f9Yosb._1idkU7IA8dDPOIbsU-dRkJ._1iIRVlPDTEUMMEFuHgLGlq:after {
  content: "✓";
  color: #a4d007;
  font-size: 20px;
  line-height: 0.5;
}
._3hS8NFdPTrUehJGNVT0PtV ._3lJb_YN8uykqLcm4eG1jRF {
  text-align: left;
  border-bottom: none;
  border-right: 4px solid rgba(0, 0, 0, 0);
  padding: 8px 12px;
  text-transform: none;
  letter-spacing: 0;
}
._3hS8NFdPTrUehJGNVT0PtV ._3lJb_YN8uykqLcm4eG1jRF._8XjrTFzaSA8ubHvHCu44L,
._3hS8NFdPTrUehJGNVT0PtV ._3lJb_YN8uykqLcm4eG1jRF:hover {
  border-right-color: #67c1f5;
  background: rgba(103, 193, 245, 0.1);
}
@media (max-width: 768px) {
  ._3hS8NFdPTrUehJGNVT0PtV {
    flex-direction: row;
    border-right: none;
    border-bottom: 1px solid #67c1f5;
  }
  ._3hS8NFdPTrUehJGNVT0PtV ._3lJb_YN8uykqLcm4eG1jRF {
    border-right: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    text-align: center;
  }
  ._3hS8NFdPTrUehJGNVT0PtV ._3lJb_YN8uykqLcm4eG1jRF._8XjrTFzaSA8ubHvHCu44L {
    border-bottom-color: #67c1f5;
  }
}
._25U4FBOpeZQAX-v-f9Yosb {
  text-transform: uppercase;
  font-size: 9px;
}
._3LaJynPDFfccGWUEtdltlt {
  font-size: 9px;
  color: #b22222;
}
._1iIRVlPDTEUMMEFuHgLGlq {
  color: #a4d007;
}
.UxdQKun4GcZ-B1NJwHevX {
  color: #e24044;
}
.E9t9jUT0k_0xGdy7HbJfd {
  color: #e76e34;
}
._38gm-PDPbi6lw1-aiH81HR {
  color: #929699;
}
.ZGxYVjsUSjHLRHIWkx4-L {
  color: #ffc53d;
}
._1JFB_3Ek9uIS-ml-7C1V3 {
  display: contents;
  user-select: text;
}
._24i0Jj7bXsdJSJdDY0a4e9 {
  height: 13px;
  width: auto;
}
._2f8lQGhpOdBN1nDokNV-_v {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 26px;
}
._3vIg4OosURoc-guanZbMot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 36px;
  flex-shrink: 0;
}
._3o0wdHIoLEIVk2tOl2OyB1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
.MtttYfwYqnHlqj832CGXL {
  padding: 0;
  margin-left: 8px;
}
.MtttYfwYqnHlqj832CGXL svg {
  width: 12px;
  height: 12px;
  stroke: #000;
  fill: #000;
}
._1mtaTCIJfR1JZhSZpaPzUo {
  color: red;
}
._2dWYzwO95xQRO7W66aSsH7 {
  color: orange;
}
.HA6Hw6Hc332GoPbma_9sZ {
  color: green;
  width: 18px;
  height: 18px;
}
._3WS1gYqe89ISF4mi7dvtBU {
  fill: red;
  width: 18px;
  height: 18px;
}
.mdeaaJPcT9kJyTGau_Zr7 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._33cLeNjYsBEX2T0-B9gc5G {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  font-style: normal;
}
._33cLeNjYsBEX2T0-B9gc5G ._2LTDR9F3yb80ONcUPcDxo1 {
  grid-column: 1 / span 2;
}
._1VdNqwseupCqI68H-YwwZO {
  grid-column: 2;
  max-width: 260px;
  min-width: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
._3IWpl3mfH9OFkiqMIh7WtY {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 5em;
  width: 100%;
  box-sizing: border-box;
}
._3_dhawEOV-fztaXEftlfxJ {
  padding: 4px;
  border: 1px solid #930808;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
}
._3_dhawEOV-fztaXEftlfxJ svg {
  height: 16px;
  width: 16px;
  color: red;
  fill: red;
}
